<div class="header-wrap">
  <div class="brand-img">
    <img src="assets/images/logos/smartlogo-name.svg" class="logoKoreIcon">
  </div>
  <div class="heading">
    {{"AGENT.USER_PROFILE" | translate }}
  </div>
  <div class="dura-conver">
    <div class='conver'>
      <img class="clock" src="assets/images/dashboard-icons/time-builder.svg" alt="">
      <span class="du-label">{{"AGENT.CONVS_STARTED" | translate}} :&nbsp;</span><span class="time">{{headerDetails.start}}</span>
    </div>
    <div class="dura">
      <img class="clock" src="assets/images/dashboard-icons/time-progress.png" alt="">
      <span class="du-label">{{"AGENT.DURATION" | translate}} :&nbsp;</span><span class='time'>{{headerDetails.duration}}</span>
    </div>
  </div>
</div>
