.statusDockerBody{
    .clear_icon{
        padding: 15px 17px;
        color: #9AA0A6;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .docker-list{
        padding: 0 17px;
        padding-bottom: 10px;
        .row-content{
            margin-bottom: 12px;
            .heading{
                color: #202124;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 6px;
            }
            .desc{
                color: #9AA0A6;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                .tooltip-data{
                    display: none;
                    cursor: pointer;
                    margin-left: 4px;
                    img{
                        height: 11px;
                    }
                }
            }
            .task_content{
                &:hover{
                    .desc{
                        .tooltip-data{
                            display: inline;
                        }
                    }
                }
            }
            .img-block{
                margin-right: 24px;
                img{
                    cursor: pointer;
                }
            }
            .status-blcok{
                img{
                    cursor: pointer;
                }
                .inProgress{
                    width: 20px;
                    height: 20px;
                    -webkit-animation:spin 4s linear infinite;
                    -moz-animation:spin 4s linear infinite;
                    animation:spin 4s linear infinite;
                }
                .run-percentagedone {
                    position: absolute;
                    right: 5px;
                    top: 11px;
                    font-size: 8px;
                    color: #a6bdda;
                }
            }
        }
    }    
    .perfect-scroll-modal-body{
        &.docker{
            max-height: 428px;
            .ps-content{
                max-height: 428px;
            }
        }        
    }
    .anchor {
        cursor: pointer;
    }
    .clear_icon.disabled{
        pointer-events: none;
        opacity: 0.5;
    }

    .recordsEmpty {
        font-size: 12px;
        color: #828282;
        text-align: center;
        padding-bottom: 20px;
    }

    .statusDockerLoadingSpinner {

        width: 105px;
        opacity: 0.8;
        padding-left: 5px;
        margin: auto !important;


        .please-wait-message {
            position: relative;
            color: #29293b;
            top: -20px;
            left: 25px;
            font-size: 12px;
        }  
    }
}