<div class="body-sec row m-0">
    <div class="content-data d-flex m-0 align-items-center" [ngClass]="{'col-5':usecaseService.tabActive == 'faq', 'col-3': usecaseService.tabActive == 'dialog'}">
        <div class="kr-sg-checkbox p-0 m-0 d-none">
            <input [id]="usecaseService.tabActive + '-' + i" class="checkbox-custom" type="checkbox">
            <label [for]="usecaseService.tabActive + '-' + i" class="checkbox-custom-label"></label>
        </div>
        <div class="row m-0 col-11 align-items-center usecase-titles">
            <ng-container *ngIf="usecaseService.tabActive == 'faq'">
                <span class="primary-title" [matMenuTriggerFor]="editQues" [ngStyle]="{'pointer-events': workflowService.appState == 'published'?'none': 'unset'}" (menuOpened)="onMenuOpen(usecase.utterances?.primary?.text)">{{usecase.utterances?.primary?.text}}</span>
                <div class="titles-data p-0" [ngStyle]="{'pointer-events': workflowService.appState == 'published'?'none': 'unset'}" [matMenuTriggerFor]="utterancesList">
                    <span *ngIf="usecase.utterances?.alternates?.length == 0 && workflowService.appState == 'configured'" class="add">+ {{ "USECASES.ADD" | translate }}</span>
                    <span *ngIf="usecase.utterances?.alternates?.length > 0" class="more">+{{usecase.utterances?.alternates?.length}} {{ "USECASES.MORE" | translate }}</span>
                </div>
                <mat-menu #editQues="matMenu" class="edit-ques-menu">
                    <div fxFlex fxLayout="column" fxLayoutGap="10px" [ngStyle]="{'padding': '10px'}" (click)="$event.stopPropagation()">
                        <div class="ques-inp" fxFlex>
                            <mat-form-field fxFlex>
                                <input matInput type="text" fxFlex [(ngModel)]="ques.ques" #quesInp maxlength="120" name="question" autofocus required>
                                <mat-error>{{ "USECASES.PLS_ENTER_PRIM_QUE" | translate }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <button mat-button color="primary" [disabled]="!ques.ques.trim()" (click)="updateQues(ques.ques, usecase)">{{ "USECASES.UPDATE" | translate }}</button>
                            <button mat-button color="stroked" (click)="closeDD()">{{ "USECASES.CANCEL" | translate }}</button>
                        </div>
                    </div>
                </mat-menu>

                <mat-menu #utterancesList="matMenu" class="utterancesListInfo">            
                    <ng-template matMenuContent>
                        <div class="utterances-edit-info">
                            <div class="ut-title">{{usecase.utterances?.primary?.text}}</div>
                            <div class="u-alternates">
                                <perfect-scrollbar>
                                    <div class="p-text" *ngFor="let alt of usecase.utterances?.alternates;"> {{alt.text}} </div>
                                    <div *ngIf="usecase.utterances?.alternates.length == 0">{{ "USECASES.NO_UT" | translate }}</div>
                                </perfect-scrollbar>                                
                            </div>
                            <button class="kr-sg-button-primary btn_md mt-4" *ngIf="workflowService.appState == 'configured'" (click)="openUserUtterance(usecase);">{{ "USECASES.ADD_UT" | translate }}</button>
                            <button class="kr-sg-button-primary btn_md mt-4" *ngIf="workflowService.appState == 'published' && usecase.utterances?.alternates > 10" (click)="openUserUtterance(usecase)">{{ "USECASES.SEARCH_UT" | translate }}</button>
                        </div>
                    </ng-template>
                </mat-menu>
            </ng-container>
            <div *ngIf="usecaseService.tabActive == 'dialog'" class="w-100" [ngStyle]="{'pointer-events': workflowService.appState == 'published'?'none': 'unset'}" [matMenuTriggerFor]="usecaseUpdate">
                <div class="titles-data p-0" [id]="'dropdownMenu'+i">
                    <div class="primary-title">{{usecase.usecaseName}}</div>
                </div>
                <mat-menu #usecaseUpdate="matMenu" class="mat-menu-table-edit p-0">
                    <ng-template matMenuContent>
                        <app-uc-table-edit-name [ucEdit]="usecase" (closeMenu)="close()"></app-uc-table-edit-name>
                    </ng-template>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="col-2 content-data" [matMenuTriggerFor]="catEdit" [ngStyle]="{'pointer-events': workflowService.appState == 'published'?'none': 'unset'}" (menuOpened)="selectedCategory = usecase.category; selectedPallete = ''">
        <div class="secondary-title" [ngStyle]="{'color': usecase.categoryColor}">{{usecase.category ||  "USECASES.NO_CATEGORY" | translate }}</div>
        <mat-menu #catEdit class="uc-category-menu">
            <ng-template matMenuContent>
                <div class="kr-sg-dropdowns mb-3" (click)="$event.stopPropagation()">
                    <div class="label-text">{{ "USECASES.CATEGORY" | translate }}</div>
                    <div class="inp-block">
                        <input type="text" (keydown)="createCategory($event)" class="form-control" [placeholder]="'PLACEHOLDERS.TYPE_ENTER' | translate" maxlength="30" [matAutocomplete]="auto" #aComp #autoCompleteInput="matAutocompleteTrigger">
                        <div class="inp-stamp" [ngStyle]="{'background-color': selectedPallete}"></div>
                    </div>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCategory($event?.option.value)">
                        <mat-option *ngFor="let category of ucTableService?.categories | filter: [aComp.value, 'category']" [value]="category.category">
                            <div>{{category.category}}</div>
                            <div class="stamp" [ngStyle]="{'background-color': category.colorCode}"></div>
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <button class="kr-sg-button-primary btn_lg mr-2" type="submit" [disabled]="!aComp.value" (click)="updateCategory(usecase)">{{ "USECASES.UPDATE" | translate }}</button>
                <button class="kr-sg-button-secondary btn_lg" (click)="close()" type="button">{{ "USECASES.CANCEL" | translate }}</button>
            </ng-template>
        </mat-menu>

    </div>

    <div class="col-2 content-data" *ngIf="usecaseService.tabActive == 'dialog'">
        <div class="utterances-data row m-0 align-items-center" (click)="openUserUtterance(usecase)" [id]="'dropdownUtterances'+i">
            <div class="ut-title" *ngIf="usecase.utterances?.alternates.length == 0">{{ "USECASES.NO_UTTERANCES" | translate }}</div>
            <div class="ut-title" *ngIf="usecase.utterances?.alternates.length > 0" title="{{usecase.utterances?.alternates[0].text}}" [ngClass]="{'text-truncate':usecase.utterances?.alternates.length}">{{usecase.utterances?.alternates[0].text}}</div>
            <div class="more-link" *ngIf="usecase.utterances?.alternates.length-1 > 0">
                +{{usecase.utterances?.alternates.length - 1}} {{ "USECASES.MORE" | translate }}
            </div>
        </div>
    </div>
    <div class="col-2 content-data">
        <span class="table-icon" *ngIf="!usecase.callExperience.isConfigured" (click)="openUcRowEdit(usecase, 'call')">
            <img src="assets/images/usecases/setting.svg">
            <span class="blue-text">{{ "USECASES.CONFIGURE" | translate }}</span>
        </span>
        <span class="table-icon" *ngIf="usecase.callExperience.isConfigured" (click)="openUcRowEdit(usecase, 'call')">
            <!-- <img src="assets/icons/call-settings.svg"> -->
            <i class="blue-text">{{ "USECASES.VIEW_RESPONSE" | translate }}</i>
        </span>
    </div>
    <div class="col-2 content-data">
        <span class="table-icon" *ngIf="!usecase.chatExperience.isConfigured" (click)="openUcRowEdit(usecase, 'chat')">
            <img src="assets/images/usecases/setting.svg">
            <span class="blue-text">{{ "USECASES.CONFIGURE" | translate }}</span>
        </span>
        <span class="table-icon" *ngIf="usecase.chatExperience.isConfigured" (click)="openUcRowEdit(usecase, 'chat')">
            <!-- <img src="assets/icons/chat-settings.svg"> -->
            <i class="blue-text">{{ "USECASES.VIEW_RESPONSE" | translate }}</i>
        </span>
    </div>
    <div class="col-1 content-data row m-0 align-items-center justify-content-between">
        <div class="status-clock" *ngIf="usecase.state == 'configured'" [container]="'body'" placement="bottom-center" ngbTooltip="{{ 'USECASES.IN_DEV' | translate }}">
            <img src="assets/icons/status-clock.svg">
        </div>
        <div class="status-clock" *ngIf="usecase.state == 'published'" [container]="'body'" placement="bottom-center" ngbTooltip="{{ 'USECASES.PUB' | translate }}">
            <img src="assets/icons/published.svg">
        </div>
        <div class="kr-sg-dropdowns elipse-action-dropdown" ngbDropdown [placement]="'bottom-right'">                                        
            <div class="dropdown dropdown-open">
                <div class="edit-elipse-btn" ngbDropdownToggle>
                    <img src="assets/icons/overflow-black.svg" style="vertical-align: text-bottom;">
                </div>                                     
                <ul class="dropdown-menu content-menu" role="menu" aria-labelledby="menu1" ngbDropdownMenu>
                    <li ngbDropdownItem (click)="openUcRowEdit(usecase, 'call')">
                        <a><img src="assets/icons/edit-black.svg" [hidden]="workflowService.appState == 'published'">
                            <span *ngIf="workflowService.appState == 'configured'">{{ "USECASES.EDIT" | translate }}</span>
                            <span *ngIf="workflowService.appState == 'published'">{{ "LIVE_CHAT_AGENT.VIEW" | translate }}</span>
                        </a>
                    </li>
                    <li ngbDropdownItem *ngIf="workflowService.appState == 'configured'" (click)="ucDelete(usecase)">
                        <a><img src="assets/icons/delete-black.svg">{{ "USECASES.DELETE" | translate }}</a>
                    </li>
                </ul>
            </div>
        </div> 


    </div>
</div>

<div *ngIf="i == 0 && isNewlyCreated">
    <div class="newly-popup-content">
        <div class="popup-head">
            <div class="head-desc">
                {{'FIRST_USECASE_MSG' | translate}}
            </div>
            <div class="head-close">
                <img src="assets/icons/close-white.svg" alt="close">
            </div>
        </div>
        <div class="popup-body">
           {{'CONFIG_HANDILING_CALLS_CHATS_FOR_USECASE' | translate}}
        </div>
        <div class="popup-footer">
            <button class="marginRight10"> <img src="assets/icons/arrowBack.svg" class="arrowBack">{{'WELCOME.PREVIOUS' | translate}}</button>
            <button>{{'WELCOME.NEXT' | translate}} <img src="assets/icons/arrowNext.svg" class="arrowNext"></button>
        </div>
    </div>
</div>