<!-- <div class="slider-sec-data">
        <div class="header-sec row m-0">
            <div class="close-link col-3 p-0"><img src="assets/images/close.svg" (click)="close()"></div>
        </div>
        <div class="row ml-0 mr-0 mb-3">
            <div class="col-12" *ngIf="componentType === DASHBORADCOMPONENTTYPE.AUTOMATION_PERFORMANCE">
                <div class="inner-data">
                    <app-automation-performance></app-automation-performance>
                </div>
            </div>
            <div class="col-12" *ngIf="componentType === DASHBORADCOMPONENTTYPE.AGENT_ASPECT">
                <div class="inner-data">
                    <app-agent-aspect [viewType]="VIEWTYPE.EXHAUSTIVE_VIEW"></app-agent-aspect>
                </div>
            </div>
        </div>
</div> -->

<div class="slider-sec-data">
    <div class="header-sec row m-0">
        <div class="lef-sec col-11 p-0">
          <div class="main-title">What are your customers looking for?</div>
          <div class="tag-title">ACCURACY</div>
        </div>
        <div class="close-link col-1 p-0">
          <img src="assets/images/close.svg" (click)="close()" />
        </div>
    </div>
    <perfect-scrollbar class="scroll-content">
        <div class="body-scroll-data">
            <ng-container *ngIf="true">
                <div class="automation-table-data">
                    <div class="automations-tabs">
                        <div class="tab-name active-tab">
                            <span>All</span>
                        </div>
                        <div class="tab-name">
                            <img src="assets/icons/dashboard/articles.svg">
                            <span>Articles</span>
                        </div>
                        <div class="tab-name">
                            <img src="assets/icons/dashboard/faqs.svg">
                            <span>FAQs</span>
                        </div>
                        <div class="tab-name">
                            <img src="assets/icons/dashboard/automation.svg">
                            <span>Automations</span>
                        </div>
                    </div>
                    <div class="tab-details-info">
                        <div class="row-data">
                            <div class="title-with-count">
                                <img src="assets/icons/dashboard/articles.svg">
                                <span class="title">Reschedule Flight </span>    
                                <div class="count-percentage">
                                    <span class="percentage">32%</span>
                                    <span class="count-">(234)</span>
                                </div>                               
                            </div>
                            <div class="slider-percentage">
                                <div class="data-percentage"></div>
                            </div>
                        </div>
                        <div class="row-data">
                            <div class="title-with-count">
                                <img src="assets/icons/dashboard/faqs.svg">
                                <span class="title">Reschedule Flight </span>    
                                <div class="count-percentage">
                                    <span class="percentage">32%</span>
                                    <span class="count-">(234)</span>
                                </div>                               
                            </div>
                            <div class="slider-percentage">
                                <div class="data-percentage"></div>
                            </div>
                        </div>
                        <div class="row-data">
                            <div class="title-with-count">
                                <img src="assets/icons/dashboard/automation.svg">
                                <span class="title">Cancel Flight </span>    
                                <div class="count-percentage">
                                    <span class="percentage">32%</span>
                                    <span class="count-">(234)</span>
                                </div>                               
                            </div>
                            <div class="slider-percentage">
                                <div class="data-percentage"></div>
                            </div>
                        </div>
                        <div class="row-data">
                            <div class="title-with-count">
                                <img src="assets/icons/dashboard/automation.svg">
                                <span class="title">Reschedule Flight</span>    
                                <div class="count-percentage">
                                    <span class="percentage">32%</span>
                                    <span class="count-">(234)</span>
                                </div>                               
                            </div>
                            <div class="slider-percentage">
                                <div class="data-percentage"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="true">
                <div class="agent-feedback-data-info">
                    <div class="cards-data-boards agent-feedback-cards">
                        <div class="card-sec max_width_100">
                            <div class="inner-data-sec">
                                <div class="title-text-info">
                                    <span class="heading-text">Total Responses</span>
                                </div>
                                <div class="count-heading">7537</div>
                            </div>
                        </div>
                        <div class="card-sec max_width_100">
                            <div class="inner-data-sec">
                                <div class="title-text-info">
                                    <span class="heading-text">Helpful</span>
                                    <i class="icon-ast_thumbsup"></i>
                                </div>
                                <div class="count-heading">73%</div>
                            </div>
                        </div>
                        <div class="card-sec max_width_100">
                            <div class="inner-data-sec">
                                <div class="title-text-info">
                                    <span class="heading-text">Not Helpful</span>
                                    <i class="icon-sat_thumsdown"></i>
                                </div>
                                <div class="count-heading">27%</div>
                            </div>
                        </div>
                    </div>
                    <div class="table-agent-feedback">
                        <div class="table-header row">
                            <div class="title col-4">INTENT NAME</div>
                            <div class="title col-4">Not Helpful</div>
                            <div class="title col-4 text-right">Helpful</div>
                        </div>
                        <ng-container>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-4 title">Book Flight</div>
                                <div class="col-4 title">50%</div>
                                <div class="col-4 title text-right">50%</div>
                            </div>
                            
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="true">
                <div class="search-data-info-sec">
                    <div class="cards-data-boards agent-feedback-cards">
                        <div class="card-sec max_width_50">
                            <div class="inner-data-sec">
                                <div class="title-text-info">
                                    <span class="heading-text">Total Search Requests</span>
                                    <div class="value-data negtive">
                                        <i class="icon-ast_sortdown"></i>
                                        <span>2.3%</span>
                                    </div>
                                </div>
                                <div class="count-heading">2,345K</div>
                            </div>
                        </div>
                        <div class="card-sec max_width_50">
                            <div class="inner-data-sec">
                                <div class="title-text-info">
                                    <span class="heading-text">Search Results Used</span>
                                    <div class="value-data">
                                        <i class="icon-ast_sortup"></i>
                                        <span>2.3%</span>
                                    </div>
                                </div>
                                <div class="count-heading">23%</div>
                            </div>
                        </div>
                    </div>
                    <div class="table-agent-feedback">
                        <div class="table-header row">
                            <div class="title col-6">KEYWORDS</div>
                            <div class="title col-6 text-right">COUNT | % OF TOTAL</div>
                        </div>
                        <ng-container>
                            <div class="table-body-feedback row">
                                <div class="col-6 title">Book Flight</div>
                                <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-6 title">Book Flight</div>
                                <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-6 title">Book Flight</div>
                                <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-6 title">Book Flight</div>
                                <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-6 title">Book Flight</div>
                                <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                            </div>
                            <div class="table-body-feedback row">
                                <div class="col-6 title">Book Flight</div>
                                <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="true">
                <div class="automation-override-report-data">
                    <div class="text_info">
                        <span>Override rate</span>
                        <i class="icon-sa-help"></i>
                    </div>
                    <div class="count-number">12%</div>
                    <div id="accordion">
                        <div class="card_accordion">
                          <div class="card_header">
                            <div class="card-data-header row collapsed" data-toggle="collapse" href="#bookflight">
                                <i class="icon-sa-arrow-down"></i>
                                <div class="title col-4">book Flight</div>
                                <div class="title entity-title col-4">3 entities</div>
                                <div class="title override-count col-4 text-right">4463 overrides</div>
                            </div>
                          </div>
                          <div id="bookflight" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row-data-info row">
                                    <div class="title col-6">PNR</div>
                                    <div class="title col-6 text-right">2000</div>
                                </div>
                                <div class="row-data-info row">
                                    <div class="title col-6">TransactionID</div>
                                    <div class="title col-6 text-right">2463 </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="card_accordion">
                            <div class="card_header">
                              <div class="card-data-header row collapsed" data-toggle="collapse" href="#cancelflight">
                                  <i class="icon-sa-arrow-down"></i>
                                  <div class="title col-4">Cancel Flight</div>
                                  <div class="title entity-title col-4">2 entities</div>
                                  <div class="title override-count col-4 text-right">463 overrides</div>
                              </div>
                            </div>
                            <div id="cancelflight" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  <div class="row-data-info row">
                                      <div class="title col-6">PNR</div>
                                      <div class="title col-6 text-right">2000</div>
                                  </div>
                                  <div class="row-data-info row">
                                      <div class="title col-6">TransactionID</div>
                                      <div class="title col-6 text-right">2463 </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="card_accordion">
                            <div class="card_header">
                              <div class="card-data-header row collapsed" data-toggle="collapse" href="#reschudle">
                                  <i class="icon-sa-arrow-down"></i>
                                  <div class="title col-4">Reschedule</div>
                                  <div class="title entity-title col-4">2 entities</div>
                                  <div class="title override-count col-4 text-right">103 overrides</div>
                              </div>
                            </div>
                            <div id="reschudle" class="collapse" data-parent="#accordion">
                              <div class="card-body">
                                  <div class="row-data-info row">
                                      <div class="title col-6">PNR</div>
                                      <div class="title col-6 text-right">2000</div>
                                  </div>
                                  <div class="row-data-info row">
                                      <div class="title col-6">TransactionID</div>
                                      <div class="title col-6 text-right">2463 </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </perfect-scrollbar>
</div>

