<div class="slider-sec-data">
        <div class="header-sec row m-0">
            <div class="close-link col-3 p-0"><img src="assets/images/close.svg" (click)="close()"></div>
        </div>
        <div class="row ml-0 mr-0 mb-3">
            <div class="col-12" *ngIf="componentType === DASHBORADCOMPONENTTYPE.AUTOMATION_PERFORMANCE">
                <div class="inner-data">
                    <app-automation-performance></app-automation-performance>
                </div>
            </div>
            <div class="col-12" *ngIf="componentType === DASHBORADCOMPONENTTYPE.AGENT_ASPECT">
                <div class="inner-data">
                    <app-agent-aspect [viewType]="VIEWTYPE.EXHAUSTIVE_VIEW"></app-agent-aspect>
                </div>
            </div>
        </div>
</div>

