@import './../../scss/variables/variables.scss';

.unidentified-utter-wrapper {
    background: $whiteColor;
    padding: 20px;
    margin-top: 10px;
    .utter-header {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
        .info-icon{
            position: absolute;
            right: 13px;
            top: 10px;
            cursor: pointer;
            .tooltiptext{
                visibility: hidden;
                width: 200px;
                padding: 15px;
                background-color: $primaryFontColor;
                color: $whiteColor;
                text-align: center;
                font-weight: normal;
                border-radius: 6px;                        
                position: absolute;                        
                bottom: 125%;
                z-index: 100;
                left: 50%;
                margin-left: -30px;
                opacity: 0;
                transition: opacity 0.3s;   
                line-height: 18px;                 
                &::after{
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 29px;
                    margin-left: -5px;
                    border-width: 6px;
                    border-style: solid;
                    border-color: $primaryFontColor transparent transparent transparent;
                }
            }
            &:hover{
                .tooltiptext{
                    visibility: visible;
                    opacity: 1;
                    font-size: 14px;
                    padding: 8px;
                }
            }
        }   
    }
    .utter-body {
        .utter-list {
            .list-ele {
                margin-bottom: 5px;
                border-bottom: 1px solid #E0E0E0;
                padding: 5px 20px;
                cursor: pointer;
                .parti {
                    color: #F5A623;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
    }
}

:host ::ng-deep {
    .unidentified-utter-wrapper {
        .mat-paginator-outer-container {
            .mat-paginator-container {
                .mat-paginator-page-size {
                    display: none;
                }
            }
        }
    }
}