@import './../../../../app/scss/variables/variables.scss';

.manage-deflection-popup{
    position: relative;
    height: 100%;
    .m-header{
        font-size: 24px;
        font-weight: 300;
        color: $primaryFontColor;
        border-radius: 4px;
        background-color: $primaryBackgroundColor;
        padding: 12px;
    }
    .m-body{
        padding: 0 43px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        .info-text{
            color: $secondaryFontColor;
            font-size: 14px;
        }
        .clickable-text {
            color: $primaryActionColor;
            cursor: pointer;
            font-weight: 500;
        }
    }
    .m-footer{
        border-radius: 4px;
        background-color: $primaryBackgroundColor;
        padding: 17px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        button{
            margin-right: 10px;
        }
    }
}
