
<div class="manage-deflection-popup">
  <div class="m-header text-center">{{data.title}}</div>
  <div class="m-body">
    <div class="info-text">{{data.text}}</div>
    <div class="info-text">{{data.text1}} <span class="clickable-text" (click)="onClickLearnMore()" *ngIf="showLearnMore">{{'BUTTONS.LEARN_MORE' | translate}}</span></div>
    <div class="info-text" *ngIf="data.text2">{{data.text2}}</div>
  </div>
  <div class="m-footer">
    <button *ngFor="let item of data.buttons" [disabled]="isSelected" (click)="onClickOption(item)" class="kr-sg-button-primary btn_md" [ngClass]="{'kr-sg-button-secondary': item.label==='Cancel', 'kr-sg-button-danger': item.type === 'danger'}">
      {{item.label}}
      <div class="loader-in-button ml-2"*ngIf="item.key === 'save' && isSelected" style="display: inline-block"><img src="assets/images/icons/fa-spinner.svg"></div>
    </button>
  </div>
</div>