<mat-expansion-panel [hidden]="(ucMainServ.tabActive == 'faq' && !category.faqCount) || (ucMainServ.tabActive == 'dialog' && !category.dialogCount)" (opened)='expandCat()'  *ngIf="isCategory" (afterCollapse)='closeCat()'>
    <mat-expansion-panel-header>
        <div class="row m-0 col-12 p-0 align-items-center row_data" *ngIf="isCategory">
            <div class="col-9 left-sec d-flex p-0">
                <div class="kr-sg-checkbox m-0 p-0 d-none">
                    <input [id]="'checkbox-' + category.category" class="checkbox-custom" type="checkbox">
                    <label [for]="'checkbox-' + category.category" class="checkbox-custom-label"></label>
                </div>
                <div class="indication-color" [ngStyle]="{'background': category.colorCode}"></div>
                <div class="m-title">{{category.category}}</div>
            </div>
            <div class="col-3 get-time-stamp text-center" *ngIf="ucMainServ.tabActive == 'faq'">{{category.faqCount}} {{category.faqCount > 1?'Q&As':'Q&A'}}</div>
            <div class="col-3 get-time-stamp text-center" *ngIf="ucMainServ.tabActive == 'dialog'">{{category.dialogCount}} {{category.dialogCount > 1?'Conversations':'Conversation'}}</div>
        </div>
    </mat-expansion-panel-header>
    <div *ngIf="ucMainServ.tabActive == 'faq'">
        <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
            <span class="wait-message">{{'CONVERSATIONAL_LOGS.LOADING' | translate}}</span>
        </div>
        <app-uc--table-rows *ngFor="let usecase of ucListFq; let i=index;" [usecase]="usecase" [i]="i"></app-uc--table-rows>
    </div>
    <div *ngIf="ucMainServ.tabActive == 'dialog'">
        <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
            <span class="wait-message">{{'CONVERSATIONAL_LOGS.LOADING' | translate}}</span>
        </div>
        <app-uc--table-rows *ngFor="let usecase of ucListDg; let i=index;" [usecase]="usecase" [i]="i"></app-uc--table-rows>
    </div>
</mat-expansion-panel>  


<mat-expansion-panel (opened)='expandState(category)' *ngIf="!isCategory" (afterCollapse)='closeCat()'>
    <mat-expansion-panel-header>
        <div class="row m-0 col-12 p-0 align-items-center row_data">
            <div class="col-9 left-sec d-flex p-0">
                <div class="kr-sg-checkbox m-0 p-0 d-none">
                    <input [id]="'checkbox-' + category.id" class="checkbox-custom" type="checkbox">
                    <label [for]="'checkbox-' + category.id" class="checkbox-custom-label"></label>
                </div>
                <div class="state-icon">
                    <img [src]="category.imgSrc">
                </div>
                <div class="m-title">{{category.title}}</div>
            </div>
        </div>
    </mat-expansion-panel-header>
    <div *ngIf="ucMainServ.tabActive == 'faq'">
        <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
            <span class="wait-message">{{'CONVERSATIONAL_LOGS.LOADING' | translate}}</span>
        </div>
        <app-uc--table-rows *ngFor="let usecase of ucListFq; let i=index;" [usecase]="usecase" [i]="i"></app-uc--table-rows>
        <div class="empty-message" *ngIf="!isLoading && ucListFq.length == 0">
            {{'NO_RESULTS' | translate}}
        </div>
    </div>
    <div *ngIf="ucMainServ.tabActive == 'dialog'">
        <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
            <span class="wait-message">{{'CONVERSATIONAL_LOGS.LOADING' | translate}}</span>
        </div>
        <app-uc--table-rows *ngFor="let usecase of ucListDg; let i=index;" [usecase]="usecase" [i]="i"></app-uc--table-rows>
        <div class="empty-message" *ngIf="!isLoading && ucListDg.length == 0">
            {{'NO_RESULTS' | translate}}
        </div>
    </div>
</mat-expansion-panel>  