@import './../../../../../../scss/variables/variables.scss';
.loading {
    position: relative;
    left: 45%;
    top: 15px;
    color: $optionalText;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    .wait-message {
        position: relative;
        top: -19px;
        left: 25px;
    }
}

.row_data {
    .state-icon {
        padding-right: 10px;
    }
}

.empty-message {
    font-size: 14px;
    font-style: italic;
    padding: 5px 0;
    text-align: center;
}