<div class="playbook-wrapper">
    <div class="playbook-header-padding">
        <div class="playbook-header-data">
            <div class="left-sec-data">
                <div ngbDropdown class="dropdown playbook-drp" container="body">
                    <button type="button" id="playbookDrp" ngbDropdownToggle class="playbook-suggestion"
                        *ngIf="triggeredDynCheckLists.length">
                        <sub>{{triggeredDynCheckLists.length}}</sub>
                        <i class="krIocnsFont-light-bulb"></i>
                    </button>
                    <!-- <ng-container [ngTemplateOutlet]="recomendedMenu"></ng-container> -->
                    <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                        <div class="heading-text-scripts">RECOMENDED PLAYBOOK</div>
                        <ng-container *ngFor="let clT of triggeredDynCheckLists; let int = index">
                            <button ngbDropdownItem aria-disabled="true" (click)="selectDynCl(clT, int)">
                                <p>{{clT.name}}</p>
                                <span>{{clT.stages?.length}} steps</span>
                            </button>
                        </ng-container>
                    </div>
                </div>
                <div class="dropdowns-text-info">
                    <div ngbDropdown class="dropdown playbook-drp" container="body">
                        <button type="button" id="playbookDrp" ngbDropdownToggle>
                            <span>{{checklists[selcLinx]?.name}}</span>
                            <i class="krIocnsFont-chevron-down arrow-icon" *ngIf="checklists.length"></i>
                        </button>
                        <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                            <ng-container *ngFor="let cl of checklists; let i = index">
                                <button ngbDropdownItem aria-disabled="true" class="selected"
                                    (click)="cl.name != checklists[selcLinx]?.name && resumeAndUpdateCheckList(i)">
                                    <p>{{cl.name}}</p>
                                    <button class="_btn primaryBtn" *ngIf="!checklists[i].completed && (i!=selcLinx)">Resume</button>
                                    <i [ngClass]="{'krIocnsFont-check' : cl.name == checklists[selcLinx]?.name}"></i>
                                </button>
                            </ng-container>
                        </div>
                    </div>
                    <div class="bottom-titles-info" *ngIf="checklists[selcLinx]?.stages[selsTinx]?.name">
                        <h6>Stage: </h6>
                        <div ngbDropdown class="dropdown playbook-drp" container="body">
                            <button type="button" id="playbookDrp" ngbDropdownToggle>
                                <span>{{checklists[selcLinx]?.stages[selsTinx]?.name}}</span>
                                <i class="krIocnsFont-chevron-down arrow-icon"
                                    *ngIf="checklists[selcLinx]?.stages?.length > 1"></i>
                            </button>
                            <ng-container *ngIf="checklists[selcLinx]?.stages.length > 1">
                                <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                                    <button ngbDropdownItem aria-disabled="true" class="selected"
                                        *ngFor="let stage of checklists[selcLinx]?.stages; let i = index"
                                        (click)="selectStage(i)">
                                        <p>{{stage.name}}</p>
                                        <i class="krIocnsFont-check"
                                            [ngClass]="{'krIocnsFont-check' : (checklists[selcLinx]?.stages[selsTinx]?.name == stage.name)}"></i>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions-checklist-header">
                <ng-container *ngIf="checklists && checklists[selcLinx]">
                    <button class="solid-action" aria-label="button"
                        [ngClass]="{'disabled-msg' : checklists[selcLinx].completed}">
                        <!-- <div class="progress yellow">
                            <span class="progress-left">
                                            <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                            <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">37.5%</div>
                          </div> -->
                    </button>
                    <button class="solid-action" aria-label="button"
                        [ngClass]="{'disabled-msg' : checklists[selcLinx].completed}">
                        <i class="krIocnsFont-pause"></i>
                        <!-- <i class="krIocnsFont-play"></i> -->
                    </button>
                    <button class="solid-action stop-assist" aria-label="button" *ngIf="showProceedToClose && !isProceedToClose"
                        (click)="proceedToCloseButtonClick()"
                        [ngClass]="{'disabled-msg' : checklists[selcLinx].completed}">
                        <i class="krIocnsFont-terminate-playbook"></i>
                    </button>
                </ng-container>
                <button class="solid-action minimize-btn" aria-label="button" (click)="minimizeToggle()">
                    <i class="krIocnsFont-minimize" *ngIf="!maxButton"></i>
                    <i class="krIocnsFont-maximize" *ngIf="maxButton"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="playbook-wrapper-body">
        <div class="playbook-steps-info">
            <ng-container *ngFor="let stage of checklists[selcLinx]?.stages; let i = index">
                <button type="button" class="stage-btn">{{stage?.name}}</button>
                <ng-container *ngFor="let step of stage?.steps; let ii=index">
                    <button class="playbook-step" [ngClass]="{'playbook-step-ongoing' : step.ongoing && !step.complete}"
                        (click)="!step.complete && clickStep(i,ii)" [attr.id]="step._id">
                        <div class="heading-step" [ngClass]="{'disabled-msg' : !step.ongoing}">
                            <h1 [ngClass]="{'strike-text' : step.complete}">{{step.name}}</h1>
                            <button class="check-btn" (click)="!step.complete && stepComplete(selcLinx, i, ii)">
                                <i class="krIocnsFont-check"></i>
                            </button>
                        </div>
                        <div class="step-text-send-block">
                            <div class="step-actions-send-copy">
                                <button class="solidbtn" (click)="sendOrCopy(i,ii,projConstants.COPY_METHOD,step.description)">
                                    <i class="krIocnsFont-copy"></i>
                                </button>
                                <button class="solidbtn" (click)="sendOrCopy(i,ii,projConstants.SEND_METHOD,step.description)">{{
                                    'SEND' | translate }}</button>
                            </div>
                            <p>{{step.description}} </p>
    
                            <div class="border-bottom-pad" *ngIf="step?.confirmButtons?.length">
                                <div class="bottom-data-info">
                                    <h1></h1>
                                    <div class="right-info-data">
                                        <ng-container *ngFor="let btn of step?.confirmButtons">
                                            <button class="_btn primaryBtn" [ngStyle]="{'background-color': colors[btn.color], 'color': btn.color}" (click)="stepComplete(selcLinx, i, ii)">{{btn.title}}</button>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #recomendedMenu>
    <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
        <div class="heading-text-scripts">RECOMENDED PLAYBOOK</div>
        <ng-container *ngFor="let clT of triggeredDynCheckLists; let int = index">
            <button ngbDropdownItem aria-disabled="true" (click)="selectDynCl(clT, int)">
                <p>{{clT.name}}</p>
                <span>{{clT.stages?.length}} steps</span>
            </button>
        </ng-container>
    </div>
</ng-template>