<!-- Ask Customer Message Node v3 -->
<ng-container *ngIf="(!listView && automation) && (automation.value || automation.template)">
    <div class="ask-cust-node" [ngClass]="{'grayout-msgs-node' : automation.grayOut || automation.send || assistAutomationData?.endAutomation}">
        <div class="top-section">
            <div class="svg_img">
                <img src="assets/images/icons/askcust.svg" alt="Image">
            </div>
            <p *ngIf="!rootService?.settingsData?.aaCustomLabels">{{'ASKCUSTOMER' | translate}}</p>
        </div>
        <ng-container [ngTemplateOutlet]="askCustMsgForAutomation" [ngTemplateOutletContext]="{automationData: automation}"></ng-container> 
    </div>
    
    <ng-template #askCustMsgForAutomation let-automation="automationData">
        <div class="msg-node-cust">
            <div class="send-copy-actions" *ngIf="!automation.hideActionButtons">
                <ng-container>
                    <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.COPY, automation)" *ngIf="!automation.hideCopyButton">
                        <i class="krIocnsFont-copy"></i>
                    </button>
                    <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.SEND, automation)" *ngIf="!automation.hideSendButton">{{ 'SEND'  | translate }}</button>
                </ng-container>
                <!-- <ng-container *ngIf="automation.send">
                    <button class="solidbtn" aria-label="button">{{ 'SENT'  | translate }}</button>
                </ng-container> -->
            </div>
            <div class="sent-msg-text" *ngIf="automation.send">{{ 'SENT'  | translate }}</div>
            <!-- <p>{{automation.data.buttons[0].value}}</p> -->
            <p *ngIf="!automation.templateRender" [innerHTML]="rootService.handleEmptyLine(automation.value) | safeHtml"></p>
            <ng-container *ngIf="automation.templateRender && automation.template">
                <ul class="chat-container" attr.id="{{automation.uuid}}"
                                            [innerHTML]="automation.template | safeHtml"></ul>
            </ng-container>
        </div>
    </ng-template>
    
    
    <div class="entity-mesage-data" [ngClass]="{'error-no-reponse' : automation.errorCount, 'grayout-msgs-node' : automation.grayOut}">
        <div class="input-block-entity">
            <p container="body" ngbTooltip="{{automation?.data?.entityDisplayName ? automation?.data?.entityDisplayName : automation?.data?.entityName}}">{{automation?.data?.entityDisplayName ? automation?.data?.entityDisplayName : automation?.data?.entityName}}</p>
            <p>:</p>
            <input type="text" aria-label="Input" [(ngModel)]="automation.entityValue" (click)="confirmOverride()" [disabled]="automation.disableInput || assistAutomationData?.endAutomation" (keyup.enter)="handleAgentInput()">
            <div class="border-outline"></div>
            <div class="actions-inputs">
                <button class="remove-input" aria-label="Button" *ngIf="(automation.userInput == projConstants.NO && !automation.errorCount) || (rootService.activeTab == projConstants.MYBOT && !automation.errorCount)">
                    <i class="krIocnsFont-keyboard"></i>
                </button>
                <button class="success-check-input" aria-label="button" *ngIf="automation.userInput == projConstants.YES && !automation.errorCount && rootService.activeTab != projConstants.MYBOT">
                    <i class="krIocnsFont-check-circle"></i>
                </button>
                <button class="remove-input" aria-label="Button" (click)="cancelOverride()" *ngIf="!automation.hideOverrideDiv && automation.toggleOverride">
                    <i class="krIocnsFont-close"></i>
                </button>
                <button class="check-input" [ngClass]="{'disabled-msg' : !automation.entityValue}" aria-label="button" (click)="handleAgentInput()" *ngIf="!automation.hideOverrideDiv && automation.toggleOverride">
                    <i class="krIocnsFont-check"></i>
                </button>
                <button class="wrong-res-info" aria-label="button" *ngIf="automation.errorCount">
                    <i class="krIocnsFont-warning-solid"></i>
                    <span>{{automation.errorCount}}</span>
                </button>
            </div>
        </div>
        <ng-container *ngIf="!automation.errorCount; else errCount">
            <p class="info-entity-text" *ngIf="automation.userInput == projConstants.NO">{{'AGENT_ENTERED' | translate}}</p>
            <p class="info-entity-text" *ngIf="automation.userInput == projConstants.YES">{{'ACCEPT_RESPONSE' | translate}}</p>
            <p class="info-entity-text" *ngIf="automation.userInput != projConstants.YES && automation.userInput != projConstants.NO">{{inputName}}</p>
        </ng-container>
        <ng-template #errCount>
            <p class="info-entity-text">{{'EXPECTED_FORMAT' | translate}}: {{automation.data.expectedFormat}}  |  {{'OVERRIDE' | translate}}</p>
        </ng-template>
        <app-loader [type]="projConstants.INDIVIDUAL_LOADER" *ngIf="automation.showSpinner"></app-loader>
    
    </div>
</ng-container>

<ng-container *ngIf="listView && automation && automation.entityName">
    <div class="entity-mesage-data listView" [ngClass]="{'error-no-reponse' : automation.errorCount, 'grayout-msgs-node' : automation.grayOut}">
        <div class="input-block-entity">
            <p>{{automation.entityName}} : </p>
            <input type="text" aria-label="Input" [(ngModel)]="automation.entityValue" (click)="confirmOverride()" [disabled]="automation.disableInput" (keyup.enter)="handleAgentInput()">
            <div class="border-outline"></div>
            <div class="actions-inputs">                
                <button class="remove-input" aria-label="Button" *ngIf="(automation.userInput == projConstants.NO && !automation.errorCount) || (rootService.activeTab == projConstants.MYBOT && !automation.errorCount)">
                    <i class="krIocnsFont-keyboard"></i>
                </button>
                <button class="success-check-input" aria-label="button" *ngIf="automation.userInput == projConstants.YES && !automation.errorCount">
                    <i class="krIocnsFont-check-circle"></i>
                </button>
                <button class="remove-input" aria-label="Button" (click)="cancelOverride()" *ngIf="!automation.hideOverrideDiv && automation.toggleOverride">
                    <i class="krIocnsFont-close"></i>
                </button>
                <button class="check-input" [ngClass]="{'disabled-msg' : !automation.entityValue}" aria-label="button" (click)="handleAgentInput()" *ngIf="!automation.hideOverrideDiv && automation.toggleOverride">
                    <i class="krIocnsFont-check"></i>
                </button>
                <button class="wrong-res-info" aria-label="button" *ngIf="automation.errorCount">
                    <i class="krIocnsFont-warning-solid"></i>
                    <span>{{automation.errorCount}}</span>
                </button>
            </div>
        </div>
        <ng-container  *ngIf="!automation.errorCount; else errCount">
            <p class="info-entity-text" *ngIf="automation.userInput == projConstants.NO">{{'AGENT_ENTERED' | translate}}</p>
            <p class="info-entity-text" *ngIf="automation.userInput == projConstants.YES">{{'ACCEPT_RESPONSE' | translate}}</p>
            <p class="info-entity-text" *ngIf="automation.userInput != projConstants.YES && automation.userInput != projConstants.NO">{{inputName}}</p>
        </ng-container>
        <ng-template #errCount>
            <p class="info-entity-text">{{'EXPECTED_FORMAT' | translate}}: {{automation.data.expectedFormat}}  |  {{'OVERRIDE' | translate}}</p>
        </ng-template>
        <app-loader [type]="projConstants.INDIVIDUAL_LOADER" *ngIf="automation.showSpinner"></app-loader>
    </div>
</ng-container>

