<div class="history-content" *ngIf="historyResponse && historyResponse.length > 0">
  <div class="transcript-history-scroll-bottom">
    <div class="conversation-title">Bot Conversation Started</div>
    <div class="conversation-timestamp">{{historyResponse[0].timestampValue | converTimestampToDate}}</div>
</div>
    <ng-container *ngFor="let conv of historyResponse">
        <div class="other-user-bubble" [id]="'otherBubble-' + conv._id"
            *ngIf="conv.type == 'incoming' && conv.components && conv.components[0]?.data.text">
            <div class="name-with-time">
                <!-- <div class="u-name">${this.parsedCustomData?.userName || this.parsedCustomData?.fName + this.parsedCustomData?.lName || 'Customer'}</div> -->
                <div class="u-time">{{conv.timestampValue | converTimestampToDate}}</div>
            </div>
            <div class="bubble-data" id="userInputMsg" *ngIf="!conv.isTemplateRender && renderHTMLPrompt(conv?.components[0]?.data?.text)">
                <div class="b-text"  [innerHTML]="renderHTMLPrompt(conv?.components[0]?.data?.text) | safeHtml"> </div>
            </div>
            <div class="bubble-data" id="userInputMsg" *ngIf="conv.isTemplateRender">
              <div class="title-data"  >
                  <ul class="chat-container"  [id]="'displayData-' + conv._id" [innerHTML]="conv.template | safeHtml"></ul></div>
          </div>
        </div>
        <div class="current-user-bubble" [id]="'currentUser-' + conv._id"
            *ngIf="conv.type == 'outgoing' && conv.components && conv.components[0]?.data.text">
            <div class="name-with-time" *ngIf="!conv.isTemplateRender && renderHTMLPrompt(conv?.components[0]?.data?.text)">
                <div class="u-time">{{conv.timestampValue | converTimestampToDate}}</div>
                <div class="u-name">Bot</div>
            </div>
            <div class="bubble-data" *ngIf="!conv.isTemplateRender && renderHTMLPrompt(conv?.components[0]?.data?.text)">
              <div class="b-text"  [innerHTML]="renderHTMLPrompt(conv?.components[0]?.data?.text) | safeHtml"> </div>
            </div>
            <div class="bubble-data" *ngIf="conv.isTemplateRender">
                <div class="title-data"  >
                    <ul class="chat-container"  [id]="'displayData-' + conv._id" [innerHTML]="conv.template | safeHtml"></ul></div>
            </div>
        </div>
    </ng-container>
</div>
