@import './variables/variables.scss';

button.mat-primary {
    background: $primaryActionColor;
    color: $whiteColor !important;
    &.mat-button-disabled {
        opacity: 0.5;
    }
    &.mat-icon-button {
        width: auto;
        padding: 0 16px 0 24px;
        border-radius: 3px;
        .mat-icon {
            width: 12px;
            margin-right: 15px;
        }
    }
}

.mat-input-element.ng-invalid.ng-touched {
    border: 1px solid #f44336;
}

button.mat-stroked {
    border: 1px solid #8f7a7a;
    color: $tertiaryColor;
}

mat-card.orange-warn {
    color: #FFA726;
    border: 1px solid #FFA726;
    border-radius: 4px;
    background: #FFFBEA;
    margin: 10px 0;
    box-shadow: none !important;
    font-size: 12px;
    padding: 10px;
    .mat-icon {
        margin-right: 10px;
    }   
}

mat-card.blue-warn {
    color: #07377F;
    border: 1px solid #85B7FE;
    border-radius: 4px;
    background: $hoverImgcolor;
    margin: 10px 0;
    box-shadow: none !important;
    font-size: 12px;
    padding: 10px;
    .mat-icon {
        margin-right: 10px;
    }
    a {
        color: $primaryActionColor !important;
        font-size: 12px;
    }
}

//For Checkbox
.mat-primary {
    &.mat-checkbox-disabled {
        .mat-checkbox-inner-container {
            background: $border2-color;
            width: 18px;
            height: 18px;
        }
        .mat-checkbox-frame {
            border: none;
        }
    }
    &.mat-checkbox-checked {
        .mat-checkbox-background {
            background-color: $primaryActionColor !important;
        }
    }
    &.mat-checkbox-indeterminate {
        .mat-checkbox-background {
            background-color: $primaryActionColor !important;
        }
    }
    .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
        background: $primaryActionColor;
    }
}

mat-form-field.sa-textarea {
    width: 100%;
    padding: 20px;
    background: $primaryBackgroundColor;
    border-radius: 8px;
    border: 1px solid $primaryActionColor;
    .mat-form-field-flex {
        background: $whiteColor;
    }
}

.mat-tab-label .mat-tab-label-content {
    font-size: 12px;
    font-weight: 600;
    color: $primaryFontColor;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $primaryActionColor;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $primaryActionColor !important;      
} 