dist/**
*.bak

KoreAnalytics/node_modules/**
AgentAssistAngular/node_modules/**
AgentAssistAngular/.angular/**

buildernew/dist/**
agentassist-widget-sdk/UI/node_modules/**

builder/dist/**
builder/node_modules/**
builder/config/**

workflows/dist/**
workflows/node_modules/**
workflows/config/**
buildernew/app/css/sass.bundle.css
buildernew/app/css/sass.bundle.css.map
buildernew/nbproject/private/private.properties
buildernew/nbproject/private/private.xml
buildernew/nbproject/project.properties
buildernew/nbproject/project.xml
buildernew/npm-debug.log
buildernew/sh.exe.stackdump
buildernew/.vscode
buildernew/../partial
workflows/nbproject
storyboard/node_modules/**