@import './../../scss/variables/variables.scss';

.builder-load-container{
    height: 100vh;
    display: flex;
    .left-menu-builder{
        width: 250px;
        flex-shrink: 0;
    }
    .bt-container-wrapper {
        position: relative;
        width: 100%;
        height: calc(100vh-60px);
        // overflow: scroll;
        .bg-load {
            opacity: 1 !important;
        }
        .classname1 {
            opacity: 0 !important;
        }
        .classname2 {
            opacity: 1 !important;
        }
    }
}







