@import './../../../../scss/variables/variables.scss';
.slider-sec-data{
    .header-sec{
        background: $primaryBackgroundColor;
        box-shadow: 0px 1px 5px rgb(32 33 36 / 10%);
        border-radius: 4px 0px 0px 4px;
        padding: 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                margin-left: 20px;
            }
        }
        .close-link{
            text-align: right;
            &.disabled-icon {
                opacity: 0.5;
                pointer-events: none;
            }
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 185px);
        max-height: 475px;
        &.scroll-install-content {
            max-height: 490px;
        }
        // &.scroll-install-content{
        //     height: calc(100vh - 245px);
        //     max-height: 531px;
        // }  
    }
    
    .converting-task-info{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        padding-left: 120px;
        margin: 15px auto;
        .type-task{
            display: flex;
            align-items: center;
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 15px;
            img{
                margin-right: 18px;
                width: 18px;
            }
        }        
    }

    .install-templates-container{
        padding: 20px 80px;
        .main-title{
            color: $primaryFontColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 18px;
        }
        .desc-text{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
        .tabs-data{
            margin: 20px 0;
            padding: 20px 0;
            border-top: 1px solid #E4E5E7;
            .nav-tabs{
                border: 0;
                margin: 0;
                padding: 0;
                .nav-item{
                    margin: 0 8px 0 0;
                    padding: 0 8px;
                    .nav-link{
                        border: 0;
                        background: transparent;
                        color: $primaryFontColor;
                        font-weight: normal;                        
                        font-size: 14px;
                        line-height: 20px;
                        padding: 10px 0;
                        position: relative;
                        &.active{
                            font-weight: 600;
                            &::before{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                background: $primaryActionColor;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
            .tab-content{
                padding: 25px 0;
                .instruction-text{
                    color: $primaryFontColor;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    margin-bottom: 16px;
                }
                .overview-title{
                    color: $primaryFontColor;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 5px;
                }
                .overview-data{
                    margin: 0;
                    padding: 0 0 0 16px;
                    li{
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        margin-bottom: 5px;
                    }
                }
                .label-text{
                    color: $primaryFontColor;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 14px;
                }               
                #requiredvariables{
                    // width: 795px;
                }
                #details {
                    .bot-icon {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        cursor: pointer;
                        z-index: 3;
                        margin: 4px;
                        .add-icon{
                            position: absolute;
                            top: 8px;
                            left: 8px;
                            cursor: pointer;
                            // z-index: 4;
                        }
                        input{
                            width: 30px;
                            height: 30px;
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            padding: 0;
                            cursor: pointer;
                            z-index: 2;
                        }
                    }
                }
                .kr-sg-input-text{
                    &.install-ready-only{
                        .input-text{
                            background: #E9EFF4;
                        }
                    }
                }
            }
        }
        .convert-bot-success{
            text-align: center;
            padding: 20px;
            .bot-import-name{
                color: $primaryFontColor;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                font-style: italic;
            }
            .success-info{
                color: $primaryFontColor;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
            }
            .donload-log-file{
                display: inline-block;
                left: -40px;
                position: relative;
                color: $primaryActionColor;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin: 15px 0;
                cursor: pointer;
                img{
                    margin-right: 6px;
                }
            }
        }
        .pdf-instructions {
            embed {
                width: 100%;
                height: 350px;
            }
        }
        .bt-desc {
            font-size: 14px;
            padding-bottom: 10px;
            font-weight: 500;
        }

        .installing-templates-sec{
            width: 520px;
            margin: 0 auto;
            text-align: center;
            .titles{
                color: $primaryFontColor;
                font-weight: 600;
                font-size: 20px;
                line-height: 18px;
                margin: 20px 0 24px 0;
            }
            .desc-text{
                color: $secondaryFontColor;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
            }
            .progress-slideer-sec{
                margin: 60px 0;
                .slider-info{
                    color: $secondaryFontColor;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 20px;
                    padding-top: 15px;
                }
            }
            .next-steps-title{
                color: $primaryFontColor;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 15px;
            }
            .next-step-desc{
                color: $secondaryFontColor;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 531px;
        height: calc(100vh - 270px);
        .pls-wait {
            padding-right: 10px;
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
        }
    }
    
    .error-message {
        color: #ff001f;
        font-size: 12px;
        margin-top: 4px;
    }

    .footer-sec{
        padding: 10px 70px;
        background: $primaryBackgroundColor;
        height: 60px;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }

    .btn_install_abort-sec{
        display: flex;
        align-items: center;
        padding: 10px 70px;
        background: $primaryBackgroundColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
        button{
            margin-right: 10px;
        }
        .api-success-message{
            color: #219653;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
    }
}

.mb-20{
    margin-bottom: 20px;
}