<div class="slider-sec-data">
    <form (ngSubmit)="setupBot(f);" #f="ngForm">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img src="assets/icons/arrowBack.svg" mat-dialog-close [hidden]="convFailed" (click)="goToBotStore()">
                <span class="main-title">{{'INSTALL_TEMPLATES.INSTALL' | translate: {'name': btName} }}</span>
            </div>
            <div class="close-link col-4 p-0" [ngClass]="{'disabled-icon': closeDisable}">
                <img src="assets/images/close.svg" [hidden]="install.step == 2 || isLoading" (click)="showConfirm()">
            </div>
        </div>
        <perfect-scrollbar class="scroll-content" [class.scroll-install-content]="install.step == 2">
            <div class="install-templates-container" [hidden]="isLoading">
                <ng-container *ngIf="install.step == 1">
                    <div class="main-title">{{'INSTALL_TEMPLATES.INSTALL_TEMP' |translate}}</div>
                    <div class="desc-text">{{'INSTALL_TEMPLATES.INSTRUCTIONS_DESC' | translate: {'name': btName} }}</div>
                    <div class="tabs-data pb-0">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#instructions">{{'INSTALL_TEMPLATES.INSTRUCTIONS' |translate}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#details">{{'INSTALL_TEMPLATES.BOT_DETAILS' | translate}}</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#requiredvariables">{{'INSTALL_TEMPLATES.REQ_VARIABLES' |translate}}</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content pb-0">
                            <div id="instructions" class="tabcontent tab-pane active">
                                <div class="bt-desc" [hidden]="instURL">
                                    {{btDesc}}
                                </div>
                                <div class="pdf-instructions mb-3" *ngIf="instURL">
                                    {{ 'INSTALL_TEMPLATES.INSTALLATION_DESC' | translate: {'name': btName} }}<a target="_blank" [href]="instURL"> {{ 'INSTALL_TEMPLATES.CLICK_HERE' | translate}}</a>
                                </div>
                                <div class="pdf-instructions" *ngIf="pdfURL">
                                    <embed [src]="pdfURL | safe" frameBorder="0" type="application/pdf" />
                                </div>
                            </div>
                            <div id="details" class="tabcontent tab-pane fade">
                                <div class="kr-sg-input-text mb-20">
                                    <div class="label-text">{{'INSTALL_TEMPLATES.BOT_NAME' | translate}}</div>
                                    <input  type="text"
                                            ngModel
                                            name="instBtName"
                                            required
                                            [ngModel]="btName"
                                            #instName="ngModel"
                                            class="input-text">
                                    <div class="error-message" *ngIf="!instName.valid && instName.touched">
                                        {{'INSTALL_TEMPLATES.ENTER_BT_NAME' | translate}}
                                    </div>
                                </div>

                                <div class="label-text mb-2">{{ "ONBOARDING.BOT_ICON" | translate }}</div>
                                <div class="bot-icon mb-2 pb-2">
                                    <input type="file" #imgFile (change)="upImgFile(imgFile.files[0])" accept=".png">
                                    <img [src]="selectedImg" style="width: 30px">
                                </div>
                            </div>
                            <div id="requiredvariables" class="tabcontent tab-pane fade">
                                <div class="kr-sg-input-text mb-20" [hidden]="varList.length == 0" *ngFor="let variable of varList; let i = index">
                                    <div class="label-text" [hidden]="variable.scope == 'hidden'">{{variable.key}}</div>
                                    <input  type="text"
                                            ngModel
                                            name="{{variable.key}}"
                                            required
                                            [hidden]="variable.scope == 'hidden'"
                                            [ngModel]="variable.scope=='askOnInstall'?'':variable.value"
                                            #varName="ngModel"
                                            class="input-text">
                                    <div class="error-message" *ngIf="!varName.valid && varName.touched">
                                        {{'INSTALL_TEMPLATES.PLS_ENTER' |translate}}
                                    </div>
                                </div>
                                <div [hidden]="varList.length > 0">
                                    {{'INSTALL_TEMPLATES.NO_VAR_AVAIL' |translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="install.step == 2">
                    <div class="convert-bot-success">
                        <div class="img_block" [hidden]="isConverting">
                            <img src="assets/icons/welcome/bot-convert-success.svg">
                        </div>
                        <div class="img_block" [hidden]="!isConverting">
                            <img src="assets/icons/welcome/convering-bot.svg">
                        </div>
                        <div class="bot-import-name">{{btName}}</div>
                        <div class="success-info" [hidden]="isConverting">{{ "ONBOARDING.HAS_BEEN_CONVERTED" | translate }}</div>
                        <div class="success-info" *ngIf="isConverting">{{ "INSTALL_TEMPLATES.IS_BEING" | translate }}</div>

                        <div class="converting-task-info">
                            <div *ngFor="let logs of stLogsConversion" class="type-task">
                                <img *ngIf="logs.status == 'success'" src="assets/icons/welcome/check.svg">
                                <img *ngIf="logs.status == 'failed'" src="assets/icons/failed.svg">
                                <div class="logs-message" [innerHTML]="logs.taskName"></div>
                            </div>
                        </div>
                        <div class="donload-log-file" [hidden]="isConverting" (click)="downloadConverLog()">
                            <img src="assets/icons/welcome/download.svg"> {{ "ONBOARDING.DOWNLOAD_LOG_FILE" | translate }}
                        </div>
                    </div>
                    <!-- <div class="installing-templates-sec">
                        <div class="titles">Installing Retail Bot for Shopify</div>
                        <div class="desc-text">Congratulations! The template you selected is now being installed in your SmartAssist.ai account.</div>
                        <div class="progress-slideer-sec">
                            <div class="slider-info">Installing use cases 9 of 15...</div>
                        </div>
                        <div class="next-steps-title">Next Steps...</div>
                        <div class="next-step-desc">All the use cases in the template will be installed in a disabled state. Review each use case and enable the ones that work for you.</div>
                    </div> -->
                </ng-container>
            </div>
            <div class="loading-container" *ngIf="isLoading">
                <div class="pls-wait">{{ "INSTALL_TEMPLATES.PLS_WAIT" | translate }}</div>
                <mat-spinner diameter="18"></mat-spinner>
            </div>

        </perfect-scrollbar>
        <div class="footer-sec text-center" *ngIf="install.step == 2">
            <button class="kr-sg-button-primary btn_lg" type="button" [hidden]="isConverting" (click)="loadConvertedBot()">{{ "INSTALL_TEMPLATES.FINISH" | translate }}</button>
            <button class="kr-sg-button-primary btn_lg" type="button" *ngIf="convFailed" (click)="cancelBt()">{{"BUTTONS.CLOSE" | translate}}</button>
        </div>
        <div class="btn_install_abort-sec" *ngIf="install.step == 1">
            <button class="kr-sg-button-primary btn_lg" type="submit" [disabled]="f.invalid || isLoading">{{ "INSTALL_TEMPLATES.SETUP" | translate }}</button>
            <button class="kr-sg-button-secondary btn_lg" type="button" [disabled]="closeDisable || isLoading" (click)="showConfirm()">{{ "INSTALL_TEMPLATES.ABORT" | translate }}</button>
            <div class="api-success-message d-none">{{ "INSTALL_TEMPLATES.API_CONN" | translate }}</div>
        </div>
    </form>
</div>
