@import './../../../scss/variables/variables.scss';


.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px 20px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;                
            }
            img{
                cursor: pointer;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);            
    }  
        
    .body-sec-data{
        padding: 15px 70px;
        .time-zone-block{
            margin: 0 0 50px 0;
            padding: 0;
            .label-text{
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 6px;
            }

            .timezone-perfect-scroll {
                max-height: 250px;
            }
        }
        .nav-tabs{
            padding-bottom: 15px;
            border-bottom: 1px solid $borderTabs;
            line-height: normal;
            li{
                margin-right: 32px;
                .tab-name{                       
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 0 10px;
                    position: relative;  
                    cursor: pointer;           
                    display: flex;
                    align-items: center;                                   
                    img{
                        margin-right: 10px;                            
                    }
                    .call-active{
                        display: none;
                    }                        
                    .chat-inactive{
                        display: inline-block;
                    }
                    .chat-active{
                        display: none;
                    }
                    .call-inactive{
                        display: inline-block;
                    }
                    &.active{
                        color: $primaryActionColor;
                        &::before{
                            content: "";
                            position: absolute;
                            background: $primaryActionColor;
                            height: 2px;
                            width: 100%;
                            bottom: -17px;
                            left: 0;
                        }
                        .call-active{
                            display: inline-block;
                        }
                        .call-inactive{
                            display: none;
                        }
                        .chat-inactive{
                            display: none;
                        }
                        .chat-active{
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .tab-content{
            padding: 30px 0;        
            .standard-hours-content{
                .header-table{
                    padding: 0 0 6px 0;
                    margin: 0;
                    border-bottom: 1px solid rgba(167, 199, 221, 0.5);
                    .title{
                        color: $primaryFontColor;
                        letter-spacing: 0.714286px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 14px;
                        padding: 0 10px;
                    }
                }
                .body-table{
                    margin: 0 0 3px 0;
                    padding: 10px 0;
                    background: $whiteColor;
                    box-shadow: 0px 2px 8px rgb(0 0 0 / 5%);
                    height: 80px;
                    align-items: center;
                    position: relative;
                    .delete-holiday{
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                        padding: 0 5px 5px 5px;
                    }
                    .input-box{
                        padding: 0 10px;
                        input{
                            width: 100%;
                            background: $whiteColor;
                            border: 1px solid $borderColor;
                            box-sizing: border-box;
                            border-radius: 4px;
                            padding: 0 8px;
                            color: $primaryFontColor;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    .day-title{
                        padding: 0 10px;
                        color: $primaryFontColor;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    .status-toggle{
                        padding: 0 10px;
                        .kr-sg-toggle {                            
                            .slider{
                                background: $whiteColor;
                                border: 1px solid $borderColor;
                                &::before{
                                    background-color: $borderColor;
                                }
                                span{
                                    padding-left: 45px;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 20px;
                                    top: -1px;
                                    width: 132px;
                                    &.enabled{
                                        color: $primaryFontColor;
                                    }
                                    &.disabled{
                                        color: $optionalText;
                                    }
                                }
                            }
                            input{
                                &:checked{
                                    + .slider{
                                        border: 1px solid $primaryActionColor;
                                        background-color: $primaryActionColor;
                                        box-shadow: 0 0 1px $primaryActionHoverColor;
                                        &::before{
                                            background: $whiteColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .start-end-time-inputs{
                        display: flex;
                        padding: 0 10px;
                        align-items: center;
                        margin: 0 -4px;
                        .input-text{
                            background: $whiteColor;
                            border: 1px solid $borderColor;
                            box-sizing: border-box;
                            border-radius: 4px;
                            width: 100%;
                            padding: 0;
                            margin: 0 4px;
                            text-align: center;
                            color: $primaryFontColor;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                        .divider{
                            color: $primaryFontColor;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 16px;                            
                        }
                    }
                }
                .add-another-action{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 20px 0;
                    .btn-another{
                        padding: 0 12px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .title{
                            color: $primaryActionColor;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            padding-left: 10px;
                        }
                    }
                }
            }      
        }
    }

    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
}

.submitted input.ng-invalid {
    border: solid 1px $warningRed !important;
 }


 ::ng-deep ngx-material-timepicker-container {
    --body-background-color: #fff;
    --primary-font-family: 'Roboto',sans-serif;
    --button-color: #3366ff !important;
    --dial-active-color: #fff;
    --dial-inactive-color: rgba(255, 255, 255, .5);
    --dial-background-color: #3366ff !important;
    --dial-editable-active-color: #3366ff !important;
    --dial-editable-background-color: #fff;
    --clock-face-time-active-color: #fff;
    --clock-face-time-inactive-color: #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292 !important;
    --clock-face-time-disabled-color: #c5c5c5;
    --clock-face-background-color: #f0f0f0;
    --clock-hand-color: #3366ff !important;

    .timepicker-backdrop-overlay, .timepicker-overlay {
        z-index: 9999 !important;
    }
}