<div class="settings-wrapper">
    <header>
        <div class="d-flex align-items-center mb-3">
            <div class="heading">{{'AGENT.SETTINGS.ROLE_MANAGEMENT' | translate}}</div>
            <ul class="nav nav-tabs uc-tabs" role="tablist">
                <ng-container *hasPermission="['ROLE_MANAGEMENT_FULL']">
                    <button type="button" *ngIf="selectedMenu == 'role' && workflowService.appState !== 'published'" (click)="openNewRole('new')" class="kr-sg-button-primary btn_lg new-hours-btn"><img src="assets/icons/add.svg">{{'USER.MANAGE.NEWROLE' | translate}}</button>
                    <button type="button" *ngIf="selectedMenu == 'user'" (click)="openNewUser()" class="kr-sg-button-primary btn_lg new-hours-btn"><img src="assets/icons/add.svg">{{'USER.MANAGE.INVITE_NEWUSER' | translate}}</button>

                    <!-- <div class="invite-new-user"
                        *ngIf="selectedMenu == 'role' && workflowService.appState !== 'published'"
                        (click)="openNewRole()">
                        <img src="assets/icons/agent-settings/add.svg">
                        <span>{{"USER.MANAGE.NEWROLE" | translate}}</span>
                    </div> -->
                    <!-- <div class="invite-new-user" *ngIf="selectedMenu == 'user'" (click)="openNewUser()">
                        <img src="assets/icons/agent-settings/add.svg">
                        <span>{{"USER.MANAGE.INVITE_NEWUSER" | translate}}</span>
                    </div> -->
                </ng-container>
            </ul>
        </div>
    </header>
    <section>
        <perfect-scrollbar class="scroll-tabs">
            <div class="user-management-container">
                <div class="header-actions">
                    <div class="left-sec">
                        <div class="kr-sg-dropdowns" ngbDropdown [placement]="'bottom'">
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>
                                    <img *ngIf="selectedMenu !== 'user'"
                                        src="assets/icons/agent-settings/role-managment.svg">
                                    <img *ngIf="selectedMenu == 'user'"
                                        src="assets/icons/agent-settings/user-managment.svg">
                                    <span class="name">{{selectedMenu == 'user'?'User':'Role Management'}}</span>
                                </button>
                                <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                    <li *ngFor="let list of menuList" ngbDropdownToggle
                                        (click)="selectedMenu = list.id">
                                        <a>
                                            <img [src]="list.img">
                                            <span>{{list.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="kr-sg-input-search">
                            <input type="text" placeholder="{{'PLACEHOLDERS.SEARCH_ROLE_NAME' | translate}}"
                                [(ngModel)]="search.text" class="input-search">
                            <img src="assets/icons/search_gray.svg" class="search-icon">
                        </div>
                    </div>
                    <div class="right-sec">
                        <!-- <ng-container *hasPermission="['ROLE_MANAGEMENT_FULL']">
                            <div class="invite-new-user"
                                *ngIf="selectedMenu == 'role' && workflowService.appState !== 'published'"
                                (click)="openNewRole()">
                                <img src="assets/icons/agent-settings/add.svg">
                                <span>{{"USER.MANAGE.NEWROLE" | translate}}</span>
                            </div>
                            <div class="invite-new-user" *ngIf="selectedMenu == 'user'" (click)="openNewUser()">
                                <img src="assets/icons/agent-settings/add.svg">
                                <span>{{"USER.MANAGE.INVITE_NEWUSER" | translate}}</span>
                            </div>
                        </ng-container> -->

                        <div class="kr-sg-dropdowns d-none" ngbDropdown [placement]="'bottom-right'" container="body">
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle
                                    (click)="$event.stopPropagation()">
                                    <img src="assets/icons/skills/overflow.svg">
                                </button>
                                <ul class="dropdown-menu content-menu skills-edit-delete-dropdown p-0" ngbDropdownMenu>
                                    <li><a>{{'USECASES.EDIT' | translate}}</a></li>
                                    <li><a>{{'USECASES.DELETE' | translate}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-user-managment" *ngIf="selectedMenu == 'role'">
                    <app-rm-table [r]="roles" [search]="search.text" (deleteRole)="onDelete($event)"></app-rm-table>
                </div>

                <div class="table-user-managment" [u]="users" *ngIf="selectedMenu == 'user'">
                    <app-um-table></app-um-table>
                </div>
            </div>
        </perfect-scrollbar>
    </section>
</div>

<app-slider-component id="slider4" #slider4="app-slider">
    <app-new-role *ngIf="showNewRoleSlider" [mode]="roleMode" [role]="_editRole" (close)="closeSlider4()"></app-new-role>
</app-slider-component>

<app-slider-component id="slider5" #slider5="app-slider">
    <app-new-user *ngIf="showNewUserSlider" (close)="closeSlider5()"></app-new-user>
</app-slider-component>