/* 
    Created on : 23 Aug, 2018, 3:52:47 PM
    Author     : Ravi Kiran Maddi
*/

@import './../../../app/scss/variables/variables.scss';
app-mainmenu{
	position: relative;
	float: left;
	background-color: $primaryBackgroundColor;
	width: 246px;
	height: calc(100vh - 60px);
	.sidebar-fixed{
		height: calc(100vh - 60px);
		&.is-upgrade-true{
			height: calc(100vh - 170px);
		}
		.automationBotDD{
			padding-top: 15px;
			.automationBot{
			  // margin-top: 15px;
			  display: flex;
			  align-items: center;
			  padding: 10px;
			  // border-radius: 4px;
			  margin-bottom: 6px !important;
			  transition: 0.2s all ease-in;
			  cursor: pointer;
			  outline: 0 !important;
			  min-height: 56px;
			  position: relative;
			  width: auto !important;
			  background: #fff !important;
			  width: 100% !important;
			  border: 0;
			  border-radius: 0;
			  text-align: left;
			  box-shadow: none !important;
			  &::before{
				display: none;
			  }
			  img{
				position: relative;
				// left: 12px;
				// top: auto;
				width: 26px;
				height: 26px;
				flex-shrink: 0;
				border-radius: 6px;
			  }
			  .link-name{
				color: #262626;
				font-weight: 400;
				font-size: $font-s-14;
				line-height: 17px;
				width: 100%;
				padding-left: 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			  }
			  .icon-sa-arrow-down{
				width: 26px;
				flex-shrink: 0;
				font-size: 12px;
				display: flex;
				justify-content: center;
				color: #202124;
				transform: rotate(-90deg);
			  }
			  &:hover{
				// background: var(--leftmenubg);
				font-weight: 500;
				// box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
				border-radius: 4px;
			  }
			  &.active{
				background: var(--whiteColor);
				font-weight: 500;
				// box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
				border-radius: 4px;
				.link-name{
				  font-weight: 500;
				}
			  }
			}
		  }
		.regular-user-bots-dropdown{
			&.kr-sg-dropdowns {
				// &.show {
				// 	.dropdown-open{
				// 		.dropdown-input{
				// 			&::before{
				// 				transform: rotate(90deg);        
				// 				background-size: auto;           
				// 			}
				// 		}
				// 	}
				// }
				.dropdown-open {
					.dropdown-input{
						background: $secondaryActionColor;
						box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
						height: 50px;
						border: 0 !important;
						display: flex;
						align-items: center;
						padding: 10px 20px;
						&::before{
							background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABISURBVHgBvY7BDYAgEARHYiEbOP+WYil2oJ1opQoJT7gfYb4zmywq4BBgPRTT4wVIdk8MAu3Fn4+lXUW7pPSOELKzK6rcdhwyJuATocsugAUAAAAASUVORK5CYII=') !important;
							background-size: auto;
							right: 18px;
						}
						.bot-icon{
							width: 30px;
							height: 30px;
							line-height: normal;
							img{
								width: 30px;
								height: 30px;
							}
						}
						.bot-name{
							color: $primaryFontColor;
							font-weight: 500;
							font-size: 12px;
							line-height: 15px;
							width: 135px;
							margin-left: 15px;
						}

					}
				}
			}
		}		
		.empty-sel-bots {               
			margin: 70px 0;
			text-align: center;
			.no-existing-head {
				color: $orange;
				font-size: 16px;
				font-style: italic;                   
				img {
					padding-right: 10px;
				}
			}
			.no-existing-message {
				padding-top: 10px;
				font-weight: 500;
			}
		}
		.ps-content{
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.list-group{
			padding: 20px 15px 20px 15px;
			.group-links{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
				.group-heading{
					color: $secondaryFontColor;
					letter-spacing: 1px;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 10px;
					line-height: 14px;
					padding: 3px 16px;
					margin-bottom: 10px;
				}
			}
			.link-router{
				display: flex;
				align-items: center;
				padding: 8px 10px 8px 16px;
				border-radius: 4px;
				margin-bottom: 6px;
				transition: 0.2s all ease-in;
				cursor: pointer;
				outline: 0;
				img{

				}
				.link-name{
					margin-left: 16px;
					color: $primaryFontColor;
					font-weight: normal;
					font-size: 14px;
					line-height: 14px;
					width: 100%;
				}
				.beta-tag{
					border-radius: 5px;
					border: 1px solid #CDD5DF;
					display: flex;
					padding: 2px 5px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					height: 20px;
					color: #697586;
					text-align: center;
					font-size: 11px;
					font-weight: 500;
					line-height: 16px;
					background: #fff;
				}
				&:hover{
					// background: $leftmenubg;
					background: #E4ECF1;
					box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
					border-radius: 4px;
					.link-name{
						font-weight: normal;
					}
				}
				&.active{
					background: #E4ECF1;
					box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
					border-radius: 4px;
					.link-name{
						font-weight: normal;
					}
				}
			}
		}		
	}
	.bottom-upgrade{
		text-align: left;
		margin: 0;
		width: 100%;
		padding: 0 30px;
		padding: 15px 30px 0px 30px;
		position: absolute;
		bottom: 0;		
		background: #F5F8FA;
		box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.09);
		.balance-with-bar{
			display: flex;
			align-items: center;
			width: 100%;
			.progress_bar_data{
				width: auto;
				position: relative;
				.balance-progress {
					margin: 0;
					width: 36px;
					height: 10px;
					transform: rotate(90deg);
					left: -13px;
					top: -2px;
					.mat-progress-bar-buffer {
						background-color: $borderTabs;
					}
					.mat-progress-bar-fill::after {
						background-color: #28A745;
					}
					&.low {
						.mat-progress-bar-buffer {
							background-color: $borderTabs;
						}
						.mat-progress-bar-fill::after {
							background-color: #F6E049;
						}
					}
					&.very-low {
						.mat-progress-bar-buffer {
							background-color: $borderTabs;
						}
						.mat-progress-bar-fill::after {
							background-color: $warningColor;
						}
					}
				}
			}
			.content-data{
				text-align: left;
				margin-left: -13px;
				.balance{
					color: $primaryFontColor;
					font-weight: 600;
					font-size: 16px;
					line-height: 19px;
					margin-bottom: 0px;
					span{
						font-size: 12px;				
						color: $secondaryFontColor;
					}
				}
				.title{
					color: $secondaryFontColor;
					margin-bottom: 0;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
				}
				.refresh {
					cursor: pointer;
					margin-left: 12px;
				}
			}

		}
											
		.upgrade-btn{
			border: 1px solid $primaryActionColor;
			border-radius: 4px;
			display: block;
			padding: 5px 30px 5px 10px;
			height: 34px;
			color: $primaryActionColor;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			cursor: pointer;
			margin: 10px 0;
			position: relative;
			outline: 0 !important;
			img{
				float: right;
				position: absolute;
				right: 0;
				top: 10px;
				right: 10px;
			}
		}
	}
}	