<perfect-scrollbar [config]="config" class="sidebar-fixed"
	[ngClass]="{'is-upgrade-true': isPlan && !workflowService.onPremise}">
	<ng-container *ngIf="type === 'config'">
		<div ngbDropdown class="kr-sg-dropdowns automationBotDD" container="body" placement="right-top">
			<button type="button" class="btn btn-outline-primary automationBot" id="dropdownBasic1" ngbDropdownToggle>
				<img src="{{ currentBt?.icon }}">
				<span class="link-name">{{ currentBt?.name }}</span>
				<i class="icon-sa-arrow-down"></i>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="automationBot-menu">
				<perfect-scrollbar>
					<div class="bot-name-icon" *ngFor="let bt of filteredSmartABots | keyvalue">
						<!-- <div class="bot-icon">
					<img [src]="bt?.icon ? bt?.icon : (this.workflowService.resolveHostUrl() + '/botbuilder/assets/images/brokenImageSmall.png')">
				</div>
				<div class="bot-name text-truncate" [title]="bt.name">{{bt.name}}</div> -->
						<button ngbDropdownItem class="automationBotlist active" (click)="switchBots(bt.value)">
							<img src="{{bt.value.icon}}">
							<span class="link-name">
								<span class="name-bot">{{bt.value.name}}</span>
								<span class="ubautomationBot" *ngIf="bt.value.type == 'universalbot'">ub</span>
								<!-- <span *ngIf="bt.type == 'universalbot'" class="ubautomationBot">ub</span> -->
							</span>
							<!-- <span class="makeDefault" *ngIf="!bt?.isBotDefault" (click)="makeBotAsDefault(bt)">Make Default Automation Bot</span> -->
							<i class="icon-sa-conv-check" *ngIf="bt.value.connectedBot"></i>
						</button>
						<div class="ub-bot-list-wrapper"
							*ngIf="bt.value.type == 'universalbot' && bt.value.linkedBots && bt.value.linkedBots.length > 0">
							<button ngbDropdownItem class="automationBotlist active" (click)="switchBots(lbot)"
								*ngFor="let lbot of bt.value.linkedBots">
								<img src="{{bt.value.icon}}">
								<span class="link-name">
									<span class="name-bot">{{lbot.name}}</span>
								</span>
								<i class="icon-sa-conv-check" *ngIf="lbot.connectedBot"></i>
							</button>
						</div>
					</div>
				</perfect-scrollbar>
			</div>
		</div>
	</ng-container>

	<div class="list-group list-group-flush" *ngIf="type === 'config'">
		<div class="group-links">
			<div class="group-heading">EXPERIENCES</div>
			<div class="link-router" [routerLink]="['usecases']" routerLinkActive="active" *hasPermission="['admin']">
				<i class="icon-sa-union"></i>
				<span class="link-name">{{'NAV.USECASES' | translate}}</span>
			</div>
			<div class="link-router" [routerLink]="['conversationalLogs']" routerLinkActive="active"
				*hasPermission="['admin']">
				<img src="assets/icons/leftmenu/conv-logs.svg"><span class="link-name">{{'NAV.CONVERSATIONAL_LOGS' |
					translate}}</span>
			</div>
			<div class="link-router" [routerLink]="['welcomeEvents']" routerLinkActive="active"
				*hasPermission="['admin']">
				<i class="icon-sa-survey"></i>
				<span class="link-name">{{'NAV.WELCOMEEVENT' | translate}}</span>
			</div>
		</div>
		<ng-container *ngIf="isCoachingDisable">
			<div class="group-links">
				<div class="group-heading">{{ 'NAV.COACH_TITLE' | translate }}</div>
				<div class="link-router" [routerLink]="['coaching']" routerLinkActive="active"
					*hasPermission="['admin']">
					<i class="icon-coaching-menu-icon"></i>
					<span class="link-name">{{'NAV.COACHING' | translate}}</span>
					<span class="beta-tag">Beta</span>
				</div>
				<div class="link-router" [routerLink]="['guided-checklist']" routerLinkActive="active"
					*hasPermission="['admin']">
					<i class="icon-sa-play-book"></i>
					<span class="link-name">{{'NAV.CHECKLIST.TITLE' | translate}}</span>
					<span class="beta-tag">Beta</span>
				</div>
			</div>
		</ng-container>

		<div class="group-links">
			<div class="group-heading">System SETUP</div>
			<div class="link-router" [routerLink]="['channels']" routerLinkActive="active" *hasPermission="['admin']">
				<i class="icon-sa-connections"></i><span class="link-name">{{'NAV.CHANNELS' |
					translate}}</span>
			</div>
			<div class="link-router" [routerLink]="['languages']" routerLinkActive="active" *hasPermission="['admin']"
				(click)="getAdvSettings()">
				<img src="assets/icons/leftmenu/languages-speech.svg"><span class="link-name">Speech Recognition</span>
			</div>
			<div class="link-router" [routerLink]="['searchAssist']" routerLinkActive="active"
				*hasPermission="['admin']" (click)="getAdvSettings()">
				<i class="icon-sa-search"></i><span class="link-name">SearchAssist</span>
			</div>
			<ng-container *ngIf="isCoachingDisable">
				<div class="link-router" [routerLink]="['advanced-nlu']" routerLinkActive="active"
					*hasPermission="['admin']">
					<i class="icon-sa-settings"></i><span class="link-name">Advanced NLU</span>
				</div>
			</ng-container>
			<ng-container>
				<div class="link-router" [routerLink]="['widget-settings']" routerLinkActive="active"
					*hasPermission="['admin']">
					<span class="link-name">widget Settings</span>
				</div>
			</ng-container>
		</div>
	</div>
	<bt-mainmenu *ngIf="type === 'bt'">
	</bt-mainmenu>
</perfect-scrollbar>

<div class="bottom-upgrade" *ngIf="isPlan && !workflowService.onPremise">
	<div *ngIf="isPlanLoading" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
		<div style="font-weight: 400;">{{'NAV.LOAD_AVAIL_BAL' | translate}}</div>
		<mat-spinner diameter="18"></mat-spinner>
	</div>
	<div *ngIf="!isPlanLoading" class="w-100">
		<div class="balance-with-bar">
			<div class="progress_bar_data">
				<mat-progress-bar class="balance-progress" [hidden]="!isPlan" mode="determinate"
					[ngClass]="{'very-low': planLeftPer <= 10, 'low': planLeftPer < 25 && planLeftPer > 10}"
					[value]="planLeftPer"></mat-progress-bar>
			</div>
			<div class="content-data">
				<div class="balance" [hidden]="!isPlan">{{planDetails?.totalCredits - planDetails?.usedCredits | number:
					'1.2-2'}} <span>$</span></div>
				<div class="d-flex align-items-center">
					<div class="title" [hidden]="!isPlan">{{'NAV.AVAILABLE_BALANCE' | translate}}</div>
					<div class="refresh" (click)="getBalance()" [hidden]="!isPlan">
						<img class="refreshIcon" src="assets/icons/leftmenu/refresh.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="upgrade-btn text-truncate" *ngIf="planDetails?.planType == 'Free'"
			[routerLink]="['usage', 'current']" title="{{'NAV.SETUP_PAYMENT' | translate}}">{{'NAV.SETUP_PAYMENT' |
			translate}} <img src="assets/icons/leftmenu/currency.svg"></div>
		<div class="upgrade-btn" *ngIf="planDetails?.planType != 'Free'" [routerLink]="['usage', 'current']"
			title="{{'NAV.BILLING_USAGE' | translate}}">{{'NAV.BILLING_USAGE' | translate}}</div>
	</div>
</div>

<ng-template #wUpdateBot>
	<app-update-bot (wSel)="wSHide()"></app-update-bot>
</ng-template>

<ng-template #wSContent>
	<app-w-sel-dialog (wSel)="wSHide()"></app-w-sel-dialog>
</ng-template>