

.dashboard-wraaper-container{
    display: inline-block;
    width: 100%;
    position: relative;
    height: calc(100vh - 59px);
    // height: auto;
    .header-titles{
        display: inline-block;
        width: 100%;
        padding: 24px 24px 20px 24px;
    }
    .scroll-container{
        // height: auto;
        height: calc(100vh - 137px);
    }
    .inner-scroll-data{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-bottom: 30px;
        .cards-data-boards{
            display: flex;
            align-items: center;
            padding: 0 16px;
            margin: 0 0px 20px 0px;
            &.agent-feedback-cards{
                padding: 0;
                margin: 8px -5px 5px -5px;
                .card-sec{
                    padding: 0 5px;
                    .inner-data-sec{
                        padding: 10px;
                        border: 0;
                        height: auto;
                        min-height: auto;
                        .count-heading{
                            margin-top: 10px;
                        }
                    }
                }
            }   
            .card-sec{
                flex: 1;
                padding: 8px;
                max-width: 25%;
                .inner-data-sec{
                    border: 1px solid #E3E4E6;
                    border-radius: 4px;
                    padding: 22px 15px;
                    min-height: 108px;
                    cursor: pointer;                    
                    .title-text-info{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .heading-text{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            color: #777A80;
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            &.empty-title{
                                color: #777A80;
                            }
                        }
                        .icon-sat_thumsdown{
                            color: #FFC46A;
                            font-size: 14px;
                            margin-left: 5px;
                            position: relative;
                            top: 2px;
                        }
                        .icon-ast_thumbsup{
                            color: #2B75E4;
                            font-size: 14px;
                            margin-left: 5px;
                            position: relative;
                            top: -2px;
                        }
                        .value-data{
                            background: #E6F8EF;
                            border-radius: 40px;
                            padding: 3px 5px;
                            font-weight: 600;
                            font-size: 10px;
                            color: #026C3B;
                            line-height: 12px;
                            display: flex;
                            align-items: center;
                            flex-shrink: 0;
                            margin-left: 5px;
                            i{
                                margin-right: 4px;
                            }
                            span{
                                line-height: normal;
                            }
                            &.negtive{
                                background: #FBECEF;
                                color: #D9435F;
                            }
                        }
                    }
                    .count-heading{
                        font-weight: 800;
                        font-size: 24px;
                        line-height: 28px;
                        color: #2D2F33;
                        margin-top: 12px;
                        &.empty-count{
                            color: #697586;
                        }
                    }
                }
            }
        }
    }
    .charts-data-containers{
        margin: 0;
        padding: 0 14px;
        .chart-box-info{
            padding: 10px;
            .chart-inner-data{
                border: 1px solid #E3E4E6;
                box-shadow: 0px 1px 2px rgba(32, 33, 36, 0.05);
                border-radius: 6px;
                min-height: 362px;
                padding: 18px;
                height: 100%;
                position: relative;
                .agent-intiated-dropdown{
                    &.kr-sg-dropdowns {
                        position: absolute;
                        width: auto;
                        right: 18px;
                        top: 20px;
                        &.show{
                            .dropdown-open{
                                .dropdown-input{
                                    .icon-sa-arrow-down{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                        .dropdown-open {
                            .dropdown-input{
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                color: #202124;
                                .icon-sa-arrow-down{
                                    margin-left: 8px;
                                    font-size: 12px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                .keyborad-view-tabs{
                    position: absolute;
                    right: 18px;
                    display: flex;
                    align-items: center;
                    top: 20px;
                    .tab-name-text{
                        background: #FFFFFF;
                        border: 1px solid #E3E4E6;
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                        border-radius: 8px 0px 0px 8px;
                        width: 52px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        color: #121314;
                        font-size: 16px;
                        transition: 0.2s all ease;
                        &.active-key{
                            border: 1px solid #2B75E4;
                            background: #2B75E4;
                            color: #FFFFFF;
                        }
                        &:last-child{
                            border-radius: 0px 8px 8px 0px;
                        }
                    }
                }
                .override-info{
                    position: absolute;
                    right: 18px;
                    top: 20px;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #777A80;
                    i{
                        margin-left: 4px;
                    }
                }
                // .view-all-btn{
                //     position: absolute;
                //     bottom: 10px;
                //     left: 18px;
                //     font-weight: 500;
                //     font-size: 14px;
                //     line-height: 17px;
                //     color: #0D6EFD;
                //     cursor: pointer;
                //     padding: 5px;
                //     z-index: 1;
                // }
                .heading-data-wrapper{
                    display: flex;
                    align-items: center;
                    .tag-title{
                        background: #F0F1F2;
                        border-radius: 3px;
                        padding: 4px 8px;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.03em;
                        color: #777A80;
                    }
                }
                .main-heading-title{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 8px;
                    color: #2D2F33;
                    i{
                        color: #5F6368;
                        cursor: pointer;
                        margin-left: 5px;
                        font-size: 14px;
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
    }

}

