<div class="overlay-delete-popup" id="summary">
    <div class="delete-box-content summary-box-content">
        <div class="header-text summary-header">Summary</div>
            <div class="input-block-optional">
            <div class="label-text">Remarks</div>
            {{editedSummaryText | json}}
            <textarea class="input-text" id="summaryText" rows="4" cols="50" [(ngModel)]="editedSummaryText"></textarea>
        </div>
        <button class="submit-btn" id="summarySubmit" (click)="summaryButtonClick(true)">Submit</button>
    </div>
</div>
