
<div class="slider-sec-data">
    <form [formGroup]=utterancesForm>
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img *ngIf="usecaseType == 'faq'" src="assets/images/utterances.svg">
                <img *ngIf="usecaseType == 'dialog'" style="width: 30px" src="assets/images/usecases/new_conv.png">
                <span class="main-title">{{usecase}}</span>
            </div>
            <div class="close-link col-4 p-0" (click)="close()"><img src="assets/images/close.svg"></div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="body-sec-data">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="title">{{'USECASES.USER_UTTERANCES' | translate}}</div>
                    <div class="info-title" *ngIf="altUtterances.length < 3"><img src="assets/images/exclamanation.svg">{{'USECASES.NEEDS_MORE_UTTERANCES_TO_BE_EFFECTIVE' | translate}}</div>
                </div>                
                <div class="kr-sg-input-text mb-34" *ngIf="usecaseType === 'faq'">
                    <div class="label-text">{{'USECASES.PRIMARY_QUESTION' | translate}}</div>
                    <input type="text" class="input-text" formControlName="primaryUtterance" maxlength="130">
                    <div class="error-msg" *ngIf="utterancesForm.get('primaryUtterance').errors && (utterancesForm.get('primaryUtterance').touched)">{{'USECASES.PU_REQUIRED' | translate}}</div>
                </div>
                <div class="alternative-utterances row ml-0 mr-0 mb-10">
                    <div class="lef-sec col-9 p-0 d-flex align-items-center">
                        <div class="al-title">{{'USECASES.ALTERNATE_UTTERANCES' | translate}} ({{altUtterances.valid ? altUtterances.controls.length: altUtterances.controls.length - 1}})</div>        
                        <div class="search-block">
                            <div class="kr-sg-input-search">                               
                                <input type="text" [placeholder]="'COMMON.SEARCH' | translate" class="input-search" #searchTerm (keyup)="0">
                                <img src="assets/icons/search_gray.svg" class="search-icon">
                                <img src="assets/icons/close.svg" class="close-icon" *ngIf="searchTerm.value" (click)="searchTerm.value = ''">
                            </div>
                        </div>                
                    </div>   
                    <div class="footer-btns col-3 p-0 m-0">
                        <div class="add-btn" (click)="addAltUtterance('', true)" *ngIf="workflowService.appState !== 'published'" [class.disabled]="altUtterances.invalid"><img src="assets/images/plus.svg">{{'USECASES.ADD_ANOTHER' | translate}}</div>
                    </div>        
                </div>
                <ng-container *ngFor="let altUtterance of utterancesForm.get('altUtterances')['controls']; let i = index">
                    <div class="kr-sg-input-text mb-10 alt-utterances" *ngIf="(altUtterance.get('text').value || '').toLowerCase().includes(searchTerm.value)" formArrayName="altUtterances"> 
                        <ng-container [formGroupName]="i">
                            <input type="text" [ngStyle]="{'pointer-events': workflowService.appState == 'published'?'none': 'unset'}" [placeholder]="'USECASES.ALT_QUESTION_PLACEHOLDER' | translate" class="input-text" [class.err]="altUtterance.get('reason')" formControlName="text" maxlength="130" (keyup)="altUtterances.valid? addAltUtterance('', true, $event): ''">
                            <div class="info-icon" tooltipClass="error-usecase-tooltip" placement="bottom-center" [ngbTooltip]="altUtterance.get('reason').value" *ngIf="altUtterance.get('reason')">
                                <img src="assets/icons/use-case/Info-red.svg">
                            </div>
                            <div class="delete-icon" *ngIf="workflowService.appState !== 'published'" (click)="removeAltUtterance(i)"><img src="assets/images/delete.svg"></div>
                        </ng-container>
                    </div>
                </ng-container>
                
                <div class="empty-search-image text-center" *ngIf="isNoSearchResultFound(searchTerm.value)">
                    <img src="assets/icons/empty-utterance-search.svg">
                </div>
            </div>
        </perfect-scrollbar> 
        <div class="footer-sec d-flex align-items-center" *ngIf="workflowService.appState !== 'published'">
            <button type="button" class="kr-sg-button-primary btn_lg" [disabled]="utterancesForm.invalid || saveInProgress" (click)="onSave()"> {{(saveInProgress ? 'BUTTONS.SAVING': 'BUTTONS.SAVE') | translate}}</button>        
            <div class="info-success-message" *ngIf="stats.total">
                <span class="info-green"><img src="assets/icons/use-case/double-check.svg"> {{'OUT_OF' | translate}} {{stats.total}} {{'ANALYTICS.UTTERANCES' | translate}} {{stats.success}} {{'SAVED_AND' | translate}} </span><span class="info-red">{{stats.failed}} {{'FAILED' | translate}}</span> 
            </div>
        </div>   
    </form>
</div>
