<div class="empty-screen" *ngIf="isSearch">
    <div class="image">
        <img [src]="isExperienceFlow ? 'assets/images/experience-no-search.svg' : 'assets/images/usecases/empty.png'" alt="emptyScreen">
    </div>
    <div class="infor">
        <div class="head">
            {{ "USECASES.NO_SEARCH_RESULTS" | translate }}
        </div>
        <div class="desc">
            {{ isExperienceFlow ? ("NO_EXPERIENCE_FLOWS_AVAILABLE" | translate) : ("USECASES.NO_UC_AVAILABLE" | translate) }}
        </div>
    </div>
</div>  


<div class="empty-screen" *ngIf="!isSearch && !isExperienceFlow">
    <div class="image">
        <img src="assets/images/usecases/empty.png" alt="emptyScreen">
    </div>
    <div class="infor">
        <div class="head">
            {{ "USECASES.DESIGN_UC" | translate }}
        </div>
        <div class="desc">
            <p>{{ "USECASES.CLICK_NEW_UC" | translate }}</p>
            <p>{{ "USECASES.UC_DESC" | translate }}</p>
        </div>
    </div>
</div>     