<!-- <div class="overlay-delete-popup" id="summary">
    <div class="delete-box-content summary-box-content">
        <div class="header-text summary-header">Summary</div>
        <button class="btn-close-summary" (click)="closeSummary()"><i class="ast-close"></i></button>
        <div class="input-block-optional">
            <div class="label-text">Remarks</div>
            <textarea class="input-text" id="summaryText" rows="4" cols="50" [(ngModel)]="editedSummaryText"></textarea>
        </div>
        <button class="submit-btn" id="summarySubmit" (click)="summaryButtonClick(true)">Submit</button>
        <button class="btn-secondary-button" id="summaryCopy"
        (click)="handleCopyButton(editedSummaryText)" [disabled]="(tooltipText === projCnst.COPIED)">{{tooltipText}}</button>
    </div>
</div> -->

	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
	</div>