
@import './../../../scss/variables/variables.scss';

.app-lang-data-sec{
    .title-sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        .title{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 22px;
            line-height: 34px;
        }
        .close-dialog{
            cursor: pointer;
            img{
                width: 14px;
                height: 14px;
            }
        }
    }
    .kr-sg-dropdowns {
        margin-bottom: 18px;
        .label-text{
            color: $primaryFontColor;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 8px;
        }
        .dropdown-open{
            .dropdown-input{
                padding-left: 6px;
                .selected-lang{
                    line-height: normal;                    
                    color: $primaryFontColor;
                    display: flex;
                    align-items: center;
                    height: 32px;
                    .lang-name{
                        color: $primaryFontColor;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        margin-left: 12px;
                    }
                }
            }
            .content-menu{
                box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 12%);
                background: $whiteColor;
                border-radius: 4px;
                margin-top: 4px;
                .search-box {
                    padding: 0;
                    &::before{
                        display: none;
                    }
                    img{
                        position: absolute;
                        left: 10px;
                        top: 10px;
                    }
                    .seach-input{
                        padding: 0 10px 0 35px;
                        border-bottom: 1px solid $secondaryActionColor;
                    }                    
                }
                .selected-lang-list{
                    display: flex;
                    align-items: center;
                    padding: 1px 6px;
                    cursor: pointer;
                    border-radius: 0;
                    transition: 0.2s all ease-in;
                    &:hover{
                        background: $bg-secondary-color;
                    }
                    .lang-name{
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    .note-title{
        color: $secondaryFontColor;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
    }
    .note-info{
        color: $secondaryFontColor;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }
    .button-sec{
        margin-top: 48px;
        button{
            margin-right: 10px;
        }
    }
}