
<div class="coaching-group-create-slide">
    <div class="header-sec">
        <div class="title">OpenAI Authorization</div>
        <div class="close-slider" (click)="closeEvent.emit(true)">
            <i class="icon-sa-close"></i>
        </div>
    </div>
  
    <div class="body-sec-coaching">
        <perfect-scrollbar>
            <div class="inner-scroll">
                <form>
                    <div class="kr-sg-input-text m-b-20">
                        <div class="label-text">API Key</div>
                        <input type="text" name="apiKey" placeholder="Enter your API Key" class="input-text" [formControl]="apiKey">
                        <div class="info-key">Found at View API Keys > Secret Key</div>
                    </div>
                </form>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="footer-sec">
        <div class="right-btns">
            <button class="kr-sg-button-secondary-two btn_md" (click)="closeEvent.emit(true)">Cancel</button>
            <button class="kr-sg-button-primary btn_md" type="submit" (click)="saveApi()" [disabled]="!apiKey.valid || !apiKey.dirty">{{mode === 'create' ? 'Enable' : 'Update'}}</button>
        </div>
    </div>
</div>