<div class="slider-sec-data">
    <form #newAgentGroupForm="ngForm" [ngClass]="{'submitted' : submitted}">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img src="assets/icons/agent/agent-group.svg">
                <div class="main-title">{{modalTitle}}</div>
            </div>
            <ng-container *hasPermission="['AGENT_GROUP_FULL']">
                <div *ngIf="isEditMode" (click)="deleteAgentGroup()" class="delete-agent-group">
                    <img src="assets/icons/settings/delete.svg">{{ "AGENTS.DELETE_AGENT_GROUP" | translate }}
                </div>
            </ng-container>
            <div class="close-link col-4 p-0"><img src="assets/images/close.svg"  (click)="close()"></div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="new-agent-container">   

                <div class="agent-data-inputs row col-12 p-0 kr-sg-input-text">
                    <div class="label-text">{{"AGENTS.GROUP_NAME" | translate}}</div>
                    <input type="text" [placeholder]="'AGENTS.ENTER_AGENT_GROUP_NAME' | translate" [(ngModel)]="agentGroup.name" name="name" #name="ngModel" required [readonly]="selectedAgentGrp.isDefault" class="input-text">
                    <div class="error-message" *ngIf="name?.invalid && name?.touched">
                        {{ "AGENTS.PLS_ENTER_AGENT_GROUP_NAME" | translate }}
                    </div>
                </div>              

                <div class="agent-data-inputs row col-12 p-0 kr-sg-input-text-area">
                    <div class="label-text">{{"SETTINGS.DESCRIPTION" | translate}}</div>
                    <textarea [placeholder]="'AGENTS.ENTER_AGENT_GROUP_DESC' | translate" [(ngModel)]="agentGroup.description" name="description" #description="ngModel" required class="input-text"></textarea>                                
                    <div class="error-message" *ngIf="description?.invalid && description?.touched">
                        {{ "AGENTS.PLS_ENTER_AGENT_GROUP_DESCRIPTION" | translate }}
                    </div>
                </div>

                             


                <div class="language-support-table-data">
                    <div class="title">{{"NEW.AGENTGROUP.MANAGER_GROUP" | translate}}</div>
                    <div class="col-12 row table-header-sec">
                        <div class="col-8 header-title">{{"NEW.AGENTGROUP.MANAGER" | translate}}</div>
                        <div class="col-4 header-title">{{"NEW.AGENTGROUP.ACCESS_LVL" | translate}}</div>
                    </div>
                    
                    <div class="col-12 row table-body-sec" *ngFor="let manager of addedMangers">
                        <div class="col-8 group-manager">
                            <div class="img-manager">
                                <img [src]="manager.profImage == 'no-avatar' ? 'assets/icons/agent/no-user.svg' : manager.profImage">
                            </div>
                            <div class="manager-data">
                                <div class="m-name text-truncate">{{manager?.firstName}} {{manager?.lastName}}</div>
                                <div class="m-email text-truncate">{{manager?.emailId}}</div>
                            </div>
                        </div>
                        <div class="col-4 profiency_level">
                            <div class="level-type view" [ngClass]="{'active-type': manager?.accessLevel == 'view'}" (click)="managerAccessLevelChanged(manager, 'view')">{{"LIVE_CHAT_AGENT.VIEW" | translate}}</div>
                            <div class="level-type interact" [ngClass]="{'active-type': manager?.accessLevel == 'interact'}" (click)="managerAccessLevelChanged(manager, 'interact')">{{"NEW.AGENTGROUP.INTERACT" | translate}}</div>
                            <div class="level-type full" [ngClass]="{'active-type': manager?.accessLevel == 'full'}" (click)="managerAccessLevelChanged(manager, 'full')">{{"NEW.AGENTGROUP.FULL" | translate}}</div>   
                            <div class="delete-access">
                                <img (click)="deleteManager(manager)" src="assets/icons/settings/delete.svg">
                            </div>                             
                        </div>
                    </div>
                    
                    <div class="type-skill-name-block">
                        <div class="kr-sg-dropdowns col-6 p-0">                                       
                            <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                                <button class="dropdown-toggle dropdown-input search-with-dropdown" data-bs-toggle="dropdown">{{selectedManager}}</button>    
                                <input type="text" #managerSearchTerm (input)="managerSearchTerm.value = $event.target.value" value="{{selectedManager}}" (focus)="showManagersSearchDropdown = true" class="input-search dropdown-toggle dropdown-input" autocomplete="chrome-off" placeholder="{{'PLACEHOLDERS.ADD_GROUP_MANAGER' | translate}}">                                                                                                       
                                <img src="assets/icons/search.svg" class="search-icon">
                                <ul class="dropdown-menu content-menu" [class.show]="showManagersSearchDropdown">
                                    <perfect-scrollbar class="skill-agent-dropdown-scroll">
                                        <div class="inside-data-content">
                                            <ng-container *ngIf="managersList.length; else managerElseBlock">
                                                <li (click)="onClickManager(manager); managerSearchTerm.value = selectedManager;" *ngFor="let manager of managersList | filter: [ managerSearchTerm.value, 'firstName']">
                                                    <div class="agent-img-block">
                                                        <div class="user-online away"></div>
                                                        <div class="user-online"></div>                                            
                                                        <img *ngIf="manager.profImage != 'no-avatar'" [src]="manager.profImage">
                                                        <img *ngIf="manager.profImage == 'no-avatar'" src="assets/icons/agent/no-user.svg">
                                                    </div>
                                                    <div class="content-block">
                                                        <div class="agent-name">{{manager.firstName}} {{manager.lastName}}</div>
                                                        <div class="agent-email">{{manager.emailId}}</div>
                                                    </div>
                                                </li>
                                            </ng-container>
                                            <ng-template #managerElseBlock>
                                                <li>
                                                    <a>{{"NEW.AGENTGROUP.NO_MANAGER" | translate}}</a>
                                                </li>
                                            </ng-template>
                                        </div>       
                                    </perfect-scrollbar>
                                </ul>
                            </div>                        
                        </div>
                    </div>
                </div>
                    
            </div>
        </perfect-scrollbar>
        <div class="footer-sec" *hasPermission="['AGENT_GROUP_FULL']">
            <button class="kr-sg-button-primary btn_lg" type="submit" (click)="saveAgentGroup(newAgentGroupForm.invalid)">{{"BUTTONS.SAVE" | translate}}</button>
        </div>
    </form>
</div>