<div class="non-intent-wrapper">
    <div class="header-sec">
        <div class="left-sec">
            <img src="assets/icons/coaching/coaching--message-check-square.svg">
            <span>Pre-Build</span>
        </div>
        <div class="close-slider">
            <i class="icon-sa-close"></i>
        </div>
    </div>
    <div class="body-wrapper">
        <div class="utterance-block">
            <div class="top-heading-info">
                <p>None intent utterances are used to prevent false positives while doing intent recognition....</p>
                <div class="seach-block">
                    <div class="kr-sg-input-text">
                        <input type="text" placeholder="Search" class="input-text">
                        <i class="icon-coaching--search"></i>
                        <span class="press-enter">Press Enter to confirm search</span>
                    </div>
                    <button class="kr-sg-button-primary btn_lg">Add Utterance(s)</button>
                </div>
            </div>
            <div class="added-uterances-blk">
                <perfect-scrollbar>
                    <div class="pading-blk">
                        <ng-container *ngIf="true">
                            <div class="utt-text">
                                <span>How much does it cost.</span>
                                <div class="delete-utt">
                                    <i class="icon-sa-welcome-delete"></i>
                                </div>
                            </div>
                            <div class="utt-text">
                                <span>How much does it cost.</span>
                                <div class="delete-utt">
                                    <i class="icon-sa-welcome-delete"></i>
                                </div>
                            </div>
                            <div class="utt-text">
                                <span>How much does it cost.</span>
                                <div class="delete-utt">
                                    <i class="icon-sa-welcome-delete"></i>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="false">
                            <div class="empty-search">
                                <div class="img-block-empty">
                                    <img src="assets/icons/empty-search-add.svg">
                                </div>
                                <h1>No results found</h1>
                                <p>No results found for your query “How”</p>
                            </div>
                        </ng-container>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="add-utterance-block">
            <h1>Add Utterances</h1>
            <div class="utt-radio-block">
                <div class="radio-block-content active-check">
                    <div class="kr-sg-radiobutton">
                        <input id="radio-1" name="radio" class="radio-custom" type="radio">
                        <label for="radio-1" class="radio-custom-label">
                            <div class="title">AI Assist</div>
                            <div class="desc-text">Select rules and generate more utterances for the rule with AI</div>
                        </label>
                    </div> 
                    <div class="add-rule-block">
                        <div class="label-text">Add Rules</div>
                        <!-- <input type="text" placeholder="Select Rules"> -->

                        <mat-form-field class="example-chip-list m-b-15">
                            <!-- <mat-label>Add Tags</mat-label> -->
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (removed)="remove(tag.name)">
                                    <span class="chip-name text-truncate mx-w-100" title="{{tag.name}}">{{tag.name}}</span>
                                    <span class="icon-sa-close" matChipRemove *ngIf="true"></span>
                                </mat-chip>
                                <input placeholder="Add Tags" #tagInput [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false"
                                    (matChipInputTokenEnd)="add($event)" [matAutocomplete]="auto" [formControl]="tagControl"
                                    #trigger="matAutocompleteTrigger">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete">
                                <div class="mat-checkboxs">
                                    <mat-option *ngFor="let tag of filteredTagsDisplay;let i = index" [title]="tag"
                                        (click)="selectedOption(tag.name, i);$event.stopPropagation();trigger.openPanel()">
                                        <input id="checkbox-{{i}}" type="checkbox"
                                            (click)="selectedOption(tag.name, i);trigger.openPanel();$event.stopPropagation();" [value]="tag.name"
                                            [checked]="tag.checked">
                                            <div class="label-check text-truncate" for="checkbox-{{i}}">
                                                <span>{{tag.name}}</span>
                                            </div>                            
                                    </mat-option>
                                </div>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div> 
                </div>
                <div class="radio-block-content">
                    <div class="kr-sg-radiobutton">
                        <input id="radio-11" name="radio" class="radio-custom" type="radio">
                        <label for="radio-11" class="radio-custom-label">
                            <div class="title">Input Utterances Manually</div>
                            <div class="desc-text">Type Utterances and press enter to Add</div>
                        </label>
                    </div> 
                    <div class="add-rule-block">
                        <div class="label-text">Utterances</div>
                        <input type="text" placeholder="Utterances">
                    </div> 
                </div>
            </div>
        </div>
        <div class="found-details-info d-none">
            <div class="seach-block">
                <div class="kr-sg-input-text">
                    <input type="text" placeholder="Search" class="input-text">
                    <i class="icon-coaching--search"></i>
                </div>
            </div>
            <div class="found-body-utterances">
                <perfect-scrollbar>
                    <div class="found-text-block">
                        <div class="found-ai-count">
                            <i class="icon-coaching--ai"></i>
                            <span>Found 146</span>
                        </div>
                        <div class="found-desc">Similar utterances with the same meaning</div>
                   </div>
                    <div class="found-items-scroll">
                        <div class="select-all">
                            <div class="kr-sg-checkbox">
                                <input id="one" class="checkbox-custom" type="checkbox">
                                <label for="one" class="checkbox-custom-label">SELECT ALL</label>
                            </div>                            
                        </div>
                        <ng-container>
                            <div class="item-data-found">
                                <div class="kr-sg-checkbox">
                                    <input id="one" class="checkbox-custom" type="checkbox">
                                    <label for="one" class="checkbox-custom-label">I can’t afford this</label>
                                </div>                            
                            </div>
                        </ng-container>
                    </div>
                    <div class="ai-working-loader">
                        <div class="loader-round"></div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div class="footer-wraper">
        <button class="kr-sg-button-secondary btn_lg">Cancel</button>
        <button class="kr-sg-button-primary btn_lg">Add Selected</button>
    </div>
</div>
