@import "./../../../../scss/variables/variables.scss";

.non-intent-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    .header-sec{
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--kore-grey-kore-grey-light-2, #F0F1F2);
        background: var(--kore-grey-kore-white, #FFF);
        height: 44px;
        padding: 10px;
        flex-shrink: 0;
        .left-sec{
            display: flex;
            align-items: center;
            gap: 3px;
            width: 100%;
            img{
                width: 20px;
                height: 20px;
            }
            span{
                color: var(--gray-modern-600, #4B5565);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }
            .sub-title{
                font-weight: 400;
                line-height: 25px;
                color: #667085;
                border-bottom: 1px dashed #98a2b3;
                padding: 0 2px 4px;
                min-height: 30px;
            }
        }
        .close-slider{
            flex-shrink: 0;
            cursor: pointer;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }
    }
    .body-wrapper{
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
        display: flex;
        .utterance-block{
            height: 100%;
            width: 506px;
            display: flex;
            flex-direction: column;
            .empty-search{
                display: flex;
                flex-direction: column;
                height: calc(100vh - 300px);
                justify-content: center;
                align-items: center;
                .img-block-empty{
                    margin-bottom: 16px;
                }
                h1{
                    color: var(--neutral-400, #A3A3A3);
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    margin: 0 0 8px 0;
                }
                p{
                    color: var(--neutral-400, #A3A3A3);
                    text-align: center;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
            .top-heading-info{
                padding: 12px 12px 0px 12px;
                flex-shrink: 0;
                p{
                    color: var(--neutral-500, #737373);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px;
                    text-align: center;
                    padding: 0 106px;
                    word-wrap: break-word;
                    margin-bottom: 15px;
                }
                .seach-block{
                    padding: 8px 28px 18px 28px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .kr-sg-input-text{
                        input{
                            border-radius: 8px !important;
                            border: 1px solid var(--gray-300, #D0D5DD);
                            background: var(--base-white, #FFF);
                            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                            padding: 8px 12px 8px 34px;
                            height: 36px;
                        }
                        .press-enter{
                            color: var(--primary-colors-gray-400, #98A2B3);
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 16px;
                            position: absolute;
                            bottom: -18px;
                            left: 0;
                        }
                        .icon-coaching--search{
                            position: absolute;
                            left: 12px;
                            top: 10px;
                            color: #667085;
                            font-size: 16px;
                        }
                    }
                    button{
                        flex-shrink: 0;
                    }
                }
            }
            .added-uterances-blk{
                flex: 1 1 auto;
                height: 100%;
                overflow: auto;
                .pading-blk{
                    padding: 0 20px 20px 20px;
                    .utt-text{
                        display: flex;
                        height: 55px;
                        padding: 16px 8px 16px 24px;
                        align-items: center;
                        gap: 12px;
                        border-bottom: 1px solid var(--gray-200, #EAECF0);
                        background: var(--base-white, #FFF);
                        span{
                            color: #101828;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .delete-utt{
                            width: 20px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            color: #F04438;
                            cursor: pointer;
                        }
                    }
                }
            }
            .ai-working-loader{
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 270px);
                .loader-round{
                    border-radius: 50%;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                    width: 42px;
                    height: 42px;
                    border: 6px solid #EAECF0;
                    border-top: 6px solid #2970FF;
                    &.dotted-round{
                        -webkit-animation: spinRound 2s linear infinite;
                        animation: spinRound 2s linear infinite;
                        border: 6px dotted #7f56d9;
                        border-top: 6px dotted #7f56d9;
                    }
                }
            }
        }
        .add-utterance-block{
            width: 500px;
            padding: 18px;
            h1{
                color: var(--gray-700, #344054);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin: 0 0 8px 0;
            }
            .utt-radio-block{
                display: flex;
                flex-direction: column;
                gap: 12px;
                .radio-block-content{
                    display: flex;
                    padding: 12px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 12px;
                    &.active-check{
                        background: var(--gray-100, #F2F4F7);
                    }
                    &.disabled-state{
                        opacity: 0.3;
                        cursor: not-allowed;
                        pointer-events: none;
                    }
                    .kr-sg-radiobutton {
                        padding: 0;
                        .radio-custom {
                            + .radio-custom-label{
                                .title{
                                    color: var(--gray-700, #344054);
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 20px;
                                }
                                .desc-text{
                                    color: var(--gray-500, #667085);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }
                        &.disable {
                            opacity: 0.3 !important;
                        }
                    }
                    .add-rule-block{
                        width: 100%;
                        display: flex;
                        padding: 12px 0px 6px 24px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        align-self: stretch;
                        .label-text{
                            color: var(--gray-700, #344054);
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                        }
                        .input-text{
                            width: 100%;
                            border-radius: 8px;
                            border: 1px solid var(--gray-300, #D0D5DD);
                            background: var(--base-white, #FFF);
                            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                            padding: 8px 12px;
                            height: 40px;
                            &::placeholder{
                                color: $placeholderColor;      
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 18px;   
                            }
                            &:focus{
                                border: solid 1px #80ACEF !important;
                                box-shadow: 0px 0px 0px 4px #E1E1FE !important;
                            }
                            &:active{
                                border: solid 1px $primaryActionHoverColor;
                            }
                            &:disabled{
                                border: solid 1px $bg-color-primary;
                                color: $secondaryFontColor;
                            }
                        }
                    }
                }
            }
        }
        .found-details-info{
            width: 500px;
            padding: 8px 12px 0px 12px;
            display: flex;
            flex-direction: column;
            .seach-block{
                padding: 8px 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                .kr-sg-input-text{
                    input{
                        border-radius: 8px !important;
                        border: 1px solid var(--gray-300, #D0D5DD);
                        background: var(--base-white, #FFF);
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                        padding: 8px 12px 8px 34px;
                        height: 36px;
                    }
                    .press-enter{
                        color: var(--primary-colors-gray-400, #98A2B3);
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 16px;
                    }
                    .icon-coaching--search{
                        position: absolute;
                        left: 12px;
                        top: 10px;
                        color: #667085;
                        font-size: 16px;
                    }
                }
            }
            .found-body-utterances{
                background: #F9FAFB;
                border-radius: 6px;
                height: 100%;
                flex: 1 1 auto;
                overflow: auto;
                .found-text-block{
                    margin-bottom: 10px;
                    .found-ai-count{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        color: #112F5B;
                        display: flex;
                        padding: 12px 12px 0px 24px;
                        margin-bottom: 6px;
                        i{
                            font-size: 14px;
                            margin-right: 10px;
                            flex-shrink: 0;
                        }
                    }
                    .found-desc{
                        padding: 0px 12px 0px 24px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #737373;
                    }
                }
                .found-items-scroll{
                    padding: 0 12px 0 24px;
                    .kr-sg-checkbox {
                        display: flex;
                        padding: 0;
                        align-items: center;
                        gap: 12px;
                        margin: 0;
                        .checkbox-custom{
                            &:checked{
                                + .checkbox-custom-label{
                                    &::before{
                                        content: "\e981";
                                        font-family: 'icomoon' !important;
                                        speak: never;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-variant: normal;
                                        text-transform: none;
                                        line-height: 1;
                                      
                                        /* Better Font Rendering =========== */
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        color: #155EEF;
                                        font-size: 12px;
                                        line-height: 16px;
                                        font-weight: 900;
                                    }
                                }
                            }
                            + .checkbox-custom-label{
                                color: var(--gray-900, #101828);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                &::before{
                                    border-radius: 4px;
                                    border: 1px solid var(--primary-600, #155EEF) !important;
                                    background: var(--primary-50, #EFF4FF) !important;
                                    background-image: none !important;
                                }
                            }
                        }
                    }
                    .select-all{
                        .kr-sg-checkbox{
                            padding: 12px 0px;
                        }
                    }
                    .item-data-found{
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #EAECF0;
                        padding: 12px 8px;
                        min-height: 44px;
                    }
                }
            }
            .ai-working-loader{
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 270px);
                .loader-round{
                    border-radius: 50%;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                    width: 42px;
                    height: 42px;
                    border: 6px solid #EAECF0;
                    border-top: 6px solid #2970FF;
                    &.dotted-round{
                        -webkit-animation: spinRound 2s linear infinite;
                        animation: spinRound 2s linear infinite;
                        border: 6px dotted #7f56d9;
                        border-top: 6px dotted #7f56d9;
                    }
                }
            }
        }
    }
    .footer-wraper{
        display: flex;
        padding: 16px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-top: 1px solid var(--gray-200, #EAECF0);
        background: var(--base-white, #FFF);
        flex-shrink: 0;
        button{
            border-radius: 8px;
        }
    }
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


::ng-deep .add-rules-chip-list{
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: var(--base-white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    padding: 4px 0px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    .mat-form-field-flex{
        padding: 0 12px;
    }
    .mat-form-field-wrapper{
        padding: 0;
        width: 100%;
        .mat-form-field-infix{
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
    .mat-input-element{
        margin: 0 !important;
        height: 31px;
        padding: 0 !important;
        border: 0 !important;
    }
    .mat-form-field-label-wrapper{
        top: -13px;
        padding-top: 10px;
        color: var(--neutral-700, #404040);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
    .mat-form-field-label{
        margin-top: 3px;
    }
    .mat-form-field-underline{
        display: none;
    }
    .mat-chip-list-wrapper{
        gap: 10px;
        margin: 0 !important;
        .mat-chip{
            margin: 0;
            border-radius: 16px;
            background: var(--primary-50, #EFF4FF) !important;
            display: flex;
            padding: 2px 6px 2px 8px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            height: auto;
            min-height: auto;
            &::after{
                display: none;
            }
            .chip-name{
                color: var(--primary-700, #004EEB);
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
            }
            .mat-chip-remove{
                width: auto;
                height: auto;
                font-size: 10px;
                opacity: 1 !important;
                margin: 0 !important;
                color: #2970FF !important;
                cursor: pointer;
            }
        }
    }
}


::ng-deep .cdk-overlay-pane{
    .mat-autocomplete-panel{
        display: flex;
        border-radius: 8px;
        border: 1px solid var(--gray-100, #F2F4F7);
        background: var(--base-white, #FFF);
        box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
        flex-direction: column;
        overflow: hidden;
        .content-scroll-ni{
            max-height: 200px;
            overflow: auto;
            flex: 1 1 auto;
            padding: 10px 20px;
            .search-block{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                .kr-sg-input-text{
                    input{
                        border-radius: 8px !important;
                        border: 1px solid var(--gray-300, #D0D5DD);
                        background: var(--base-white, #FFF);
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                        padding: 8px 12px 8px 34px;
                        height: 36px;
                    }
                    .icon-coaching--search{
                        position: absolute;
                        left: 12px;
                        top: 10px;
                        color: #667085;
                        font-size: 16px;
                    }
                }
            }
            .tags-data{
                justify-content: space-between;
                display: flex;
                padding: 8px 0px;
                align-items: center;
                gap: 13px;
                .title{
                    color: var(--neutral-900, #171717);
                    font-size: 11px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                }
                .select-all{
                    color: var(--primary-500-main, #2B75E4);
                    text-align: right;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    cursor: pointer;
                }
            }
        }
        .footer-add-cler-ni{
            border-top: 1px solid var(--gray-200, #EAECF0);
            background: var(--gray-25, #FCFCFD);
            display: flex;
            padding: 8px;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            .kr-sg-button-secondary-two{
                color: #667085;
                background: transparent !important;
                border: 0 !important;
            }
        }
        .mat-option-ni{
            margin: 0 !important;
            padding: 12px 0px !important;
            width: 100%;
            border-bottom: 1px solid var(--gray-200, #EAECF0);
            &:hover{
                background: transparent !important;
            }
            .mat-option-ripple{
                display: none;
            }
            .mat-ripple{
                display: none !important;
            }     
            .mat-option-text{
                display: flex;
                align-items: center;
                gap: 12px;
                position: relative;    
                          
                input{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    top: auto;
                    &:checked{
                        + .label-check{
                            &::before{
                                content: "\e981";
                                font-family: 'icomoon' !important;
                                speak: never;
                                font-style: normal;
                                font-weight: normal;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                                
                                /* Better Font Rendering =========== */
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: #155EEF;
                                font-size: 12px;
                                line-height: 16px;
                                font-weight: 900;
                            }
                        }
                    }
                }
                .label-check{
                    position: relative;
                    padding-left: 28px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    &::before{
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 16px;
                        height: 16px;
                        top: auto;
                        padding: 0;
                        margin-right: 12px;
                        text-align: center;
                        border-radius: 4px;
                        border: 1px solid var(--primary-600, #155EEF) !important;
                        background: var(--primary-50, #EFF4FF) !important;
                        background-image: none !important;
                        position: absolute;
                        left: 0;
                    }
                    span{
                        color: var(--gray-700, #344054);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        width: 100%;
                    }
                    .desc-text{
                        color: var(--gray-500, #667085);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        width: 100%;
                    }
                }                    
            }
        }

    }
}