<div class="non-intent-wrapper">
    <div class="header-sec">
        <div class="left-sec">
            <img src="assets/icons/coaching/coaching--message-check-square.svg">
            <span>Pre-Build</span>
        </div>
        <div (click)="closeSlider()" class="close-slider">
            <i class="icon-sa-close"></i>
        </div>
    </div>
    <div class="body-wrapper">
        <div class="utterance-block" [ngClass]="{'d-none' : clickSelectedUtter}">
            <div class="top-heading-info">
                <p>None intent utterances are used to prevent false positives while doing intent recognition....</p>
                <div class="seach-block">
                    <div class="kr-sg-input-text">
                        <input type="text" placeholder="Search" class="input-text" [(ngModel)]="selectedUtterSeach">
                        <i class="icon-coaching--search"></i>
                        <!-- <span class="press-enter">Press Enter to confirm search</span> -->
                    </div>
                    <button *ngIf="!clickAddUtter" class="kr-sg-button-primary btn_lg" (click)="clickAddUtter = true;">Add Utterance(s)</button>
                </div>
            </div>
            <div class="added-uterances-blk">
                <perfect-scrollbar #newUtteranceScroll>
                    <div class="pading-blk" #tabBody>
                        <ng-container *ngFor="let utter of selectedUtterances | filter: [ selectedUtterSeach, 'utterance']; let i = index">
                            <div class="utt-text">
                                <span [title]="utter?.utterance">{{utter?.utterance}}</span>
                                <div class="delete-utt" (click)="deleteUtterance(utter)">
                                    <i class="icon-sa-welcome-delete"></i>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let utter of newUtterances | filter: [ selectedUtterSeach] ; let i = index">
                            <div class="utt-text">
                                <span [title]="utter">{{utter}}</span>
                                <div class="delete-utt" (click)="deleteNewUtterance(utter)">
                                    <i class="icon-sa-welcome-delete"></i>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!(selectedUtterances | filter: [ selectedUtterSeach, 'utterance'])?.length && !(newUtterances | filter: [ selectedUtterSeach])?.length">
                            <div class="empty-search">
                                <ng-container *ngIf="!dataloaded">
                                    <div class="ai-working-loader">
                                        <div class="loader-round"></div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="dataloaded">
                                    <div class="img-block-empty">
                                        <img src="assets/icons/empty-search-add.svg">
                                    </div>
                                    <ng-container *ngIf="selectedUtterSeach">
                                        <h1>No results found</h1>
                                        <p>No results found for your query "{{selectedUtterSeach}}"</p>
                                    </ng-container>
                                    <ng-container *ngIf="!selectedUtterSeach">
                                        <h1>No Data found</h1>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                      
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="add-utterance-block" [ngClass]="{'d-none': !clickAddUtter}">
            <h1>Add Utterances</h1>
            <div class="utt-radio-block">
                <div class="radio-block-content" [ngClass]="{'active-check': utteranceType === coachingCnst.AIASSIST}">
                    <div class="kr-sg-radiobutton" 
                    [ngbTooltip]="!openapiEnable ? 'Configure Open AI to use AI Assist to Add Utterances' : ''"
                    [ngClass]="{'disable' : !openapiEnable}">
                        <input id="radio-1" name="radio" class="radio-custom" type="radio"
                         (change)="changeUtteranceSelectionType(coachingCnst.AIASSIST)" [checked]="utteranceType === coachingCnst.AIASSIST" 
                         [disabled]="!openapiEnable" >
                        <label for="radio-1" class="radio-custom-label">
                            <div class="title">AI Assist</div>
                            <div class="desc-text">Select rules and generate more utterances for the rule with AI</div>
                        </label>
                    </div> 
                    <div class="add-rule-block" *ngIf="utteranceType === coachingCnst.AIASSIST">
                        <div class="label-text">Add Rules</div>
                        <mat-form-field class="add-rules-chip-list">
                            <!-- <mat-label>Add Tags</mat-label> -->
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let tag of tags" [selectable]="true" [removable]="true" (removed)="remove(tag)">
                                    <span class="chip-name text-truncate mx-w-100" title="{{tag.name}}">{{tag.name}}</span>
                                    <span class="icon-sa-close" matChipRemove *ngIf="true"></span>
                                </mat-chip>
                                <input placeholder="Select Rules" #tagInput [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false"
                                    [matAutocomplete]="auto"
                                    #trigger="matAutocompleteTrigger">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete">
                                <div class="content-scroll-ni">
                                    <div class="search-block">
                                        <div class="kr-sg-input-text">
                                            <input type="text" placeholder="Search" class="input-text"  [formControl]="tagControl" name="search">
                                            <i class="icon-coaching--search"></i>
                                        </div>
                                    </div>
                                    <div class="tags-data" *ngIf="checkTagPresent() ? true : false">
                                        <div class="title">Tags</div>
                                        <div class="select-all" (click)="selectAllUtteranceType(coachingCnst.TAG, selectAllTagFlag);selectAllTagFlag = !selectAllTagFlag">{{ selectAllTagFlag ? 'Unselect All' : 'Select All' }}</div>
                                    </div>
                                    <ng-container *ngFor="let tag of filteredTagsDisplay;let i = index">
                                        <ng-container *ngIf="tag?.name">
                                            <mat-option class="mat-option-ni" [title]="tag?.name" *ngIf="tag.type == coachingCnst.TAG"
                                                (click)="selectedOption(tag, i);trigger.openPanel();$event.stopPropagation();">
                                    
                                                <input id="checkbox-{{i}}" type="checkbox"
                                                    (click)="selectedOption(tag, i);trigger.openPanel();$event.stopPropagation();" [value]="tag.name"
                                                    [checked]="tag.checked">
                                                <div class="label-check text-truncate" for="checkbox-{{i}}">
                                                    <span>{{tag?.name}}</span>
                                                    <div class="desc-text">{{tag?.value?.length}} rules</div>
                                                </div>
                                            </mat-option>
                                        </ng-container>
                                    </ng-container>
                                    <div class="tags-data" *ngIf="checkRulePresent() ? true  : false">
                                        <div class="title">Rules</div>
                                        <div class="select-all" (click)="selectAllUtteranceType(coachingCnst.RULE, selectAllRuleFlag);selectAllRuleFlag = !selectAllRuleFlag">{{ selectAllRuleFlag ? 'Unselect All' : 'Select All' }}</div>
                                    </div>
                                    <ng-container *ngFor="let tag of filteredTagsDisplay;let i = index">
                                        <mat-option class="mat-option-ni" [title]="tag.name" *ngIf="tag.type == coachingCnst.RULE"
                                            (click)="selectedOption(tag, i);$event.stopPropagation();trigger.openPanel()">
                                
                                            <input id="checkbox-{{i}}" type="checkbox"
                                                (click)="selectedOption(tag, i);trigger.openPanel();$event.stopPropagation();" [value]="tag.name"
                                                [checked]="tag.checked">
                                            <div class="label-check text-truncate" for="checkbox-{{i}}">
                                                <span>{{tag.name}}</span>
                                            </div>
                                        </mat-option>
                                    </ng-container>

                                    <mat-option class="d-none">avoid closing matautocomplete on search

                                    </mat-option>
                                </div>
                                <div class="footer-add-cler-ni">
                                    <button class="kr-sg-button-secondary-two btn_lg" (click)="clearChipData()">Clear</button>
                                    <button class="kr-sg-button-primary btn_lg" (click)="addRuleData()">Add</button>
                                </div>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div> 
                </div>
                <div class="radio-block-content" [ngClass]="{'active-check': utteranceType === coachingCnst.MANUAL}">
                    <div class="kr-sg-radiobutton">
                        <input id="radio-11" name="radio" class="radio-custom" type="radio"
                        (change)="changeUtteranceSelectionType(coachingCnst.MANUAL)" [checked]="utteranceType === coachingCnst.MANUAL">
                        <label for="radio-11" class="radio-custom-label">
                            <div class="title">Input Utterances Manually</div>
                            <div class="desc-text">Type Utterances and press enter to Add</div>
                        </label>
                    </div> 
                    <div class="add-rule-block" *ngIf="utteranceType === coachingCnst.MANUAL">
                        <div class="label-text">Utterances</div>
                        <input type="text" (keydown.enter)="onEnter()" [(ngModel)]="customUtterance" placeholder="Utterances" class="input-text">
                    </div> 
                </div>
            </div>
        </div>
        <div class="found-details-info" [ngClass]="{'d-none' : !clickSelectedUtter || utteranceType === coachingCnst.MANUAL}">
            <div class="seach-block">
                <div class="kr-sg-input-text">
                    <input type="text" placeholder="Search" class="input-text" [formControl]="selUtteranceControl">
                    <i class="icon-coaching--search"></i>
                </div>
            </div>
            <div class="found-body-utterances">
                <perfect-scrollbar>
                    <ng-container *ngIf="!loading;else loaded">
                        <div class="found-text-block">
                            <div class="found-ai-count">
                                <i class="icon-coaching--ai"></i>
                                <span>Found {{ruleUtterances.length}}</span>
                            </div>
                            <div class="found-desc">Similar utterances with the same meaning</div>
                       </div>
                        <div class="found-items-scroll">
                            <div class="select-all" *ngIf="ruleUtterances.length > 0">
                                <div class="kr-sg-checkbox">
                                    <input id="one" class="checkbox-custom" type="checkbox" [checked]="checkSelectedUtterance() ? true : false" (change)="selectAllUtterances($event)">
                                    <label for="one" class="checkbox-custom-label">SELECT ALL</label>
                                </div>                            
                            </div>
                            <ng-container *ngFor="let item of ruleUtterances; let i = index">
                                <div class="item-data-found">
                                    <div class="kr-sg-checkbox">
                                        <input id="one-{{i}}" class="checkbox-custom" type="checkbox" [checked]="item.checked" (change)="removeSelectedUtterances(item, i)">
                                        <label for="one-{{i}}" class="checkbox-custom-label">{{item.name}}</label>
                                    </div>                            
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-template #loaded>
                        <div class="found-text-block">
                            <div class="found-ai-count">
                                <i class="icon-coaching--ai"></i>
                                <span>WORKING...</span>
                            </div>
                       </div>
                        <div class="ai-working-loader">
                            <div class="loader-round"></div>
                        </div>
                    </ng-template>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div class="footer-wraper">
        <button class="kr-sg-button-secondary btn_lg" (click)="closeSlider()">Cancel</button>
        <button class="kr-sg-button-primary btn_lg" (click)="save()" [disabled]="newUtterances.length <= 0 && deletedUtterances.length <=0" *ngIf="!clickSelectedUtter">Save</button>

        <button class="kr-sg-button-primary btn_lg" (click)="addSelectedUtteranceList()" [disabled]="!checkAddSelectedButtonState() ? true : false" *ngIf="clickSelectedUtter && utteranceType === coachingCnst.AIASSIST">Add Selected</button>
    </div>
</div>