@import './../../../scss/variables/variables.scss';

.warning-wrpper-data{
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    padding: 36px 60px 36px 36px;
    position: relative;
    .close-warning{
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 1;
        cursor: pointer;
        font-size: 14px;
    }
    .img-block{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .content-block{
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        h1{
            color: var(--neutral-900, #171717);
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: -0.48px;
            margin: 0;
        }
        p{
            color: var(--neutral-500, #737373);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }

    }
}
