@import './../../../../scss/variables/variables.scss';
.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);             
    }    
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
    .label-text{
        color: $primaryFontColor;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 7px;
        &.v-hidden{
            visibility: hidden;
        }
    }   
    .confirm-dialog-bottom{
        background: $whiteColor;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        position: absolute;
        bottom: 0px;
        padding: 40px 70px;
        z-index: 99;
        transform: translateY(100%);
        transition: 1s all ease;
        .main-title{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 22px;
            line-height: 34px;
            margin-bottom: 8px;
        }
        .desc_info{
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #605E5C;
        }
        .kr-sg-input-text{
            width: 340px;
            margin: 20px 0;
        }
        .btn_sec{
            margin-top: 20px;
        }
    }

    // bot association styles
    .bot-selection-container{
        width: 100%;  
        padding: 0 70px;     
        .selected-bot-data{
            padding: 30px 0 5px 0;
        }
        .container-selection-bots{
            padding: 30px 0;                                  
            .c-body-sec{                                    
                .label-text{
                    color: $primaryFontColor;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    margin-bottom: 4px;
                }
                .kr-sg-input-search{                   
                    margin-bottom: 15px;
                    .input-search{
                        padding: 4px 30px 4px 10px;
                    }  
                    .search-icon{
                        right: 15px;
                        top: 10px;
                        width: auto;
                        height: auto;
                    }              
                }  
                .empty-container-sec{
                    text-align: center;
                    padding: 50px 0;
                }              
            }            
        }
        .bots-cards{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
            .b-card{
                background: $whiteColor;
                border: 1px solid #D7D6DF;
                box-sizing: border-box;
                border-radius: 4px;
                width: 260px;
                height: 82px;
                margin: 5px;
                display: flex;
                align-items: center;
                padding: 20px 15px;
                transition: 0.2s all ease-in;
                cursor: pointer;
                &:hover{
                    border: 1px solid $highlightFocusColor;
                }
                .img_sec{
                    margin-right: 15px;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .info-titles{
                    .bot-name{
                        color: $primaryFontColor;
                        letter-spacing: 0.02em;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 9px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 188px;
                    }
                    .bot-desc{
                        color: $descFontColor;
                        letter-spacing: 0.02em;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 188px;
                    }
                }
            }
        }
    }

    // voice preferecence layout styles
    .voice-preference-container{
        padding: 30px 60px 30px 70px;
        .kr-sg-dropdowns{
            margin-bottom: 30px;
        }
        .left-sec{
            padding-right: 10px;

            .dialectDropDown {
                perfect-scrollbar{
                    max-height: calc(100vh - 485px);
                }
            }
        }
        .right-sec{
            padding: 0 10px 0 0;
            .kr-sg-dropdowns{
                padding-right: 10px;                
            }
            .preview-audio-content{
                padding-right: 10px;
                perfect-scrollbar{
                    height: calc(100vh - 285px);
                    padding-right: 10px;
                }
                .kr-sg-input-text-area{
                    textarea{
                        background: rgb(255, 255, 255);
                        border: 0.5px solid rgb(189, 193, 198);
                        border-radius: 8px;
                        padding: 30px;
                        text-align: left;
                        min-height: 150px;
                        margin: 0px;
                        resize: vertical;
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 17px;
                    }
                }
                .audio-controls-preview-btn{
                    .kr-sg-button-primary{
                        width: 150px;
                        padding: 0 5px;
                    }
                    audio{
                        width: 100%;
                        margin: 10px 0 10px 10px;
                        height: 36px;
                        outline: 0 !important;
                    }
                }                
                .naunce-sec-data{
                    position: relative;
                    // margin-top: 25px;
                    .img-block{
                        position: relative;
                        left: -36px;
                        img{
                            width: 100%;
                        }
                    }
                    .text-block{
                        position: absolute;
                        top: 10px;
                        right: 16px;
                        width: 174px;
                        .title{
                            color: $primaryFontColor;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 18px;
                        }
                        .desc-text{
                            color: $descFontColor;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 36px;
                        }
                        .naunce-btn{
                            border: 1px solid $primaryActionColor;
                            border-radius: 4px;
                            display: inline-block;
                            padding: 6px 12px 6px 18px;
                            color: $primaryActionColor;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            cursor: pointer;
                            img{
                                margin-left: 14px;
                            }
                        }
                    }
                }
                .info-naunce{
                    background: $hoverImgcolor;
                    border: 1px solid #85B7FE;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 10px 4px;
                    align-items: center;
                    margin: 30px 0 15px 0;
                    .info-img{
                        margin-right: 6px;
                    }
                    .info-text{
                        color: #07377F;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
            .voice-audio-data{
                margin-top: 20px;
                .kr-sg-dropdowns{
                    .dropdown-open{
                        .dropdown-input{
                            background: #E7EAEE;
                            border-radius: 5px 5px 0px 0px;
                            border: 0;
                            font-weight: 600;
                            font-size: 12px;
                        }
                        .content-menu {
                            .search-box {
                                padding: 0;
                                &::before{
                                    display: none;
                                }
                                img{
                                    position: absolute;
                                    left: 10px;
                                    top: 10px;
                                }
                                .seach-input{
                                    padding: 0 10px 0 35px;
                                    border-bottom: 1px solid $secondaryActionColor;
                                }                    
                            }
                            perfect-scrollbar{
                                max-height: 250px;
                                height: auto;
                                .scroll-data{
                                    max-height: 250px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                perfect-scrollbar{
                    max-height: calc(100vh - 590px);
                    // height: max-content;
                    padding-right: 10px;
                }
                .audio-data{
                    background: $utteraneHovercolor;
                    border-radius: 0px 0px 8px 8px;
                    padding: 30px;
                    position: relative;
                    .empty-text-title{
                        position: absolute;
                        right: 25px;
                        top: 0;
                        bottom: 0;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        font-style: italic;
                        width: 101px;
                    }
                    .audio-clip{
                        display: flex;
                        background: #E7EAEE;
                        min-height: 36px;
                        border-radius: 25px;
                        padding: 3px;
                        align-items: center;
                        margin-bottom: 10px;
                        transition: .5s all ease-in;
                        position: relative;
                        .status-check{
                            position: absolute;
                            right: 0;
                            &.blue-check{
                                display: block;
                            }
                            &.white-check{
                                display: none;
                            }
                        }
                        &:hover{
                            background: $borderColor;
                            .status-check{                               
                                &.blue-check{
                                    display: block;
                                }
                                &.white-check{
                                    display: block;
                                }
                            }
                        }
                        .btn-play-pause{
                            background: #2196F3;
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 15px;
                            img{
                                cursor: pointer;
                            }
                        }
                        .clip-title{
                            color: $primaryFontColor;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}

.f-weight-600{
    font-weight: 600 !important;
}
.pl-36{
    padding-left: 36px !important;
}

.please-wait-all {
    position: absolute;
    top: 40%;
    left: 48%;
    box-shadow: 0 5px 10px 0 #e9eff5;
    background: transparent;
    width: 105px;
    height: 36px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.8;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: $primaryFontColor;
        top: -20px;
        left: 25px;
        font-size: 12px;
    }  
}