
<!-- this is voice preference html layout you can copy and paste in another slider -->
<div class="slider-sec-data">
    <div class="header-sec row m-0">
        <div class="lef-sec col-8 p-0 d-flex align-items-center">
            <img src="assets/icons/arrow-back.svg" class="cursor-pointer" (click)="close()">
            <span class="main-title">{{'SETTINGS.SPEECH_RECOGNITION' | translate}}</span>
        </div>
        <div class="close-link col-4 p-0" (click)="close()"><img src="assets/images/close.svg"></div>
    </div>
    <div *ngIf="!loading" [@fadeInAnimation]>
        <perfect-scrollbar class="scroll-content">
            <div class="row m-0 col-12 voice-preference-container">
                <div class="kr-sg-dropdowns">
                    <div class="label-text font-weight-bold show-info-icon">{{'SETTINGS.SPEECH_RECOGNITION_PREFERENCE' | translate}}</div>
                    <div class="dropdown dropdown-open">
                          <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">{{ voicePreferences.asrPreference || "select"}}</button>
                          <ul class="dropdown-menu content-menu">
                            <li class="search-box">
                                <input type="text" placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}" class="seach-input" name="preferenceCodeSearchTerm" #preferenceCodeSearchTerm (input)="preferenceCodeSearchTerm.value = $event.target.value">
                            </li>
                            <ng-container *ngFor="let preference of asrPreferences | filter: [ preferenceCodeSearchTerm.value, 'asrProvider']">
                                <li (click) ="selectedSpeechPreferences(preference); preferenceCodeSearchTerm.value=''" *ngIf="preference.asrProvider !== voicePreferences.asrPreference"><a>{{preference.asrProvider}}</a></li>
                            </ng-container>
                          </ul>
                    </div>
                </div>
                <div class="aa-voice-audio-data">
                    <div class="label-text">{{'SELECT_PREFERRED_LANGUAGE' | translate}}</div>
                        <div class="kr-sg-dropdowns">
                            <div class="dropdown dropdown-open open">
                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">{{selectedTTSLanguage?.displayName}}</button>                                            
                                <ul class="dropdown-menu content-menu">
                                    <li class="search-box">
                                        <input type="text" placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}" class="seach-input" #voiceLangSearchTerm (input)="voiceLangSearchTerm.value = $event.target.value">
                                        <img src="assets/icons/search_gray.svg">
                                    </li>
                                    <perfect-scrollbar>
                                        <div class="scroll-data">
                                            <ng-container  *ngFor="let lang of ttsLanguages | filter: [ voiceLangSearchTerm.value, 'displayName']">
                                                <li (click)="selectedVoiceLanguage(lang); voiceLangSearchTerm.value = ''" *ngIf="lang.languagePreference !== selectedTTSLanguage?.languagePreference"><a>{{lang.displayName}}</a></li>
                                            </ng-container>
                                        </div>
                                    </perfect-scrollbar>                                    
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="kr-sg-dropdowns">
                    <div class="label-text show-info-icon">Dialect</div>
                    <div class="dropdown dropdown-open dialectDropDown">
                          <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" [disabled]="!dialects.length">{{ selectedDialect || "select"}}</button>
                          <ul class="dropdown-menu content-menu">
                            <li class="search-box">
                                <input type="text" placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}" class="seach-input" name="dialectSearchTerm" #dialectSearchTerm (input)="dialectSearchTerm.value = $event.target.value">
                            </li>
                            <perfect-scrollbar class="mx-h-200">
                                <ng-container *ngFor="let dialect of dialects | filter: [ dialectSearchTerm.value, 'name']">
                                    <li (click) ="selectedDialect = dialect.name; dialectSearchTerm.value=''" *ngIf="dialect.name !== selectedDialect"><a>{{dialect.name}}</a></li>
                                </ng-container>
                            </perfect-scrollbar>
                          </ul>
                    </div>
                </div>
                <div class="call-control-parameters">
                    <button class="kr-sg-button-primary btn_lg" (click)="openCallControlParameter(newCallControlParameter)">Add</button>
                    <div class="heading-text">Call Control Parameters <i class="icon-sa-help"></i></div>
                    <div class="desc-text">Define the parameters to control call behavior</div>
                    <ng-container>
                        <!-- <div class="added-parameters-data">
                            <div class="kr-sg-input-text">
                                <div class="label-text">Name</div>
                                <input type="text" placeholder="Placeholder text" class="input-text">
                            </div>
                            <div class="kr-sg-input-text">
                                <div class="label-text">Value</div>
                                <input type="text" placeholder="Placeholder text" class="input-text">
                            </div>
                            <button class="delete-parameter">
                                <i class="icon-sa-delete"></i>
                            </button>
                        </div> -->
                        <ng-container *ngFor="let item of addedParams; let i = index">
                            <div class="added-parameters-data">
                                <!-- <div class="kr-sg-dropdowns m-0">
                                    <div class="label-text">Name</div>
                                    <div class="dropdown dropdown-open dialectDropDown">
                                          <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">{{item.name}}</button>
                                          <ul class="dropdown-menu content-menu">
                                            <perfect-scrollbar class="mx-h-200">
                                                <ng-container *ngFor="let item of alreadyAdded; let cI = index">
                                                    <li (click)="replace(i, cI)">
                                                        <a>{{item.name}}</a>
                                                    </li>
                                                </ng-container>
                                            </perfect-scrollbar>
                                          </ul>
                                    </div>
                                </div> -->
                                <div class="kr-sg-input-text">
                                    <div class="label-text">Name</div>
                                    <input type="text" disabled placeholder="Enter Name" [(ngModel)]="item.name"  class="input-text">
                                    <!-- <div class="press-enter-text">Press [Enter] to save</div> -->
                                </div>
                                <div class="kr-sg-input-text">
                                    <div class="label-text">Value</div>
                                    <input type="text" placeholder="Enter Value" [(ngModel)]="item.value" (keyup.enter)="entered(i, $event.target.value)" class="input-text">
                                    <!-- <div class="press-enter-text">Press [Enter] to save</div> -->
                                </div>
                                <button class="delete-parameter" (click)="deleteParam(i)">
                                    <i class="icon-sa-delete"></i>
                                </button>
                            </div>
                        </ng-container>
                        <!-- <div class="added-parameters-data">
                            <div class="kr-sg-dropdowns m-0">
                                <div class="label-text">Name</div>
                                <div class="dropdown dropdown-open dialectDropDown">
                                      <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Select Parameter</button>
                                      <ul class="dropdown-menu content-menu">
                                        <perfect-scrollbar class="mx-h-200">
                                            <ng-container *ngFor="let item of alreadyAdded; let i = index">
                                                <li (click)="template(i)">
                                                    <a>{{item.name}}</a>
                                                </li>
                                            </ng-container>
                                        </perfect-scrollbar>
                                      </ul>
                                </div>
                            </div>
                            <div class="kr-sg-input-text">
                                <div class="label-text">Value</div>
                                <input type="text" placeholder="Enter Value" class="input-text">
                            </div>
                        </div> -->
                    </ng-container>
                </div>
            </div>
        </perfect-scrollbar>   
        <div class="confirm-dialog-bottom" *ngIf="showConfirmation">
            <div class="main-title">{{"NOTIFY.ARE_YOU_SURE" | translate}} </div>
            <div class="desc_info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>        
            <div class="btn_sec">
                <button class="kr-sg-button-primary btn_lg mr-2" (click)="showConfirmation = false; configureVoicePreferenaces()">{{"BUTTONS.DONE" | translate}}</button>        
                <button class="kr-sg-button-secondary btn_lg ml-1" (click)="showConfirmation = false">{{"BUTTONS.CANCEL" | translate}}</button>        
            </div>
        </div>
        <div class="footer-sec" *ngIf="workflowService.appState !== 'published'">            
            <button class="kr-sg-button-secondary-two btn_lg mr-2">Cancel</button>    
            <button class="kr-sg-button-primary btn_lg" [disabled]="saveInProgress || (dialects.length && !selectedDialect)" (click)="configureVoicePreferenaces()">{{(saveInProgress? 'BUTTONS.SAVING': 'BUTTONS.SAVE') | translate}}</button>    
        </div>
    </div>

    <div class="please-wait-all" *ngIf="loading" [@fadeInAnimation] [@fadeInOutAnimation]>
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">{{'NOTIFY.PLEASE_WAIT' | translate}}</span>
    </div>
    
</div>




<ng-template #newCallControlParameter let-modal>
    <div class="modal-header">
        <h4 class="modal-title">New Call Control Parameter</h4>
    </div>
    <div class="modal-body" [formGroup]="newKeyValueForm">
        <div class="kr-sg-input-text m-b-15">
            <div class="label-text">Name</div>
            <input type="text" formControlName="name" placeholder="Enter Parameter" class="input-text">
            <!-- {{newKeyValueForm.controls['name'].errors | json}} -->
            <p *ngIf="newKeyValueForm.controls['name'].errors?.error" class="error">Name already exists.</p>
        </div>
        <div class="kr-sg-input-text">
            <div class="label-text">Value</div>
            <input type="text" formControlName="value" placeholder="Enter Parameter" class="input-text">
        </div>
    </div>
    <div class="modal-footer">
      <button class="kr-sg-button-secondary-two btn_lg" (click)="closeCallControlParameter()">Cancel</button>
      <button class="kr-sg-button-primary btn_lg" [disabled]="!newKeyValueForm.valid || !newKeyValueForm.value?.name?.trim() || !newKeyValueForm.value?.value?.trim()" (click)="save()">Confirm</button>
    </div>
</ng-template>