
<!-- this is voice preference html layout you can copy and paste in another slider -->
<div class="slider-sec-data">
    <div class="header-sec row m-0">
        <div class="lef-sec col-8 p-0 d-flex align-items-center">
            <img src="assets/icons/arrow-back.svg" class="cursor-pointer" (click)="close()">
            <span class="main-title">{{'SETTINGS.SPEECH_RECOGNITION' | translate}}</span>
        </div>
        <div class="close-link col-4 p-0" (click)="close()"><img src="assets/images/close.svg"></div>
    </div>
    <div *ngIf="!loading" [@fadeInAnimation]>
        <perfect-scrollbar class="scroll-content">
            <div class="row m-0 col-12 voice-preference-container">
                <div class="col-6 pr-0 left-sec">
                    <div class="kr-sg-dropdowns">
                        <div class="label-text font-weight-bold show-info-icon">{{'SETTINGS.SPEECH_RECOGNITION_PREFERENCE' | translate}}</div>
                        <div class="dropdown dropdown-open">
                              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">{{ voicePreferences.asrPreference || "select"}}</button>
                              <ul class="dropdown-menu content-menu">
                                <li class="search-box">
                                    <input type="text" placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}" class="seach-input" name="preferenceCodeSearchTerm" #preferenceCodeSearchTerm (input)="preferenceCodeSearchTerm.value = $event.target.value">
                                </li>
                                <ng-container *ngFor="let preference of asrPreferences | filter: [ preferenceCodeSearchTerm.value, 'asrProvider']">
                                    <li (click) ="selectedSpeechPreferences(preference); preferenceCodeSearchTerm.value=''" *ngIf="preference.asrProvider !== voicePreferences.asrPreference"><a>{{preference.asrProvider}}</a></li>
                                </ng-container>
                              </ul>
                        </div>
                    </div>

                    <div class="kr-sg-dropdowns">
                        <div class="label-text show-info-icon">Dialect</div>
                        <div class="dropdown dropdown-open dialectDropDown">
                              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" [disabled]="!dialects.length">{{ selectedDialect || "select"}}</button>
                              <ul class="dropdown-menu content-menu">
                                <li class="search-box">
                                    <input type="text" placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}" class="seach-input" name="dialectSearchTerm" #dialectSearchTerm (input)="dialectSearchTerm.value = $event.target.value">
                                </li>
                                <perfect-scrollbar>
                                    <ng-container *ngFor="let dialect of dialects | filter: [ dialectSearchTerm.value, 'name']">
                                        <li (click) ="selectedDialect = dialect.name; dialectSearchTerm.value=''" *ngIf="dialect.name !== selectedDialect"><a>{{dialect.name}}</a></li>
                                    </ng-container>
                                </perfect-scrollbar>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>   
        <div class="confirm-dialog-bottom" *ngIf="showConfirmation">
            <div class="main-title">{{"NOTIFY.ARE_YOU_SURE" | translate}} </div>
            <div class="desc_info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>        
            <div class="btn_sec">
                <button class="kr-sg-button-primary btn_lg mr-2" (click)="showConfirmation = false; configureVoicePreferenaces()">{{"BUTTONS.DONE" | translate}}</button>        
                <button class="kr-sg-button-secondary btn_lg ml-1" (click)="showConfirmation = false">{{"BUTTONS.CANCEL" | translate}}</button>        
            </div>
        </div>
        <div class="footer-sec" *ngIf="workflowService.appState !== 'published'">
            <button class="kr-sg-button-primary btn_lg mr-2" [disabled]="saveInProgress" (click)="configureVoicePreferenaces()">{{(saveInProgress? 'BUTTONS.SAVING': 'BUTTONS.DONE') | translate}}</button>        
        </div>
    </div>

    <div class="please-wait-all" *ngIf="loading" [@fadeInAnimation] [@fadeInOutAnimation]>
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">{{'NOTIFY.PLEASE_WAIT' | translate}}</span>
    </div>
    
</div>

