<div class="utterance-triggers">
    <span class="utt-name-desc">Hint agent with this </span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" [ngClass]="{'text-choosen': !!selMsgType}" ngbDropdownToggle>
            <span class="choose-text">{{selMsgType ? selMsgType : '{ Choose }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngFor="let type of msgTypes">
                <li ngbDropdownItem class="list-item-li" (click)="selectMsgType(type.type)">
                    <span class="bg-action {{type.class}}"></span>
                    <span class="title">{{type.type}}</span>
                </li>
            </ng-container>
        </ul>
    </div>

    <span class="utt-name-desc">message with this title</span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" [ngClass]="{'text-choosen': !!title}" ngbDropdownToggle>
            <span class="choose-text">{{ title ? title : '{ Choose }' }}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            
            <div class="variable-value-input with-check-icon">
                <div class="input-variable-sec">
                    <div class="label-text">Title</div>
                    <div class="kr-sg-input-text">
                        <span class="info-tip" tooltipClass="tooltip-global-styles" ngbTooltip="Tooltip info">
                            <i class="icon-sa-help"></i>
                        </span>
                        <input type="text" placeholder="Placeholder text"
                            class="input-text" maxlength="42" [(ngModel)]="variableName">
                    </div>
                    <div class="count-char">{{variableName.length}}/42</div>
                </div>
                <div class="check-icon-block" (click)="submitVariable()">
                    <i class="icon-sa-conv-check"></i>
                </div>
            </div>
        </ul>
    </div>

    <span class="utt-name-desc">and body</span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" [ngClass]="{'text-choosen': !!bodyMsg}" ngbDropdownToggle>
            <span class="choose-text">{{bodyMsg ? bodyMsg : '{ Choose }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngTemplateOutlet="body;"></ng-container>
        </ul>
    </div>

    <span class="utt-name-desc">that</span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!closeType}">
            <span class="choose-text">{{ closeType ? closeType : '{ Choose }' }}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngFor="let closeT of closeTypes | keyvalue">
                <li ngbDropdownItem class="list-item-li" (click)="clickCloseT(closeT.key)">
                    <span class="title">{{closeT.value}}</span>
                    <i [ngClass]="{'icon-sa-conv-check' : closeType === closeT.key}"></i>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="add-adherence">
        <button class="add-adherence-btn" (click)="openAdherence()">+ Add Adherence</button>
    </div>
    <div class="delete-row" (click)="deleteActionRule()"> 
        <i class="icon-sa-welcome-delete"></i>
    </div>
</div>

<ng-template #body>
    <div class="variable-value-input with-check-icon">
        <div class="input-variable-sec">
            <div class="label-text">Body</div>
            <div class="kr-sg-input-text-area">
                <textarea placeholder="Provide a body" maxlength="42" [(ngModel)]="desc" class="input-text"></textarea>
            </div>
            <div class="count-char">{{desc.length}}/42</div>
        </div>
        <div class="check-icon-block" (click)="submitBody()">
            <i class="icon-sa-conv-check"></i>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="openAdherenceSlider">
    <app-slider-component id="adherenceSlider" #adherenceSlider='app-slider'>
        <app-adherence [createOrEdit]="createOrEdit" (onClose)="closeAdherence($event)" [form]="form"></app-adherence>
    </app-slider-component>
</ng-container>

<ng-template #hintActions>

</ng-template>