@import './../../../../scss/variables/variables.scss';
.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);             
    }    
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
    .label-text{
        color: $primaryFontColor;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 7px;
    }

    .deployment-code-container{
        padding: 20px 70px;
        margin-bottom: 30px;
        .title{
            color: $primaryFontColor;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 20px;
        }
        .more-info-text{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }
        .code-block-sec{
            margin: 20px 0 40px 0;
            .code-info{
                color: $primaryFontColor;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 6px;
            }
            .code-editor-block-info{
                position: relative;
                .copy-download-btns{
                    position: absolute;
                    right: 5px;
                    z-index: 1;
                    .copy-download-btn{
                        background: $whiteColor;
                        border: 1px solid $primaryActionColor;
                        border-radius: 4px;
                        padding: 8px 10px;
                        color: $primaryActionColor;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        height: 34px;
                        margin: 10px 5px;
                        img{
                            margin-right: 9px;
                        }
                    }                    
                }
                .kr-sg-input-text-area{
                    .input-text{
                        background: $bg-secondary-color;
                        border-radius: 4px;
                        border: 0 !important;
                        padding: 10px;
                        resize: none;
                        min-height: 100px;
                        padding: 30px;
                    }

                    code {
                        color: inherit;
                    }
                }
            }
        }
        .allowed-domain-sec{
            .title{
                color: $primaryFontColor;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 8px;
            }
            .desc_info{
                color: $primaryFontColor;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
            }
            .allowed-input-sec{
                margin: 10px 0;
                .kr-sg-input-text{
                    margin: 10px 0;
                }
                .delete-allowed-domain{
                    position: absolute;
                    right: -25px;
                    cursor: pointer;
                    top: 4px;
                }
                .add-domain{
                    float: right;
                    margin: 5px 0;
                    color: $primaryActionColor;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    cursor: pointer;
                    display: inline-block;
                    img{
                        margin-right: 9px;
                    }

                    &.disabled {
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.f-weight-600{
    font-weight: 600 !important;
}

.please-wait-all {
    position: absolute;
    top: 45%;
    left: 45%;
    box-shadow: 0 5px 10px 0 #e9eff5;
    background: transparent;
    width: 105px;
    height: 36px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.8;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -20px;
        left: 25px;
        font-size: 12px;
    }  
}