<div class="slider-sec-data">
    <form [formGroup]="domainForm">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0 d-flex align-items-center">
                <img src="assets/icons/arrow-back.svg" class="cursor-pointer" (click)="close()">
                <span class="main-title">{{'SETTINGS.DEP_CODE' | translate}}</span>
            </div>
            <div class="close-link col-4 p-0" (click)="close()"><img src="assets/images/close.svg"></div>
        </div>
        <div *ngIf="!loading" [@fadeInOutAnimation]>
            <perfect-scrollbar class="scroll-content">
                <div class="deployment-code-container">
                    <div class="title">{{'SETTINGS.DEP_CODE_HEADING' | translate}}</div>
                    <div class="more-info-text">
                        {{'SETTINGS.DEP_CODE_INSTRUCTION' | translate}}<br/><span [innerHtml]="'SETTINGS.DEP_CODE_HELP_TEXT' | translate"></span>
                    </div>
                    <div class="code-block-sec">
                        <div class="code-editor-block-info">
                            <div class="copy-download-btns">
                                <button class="btn copy-download-btn" (click)="onCopy()"><img src="assets/icons/settings/copy.svg">{{'BUTTONS.COPY' | translate}}</button>
                                <button class="copy-download-btn d-none"><img src="assets/icons/settings/download.svg">{{'BUTTONS.DOWNLOAD' | translate}}</button>
                            </div>
                            <div class="kr-sg-input-text-area">                          
                                <code>
                                    <div class="input-text">
                                        <div>{{linkTag}}</div>
                                        <div>{{scriptTag}}</div>
                                    </div>
                                </code>
                            </div>
                        </div>
                    </div>
    
                    <div class="allowed-domain-sec">
                        <div class="title">{{'SETTINGS.DEP_CODE_ALLOWED_DOMAINS' | translate}}</div>
                        <div class="desc_info">{{'SETTINGS.DEP_CODE_WHITELIST_INFO' | translate}}</div>
                        <div class="allowed-input-sec">
                            <div class="kr-sg-input-text" [formArray]="domains" *ngFor="let domain of domains.controls; let i = index;">                            
                                <input type="text" class="input-text domain-input" [ngStyle]="{'pointer-events': workflowService.appState == 'published'?'none': 'unset'}" [placeholder]="'SETTINGS.DOMAIN_PLACEHOLDER' | translate" name="{{'domain-input'+ i}}" (keydown.enter)="addNewDomain()" [formControl]="domains.controls[i]">
                                <div class="delete-allowed-domain" (click)="deleteDomain(i)" *ngIf="workflowService.appState !== 'published'">
                                    <img src="assets/icons/settings/delete.svg">
                                </div>
                            </div>
                            <div class="add-domain" [class.disabled]="domains.invalid" (click)="addNewDomain()" *ngIf="workflowService.appState !== 'published'">
                                <img src="assets/icons/settings/plus.svg">{{'SETTINGS.ADD_A_DOMAIN' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>    
            <div class="footer-sec" *ngIf="workflowService.appState !== 'published'">
                <button class="kr-sg-button-primary btn_lg" [disabled]="domainForm.invalid || !domainForm.dirty ||saveInProgress" (click)="save()">{{'BUTTONS.SAVE' | translate}}</button>                       
            </div>      
        </div>
        <div class="please-wait-all" *ngIf="loading" [@fadeInOutAnimation]>
            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
            <span class="please-wait-message">{{'NOTIFY.PLEASE_WAIT' | translate}}</span>
        </div>
    </form>
</div>