<div class="skills-wrapper-main-container">
    <div class="usecases-main-header">
        <div class="heading">
            {{"NAV.AGENTS" | translate}}
        </div>
        <div class="selections">
            <div class="dropdown" *hasPermission="['AGENT_GROUP_FULL']">
                <button class="smart-primary-btn" type="button" data-toggle="dropdown" (click)="openSlider2($event)">
                    <img src="assets/icons/add.svg" class="addPlus">{{"AGENTS.NEW_AGENT_GROUP" | translate}}
                </button>               
            </div>
        </div>
    </div>
    
    <div class="dep-uc-table">
        <div class="smart-filters">
            <!--Left Column-->
            <div class="col-5 filterLeft">
                <!--Filter by-->
                <div class="kr-sg-dropdowns" ngbDropdown [placement]="'bottom-left'" [hidden]="true">
                <div class="dropdown dropdown-open">
                    <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>                 
                    <img src="assets/icons/skills/groupby.svg">
                    <span class="name">{{selectedGroup}} </span>              
                    <img src="assets/icons/bropdown-green.svg" class="dropdown-green">          
                    </button>
                    <ul class="dropdown-menu content-menu header_in_development_drpdown" ngbDropdownMenu>
                        <li ngbDropdownItem (click)="selectGroup('FAQ')"><a>{{"AGENTS.FAQ" | translate}}</a></li>
                        <li ngbDropdownItem (click)="selectGroup('tasks')"><a>{{"AGENTS.TASKS" | translate}}</a></li>
                    </ul>
                </div>
                </div>
                <!--Filter by-->

                <div class="kr-sg-dropdowns" ngbDropdown [placement]="'bottom-left'" [hidden]="true">
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>                 
                        <img src="assets/icons/filterBy.svg">
                        <span class="name">{{selectedFilter}}</span>              
                        <img src="assets/icons/bropdown-green.svg" class="dropdown-green">          
                        </button>
                        <ul class="dropdown-menu content-menu header_in_development_drpdown" ngbDropdownMenu>
                            <li ngbDropdownItem (click)="selectFilter('FAQ')"><a>{{"AGENTS.FAQ" | translate}}</a></li>
                            <li ngbDropdownItem (click)="selectFilter('tasks')"><a>{{"AGENTS.TASKS" | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Left Column-->
            <!--Right Column-->
            <div class="col-7 filterRight">
                <!--Search-->
                <div class="kr-sg-input-inline-search">                               
                <input type="text" [placeholder]="'PLACEHOLDERS.SEARCH' | translate" #iSearch class="input-search">
                <img src="assets/icons/search.svg" class="search-icon">
                </div>
                <!--Search-->
            </div>
            <!--Right Column-->
        </div>
        <!--FILTERS-->
    </div>

    <div class="agent-skills-table-data">        
        <perfect-scrollbar class="skill-scroll-content">
            <div id="accordion" class="skill-table-body-main-container">
                <div class="card_content" *ngFor="let agentGp of agentGps; let i=index">
                    <div class="card_header">
                      <div data-toggle="collapse" data-parent="#accordion" [attr.href]="'#agentGp'+i" (click)="openAgentGp(agentGp)" class="card_link collapsed" aria-expanded="false">
                            <div class="row m-0 col-12 accordion-content-header">
                                <div class="col-9 team-with-profile row m-0">
                                    <div class="profile-agent-picture" *ngIf="agentGp?.managers && (agentGp?.managers.length && agentGp?.managers[0].profImage != 'no-avatar')">
                                        <img [src]="agentGp?.managers[0].profImage">
                                        <span class="dummy-bg"></span>
                                    </div>
                                    <div class="profile-agent-picture no-agent-img" *ngIf="(agentGp?.managers && (agentGp?.managers.length == 0 || agentGp?.managers[0].profImage == 'no-avatar'))">
                                        <span class="agent-name-starts">{{agentGp?.name[0]}}</span>
                                        <span class="dummy-bg"></span>
                                    </div>
                                    <div class="group-data">
                                        <div class="group-name">{{agentGp?.name}}<img src="assets/icons/agent/edit.svg" class="pl-1" (click)="$event.stopPropagation(); editAgentGroup(agentGp)" ></div>
                                        <div class="group-desc">{{agentGp?.description}}</div>
                                    </div>
                                </div>
                                <div class="col-3 agent-counts">
                                    <img class="agent-icon" src="assets/icons/agent/agent.svg">{{agentGp?.totalAgents ? (agentGp?.totalAgents + ' '+ ('NAV.AGENTS'|translate)) : '0 '+('NAV.AGENTS'|translate)}}
                                </div>                              
                                <div class="col-3 new-skill-btn p-0" *hasPermission="['AGENT_FULL']">
                                    <button class="kr-sg-button-primary btn_md" type="button" (click)="openSlider1($event)">
                                        <img src="assets/icons/add.svg" class="addPlus mr-2">{{"AGENTS.NEW_AGENT" | translate}}
                                    </button>  
                                </div>
                            </div>
                      </div>
                    </div>
              
                    <div [attr.id]="'agentGp'+i" class="collapse inside-accordioncontent">
                      <div class="card-body inner-accordion-table">                        
                        <div class="inner-accordion-table-header row col-12 m-0">
                            <div class="col-3 title text-truncate pl-3">{{"SKILLS.AGENT" | translate}}</div>
                            <div class="col-2 title text-truncate">{{"AGENTS.ROLE" | translate}}</div>
                            <div class="col-3 title text-truncate">{{"AGENTS.CONTACT_TYPE" | translate}}</div>
                            <div class="col-4 title text-truncate">{{"NAV.SKILLS" | translate}}</div>                        
                        </div>

                        <div class='agents-loading' *ngIf="agentGp.isAgentsLoading">
                            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                        </div>
                        <ng-container *ngIf="!agentGp.isAgentsLoading">
                            <div *ngFor="let agent of agentGp.agents" class="row m-0 col-12 inner-accordion-table-body">
                                <div class="col-3 agent-with-profile">
                                    <div class="kr-sg-checkbox d-none m-0 p-0">
                                        <input [id]="'checkbox_1'+agent.id" class="checkbox-custom" type="checkbox">
                                        <label [for]="'checkbox_1'+agent.id" class="checkbox-custom-label"></label>
                                    </div> 
                                    <div class="group-manager">                                    
                                        <div class="img-manager">
                                            <div class="if-online" [style]="{'background': getStatusColorCode(agent?.onlineStatus)}"></div>
                                            <img *ngIf="agent?.role == ('manager' || 'Manager')" src="assets/icons/agent/king-agent.svg" class="king-agent">
                                            <img *ngIf="agent?.profImage == 'no-avatar'" src="assets/icons/agent/no-user.svg">
                                            <img *ngIf="agent?.profImage != 'no-avatar'" [src]="agent.profImage">
                                        </div>
                                        <div class="manager-data">
                                            <div class="m-name text-truncate">{{agent?.firstName}} {{agent?.lastName}}</div>
                                            <div class="m-email text-truncate">{{agent?.emailId}}</div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-2 role-sec">
                                    <div class="role-type">{{agent?.role | uppercase}}</div>                              
                                </div>
                                <div class="col-3 language-contact-type">
                                    <div class="l-type-data" [ngClass]="{'enabled-language': agent?.canSupportVoice}" *ngIf="agent?.canSupportVoice">
                                        <span class="type-img"><img src="assets/icons/agent/voice-enabled.svg"></span>
                                        <span class="type">{{"VOICE_ENABLED" | translate}}</span>
                                        <span class="lang">{{getEnabledLanguages(agent?.voiceLanguageSupport) | uppercase}}</span>
                                    </div>
                                    <div class="l-type-data" [ngClass]="{'enabled-language': agent?.canSupportChat}" *ngIf="agent?.canSupportChat">
                                        <span class="type-img"><img src="assets/icons/agent/chat-enabled.svg"></span>
                                        <span class="type">{{"CHAT_ENABLED" | translate}}</span>
                                        <span class="lang">{{getEnabledLanguages(agent?.chatLanguageSupport) | uppercase}}</span>
                                    </div>
                                    <div class="l-type-data" *ngIf="!agent?.canSupportVoice">
                                        <span class="type-img"><img src="assets/icons/agent/voice-disabled.svg"></span>
                                        <span class="type">{{"VOICE_DISABLED" | translate}}</span>
                                        <span class="no-lang">- -</span>
                                    </div>
                                    <div class="l-type-data" *ngIf="!agent?.canSupportChat">
                                        <span class="type-img"><img src="assets/icons/agent/chat-disabled.svg"></span>
                                        <span class="type">{{"CHAT_DISABLED" | translate}}</span>
                                        <span class="no-lang">- -</span>
                                    </div>
                                </div>                            
                                <div class="col-4 skills-count">  
                                    <div class="skills-added">
                                        <ng-container *ngIf="agent?.skills?.length">
                                            <span class="skill-names" [ngStyle]="{'color': item?.colorCode}" *ngFor="let item of getGroupedSkills(agent.skills)">
                                                {{item?.value}}
                                                    <!-- <span class="more-data">+4 more</span>    -->
                                            </span>
                                        </ng-container>
                                                    
                                    </div>    
                                    <div class="edit-agent">
                                        <img src="assets/icons/agent/edit.svg" (click)="openSliderForEdit(agent)">
                                    </div>                                                                                                                                                  
                                </div>
                            </div>  
                        </ng-container>

                      </div>
                    </div>
                </div> 
                <div class="card_content" *ngIf="agentGps && agentGps.length == 0">
                    <div class="card_header">
                        <div class="no_data">
                            {{"NO_DATA_FOUND" | translate}}
                        </div>
                    </div>
                </div>


            </div>
        </perfect-scrollbar>
    </div>
</div>


<app-slider-component id="slider1" #slider1='app-slider'>
    <app-new-agent *ngIf="showSlider1" [selectedAgent]="selectedAgent" [selectedAgentGrp]="selectedAgentGroup" (closed)="closeSlider1($event)"></app-new-agent>
</app-slider-component>

<app-slider-component id="slider2" #slider2='app-slider'>
    <app-new-agent-group *ngIf="showSlider2" [selectedAgentGrp]="selectedAgentGroup" (closed)="closeSlider2($event)"></app-new-agent-group>
</app-slider-component>