<header class="d-none">
    <nav class="deflectHeader navbar navbar-expand-lg navbar-light white " [ngClass]="{'headerCreation': toShowAppHeader || !toShowAppHeader && pagetitle === undefined, 'onboarding-header': headerService.isOnboardingPage}">
        <div class="container-fluid">
            <div class="homePageTitle">
                <span *ngIf="!toShowAppHeader && pagetitle !== undefined && fromCallFlow !== ''"class="callFlowTitleName">
                    <img src="assets/images/dashboard-icons/carrot-down.svg" class="logoKoreIcon" (click)="removeCallFlowExpand()">
                    {{fromCallFlow}}</span>
                <span *ngIf="!toShowAppHeader && pagetitle !== undefined"class="currentTitle">{{pagetitle}}</span>
                <!-- <div *ngIf="!toShowAppHeader && pagetitle === undefined"class="currentTitle">
                    <img src="assets/images/deflect-logo-dark.svg" class="logoKoreIcon">
                </div> -->
                <span *ngIf="toShowAppHeader" class="currentTitle defaultTitleName">{{ "HEADER.CREATE_SMARTASSIST" | translate }}</span>
            </div>
            <ul class="progressbar" *ngIf="toShowAppHeader">
                <li class="progressbarItem default"><span class="titleBGWhite marginRight20">{{ "HEADER.SETUP_IVR" | translate }}</span> <img src="assets/images/circleTick.svg" class="circleTick"></li>
                <li class="progressbarItem1"><span class="titleBGWhite">{{ "HEADER.CHOOSE_EXPERIENCE" | translate }} <img src="assets/images/circleTick.svg" class="circleTick chooseIcon"></span></li>
                <li class="progressbarItem2"><span class="titleBGWhite">{{ "HEADER.CUSTOMIZE" | translate }} </span></li>
                <!-- <li class="progressbarItem active"><span class="titleBGWhite"><img src="assets/images/greenStep.svg" class="greenStep">SETUP IVR</span></li>
                <li class="progressbarItem1"><span class="titleBGWhite">Choose experience</span></li>
                <li class="progressbarItem2"><span class="titleBGWhite">customize form </span><img src="assets/images/grayStep.svg" class="grayStep"></li> -->
                <!-- <li class="progressbarItem3"><span class="titleBGWhite">publish</span></li> -->
            </ul>
            <div class="d-flex align-items-center">
                <button class="kr-sg-button-primary mr-2 train_btn d-flex align-items-center" *ngIf="pagetitle == 'Manage Intents'" (click)="trainKG()" [disabled]="isKGTrainingInprogress || !faqCount"><div class="loader-in-button mr-2" *ngIf="isKGTrainingInprogress"><img src="assets/images/icons/fa-spinner.svg"></div>{{isKGTrainingInprogress? ("HEADER.TRAINING" | translate) : ("HEADER.TRAIN" | translate) }}</button>
                <span class="manage-intent-import dropdown" *ngIf="pagetitle == 'Manage Intents'">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/icons/three-dots.svg" alt="">
                    </div>
                    <ul class="dropdown-menu">
                        <li (click)="importManageIntents()">{{ "HEADER.IMPORT_QA" | translate }}</li>
                    </ul>
                </span>
                <ul class="navbar-nav nav-flex-icons">
                    <!-- <li  *ngIf="accounts && accounts.length>1" class="nav-item seperator">
                            <button mat-button [matMenuTriggerFor]="menu1" class="headerIcons"><img src="assets/images/multiAccountIcon.svg" ></button>
                            <mat-menu #menu1="matMenu" class="headerDropDown" >
                                <div *ngFor="let account of accounts">
                                    <button mat-menu-item (click)="selectAccount(account)">{{account.displayName}}</button>
                                </div>
                            </mat-menu>
                    </li> -->
                    <li class="nav-item">
                        <button mat-button [matMenuTriggerFor]="menu" class="headerIcons"><img src="assets/images/avatar.svg" ></button>
                        <mat-menu #menu="matMenu" class="headerDropDown">
                            <button matIconButton mat-menu-item class="d-none">
                                <img src="assets/icons/header/profile.svg">
                                <span class="menu-name">{{ "HEADER.PROFILE" | translate }}</span>
                            </button>
                            <button matIconButton mat-menu-item (click)="switchAccount()" *ngIf="showSwichAccountOption">
                                <img src="assets/icons/header/switchAcc.svg">
                                <span class="menu-name">{{ "HEADER.SWITCH_ACC" | translate }}</span>
                            </button>
                            <button matIconButton mat-menu-item [disabled]="!isInvite" *hasPermission="['admin']">
                                <div *ngIf="isSharedDeveloper" class="invite-button" [ngClass]="{'disabled': isSharedDevError}" (click)="inviteDialog()">
                                    <img src="assets/icons/header/invite.svg" [ngStyle]="{'opacity': !isInvite?0.5:1}">
                                    <span class="menu-name">{{ "HEADER.INVITE" | translate }}</span>
                                </div>
                                <div *ngIf="!isSharedDeveloper" style="margin-left: 45%">
                                    <mat-spinner diameter="18"></mat-spinner>
                                </div>
                            </button>
                            <button matIconButton mat-menu-item (click)="langSwitchDialog()">
                                <div class="lang-switch-button" >
                                    <img src="assets/icons/header/app-lang.svg">
                                    <span class="menu-name">{{ "HEADER.APP_LANG" | translate | titlecase}}</span>
                                </div>
                            </button>
                            <button matIconButton mat-menu-item (click)="navigateToDoc()" class="d-none">
                                <img src="assets/icons/header/documentation.svg">
                                <span class="menu-name">{{ "HEADER.DOCUMENT" | translate }}</span>
                            </button>
                            <!-- <button matIconButton mat-menu-item (click)="goToPlatform()" *hasPermission="['admin']">
                                <img src="assets/icons/header/platform.svg">
                                <span class="menu-name">{{ "HEADER.GO_TO_BOT" | translate }}</span>
                            </button> -->
                            <div class="logout-menu">
                                <div class="email-id">{{authService.getAuthInfo()?.currentAccount?.userInfo.emailId}} ({{authService.getSelectedAccount()?.accountName}})</div>
                                <button (click)="logoutClick()" class="logout-btn">
                                    <img src="assets/icons/header/switchoff.svg">
                                    <span class="menu-name">{{ "HEADER.LOGOUT" | translate }}</span>
                                </button>
                            </div>
                        </mat-menu>
                    </li>
                </ul>
            </div>          
        </div>
    </nav>
</header>


<header>
    <nav class="deflectHeader navbar navbar-expand-lg navbar-light white">
        <div class="header-sec row m-0 col-12 p-0">

            <div class="today-history-config-tabs" *hasPermission="['admin']">
                <!-- <div class="name-tab" [routerLink]="['/today']" routerLinkActive="active">{{"CALENDAR.TODAY" | translate}}</div> -->
                <div class="name-tab" [routerLink]="['/history']" routerLinkActive="active">{{"NAV_DASHBOARD" | translate}}</div>
                <div class="name-tab" [routerLink]="['/config']" routerLinkActive="active" >{{"LIVE_CHAT_AGENT.CONFIGURATION" | translate}}</div>
                <div class="name-tab" [routerLink]="['/bt']" routerLinkActive="active" >{{"LIVE_CHAT_AGENT.AUTOMATIONS" | translate}}</div>
                <!-- <div class="name-tab onboarding-tab" [routerLink]="['/home']" routerLinkActive="active" [class.d-none]="appService.hideHomePage$ | async">
                    <!-- <i class="icon-sa-onboarding"></i>
                    <span>Setup Checklist</span>
                </div> -->
            </div>

            <div class="logo-sec col-2 p-0">
                <img src="assets/images/logos/smart-logo.svg" class="cursor-pointer"><span><b> AgentAssist</b></span>
            </div>
            <div class="content-sec col-10 p-0"> 

                <!-- <div *ngIf="isAgentDesktopEnabled && showLaunchConsole" class="launch-console" (click)="onLauchConsole()">{{"HEADER.LAUNCH_CONSOLE" | translate}}</div> -->
                <div class="kr-sg-dropdowns d-none" ngbDropdown [placement]="'bottom-left'" *hasPermission="['admin']">
                    <div class="dropdown dropdown-open">
                      <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>                 
                        <img src="assets/images/logos/fill.svg">
                        <span class="name">{{selectedAppState}}</span>                        
                      </button>
                      <ul class="dropdown-menu content-menu header_in_development_drpdown p-0" ngbDropdownMenu>
                        <li ngbDropdownItem (click)="stateSelect(s)" *ngFor="let s of appStates" class="p-0"><a>{{s.label}}</a></li>
                      </ul>
                    </div>
                </div>                     
                <!-- <div class="publish-btn">
                    <img src="assets/images/logos/subtract.svg">
                    <span class="publish-name">Publish</span>
                </div> -->
                <!-- <div class="support-icon" (click)="support()" ngbTooltip="{{'BUTTONS.SUPPORT' | translate}}" placement="bottom" *ngIf="!workflowService.onPremise">
                    <img src="assets/images/logos/support-icon.svg">
                </div>   -->

                <div class="nav-item notification-block">
                    <div class="kr-sg-dropdowns m-0" ngbDropdown #dockerDropDown="ngbDropdown">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input notification" id="dropdownBasic1" ngbDropdownToggle ngbTooltip="{{'STATUS_DOCKER' | translate}}" placement="bottom">
                                <img src="assets/images/logos/notification.svg" class="notify-icon">
                                <!-- <sup *ngIf="docStatusService.isAnyRecordFailed" class="red-notification"></sup>
                                <sup *ngIf="docStatusService.isAnyRecordCompleted" class="completed-notification"></sup> -->
                                <img src="assets/icons/notification-ring.svg" class="inProgress notification-icon" *ngIf="dockService.isAnyRecordInprogress$ | async">
                            </button>
                            <ul class="dropdown-menu content-menu notification-dropdown" ngbDropdownMenu id="notification-dropdown">
                                <app-dock-status *ngIf="dockerDropDown.isOpen()"></app-dock-status>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="help-icon" (click)="navigateToDoc()" ngbTooltip="{{'BUTTONS.HELP' | translate}}">
                    <img src="assets/images/logos/Icon-help.svg">
                </div> -->

                <div class="nav-item help-icon">
                    <div class="guide-info-onboarding" *ngIf="showGuide">
                        <div class="close-guide" (click)="showGuide = false">
                            <i class="icon-sa-close"></i>
                        </div>
                        <div class="main-title">Find the guide here!</div>
                        <div class="info-text">If you want to check out the guide, you can find it in the help!</div>
                    </div>
                    <div class="kr-sg-dropdowns" ngbDropdown #helpDropDown="ngbDropdown" placement="bottom-right">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" id="dropdownBasic2" ngbDropdownToggle (click)="showGuide = false">
                                <img src="assets/images/logos/Icon-help.svg">
                            </button>
                            <ul class="dropdown-menu content-menu help-dropdown dropdown-menu-right" ngbDropdownMenu id="help-dropdown">
                                <li ngbDropdownItem class="p-0 border-0">
                                    <a (click)="navigateToDoc()">Help doc</a>
                                </li>
                                <!-- <li ngbDropdownItem class="p-0 border-0" (click)="navigateToHome()">
                                    <a>Onboarding guide</a>
                                </li>
                                <li ngbDropdownItem class="p-0 border-0">
                                    <a (click)="navigateToDoc()">Tutorial</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item">
                    <button mat-button [matMenuTriggerFor]="menu" class="headerIcons p-0">
                        <img src="assets/icons/user-gray.svg">
                    </button>
                    <mat-menu #menu="matMenu" class="headerDropDown">
                        <div class="accountsSwitchDiv">
                            <div class="titleaccounts">{{ "HEADER.ACCOUNTS" | translate }}</div>
                            <button mat-menu-item class="accountName"><img src="assets/images/tick-icon-green.svg" class="tick-icon-green">{{ "HEADER.ACCOUNT_ONE" | translate }}</button>
                            <button mat-menu-item class="accountName"><img src="assets/images/tick-icon-green.svg" class="tick-icon-green">{{ "HEADER.ACCOUNT_TWO" | translate }}</button>
                        </div>
                        <button mat-menu-item (click)="switchAccount()" class="switchAccount" *ngIf="showSwichAccountOption">{{ "HEADER.SWITCH_ACCOUNT" | translate }}</button>
                        <button mat-menu-item (click)="logoutClick()" class="logOut"><img src="assets/images/poweroffIcon.svg" class="poweroffIcon">{{ "HEADER.LOGOUT" | translate }}</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="internal-chat-container" *ngIf="showSupportWindow">
    <div class="internal-chat-window" [class.show]="true">
		<!-- <div class="closeIcon" (click)="showSupportWindow = false">
			<img src="assets/icons/welcome/close.svg" class="">
		</div> -->
		<div  class="chat-container-app">                            

		</div>
	</div>
</div>