<header>
    <mat-menu #menu="matMenu" class="headerDropDown">
        <button matIconButton mat-menu-item class="d-none">
            <img src="assets/icons/header/profile.svg">
            <span class="menu-name">{{ "HEADER.PROFILE" | translate }}</span>
        </button>
        <button matIconButton mat-menu-item (click)="switchAccount()" *ngIf="showSwichAccountOption">
            <img src="assets/icons/header/switchAcc.svg">
            <span class="menu-name">{{ "HEADER.SWITCH_ACC" | translate }}</span>
        </button>
        <button matIconButton mat-menu-item [disabled]="!isInvite">
            <div class="invite-button" [ngClass]="{'disabled': isSharedDevError}" (click)="inviteDialog()">
                <img src="assets/icons/header/invite.svg" [ngStyle]="{'opacity': !isInvite?0.5:1}">
                <span class="menu-name">{{ "HEADER.INVITE" | translate }}</span>
            </div>
        </button>
        <div class="logout-menu">
            <div class="email-id">{{authService.getAuthInfo()?.currentAccount?.userInfo.emailId}} ({{authService.getSelectedAccount()?.accountName}})</div>
            <button (click)="logoutClick()" class="logout-btn">
                <img src="assets/icons/header/switchoff.svg">
                <span class="menu-name">{{ "HEADER.LOGOUT" | translate }}</span>
            </button>
        </div>
    </mat-menu>

    <nav class="deflectHeader navbar navbar-expand-lg navbar-light white">
        <div class="header-sec row m-0 col-12 p-0">
            <div class="today-history-config-tabs">
                <div class="name-tab" [routerLink]="['/config']" routerLinkActive="active" >{{"LIVE_CHAT_AGENT.CONFIGURATION" | translate}}</div>
                <div class="name-tab" [routerLink]="['/bt']" routerLinkActive="active" >{{"LIVE_CHAT_AGENT.AUTOMATIONS" | translate}}</div>
                <div class="name-tab" [routerLink]="['/dashboard']" routerLinkActive="active" >{{"LIVE_CHAT_AGENT.DASHBOARD" | translate}}</div>
            </div>
            <div class="logo-sec col-2 p-0">
                <img src="assets/images/logos/agentassist_new_logo.svg" class="cursor-pointer">
            </div>
            <div class="content-sec col-10 p-0"> 
                <div class="kr-sg-dropdowns d-none" ngbDropdown [placement]="'bottom-left'">
                    <div class="dropdown dropdown-open">
                      <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>                 
                        <img src="assets/images/logos/fill.svg">
                        <span class="name">{{selectedAppState}}</span>                        
                      </button>
                      <ul class="dropdown-menu content-menu header_in_development_drpdown p-0" ngbDropdownMenu>
                        <li ngbDropdownItem (click)="stateSelect(s)" *ngFor="let s of appStates" class="p-0"><a>{{s.label}}</a></li>
                      </ul>
                    </div>
                </div>
                <div class="nav-item help-icon">
                    <div class="guide-info-onboarding" *ngIf="showGuide">
                        <div class="close-guide" (click)="showGuide = false">
                            <i class="icon-sa-close"></i>
                        </div>
                        <div class="main-title">Find the guide here!</div>
                        <div class="info-text">If you want to check out the guide, you can find it in the help!</div>
                    </div>
                    <div class="kr-sg-dropdowns" ngbDropdown #helpDropDown="ngbDropdown" placement="bottom-right">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" id="dropdownBasic2" ngbDropdownToggle (click)="showGuide = false">
                                <img src="assets/images/logos/Icon-help.svg">
                            </button>
                            <ul class="dropdown-menu content-menu help-dropdown dropdown-menu-right" ngbDropdownMenu id="help-dropdown">
                                <li ngbDropdownItem class="p-0 border-0">
                                    <a (click)="navigateToDoc()">Help doc</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item">
                    <button mat-button [matMenuTriggerFor]="menu" class="headerIcons p-0">
                        <img src="assets/icons/user-gray.svg">
                    </button>
                    <mat-menu #menu="matMenu" class="headerDropDown">
                    </mat-menu>
                </div>
            </div>
        </div>
    </nav>
</header>