
@import './../../../app/scss/variables/variables.scss';

.deflectHeader{
  z-index: 100 !important;
  padding: 12px 30px 12px 20px;
  background: $whiteColor;
  box-shadow: 0px 0px 6px $agentAccordionBorder;
  .header-sec{
    display: flex;
    width: 100%;
    align-items: center;

    .today-history-config-tabs{
      position: absolute;
      display: flex;
      align-items: center;
      left: 267px;
      z-index: 9;
      top: -3px;
      .name-tab{
        color: $primaryFontColor;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        padding: 0 10px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        outline: none;
        height: 49px;
        display: flex;
        align-items: center;
        &.onboarding-tab{
          padding: 0 10px;
          background: #F2FBFC;
          i{
            font-size: 15px;
            color: #202124;
          }
        }
        &.active{
          &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0px;
            left: 0;
            background: $primaryActionColor;            
          }
        }
      }
    }

    .logo-sec {
      .cursor-pointer {
        width: 60%;
      }
    }


  }
  .content-sec{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .launch-console{
      color: $primaryActionColor;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      margin: 0 10px;
      cursor: pointer;
    }
    .kr-sg-dropdowns{
      width: auto;
      // margin-right: 10px;     
      .dropdown-open{ 
        .dropdown-input{
          border: 0;
        }
        // .dropdown-input{
        //   background: $secondaryActionColor;
        //   box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
        //   border-radius: 3px;
        //   min-width: 163px !important;
        //   padding: 0 15px;
        //   border: 0 !important;
        //   .name{
        //     color: $primaryFontColor;
        //     font-weight: 500;
        //     font-size: 12px;
        //     line-height: 15px;
        //     margin-left: 11px;
        //   }
        //   &::before{
        //     content: "";
        //     right: 14px;
        //     width: 8px;
        //     top: 1px;
        //     background-size: 8px;
        //     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAYAAAB4ka1VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABgSURBVHgBjYu7DYAgEIYPgj0jUGhsL4YBKE+ncARHcRstHcDC1u72kIASoyFWftX/FKUl5z0wbzNDRoUdRhX0bRrqDZLJy9q2Q9LiDa/REWApQGqpotvXaYQvafQ8f3MCUwQXkJm1MMwAAAAASUVORK5CYII=');
        //   }
        // }
      }
      // .header_in_development_drpdown{
      //   box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
      //   min-width: 163px !important;
      //   padding: 10px 0px;
      //   border: 0;
      //   margin: 0;
      //   li{
      //       font-size: 13px;
      //       color: $primaryFontColor;
      //       padding: 8px 20px;
      //       cursor: pointer;
      //       position: relative;
      //       .list-name{
      //           display: inline-block;
      //           white-space: nowrap;
      //           text-overflow: ellipsis;
      //           max-width: 100%;
      //           overflow: hidden;
      //           padding-right: 10px;
      //       }
      //       img{
      //           float: right;
      //           top: 11px;
      //           position: absolute;
      //           right: 10px;
      //       }
      //       &:hover{
      //           background: $bg-secondary-color;
      //       }
      //   }
      // }
    }

    .notification-block{                              
      margin: 0 0px 0 20px;               
      .kr-sg-dropdowns {
          &.show {
             .dropdown-open{
                  .dropdown-input{
                      background: #E9EFF4;
                      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
                  }
             }
          }
          .dropdown-open {
            .dropdown-input{
              border: 0;
              padding: 0;
              text-align: center;
              width: 34px;
              height: 34px;
              min-width: auto !important;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;             
              border-radius: 4px;
              margin: 0;
              transition: 0.2s all ease;
              background: transparent;
              box-shadow: none;
              &:hover{
                  background: #E9EFF4;
              }
              &::before{
                  display: none !important;
              }
              .inProgress{
                &.notification-icon{
                  width: 12px;
                  height: 12px;
                  -webkit-animation:spin 4s linear infinite;
                  -moz-animation:spin 4s linear infinite;
                  animation:spin 4s linear infinite;
                  position: absolute;
                  top: 2px;
                  right: 1px;
                }
              }

              .notify-icon {
                width: 22px;
                opacity: 0.6;
              }
              sup{
                position: absolute;
                width: 4px;
                height: 4px;
                background: #0D6EFD;
                border-radius: 100%;
                right: 4px;
                top: 4px;
                &.red-notification{
                    background: #DD3646;
                }
                &.completed-notification{
                    background: #0D6EFD;
                }
              }
            }                        
          }
          .dropdown-menu{
              background: #FFFFFF;
              width: 325px;
              max-height: 428px;
              padding: 0;
              border: 0;
              left: auto;
              right: 0;
              margin-top: 12px;
              .notification-dropdown-status{
                  box-shadow: 0px 5px 20px rgb(0 0 0 / 20%);
                  .nav-tabs{
                      border: 0;
                      padding: 5px 13px;
                      .nav-item{
                          .nav-link{
                              color: #202124;
                              font-weight: normal;
                              font-size: 14px;
                              line-height: 20px;
                              margin-right: 21px;
                              padding: 8px 0;
                              position: relative;
                              border: 0 !important;
                              sup{
                                  position: absolute;
                                  width: 4px;
                                  height: 4px;
                                  background: #0D6EFD;
                                  border-radius: 100%;
                                  right: -8px;
                                  top: 6px;
                                  &.red-notification{
                                      background: #DD3646;
                                  }
                                  &.completed-notification{
                                      background: #0D6EFD;
                                  }
                              }
                              &.active{
                                  background-color: #fff !important;
                                  &::before{
                                      content: "";
                                      position: absolute;
                                      width: 100%;
                                      background: #0D6EFD;
                                      height: 2px;
                                      left: 0;
                                      bottom: 0;
                                  }
                              }
                          }
                      }
                  }
                  .tab-content{
                      padding: 0px;
                      .tab-pane{
                          &.active{
                              background-color: #fff !important;
                          }
                      }
                  }
              }
          }
      }
    }
    .help-icon{
      margin: 0 20px 0 20px;
      cursor: pointer;
      width: 34px;
      height: 34px;
      position: relative;
      .guide-info-onboarding{
        position: absolute;
        background: #202124;
        border-radius: 4px;
        padding: 20px 24px;
        width: 456px;
        right: -4px;
        top: 47px;
        &::before{
          content: "";
          width: 16px;
          height: 16px;
          background: #202124;
          transform: rotate(-45deg);
          position: absolute;
          top: -8px;
          right: 12px;
        }
        .close-guide{
          position: absolute;
          right: 10px;
          top: 10px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          i{
            color: #FFFFFF;
            font-size: 16px;
          }
        }
        .main-title{
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          color: #FFFFFF;
          margin-bottom: 15px;
          padding-right: 25px;
        }
        .info-text{
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
          margin-bottom: 15px;
        }
      }
      .kr-sg-dropdowns{
        margin: 0;
        &.show{
          .dropdown-open{
            .dropdown-input{
              background: #E5E8EC;
            }
          }
        }
        .dropdown-open {
          .dropdown-input{
            padding: 0;
            height: 34px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: auto !important;
            &:hover{
              background: #E5E8EC;
            }
            img{
              width: 18px;
              height: 18px;
            }
            &::before{
              display: none;
            }
          }
        }
      }
    }
    .nav-item{
      .headerIcons{
        outline: 0;
        border: 0;
        border-radius: 100%;
      }
    }
    .support-icon{
      margin-left: 20px;
      cursor: pointer;
      position: relative;
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      &:hover{
        background: #E9EFF4;
      }
    }
    .notifications-icon{
      margin-left: 35px;
      cursor: pointer;
      position: relative;
      .dot{
        background: $notificationcolor;
        border: 1px solid $whiteColor;
        position: absolute;
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 100%;
        top: -5px;
        left: 5px;
      }
    }
    .publish-btn{
      background: $bg-secondary-color;
      border-radius: 4px;
      padding: 7px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .publish-name{
        color: $borderColor;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-left: 12px;
      }
    }
  }
}
.logout-item {
  font-size: 12px;
  color: $descFontColor;
  > button {
    font-size: 12px;
    color: $descFontColor;
    .mat-icon {
      font-size: 18px;
      color: $descFontColor;
    }
  }
}
::ng-deep {
  .invite-button.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .headerIcons{
    .mat-button-focus-overlay{
      display: none !important;
    }
  }
}

.internal-chat-container {
   
  .chat-btn {
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
  .internal-chat-window {
    height: 85%;
    width: 40%;
    min-height: 500px;
    max-height: calc(100vh - 80px);
    background-color: #fff;
    display: none;
    z-index: 99999;
    position: fixed;
    // background: #3366ff;
    &.show {
      display: block;
      position: fixed;
      bottom: 20px;
      right: 22px;
      width: 300px;
      height: 85%;
      min-height: 480px;
      /* top: 218px; */
      box-shadow: 0px 2px 6px #a8c8dd;
      border-radius: 10px;
      padding: 5px;
    }
    .kore-chat-window{
      height: calc(100% - 25px);
      max-height: calc(100% - 20px);
      top: 0;
    }

    .closeIcon{
      position: absolute;
      right: 15px;
      top: 20px;
      z-index: 99999;
      cursor: pointer
    }
  }
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}