@import './../../../../../scss/variables/variables.scss';
.usecases-table-view-wrapper {
    .table-view{
        // height: calc(100vh - 262px);
        height: calc(100vh - 210px);
        position: relative;
        .loading {
            position: relative;
            left: 45%;
            top: 15px;
            color: $optionalText;
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
            .wait-message {
                position: relative;
                top: -19px;
                left: 25px;
            }
        }
        .header-sec{
            align-items: center;
            padding: 6px 0 !important;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background: $whiteColor;
            z-index: 9;
            border-bottom: 1px solid $agentAccordionBorder;
            .title{
                color: $primaryFontColor;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 10px;
                line-height: 14px;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                top: 0;
                background: $whiteColor;
                z-index: 9;
                &.status-position-pad{
                    text-align: right;
                    padding-right: 55px;
                }
            }
            .pl-53{
                padding-left: 53px;
            }
            .pl-30{
                padding-left: 30px;
            }
        }
        .body-sec{
            background: $whiteColor;
            box-shadow: 0px 0px 6px rgba(168, 200, 221, 0.3);
            padding: 14px 0;
            align-items: center;
            
            .content-data{
                .utterances-data{                
                    padding: 8px 10px;
                    transition: 0.2s all ease-in;   
                    cursor: pointer;
                    &:hover{
                        background: $utteraneHovercolor;
                    }
                }
                .usecase-titles{
                    padding: 10px !important;
                    transition: 0.2s all ease-in;   
                    position: relative;
                    left: 10px;
                    &:hover{
                        background: $utteraneHovercolor;
                    }
                    &.active-table{
                        background: $utteraneHovercolor;
                    }
                }
                .kr-sg-checkbox {
                    .checkbox-custom {
                        height: auto;
                        + .checkbox-custom-label{
                            &::before{
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
                .img-icon{
                    padding: 0 16px 0 0px;
                }
                .titles-data{
                    cursor: pointer;
                    .primary-title{
                        color: $primaryFontColor;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        margin-bottom: 5px;
                    }
                    .secondary-title{
                        color: #28A745;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
                .ut-title{
                    color: #323C47;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    padding-right: 60px;
                }
                .config-settings{
                    color: $primaryActionColor;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    display: inline-block;
                    padding: 17px 10px;      
                    transition: 0.2s all ease-in;   
                    cursor: pointer;      
                    img{
                        margin-right: 4px;
                    }
                    &:hover{
                        background: $utteraneHovercolor;
                    }
                }
                .status-clock{

                }
                .more-link{
                    color: $primaryActionColor;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    /* width: 140px; */
                    position: absolute;
                    right: 26px;
                    cursor: pointer;
                }
                .kr-sg-overflow-menu{               
                    height: auto;
                    width: auto;
                    background: transparent;
                    box-shadow: none;
                    margin: 0;
                    .dropdown-menu{
                        min-width: 90px;
                        position: absolute;
                        will-change: transform;
                        border-radius: 4px;
                        box-shadow: 0px 10px 30px rgba(168, 200, 221, 0.25);
                        li{
                            padding: 0;
                            a{
                                font-size: 12px;
                                color: $primaryFontColor;
                                font-weight: normal;
                                display: block;
                            }
                        }
                    }
                }            
            }
        }
        &.table-shorten{
            height: calc(100vh - 505px);
        }
    }
    .uc-tabs {
        font-weight: bold;
        margin-bottom: 10px;
        .tab-name {
            margin-right: 10px;
            padding: 10px;
            cursor: pointer;
            position: relative;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            // text-transform: uppercase;
            color: #000000;
            &.active {
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: $primaryActionColor;
                    left: 0;
                    bottom: -1px;
                }                
            }
            > img {
                width: 18px;
                margin-right: 10px;
            }
        }
    }
    .group-by-active{
        .mat-expansion-panel{
            margin-bottom: 10px;
            background: $whiteColor;
            border: 1px solid $agentAccordionBorder;
            box-sizing: border-box;
            border-radius: 8px;
            box-shadow: none;
            .mat-expansion-panel-header{
                padding: 20px 25px;
                height: auto;
                align-items: center;
                border-radius: 0;
                font-size: 14px;
                .row_data{
                    .left-sec{
                        align-items: center;
                        .kr-sg-checkbox{
                            .checkbox-custom{
                                height: auto;
                            }
                        }
                        .indication-color{
                            height: 30px;
                            width: 30px;
                            background: rgba(40, 167, 69, 0.5);
                            border-radius: 100%;
                            margin: 0 15px 0 8px;
                        }
                        .m-title{
                            color: $primaryFontColor;
                            letter-spacing: 0.02em;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                    .get-time-stamp{
                        color: $optionalText;
                        letter-spacing: 0.01em;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .mat-expansion-indicator{
                    &::after{
                        content: "";
                        border: 0;
                        width: 11px;
                        background-repeat: no-repeat;
                        transform: none;
                        height: auto;
                        border: 0;
                        display: inline-block;
                        padding: 3px;
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBjY+xDcJADEW/LwxwgorOcKGGDRAToGwQNmGDsAF0rEDHDBkAyUzADXCKcSIhUlyR31i23ys+MW9qOD2iSycRiciE1+GKjt40LBxuINpC02EsMLOHKxoDGUgV/R/hYsLehMoEGUCaPaHairzqnil+cIyfh/fzpQmN94sW5O5jMBvm8syrUvuJKbHSu9z9C0qpMvnQep7JAAAAAElFTkSuQmCC');
                    }
                }
                &:hover{
                    background: $primaryHoverColor;
                }
            }
        }
    }
}

::ng-deep perfect-scrollbar .ps--active-y{
    .ps__thumb-y{
        width: 3px !important;
    }
    .ps__rail-y{
        width: 3px !important;
    }
    .ps__thumb-x{
        display: none !important;
    }
    .ps__rail-x{
        display: none !important;
    }
}

.please-wait-all {
    position: absolute;
    top: 40%;
    left: 43%;
    box-shadow: 0 5px 10px 0 #e9eff5;
    background: transparent;
    width: 105px;
    height: 36px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.8;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -20px;
        left: 25px;
        font-size: 12px;
    }  
}

::ng-deep .group-by-active{
    .mat-expansion-panel{
        margin-bottom: 10px;
        background: $whiteColor;
        border: 1px solid $agentAccordionBorder;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: none;
        .mat-expansion-panel-header{
            padding: 20px 25px;
            height: auto;
            align-items: center;
            border-radius: 0;
            font-size: 14px;
            .row_data{
                .left-sec{
                    align-items: center;
                    .kr-sg-checkbox{
                        .checkbox-custom{
                            height: auto;
                        }
                    }
                    .indication-color{
                        height: 30px;
                        width: 30px;
                        background: rgba(40, 167, 69, 0.5);
                        border-radius: 100%;
                        margin: 0 15px 0 8px;
                    }
                    .m-title{
                        color: $primaryFontColor;
                        letter-spacing: 0.02em;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
                .get-time-stamp{
                    color: $optionalText;
                    letter-spacing: 0.01em;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .mat-expansion-indicator{
                &::after{
                    content: "";
                    border: 0;
                    width: 11px;
                    background-repeat: no-repeat;
                    transform: none;
                    height: auto;
                    border: 0;
                    display: inline-block;
                    padding: 3px;
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBjY+xDcJADEW/LwxwgorOcKGGDRAToGwQNmGDsAF0rEDHDBkAyUzADXCKcSIhUlyR31i23ys+MW9qOD2iSycRiciE1+GKjt40LBxuINpC02EsMLOHKxoDGUgV/R/hYsLehMoEGUCaPaHairzqnil+cIyfh/fzpQmN94sW5O5jMBvm8syrUvuJKbHSu9z9C0qpMvnQep7JAAAAAElFTkSuQmCC');
                }
            }
            &:hover{
                background: $primaryHoverColor;
            }
        }
        .mat-expansion-panel-content{
            .mat-expansion-panel-body{
                padding: 3px 10px;
                .app_table_acc_table_group{
                    .header-sec{
                        display: none;
                    }
                }
            }
        }
    }
}