<div class="usecases-table-view-wrapper">
    <ul class="nav nav-tabs uc-tabs" role="tablist" #navv *ngIf="false">
        <li (click)="tabSwitch('exp')">
            <div class="tab-name active" data-toggle="tab" #new_conv_tab href="#exp" >
                <img src="assets/images/usecases/new_conv.png" class="uc_icon">Experience
            </div>
        </li>   
        <!-- <li (click)="tabSwitch('faq')">
            <div class="tab-name" data-toggle="tab" #new_faq_tab href="#faq">
                <img src="assets/images/usecases/new_faq.png" class="uc_icon">{{ "USECASES.Q_AND_A" | translate }}
            </div>
        </li>
        <li (click)="tabSwitch('dialog')">
            <div class="tab-name" data-toggle="tab" #new_conv_tab href="#conv">
                <img src="assets/images/usecases/new_conv.png" class="uc_icon">{{ "USECASES.CONVER" | translate }}
            </div>
        </li>                       -->
    </ul> 
    <ng-content></ng-content>
    <perfect-scrollbar [config]="config" class="table-view" #psTableView (psYReachEnd)="onReachEnd()" [ngClass]="{'table-shorten': addClass}">
        <div class="tab-content" id="table-cont" [hidden]="ucTableMainService.isGrouped" > 
            <div class="header-sec row m-0 col-12 p-0">
                <ng-container *ngIf="ucMainService.tabActive == 'faq'">
                    <div class="col-5 title pl-53">{{ "USECASES.QUESTION" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.CAT" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.CALLS" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.CHATS" | translate }}</div>
                    <div class="col-1 title pr-0">{{ "USECASES.STATUS" | translate }}</div>    
                </ng-container>
                <ng-container *ngIf="ucMainService.tabActive == 'dialog'">
                    <div class="col-3 title pl-53">{{ "USECASES.NAME_CAPS" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.CAT" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.UTTERANCES" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.CALLS" | translate }}</div>
                    <div class="col-2 title">{{ "USECASES.CHATS" | translate }}</div>
                    <div class="col-1 title pr-0">{{ "USECASES.STATUS" | translate }}</div>    
                </ng-container>
                <ng-container *ngIf="ucMainService.tabActive == 'exp'">
                    <div (click)="sortOnFlow()" class="title col-4 pl-30 cursor-pointer">Flow <img [src]="callFlowSortOrder == 'asc'? 'assets/icons/sort-up.svg' : 'assets/icons/use-case/SortDown.svg'" class="ml-1"></div>
                    <div class="title col-6">Description</div>
                    <div class="col-2 title status-position-pad">{{ "USECASES.STATUS" | translate }}</div>    
                </ng-container>
            </div>
            <div id="exp" class="tab-pane fade show active">
                <div *ngIf="!isLoading" [@fadeInAnimation]>
                    <!-- <app-uc--table-rows *ngFor="let usecase of ucListDg; let i=index;" [usecase]="usecase" [i]="i">
                    </app-uc--table-rows> -->
                    <app-exp-table-row *ngFor="let callFlow of callFlows; let i=index;" [i]="i" [flowData]="callFlow"
                        (onOpenFlowSlider)="openFlowSlider(callFlow)" (onOpenFlowEditorSlider)="openFlowEditorSlider()"
                        (deleteSelectedExpFlow)="deleteExpeirenceFlow($event)">
                    </app-exp-table-row>
                    <div class="loading" *ngIf="moreAvail">
                        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                        <span class="wait-message">{{ "USECASES.LOADING" | translate }}</span>
                    </div>
                    <app-empty-screens [isSearch]="true" [isExperienceFlow]="true" *ngIf="callFlows.length == 0 && ucTableMainService.srch"></app-empty-screens>
                    <app-empty-screens [isSearch]="false" [isExperienceFlow]="true" *ngIf="callFlows.length == 0 &&  ucTableMainService.srch.length == 0"></app-empty-screens>
                </div>
            </div>
            <div id="faq" [hidden]="ucMainService.tabActive == 'dialog'" class="tab-pane fade">
                <div *ngIf="!isLoading">
                    <app-uc--table-rows *ngFor="let usecase of ucListFq; let i=index;" [usecase]="usecase" [i]="i">
                    </app-uc--table-rows>
                    <div class="loading" *ngIf="moreAvail">
                        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                        <span class="wait-message">{{ "USECASES.LOADING" | translate }}</span>
                    </div>
                    <app-empty-screens [isSearch]="true" *ngIf="ucListFq.length == 0 && ucTableMainService.srch"></app-empty-screens>
                    <app-empty-screens [isSearch]="false" *ngIf="ucListFq.length == 0 && ucTableMainService.srch.length == 0"></app-empty-screens>
                </div>
            </div>
            <div id="conv" [hidden]="ucMainService.tabActive == 'faq'" class="tab-pane fade" [@fadeInOutAnimation]>
                <div *ngIf="!isLoading" [@fadeInAnimation]>
                    <app-uc--table-rows *ngFor="let usecase of ucListDg; let i=index;" [usecase]="usecase" [i]="i">
                    </app-uc--table-rows>
                    <div class="loading" *ngIf="moreAvail">
                        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                        <span class="wait-message">{{ "USECASES.LOADING" | translate }}</span>
                    </div>
                    <app-empty-screens [isSearch]="true" *ngIf="ucListDg.length == 0 && ucTableMainService.srch"></app-empty-screens>
                    <app-empty-screens [isSearch]="false" *ngIf="ucListDg.length == 0 &&  ucTableMainService.srch.length == 0"></app-empty-screens>
                </div>
            </div>
            <div class="please-wait-all" *ngIf="isLoading" [@fadeInAnimation]>
                <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                <span class="please-wait-message">{{ "USECASES.PLS_WAIT" | translate }}</span>
            </div>
        </div>
        <div *ngIf="ucTableMainService.isGrouped" class="group-by-active">
            <div *ngIf="ucTableMainService.gpBy == 'category'">
                <div *ngIf="isCategoriesLoading" style="padding: 100px 50%;">
                    <mat-spinner diameter="18"></mat-spinner>
                </div>
                <div *ngIf="!isCategoriesLoading && !noResults">
                    <app-uc-groupby *ngFor="let c of categoriesList" [category]="c" [isCategory]="true"></app-uc-groupby>
                </div>
                <div *ngIf="noResults">
                    <app-empty-screens [isSearch]="false" ></app-empty-screens>
                </div>
            </div>
            <div *ngIf="ucTableMainService.gpBy == 'state'">
                <div *ngIf="isStateLoading" style="padding: 100px 50%;">
                    <mat-spinner diameter="18"></mat-spinner>
                </div>
                <div *ngIf="!isStateLoading">
                    <app-uc-groupby *ngFor="let a of appStatesList" [category]="a" [isCategory]="false"></app-uc-groupby>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>

<app-slider-component id="flowSlider" #flowSlider='app-slider'>
    <app-new-flow-exp *ngIf="showFlowSlider" [flowId]="callFlowId"  (closed)="close()" (openFlowEditor)="openFlowEditorSlider()"></app-new-flow-exp>
    <!-- <app-new-flow-exp *ngIf="isCallFlowEditMode" [isEditMode]="isCallFlowEditMode" [flowData]="callFlowDetails" (closed)="close()"></app-new-flow-exp> -->
</app-slider-component>

<app-slider-component id="flowEditorSlider" #flowEditorSlider='app-slider'>
    <app-flows *ngIf="showFlowEditorSlider" (closeFlowEditorSlider)="closeFlowEditorSlider()"></app-flows>
</app-slider-component>