@import './../../scss/variables/variables.scss';

.meta-tagss-wrap {
    .meta-tagss-header {
        display: flex;
        align-items: baseline;
        padding: 20px;
        .closeCross {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            cursor: pointer;
        }
        h5 {
            font-size: 18px;
            font-weight: 400;
        }
    }
    .meta-tagss-body {
        .tagss-list {
            padding: 7px 0 7px 40px;
            display: flex;
            &:nth-of-type(2n+1) {
                background-color: $bg-color-primary;
            }
            .tagss-key {
                width: 45%;
            }
            .tagss-value {
                color: $optionalText;
                word-break: break-word;
                width: 50%;
            }
        }
    }
}
