@import '../../../../../app/scss/variables/variables.scss';
.usecases-create-form-wrapper {
    border: 1px solid $primaryActionColor;
    background: $primaryBackgroundColor;
    padding: 30px 30px 24px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    .ucf-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        .head {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: $primaryFontColor;
            font-weight: bold;
            .usecase-icon {
                margin-right: 20px;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .close-u {
            cursor: pointer;
        }
    }
    .ucf-section {
        form {
            .single-row {
                display: flex;
                align-items: baseline;
                position: relative;
                padding-right: 295px;
                .form-group:first-of-type {
                    margin-right: 10px;
                    &.mr-30 {
                        margin-right: 30px;
                    }
                }
                .button-group{
                    position: absolute;
                    right: 0;
                    top: 22px;
                    z-index: 9;
                    .btn_md{
                        line-height: 34px;
                    }
                }
            }
            .form-group {
                label {
                    font-size: 12px;
                    font-weight: 500;
                    color: $primaryFontColor;
                    .form-control{
                        margin-top: 5px;
                        &:focus{
                            box-shadow: none !important;
                        }
                    }
                    .inp-block {
                        position: relative;
                        .inp-stamp {
                            // background: red;
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 7px;
                            border-radius: 50%;
                            right: 20px;
                        }
                    }
                }
                .error-message {
                    color: $warningRed;
                    font-size: 12px;
                }
                .form-control.ng-invalid.ng-touched {
                    border: 1px solid $warningRed;
                }
            }

        }
    }
    .w-65 {
        width: 65% !important;
    }
    .mr-10 {
        margin-right: 10px !important;
    }
}

::ng-deep {
    .usecase-category-option {
        .mat-option-text {
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            .stamp {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
    }
    .mat-menu-panel {
        
    }
}