<!-- Ask Customer Message Node v3 -->

<div class="ask-cust-node" *ngIf="isWelcomeMsg && automation">
    <div class="top-section">
        <div class="svg_img">
            <img src="assets/images/icons/askcust.svg" alt="Image">
        </div>
        <p>{{'WELCOME_MSG' | translate}}</p>
    </div>
    <ng-container *ngFor="let item of automation.buttons">
        <ng-container [ngTemplateOutlet]="askCustMsg" [ngTemplateOutletContext]="{smallTalkData: item}"></ng-container>
    </ng-container>
</div>


<div class="ask-cust-node" *ngIf="!isWelcomeMsg && automation && (automation.value || automation.template)"
    [ngClass]="{'grayout-msgs-node' : automation.grayOut || automation.send || (assistAutomationData && assistAutomationData?.endAutomation)}">
    <div class="top-section">
        <div class="svg_img">
            <img src="assets/images/icons/askcust.svg" alt="Image">
        </div>
        <p>{{'TELLCUSTOMER' | translate}}</p>
    </div>
    <ng-container [ngTemplateOutlet]="askCustMsg" [ngTemplateOutletContext]="{smallTalkData: automation}"></ng-container>
</div>


<ng-template #askCustMsg let-automationData="smallTalkData">
    <div class="msg-node-cust"  [ngClass]="{'grayout-msgs-node' : isWelcomeMsg && (automation.grayOut || automationData.send)}">
        <div class="send-copy-actions" *ngIf="!automationData.hideActionButtons">
            <ng-container>
                <button class="solidbtn" aria-label="button"
                    (click)="handleSendCopyButton(projConstants.COPY, automationData)" *ngIf="!automationData.hideCopyButton">
                    <i class="krIocnsFont-copy"></i>
                </button>
                <button class="solidbtn" aria-label="button"
                    (click)="handleSendCopyButton(projConstants.SEND, automationData)" *ngIf="!automationData.hideSendButton">{{ 'SEND'  | translate }}</button>
            </ng-container>
            <!-- <ng-container *ngIf="automationData.send">
                <button class="solidbtn" aria-label="button">{{ 'SENT'  | translate }}</button>
            </ng-container> -->
        </div>
        <div class="sent-msg-text" *ngIf="automationData.send">{{ 'SENT'  | translate }}</div>
        <p *ngIf="!automationData.templateRender" [innerHTML]="rootService.handleEmptyLine(automationData.value)"></p>
        <ng-container *ngIf="automationData.templateRender && automationData.template">
            <ul class="chat-container" attr.id="{{automationData.uuid}}"
                                        [innerHTML]="automationData.template | safeHtml"></ul>
        </ng-container>
    </div>
</ng-template>
