<!-- Ask Customer Message Node v3 -->

<div class="ask-cust-node" *ngIf="isWelcomeMsg && automation">
    <div class="top-section">
        <div class="svg_img">
            <img src="assets/images/icons/askcust.svg" alt="Image">
        </div>
        <p>{{'WELCOME_MSG' | translate}}</p>
    </div>
    <ng-container *ngFor="let item of automation.buttons">
        <ng-container [ngTemplateOutlet]="askCustMsg" [ngTemplateOutletContext]="{smallTalkData: item}"></ng-container>
    </ng-container>
</div>


<div class="ask-cust-node" *ngIf="!isWelcomeMsg && automation && (automation.value || automation.template)">
    <div class="top-section">
        <div class="svg_img">
            <img src="assets/images/icons/askcust.svg" alt="Image">
        </div>
        <p>{{'TELLCUSTOMER' | translate}}</p>
    </div>
    <ng-container [ngTemplateOutlet]="askCustMsg" [ngTemplateOutletContext]="{smallTalkData: automation}"></ng-container>
</div>


<ng-template #askCustMsg let-automation="smallTalkData">
    <div class="msg-node-cust">
        <div class="send-copy-actions" *ngIf="!automation.hideActionButtons">
            <ng-container *ngIf="!automation.send">
                <button class="solidbtn" aria-label="button"
                    (click)="handleSendCopyButton(projConstants.COPY, automation)" *ngIf="!automation.hideCopyButton">
                    <i class="krIocnsFont-copy"></i>
                </button>
                <button class="solidbtn" aria-label="button"
                    (click)="handleSendCopyButton(projConstants.SEND, automation)" *ngIf="!automation.hideSendButton">{{ 'SEND'  | translate }}</button>
            </ng-container>
            <ng-container *ngIf="automation.send">
                <button class="solidbtn" aria-label="button">{{ 'SENT'  | translate }}</button>
            </ng-container>
        </div>
        <p *ngIf="!automation.templateRender">{{automation.value}}</p>
        <ng-container *ngIf="automation.templateRender && automation.template">
            <ul class="chat-container" attr.id="{{automation.uuid}}"
                                        [innerHTML]="automation.template | safeHtml"></ul>
        </ng-container>
    </div>
</ng-template>
