<!-- Ask Customer Message Node v3 -->
<div class="ask-cust-node">
    <div class="top-section">
        <div class="svg_img">
            <img src="assets/images/icons/askcust.svg" alt="Image">
        </div>
        <p>{{projConstants.TELL_CUSTOMER}}</p>
    </div>
    <div class="msg-node-cust">
        <div class="send-copy-actions">
            <button class="solidbtn" aria-label="button">
                <i class="krIocnsFont-copy"></i>
            </button>
            <button class="solidbtn" aria-label="button">Send</button>
        </div>
        <!-- <div class="sent-msg-text">Sent</div> -->
        <!-- <p>{{automation.data.buttons[0].value}}</p> -->
        <p *ngIf="!automation.templateRender && automation.template">{{automation.data.buttons[0].value}}</p>
        <div *ngIf="automation.templateRender && automation.template" [innerHTML]="automation.template"></div>

        <!-- <div class="cust-choice-yes-no">
            <button class="active-btn" aria-label="button">Yes</button>
            <button aria-label="button">No</button>
        </div> -->
    </div>
</div>
