/* 
    Created on : 23 Aug, 2018, 3:52:47 PM
    Author     : Ravi Kiran Maddi
*/



/*--------SMART ASSIST-----------*/
html, body.smart-assist{
	font-family: 'inter' !important;
}
body{
	//XOP COLORS
--xop-primary-font-color:#101828;
--xop-secondary-font-color:#344054;
--xop-tertiary-font-color:#667085;
--xop-tile-border-color:#EAECF0;
--xop-main-menu-bg:#18202E;
--xop-action-color:#004EEB;
--xop-action-bg-color:#EFF4FF;
--xop-action-tag-bg-color:#e6eefd;
--xop-action-tag-bg-active-color:#EFF4FF;
--xop-primary-bg-color: #F2F4F7;
--xop-inputs-boreder-color:  #D0D5DD;
--xop-landing-tile-invite-icon-color:#98A2B3;
--xop-table-header-bg-color: #F9FAFB;
--xop-white-color:#ffffff;
--xop-bot-creation-active-icon-color:#84ADFF;
--xop-bot-creation-active-desc-color:#1D2939;
--xop-bg-color:#F2F4F7;
--xop-side-menu-bg-color: #F9FAFB;
--xop-bot-list-switching-dd-bg:#EFF8FF;
--xop-bot-list-switching-dd-font:#175CD3;
--xop-bot-list-switching-dd-arrow:#98A2B3;
--xop-main-menu-seperator:#475467;
--xop-table-header-bg:#FCFCFD;
--xop-tag-green-bg:#ECFDF3;
--xop-tag-green-text:#027A48;
--borderColor:#BDC1C6;
  $borderColor:#e5e8ec;
--editor-md-bg:#FFFFFF
}
$primaryFontColor:#202124;
$secondaryFontColor:#5F6368;
$tertiaryColor:#828282;
$primaryActionColor:#3366ff;
$primaryActionHoverColor:#3366ff;
$secondaryActionColor: #E9EFF4;
$secondaryActionHoverColor: #cfdfec;
$bg-color-primary:#f2f3f5;
$border2-color:#E4E5E7;
$primaryBackgroundColor:#F5F8FA;
$highlightFocusColor:#3366ff;
$primaryHoverColor:#EEEFF1;
$whiteColor:#ffffff;
$borderColor:#BDC1C6;
$warningRed:#ea1818;
$warningColor:#DD3646;
$transparent:transparent;
$orange:#ec7d01;
$hintTextColor:#ec7d01;
$hintBgColor:rgba(245,166,35,0.12);
$hoverTransparent:rgba(0, 157, 171, 0.1);
$leftmenubg:#E9F1F5;
$bg-secondary-color:#EFF0F1;
$notificationcolor:#FF2661;
$utteraneHovercolor:#F8F9FA;
$descColor:#172B4D;
$hoverImgcolor:#f3f8ff;
$placeholderColor:#BDC1C6;
$borderTabs:#D8D8D8;
$optionalText:#9AA0A6;
$previewAddressColor:#806D16;
$borderlite:#E5E8EC;
$descFontColor:#8a959f;
$BlueColor:#2B75E4;
$agentAccordionBorder:#A8C8DD;

$bg-btn-secondary:rgba(49, 97, 219, 0.17);
$border-blue:#2B75E4;//(DEEP SKY BLUE)
$font-secondary:#5F6368;//(FOREVER BLUE)
$font-primery:#202124;//(BLACK OUT)
$font-btn-secondary:#3161DB;//(ENCHANTING SAPPHIRE)
$font-danger:#DD3646;
$btn-delete-hover:#ffdbdf;
$font-tertiary:#3C4043;
$bg-white:#ffffff;//(WHITE)
$font-white:#ffffff;//(WHITE)
$font-bx-toggle-desc:#9AA0A6;
$bx-btn-draft: #EFF0F1;
$font-bx-formcontrol-color:#495057;
$font-bx-border-color: #1372ff;
$bg-hover-color: #F8F9FA;

$font-s-14:0.875rem;




/*---OLD VARIABLE NAMES FOR COLOR--*/
// COLORS 
// $primaryFontColor:#26344a;
// $secondaryFontColor:#8a959f;
// $tertiaryColor:#828282;
// $primaryHoverColor:#3366ff;
// $primaryActionColor:#3366ff;
// $primaryActionHoverColor:#018490;
// $hoverTransparent:rgba(0, 157, 171, 0.1);
// $primaryBackgroundColor:#f2f3f5;
// $whiteColor:#ffffff;
// $borderColor:#BDC1C6;
// $warningRed:#ea1818;
// $transparent:transparent;
// $orange:#ec7d01;
// $hintTextColor:#ec7d01;
// $hintBgColor:rgba(245,166,35,0.12);

// STANDARD SIZES
$font-xs: 10px;
$font-sm: 12px;	
$font-md: 14px; 	
$font-lg: 16px;		
$font-xl: 18px;		
$font-xxl: 24px; 	
$font-xxxl: 30px; 

%font-normal{font-weight: normal;}
%font-bold{font-weight: bold;}
%font-lighter{font-weight: lighter;}

//MEDIA STARTS HERE
$mediaMedium: "(max-width: 991px)";
$mediaSmall: "(max-width: 767px)";
//MEDIA STARTS HERE

//Buttons Starts Here
.smart-primary-btn{
	@extend %buttonSolid;
}
.smart-secondary-btn{
	@extend %buttonCancel;
}
.smart-border-btn{
	@extend %buttonBorder;
}
.smart-cancle-btn{
	@extend %buttonCancel;
}

%buttonCancel{
	border:1px solid $borderColor;
	background:$whiteColor; 
	color:$tertiaryColor;
	border-radius:4px;
	min-width:auto; 
	font-size: $font-md;
	font-weight: normal;
	line-height: 34px;
	padding: 0 20px;
	box-shadow: none;
	&:hover{
		border:1px solid $borderColor;
		color:$tertiaryColor;
		background:$primaryBackgroundColor;
	}
	&:disabled{
		opacity: 0.6;
		cursor: default;
		border:1px solid $borderColor;
		background:$whiteColor; 
		color:$tertiaryColor;
		&:hover{
			opacity: 0.6;
			border:1px solid $borderColor;
			background:$whiteColor; 
			color:$tertiaryColor;
		}
	}
}
%buttonBorder{
	border:1px solid $primaryActionColor;
	background:$whiteColor; 
	color:$primaryActionColor;
	border-radius:4px;
	min-width:auto; 
	font-size: $font-md;
	font-weight: normal;
	line-height: 34px;
	padding: 0 20px;
	box-shadow: none;
	&:hover{
		border:1px solid $primaryActionHoverColor;
		color:$whiteColor;
		background:$primaryActionHoverColor;
	}
	&:disabled{
		opacity: 0.6;
		cursor: default;
		border:1px solid $primaryActionColor;
		background:$whiteColor; 
		color:$primaryActionColor;
		&:hover{
			opacity: 0.6;
			border:1px solid $primaryActionColor;
			background:$whiteColor; 
			color:$primaryActionColor;
		}
	}
}
%buttonSolid{
	border:1px solid $primaryActionColor;
	background:$primaryActionColor; 
	color:$whiteColor;
	border-radius:4px;
	min-width:auto; 
	font-size: $font-md;
	font-weight: normal;
	line-height: 34px;
	padding: 0 20px;
	&:hover{
		border:1px solid $primaryActionHoverColor;
		color:$whiteColor;
		background:$primaryActionHoverColor;
	}
	&:disabled{
		opacity: 0.6;
		cursor: default;
		border:1px solid $primaryActionColor;
		background:$primaryActionColor; 
		color:$whiteColor;
		&:hover{
			opacity: 0.6;
			border:1px solid $primaryActionColor;
			background:$primaryActionColor; 
			color:$whiteColor;
		}
	}
}
%buttonSecondary{
	border:1px solid  $secondaryActionColor;
	background:  $secondaryActionColor; 
	color:$primaryFontColor;
	border-radius:4px;
	min-width:auto; 
	font-size: $font-md;
	font-weight: normal;
	line-height: 30px;
	padding: 0 20px;
	box-shadow: none;
	&:hover{
		border:1px solid $secondaryActionColor;
		color:$whiteColor;
		background:$secondaryActionColor;
	}
	&:disabled{
		opacity: 0.6;
		cursor: default;
		border:1px solid  $secondaryActionColor;
		background:  $secondaryActionColor; 
		color:$primaryFontColor;
		&:hover{
			opacity: 0.6;
			border:1px solid  $secondaryActionColor;
			background:  $secondaryActionColor; 
			color:$primaryFontColor;
		}
	}
}
%buttonTransprant{
	border:1px solid  rgba(0, 157, 171, 0.4);
	background:  rgba(0, 157, 171, 0.1); 
	color:$primaryActionColor;
	border-radius:4px;
	min-width:auto; 
	font-size: $font-md;
	font-weight: normal;
	line-height: 30px;
	padding: 0 20px;
	box-shadow: none;
	&:hover{
		border:1px solid $primaryActionHoverColor;
		color:$whiteColor;
		background:$primaryActionHoverColor;
	}
	&:disabled{
		opacity: 0.6;
		cursor: default;
		border:1px solid  rgba(0, 157, 171, 0.4);
		background:  rgba(0, 157, 171, 0.1); 
		color:$primaryActionColor;
		&:hover{
			opacity: 0.6;
			border:1px solid  rgba(0, 157, 171, 0.4);
			background:  rgba(0, 157, 171, 0.1); 
			color:$primaryActionColor;
		}
	}
}
%buttonDelete{
	border:1px solid $warningRed;
	background:$warningRed; 
	color:$whiteColor;
	border-radius:4px;
	min-width:auto;  
	font-size: $font-md;
	font-weight: normal;
	line-height: 30px;
	// opacity: 0.8;
	padding: 0 20px;
	box-shadow: none;
	&:hover{
		// opacity: 1;
		background-color: #cc0000;
		border:1px solid #cc0000;
	}
	&:disabled{
		opacity: 0.6;
		cursor: default;
		border:1px solid $warningRed;
		background:$warningRed; 
		color:$whiteColor;
		&:hover{
			opacity: 0.6;
			border:1px solid $warningRed;
			background:$warningRed; 
			color:$whiteColor;
		}
	}
}
//Buttons Starts Here

/*--------SMART ASSIST-----------*/





// html, body {
// 	font-family: "inter";
// }





%font-normal{font-weight: normal;}
%font-bold{font-weight: bold;}
%font-lighter{font-weight: lighter;}

//MEDIA STARTS HERE
$mediaMedium: "(max-width: 991px)";
$mediaSmall: "(max-width: 767px)";
//MEDIA STARTS HERE


//EXTEND STARTS HERE

//Border Starts Here
%noBorder{border:none;}
%borderAll{border: 1px solid $borderColor;}
%borderRight{border-right: 1px solid $borderColor;}
%borderLeft{border-left: 1px solid $borderColor;}
%borderBottom{border-bottom: 1px solid $borderColor;}
%borderTop{border-top: 1px solid $borderColor;}
//Border Ends Here

//Shasow Starts Here
%noShadow{box-shadow: none;}
%headerShadow{box-shadow: 0px 2px 2px 0px rgba(138, 149, 159, 0.2);}
//Shasow Ends Here

//Margin Starts Here
%noMargin{margin:0 !important;}
%noMarginTop{margin-top: 0 !important;}
%noMarginBottom{margin-bottom: 0 !important;}
%noMarginRight{margin-right: 0 !important;}
%noMarginLeft{margin-left: 0 !important;}

%marginFive{margin:5px !important;}
%marginLeftFive{margin-left:5px !important;}
%marginRightFive{margin-right:5px !important;}
%marginTopFive{margin-top:5px !important;}
%marginBottomFive{margin-bottom:5px !important;}

%marginTen{margin:10px !important;}
%marginLeftTen{margin-left:10px !important;}
%marginRightTen{margin-right:10px !important;}
%marginTopTen{margin-top:10px;}
%marginBottomTen{margin-bottom:10px !important;}

%marginFifteen{margin:15px !important;}
%marginLeftFifteen{margin-left:15px !important;}
%marginRightFifteen{margin-right:15px !important;}
%marginTopFifteen{margin-top:15px;}
%marginBottomFifteen{margin-bottom:15px !important;}

%marginTwentyFive{margin:25px !important;}
%marginLeftTwentyFive{margin-left:25px !important;}
%marginRightTwentyFive{margin-right:25px !important;}
%marginTopTwentyFive{margin-top:25px !important;}
%marginBottomTwentyFive{margin-bottom:25px !important;}
//Margin Ends Here

//Padding Starts Here
%noPadding{padding:0;}
%noPaddingTop{padding-top: 0;}
%noPaddingBottom{padding-bottom: 0;}
%noPaddingRight{padding-right: 0;}
%noPaddingLeft{padding-left: 0;}

%paddingFive{padding:5px;}
%paddingLeftFive{padding-left:5px;}
%paddingRightFive{padding-right:5px;}
%paddingTopFive{padding-top:5px;}
%paddingBottomFive{padding-bottom:5px;}

%paddingTen{padding:10px;}
%paddingLeftTen{padding-left:10px;}
%paddingRightTen{padding-right:10px;}
%paddingTopTen{padding-top:10px;}
%paddingBottomTen{padding-bottom:10px;}

%paddingFifteen{padding:15px;}
%paddingLeftFifteen{padding-left:15px;}
%paddingRightFifteen{padding-right:15px;}
%paddingTopFifteen{padding-top:15px;}
%paddingBottomFifteen{padding-bottom:15px;}

%paddingTwentyFive{padding:25px;}
%paddingLeftTwentyFive{padding-left:25px;}
%paddingRightTwentyFive{padding-right:25px;}
%paddingTopTwentyFive{padding-top:25px;}
%paddingBottomTwentyFive{padding-bottom:25px;}
//Padding Ends Here

//Width Starts Here
%widthHundred{width:100%;}
//Width Ends Here


//Buttons Ends Here
textarea::placeholder{
	font-size: $font-md;
	color: $placeholderColor;
}
div::placeholder{
	font-size: $font-md;
	color: $placeholderColor;
}
[contentEditable=true]:empty:not(:focus):before{
	content:attr(data-text);
	font-size: $font-md;
	color: $placeholderColor;
}
input::placeholder{
	font-size: $font-md;
	color: $placeholderColor;
}
//Input Starts Here
input{
    height: 34px;
    border-radius: 4px;
    border: solid 1px $borderColor;
    background-color: $whiteColor;
    outline: none;
	padding: 10px;
	color: $primaryFontColor;
	font-size: $font-md;
	// width: 100%;
}
input::placeholder{
	font-size: $font-md;
	color: $placeholderColor;
}

//Input Ends Here
//Dropdown Starts Here
%dropdown{
	.dropdown{
		.dropdown-toggle{
			border-radius: 3px;
			border: solid 1px $borderColor;
			margin-bottom: 10px;
			font-size: $font-md;
			color: $primaryFontColor;
		}
		.dropdown-menu{
			box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
			max-width: 300px;
			border: solid 1px $borderColor;
			.dropdown-item{
				display: block;
				padding: 5px 20px;
				clear: both;
				line-height: 1.42857143;
				color: $primaryFontColor;
				white-space: nowrap;
				font-size: $font-md;
				&:hover{
					color: $primaryHoverColor;
				}
			}
		}
	}

}
//Dropdown Ends Here
//Table Starts Here
.mat-table{
	.mat-header-row{
		border-bottom: 1px solid $borderColor;
		.mat-header-cell{
			color: $secondaryFontColor;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: normal;
			font-family: "inter";
		}
	}
	.mat-row{
		border-bottom: 1px solid $borderColor;
		.mat-cell{
			color: $primaryFontColor;
			font-size: $font-md;
			font-family: "inter";
		}
	}
}
//Table Ends Here
//EXTEND EDS HERE

.deflectContainer{
	display: block;
	padding-right: 0;
	padding-left: 0;
	float: left;
    width: calc(100% - 228px);
	&.is-unified-deflect-container{
		width: calc(100% - 228px);
		&.collapsed-unified-left-menu{
			width: calc(100% - 62px);
		}
	}
	&.collapsed-unified-left-menu{
		width: calc(100% - 62px);
	}
}   

// .is-unified-deflect-container{
// 	width: calc(100% - 227px);
// 	display: block;
// 	padding-right: 0;
// 	padding-left: 0;
// 	float: left;
// }

// .collapsed-unified-left-menu{
// 	display: block;
// 	padding-right: 0;
// 	padding-left: 0;
// 	float: left;
// 	width: calc(100% - 63px);
// }
.mat-menu-panel{
	&.headerDropDown{	
		box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.12);
		max-width: 300px;
		margin: 15px 0 0 !important;
		.mat-menu-content{
			padding: 0;
			.mat-menu-item{
				display: flex;
				align-items: center;
				min-height: auto;
				line-height: normal;
				height: 38px;
				padding: 5px 20px;				
				border-radius: 4px;
				&:hover{
					background: $primaryHoverColor;
				}
				.menu-name{
					color: $primaryFontColor;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					margin-left: 15px;
				}
			}
		}	  
	   .logout-menu{
			text-align: center;
			padding: 14px 0px 10px 0px;
			.email-id{
				margin-bottom: 6px;
				font-weight: normal;
				font-size: 12px;
				line-height: 20px;
				color: $descFontColor;
				padding: 0 10px;
			}
			.logout-btn{
				border: 0;
				background: transparent;
				outline: 0 !important;
				color: $descFontColor;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 0;
				.menu-name{
					color: $descFontColor;
					font-weight: normal;
					font-size: 12px;
					line-height: 20px;
					margin-left: 6px;
				}
			}
	   }
	} 
}

//SLIDER STYLING STARTS HERE
.cdk-overlay-container{
	z-index: 9999;
	.cdk-global-overlay-wrapper{
		.mat-dialog-container{
			padding: 0;
			.add-form-field-container{
				height: 100%;
				.add-form-field-header{
					height: 50px;
    				padding: 10px 20px;
				}
				.add-form-field-body{
					height: calc(100vh - 102px);
					overflow: auto;
					padding: 20px;
				}
			}
		}
	}
}
::ng-deep .userMetrics{
	width: 296px;
	height: 34px;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(179, 186, 200, 0.58);
	border: solid 1px $borderTabs;
	background-color: $whiteColor;
}
//SLIDER STYLING ENDS HERE
::ng-deep .mat-radio-outer-circle{
	border-color: $secondaryFontColor;
}
.mat-radio-label-content{
	color: $primaryFontColor;
}
.mat-select-value{
	color: $primaryFontColor;
}

// Toast Messages
#toast-container{
    position: fixed;
    z-index: 100001;
    top: 8px;
    right: 10px;
    // left: auto;
    width: auto;	
	.toast-success {
		background-color: $whiteColor;
		max-width: 500px;
		min-width: 230px;
		width: auto !important;
		box-shadow: none !important;
		color: #51A351 !important;
		border: 1px solid #51A351;
		border-left: 4px solid #51A351;
		font-size: $font-md;
		padding: 10px !important;
		background-image: none !important;
		padding-right: 25px !important;
		.toast-close-button{
		  color: #51A351 !important;
		  height: 10px !important;
		  position: absolute;
		  width: 10px;
		  right: 10px;
		  padding: 0;
		  border: 0;
		  top: 5px;
		}
	}
	.toast-error {
	background-color: $whiteColor;
	max-width: 500px;
	min-width: 230px;
	width: auto !important;
	box-shadow: none !important;
	color: $warningRed !important;
	border: 1px solid $warningRed;
	border-left: 4px solid $warningRed;
	font-size: $font-md;
	padding: 10px !important;
	background-image: none !important;
	padding-right: 25px !important;
	.toast-close-button{
		color: $warningRed !important;
		height: 10px !important;
		position: absolute;
		width: 10px;
		right: 10px;
		padding: 0;
		border: 0;
		top: 5px;
	}
	}
	.toast-warning {
		background-color: $whiteColor;
		max-width: 500px;
		min-width: 230px;
		width: auto !important;
		box-shadow: none !important;
		color: $orange !important;
		border: 1px solid $orange;
		border-left: 4px solid $orange;
		font-size: $font-md;
		padding: 10px !important;
		padding-right: 25px !important;
		// background-image: none !important;
		.toast-close-button{
			color: $orange !important;
			height: 10px !important;
			position: absolute;
			width: 10px;
			right: 10px;
			padding: 0;
			border: 0;
			top: 5px;
		}
	}
}

//ProTip 

.hintDiv{    
    background: $hintBgColor;
    clear: both;
    border: solid 1px #f3d19b;
    padding: 10px 20px;
    color: #ec7d01;
    display: block;
    border-radius: 4px;    
    position: relative;
    top: 8px;
    margin-bottom: 10px;
    .icon{
        display: table-cell;
        width: 20px;
        height: 20px;
    }
    .description{
        color: $hintTextColor;
        font-size: $font-md;
        display: table-cell;
        padding-left: 20px;
    }
}

.mat-tooltip{
	background: $primaryFontColor;
}
.cdk-drag {
	.firstColumMove{
		&::before {
			content: "=";
			font-size: 25px;
			color: $secondaryFontColor;
			position: absolute;
			left: 0;
			cursor: move;
			display: block;
		}
	}
}
.swal2-icon-warning.swal2-popup{
	width: 25em;
	padding: 0;
	.swal2-icon.swal2-warning{
		border-color: $warningRed;
		color: $whiteColor;
		background: $warningRed;
		width: 2em;
		height: 2em;
		margin-bottom: 20px;
		.swal2-icon-content{
			font-size: 25px;
		}
	}
	.swal2-title{
		font-size: 16px;
		color: $primaryFontColor;
		font-weight: normal;
	}
	.swal2-content{
		font-size: 16px;
		color: $primaryFontColor;
	}
	.swal2-actions{
		background-color: $primaryBackgroundColor;
		padding: 15px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		.kr-btn-delete{
			@extend %buttonDelete;
			margin: 0 8px 0 0;
		}
		.kr-btn-cancel{
			@extend %buttonCancel;
			margin: 0;
		}
	}
}

//Color picker styling starts here

.color-picker{
	box-shadow: 0 2px 4px 0 rgba(138, 149, 159, 0.38);
	border: solid 1px $borderColor !important;
	border-radius: 5px;

	// top: auto !important;
    // left: auto !important;
	// position: fixed !important;
	z-index: 10000 !important;
	
	.saturation-lightness{
	  border-radius: 5px !important;
	  border-bottom-left-radius: 0 !important;
	  border-bottom-right-radius: 0 !important;
	}
	.arrow.arrow-right{
	  border-color: rgba(0, 0, 0, 0) #d8d8d8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
	}
	.arrow.arrow-right-bottom{
	  border-color: rgba(0, 0, 0, 0) #d8d8d8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
	}
	.arrow.arrow-bottom-right{
	  border-color: rgba(0, 0, 0, 0) #d8d8d8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
	}
	.arrow.arrow-right-top{
	  border-color: rgba(0, 0, 0, 0) #d8d8d8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
	}
	.hex-text{
	  input{
		border: solid 1px $borderColor !important;
		border-radius: 5px;
	  }
	}
	.rgba-text{
	  input{
		border: solid 1px $borderColor !important;
		border-radius: 5px;
	  }
	}
	.hsla-text{
	  input{
		border: solid 1px $borderColor !important;
		border-radius: 5px;
	  }
	}
	.type-policy{
	  opacity: 0.5;
	}
	.button-area{
	  .cp-cancel-button-class{
		@extend %buttonCancel;
		height: 34px;
		margin-right: 10px;
	  }
	  .cp-ok-button-class{
		@extend %buttonSolid;
		height: 34px;
	  }
	}
  }
  .tooltip-inner{
	  font-size: 12px;
  }
  //Color picker styling ends here



.uContainerWidth {
    width: 100% !important;
}