
.widget-header-sec{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    min-height: 43px;
    background: var(--themeBgWhiteColor);
    .logo-sec{
        display: flex;
        align-items: center;
        padding: 8px;
        gap: 8px;
        width: 100%;
        .divider-line{
            background: #EAECF0;
            width: 1px;
            flex-shrink: 0;
            height: 15px;
        }
    }
    .right-chart-data{
        transition: 0.2s all ease-in-out;
        flex-shrink: 0;
    }
}