


<div class="cust-aspects-wrapper">
    <div class="automations-tabs">
        <div class="tab-name active-tab">
            <span>All</span>
        </div>
        <div class="tab-name">
            <img src="assets/icons/dashboard/articles.svg">
            <span>Articles</span>
        </div>
        <div class="tab-name">
            <img src="assets/icons/dashboard/faqs.svg">
            <span>FAQs</span>
        </div>
        <div class="tab-name">
            <img src="assets/icons/dashboard/automation.svg">
            <span>Automations</span>
        </div>
    </div>
    <div class="tab-details-info">
        <div class="row-data">
            <div class="title-with-count">
                <img src="assets/icons/dashboard/articles.svg">
                <span class="title">Reschedule Flight </span>    
                <div class="count-percentage">
                    <span class="percentage">32%</span>
                    <span class="count-">(234)</span>
                </div>                               
            </div>
            <div class="slider-percentage">
                <div class="data-percentage"></div>
            </div>
        </div>
        <div class="row-data">
            <div class="title-with-count">
                <img src="assets/icons/dashboard/faqs.svg">
                <span class="title">Reschedule Flight </span>    
                <div class="count-percentage">
                    <span class="percentage">32%</span>
                    <span class="count-">(234)</span>
                </div>                               
            </div>
            <div class="slider-percentage">
                <div class="data-percentage"></div>
            </div>
        </div>
        <div class="row-data">
            <div class="title-with-count">
                <img src="assets/icons/dashboard/automation.svg">
                <span class="title">Cancel Flight </span>    
                <div class="count-percentage">
                    <span class="percentage">32%</span>
                    <span class="count-">(234)</span>
                </div>                               
            </div>
            <div class="slider-percentage">
                <div class="data-percentage"></div>
            </div>
        </div>
        <div class="row-data">
            <div class="title-with-count">
                <img src="assets/icons/dashboard/automation.svg">
                <span class="title">Reschedule Flight</span>    
                <div class="count-percentage">
                    <span class="percentage">32%</span>
                    <span class="count-">(234)</span>
                </div>                               
            </div>
            <div class="slider-percentage">
                <div class="data-percentage"></div>
            </div>
        </div>
    </div>
</div>