<div class="update-bot-container">
    <div class="header-sec" *ngIf="update.step == 0">
        <div class="title">{{ "ONBOARDING.UPDATE_THIS_BOT" | translate }}</div>
        <div class="close-modal" [hidden]="isBackInProgress" (click)="close()">
            <img src="assets/icons/welcome/close.svg">
        </div>
    </div>
    <perfect-scrollbar class="update-scroll-bot">
        <div class="update-bots" [ngClass]="{'backing-up': isBackInProgress}" *ngIf="update.step == 0">
            <div class="main-title">{{ "ONBOARDING.OVERWRITE_DESC" | translate }}</div>
            <div class="import-input-data">
                <div class="kr-sg-fileupload mb-20">
                    <div class="label-text">{{ "ONBOARDING.BT_DEF_FILE" | translate }}</div>
                    <div class="custom_file">
                        <input type="file" class="custom_file_input" #btDef id="inputGroupFile01" (change)="upDefFile(btDef.files[0])" accept=".json" aria-describedby="inputGroupFileAddon01">
                        <label class="custom_file_label" for="inputGroupFile01" [attr.data-content]="chooseFile">
                            <span [hidden]="!btDef.value.length" style="color: #202124">{{btDef.files[0]?.name}}</span>
                            <span [hidden]="btDef.value.length">{{ "ONBOARDING.CHOOSE_BT_DEF_FILE" | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="kr-sg-fileupload mb-20">
                    <div class="label-text">{{ "ONBOARDING.BT_CONFIG_FILE" | translate }}</div>
                    <div class="custom_file">
                        <input type="file" class="custom_file_input" #cgFile id="inputGroupFile01" (change)="upVarFile(cgFile.files[0])" aria-describedby="inputGroupFileAddon01" accept=".json">
                        <label class="custom_file_label" for="inputGroupFile01" [attr.data-content]="chooseFile">
                            <span [hidden]="!cgFile.value.length" style="color: #202124">{{cgFile.files[0]?.name}}</span>
                            <span [hidden]="cgFile.value.length">{{ "ONBOARDING.CHOOSE_A_BT_CONFIG" | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="kr-sg-fileupload mb-20">
                    <div class="label-text">{{ "ONBOARDING.CUSTOM_SCRIPT_FILE" | translate }}</div>
                    <div class="custom_file">
                        <input type="file" class="custom_file_input" id="inputGroupFile01" #scptFile (change)="upScriptFile(scptFile.files[0])" accept=".js" aria-describedby="inputGroupFileAddon01">
                        <label class="custom_file_label" for="inputGroupFile01" [attr.data-content]="chooseFile">
                            <span [hidden]="!scptFile.value.length" style="color: #202124">{{scptFile.files[0]?.name}}</span>
                            <span [hidden]="scptFile.value.length">{{ "ONBOARDING.CHOOSE_CUSTOM_SCRIPT" | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="create-backup">
                <div class="kr-sg-checkbox">
                    <input id="checkbox-1" checked [(ngModel)]="isBackup" class="checkbox-custom" type="checkbox">
                    <label for="checkbox-1" class="checkbox-custom-label">{{ "ONBOARDING.CREATE_BACKUP" | translate }}</label>
                </div> 
                <div class="sub-desc">
                    ({{ "ONBOARDING.UR_BOT_PERMANENTLY" | translate }})
                </div>
            </div>
            <div class="group-radiobutton">
                <div class="heading-title">{{ "ONBOARDING.IMPORT_OPTIONS" | translate }}</div>
                <div class="kr-sg-radiobutton d-block p-0">
                    <input id="radio-32" name="import_opt" class="radio-custom" [(ngModel)]="import.type" value="full" type="radio">
                    <label for="radio-32" class="radio-custom-label">{{ "ONBOARDING.FULL_IMPORT" | translate }}</label>
                    <div class="desc-text">{{ "ONBOARDING.FULL_IMPORT_DESC" | translate }}</div>
                </div> 
                <div class="kr-sg-radiobutton d-block p-0 mb-0">
                    <input id="radio-33" name="import_opt" class="radio-custom" [(ngModel)]="import.type" value="incremental" type="radio">
                    <label for="radio-33" class="radio-custom-label">{{ "ONBOARDING.IN_IMPORT" | translate }}</label>
                    <div class="desc-text">{{ "ONBOARDING.IN_IMPORT_DESC" | translate }}</div>
                </div> 
            </div>
            <ng-container *ngIf="import.type == 'incremental'">
                <div class="title-select-component">{{ "ONBOARDING.SELECT_COMPONENTS_TO_IMPORT" | translate }}</div>
                <div class="select-component-import-sec">
                    <div class="card-container-import">
                        <div class="kr-sg-checkbox p-0 mb-0 ml-3">
                            <input id="checkbox-1-task" class="checkbox-custom" [(ngModel)]="mst.btSel" name="botTask" value="btTsk" (change)="chkUnchkAllBtTask()" type="checkbox">
                            <label for="checkbox-1-task" class="checkbox-custom-label">{{ "ONBOARDING.BT_TASK" | translate }}</label>
                        </div> 
                        <div class="group-checkbox">                            
                            <div class="kr-sg-checkbox d-block p-0" *ngFor="let t of chBtTask">
                                <input [(ngModel)]="t.isSelected" id="checkbox-{{t.id}}" name='botTask' value="{{t.id}}" class="checkbox-custom" (change)="isAllSelBtTask()" type="checkbox">
                                <label for="checkbox-{{t.id}}" class="checkbox-custom-label">{{t.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-container-import">
                        <div class="kr-sg-checkbox p-0 mb-0 ml-3">
                            <input id="checkbox-mst-nlp" class="checkbox-custom" [(ngModel)]="mst.nlp" name="nlpChk" value="nlpM" (change)="chkUnchkAllNlp()" type="checkbox">
                            <label for="checkbox-mst-nlp" class="checkbox-custom-label">{{ "ONBOARDING.NLP_DATA" | translate }}</label>
                        </div> 

                        <div class="group-checkbox">                            
                            <div class="kr-sg-checkbox d-block p-0" *ngFor="let n of nlpData">
                                <input [(ngModel)]="n.isSelected" id="checkbox-{{n.id}}" name="nlpChk" value="{{n.id}}" class="checkbox-custom" (change)="isAllSelNlp()" type="checkbox">
                                <label for="checkbox-{{n.id}}" class="checkbox-custom-label">{{n.name}}</label>
                                <div class="group-radiobutton" *ngIf="n.id == 'utterances'">                                
                                    <div class="kr-sg-radiobutton d-block p-0 mb-1">
                                        <input id="radio-app" name="ut-sel" class="radio-custom" [(ngModel)]="rd.ut" value="append" type="radio">
                                        <label for="radio-app" class="radio-custom-label">{{ "ONBOARDING.APPEND" | translate }}</label>
                                        <span class="ml-1" placement="top-center" tooltipClass="tooltip_custom_acc" [ngbTooltip]="'ONBOARDING.APPEND_DESC' | translate"><img src="assets/icons/welcome/info-small.svg"></span>
                                    </div> 
                                    <div class="kr-sg-radiobutton d-block p-0 mb-1">
                                        <input id="radio-rep" name="ut-sel" class="radio-custom" [(ngModel)]="rd.ut" value="replace" type="radio">
                                        <label for="radio-rep" class="radio-custom-label">{{ "ONBOARDING.REPLACE" | translate }}</label>
                                        <span class="ml-1" placement="top-center" tooltipClass="tooltip_custom_acc" [ngbTooltip]="'ONBOARDING.REPLACE_DESC' | translate"><img src="assets/icons/welcome/info-small.svg"></span>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container-import">
                        <div class="kr-sg-checkbox p-0 mb-0 ml-3">
                            <input id="checkbox-mst-set" class="checkbox-custom" [(ngModel)]="mst.settings" name="chkSettings" value="sett" type="checkbox" (change)="chkUnchkAllSettings()">
                            <label for="checkbox-mst-set" class="checkbox-custom-label">{{ "ONBOARDING.SETTINGS" | translate }}</label>
                        </div> 

                        <div class="group-checkbox">                                
                            <div class="kr-sg-checkbox d-block p-0" *ngFor="let s of settChk">
                                <input [(ngModel)]="s.isSelected" id="checkbox-{{s.id}}" name="chkSettings" value="{{s.id}}" class="checkbox-custom" (change)="isAllSelSettings()" type="checkbox">
                                <label for="checkbox-{{s.id}}" class="checkbox-custom-label">{{s.name}}</label>
                            </div>                            
                        </div>  
                    </div>
                </div>
                <div class="kr-sg-checkbox p-0 mb-0 ml-3">
                    <input id="checkbox-cust-dash" class="checkbox-custom" [(ngModel)]="mst.dashboard" name="dashboard" value="dashboard" type="checkbox">
                    <label for="checkbox-cust-dash" class="checkbox-custom-label">{{ "ONBOARDING.CUST_DASHBOARDS" | translate }}</label>
                </div> 
            </ng-container>

            <div class="please-wait" *ngIf='isBackInProgress'>
                <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                <span class="wait-message">{{'BACKINGUP' | translate}}</span>
            </div>
        </div>

        <ng-container *ngIf="update.step == 1">
            <div class="header-sec-title">{{ "ONBOARDING.IMPORTING_DOTS" | translate }}</div>                
            <perfect-scrollbar class="scroll-content">
                <div class="converting-bot-sec">
                    <div class="img_block">
                        <img src="assets/icons/welcome/convering-bot.svg">
                    </div>
                    <div class="progress-slider">
                        <mat-progress-bar mode="indeterminate" class="conver-progress"></mat-progress-bar>
                    </div>
                    <div class="selected-bot">
                        {{ "ONBOARDING.IMPORTING" | translate }}  <span class="bt-name">{{importedBt}}</span>
                    </div>
                </div>
                <div class="converting-task-info">
                    <div *ngFor="let logs of stLogs" class="type-task">
                        <img *ngIf="logs.status == 'success'" src="assets/icons/welcome/check.svg">
                        <img *ngIf="logs.status == 'failed'" src="assets/icons/failed.svg">
                        {{ logs.taskName }}
                    </div>
                </div>
            </perfect-scrollbar>
        </ng-container>

        <ng-container *ngIf="update.step == 2">          
            <div class="header-sec-title">{{ "ONBOARDING.UPDATE_BOT" | translate }}</div>   
            <perfect-scrollbar class="scroll-content">
                <div class="convert-bot-success">
                    <div class="img_block">
                        <img src="assets/icons/welcome/bot-convert-success.svg">
                    </div>
                    <div class="bot-import-name d-none">{{importedBt}}</div>
                    <div class="bot-import-name">{{selectedBt}}</div>
                    <div class="success-info">{{ "ONBOARDING.UPDATED_SUCCESSFULLY" | translate }}</div>
                    <div class="converting-task-info">
                        <div *ngFor="let logs of stLogs" class="type-task">
                            <img *ngIf="logs.status == 'success'" src="assets/icons/welcome/check.svg">
                            <img *ngIf="logs.status == 'failed'" src="assets/icons/failed.svg">
                            {{ logs.taskName }}
                        </div>
                    </div>
                    <div class="donload-log-file" (click)="downloadLog()">
                        <img src="assets/icons/welcome/download.svg"> {{ "ONBOARDING.DOWNLOAD_LOG_FILE" | translate }}
                    </div>
                </div>
            </perfect-scrollbar>
        </ng-container>

        <ng-container *ngIf="update.step == 3">
            <div class="header-sec-title">{{ "ONBOARDING.UPDATE_BOT" | translate }}</div>   
            <perfect-scrollbar class="scroll-content">
                <div class="convert-bot-failed">
                    <img src="assets/icons/welcome/failed-bot.svg">
                    <!-- <div class="bot-import-name">{{selectedBt}}</div> -->
                    <div class="success-info">{{ "ONBOARDING.UPDATE_BOT_FAILED" | translate }}</div>
                    <div class="warning-msg">
                        <img src="assets/icons/welcome/warning.svg"> {{importedBtError}}
                    </div>
                </div>
            </perfect-scrollbar>
        </ng-container>  


        
    </perfect-scrollbar>
    <div class="footer-btns text-center" [ngClass]="{'backing-up': isBackInProgress}">       
        <button class="kr-sg-button-primary btn_lg" *ngIf="update.step == 2" (click)="importDone()">{{ "ONBOARDING.DONE" | translate }}</button>
        <button class="kr-sg-button-secondary btn_lg mr-2" *ngIf="update.step == 0" (click)="close()">{{ "ONBOARDING.BACK" | translate }}</button>
        <button class="kr-sg-button-primary btn_lg" *ngIf="update.step == 0" (click)="override()">{{ "ONBOARDING.IMPORT" | translate }}</button>
        <button class="kr-sg-button-primary btn_lg" *ngIf="update.step == 3" (click)="close()">{{ "ONBOARDING.OKAY" | translate }}</button>
        <button class="kr-sg-button-secondary btn_lg mr-2" disabled *ngIf="update.step == 1" (click)="close()">{{ "ONBOARDING.CLOSE_WINDOW" | translate }}</button>
    </div>
</div>
