
@import './../../../scss/variables/variables.scss';
.update-bot-container{
    width: 840px;
    overflow: hidden;
    background: $whiteColor;
    .header-sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $primaryBackgroundColor;
        padding: 24px 30px;
        .title{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
        }
        .close-modal{
            cursor: pointer;
        }
    }
    .update-scroll-bot{
        max-height: calc(100vh - 220px);
    }
    .update-bots{
        padding: 20px 30px;
        &.backing-up {
            position: relative;
            opacity: 0.5;
            pointer-events: none;
            .please-wait {
                position: absolute;
                top: 50%;
                left: 45%;
                visibility: visible;
                display: flex;
                z-index: 99;
                .wait-message {
                    margin-left: 10px;
                }
            }
        }
        .please-wait {
            visibility: hidden;
        }
        .main-title{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 16px;
        }
        .label-text{
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
        .create-backup {
            .sub-desc {
                color: $optionalText;
                font-size: 12px;
                font-weight: 400;
                margin: -10px 0 10px 28px;
            }
        }
        .group-radiobutton{
            .heading-title{
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 13px;
            }
            .kr-sg-radiobutton{
                margin-bottom: 18px;
                .desc-text{
                    padding-left: 28px;
                    color: $optionalText;
                    letter-spacing: 0.01em;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        .title-select-component{
            color: $optionalText;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            padding-left: 27px;
            margin: 12px 0 18px 0;
        }
        .select-component-import-sec{
            display: flex;
            padding-left: 26px;            
            .card-container-import{
                width: 250px;
                .kr-sg-checkbox {
                    margin-bottom: 10px;
                    .checkbox-custom {
                        + .checkbox-custom-label{
                            &::before{
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
                .group-checkbox{
                    background: $whiteColor;
                    border: 1px solid $agentAccordionBorder;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 18px 20px;
                    margin: 10px 10px 10px 0px;
                    height: 185px;
                    .group-radiobutton{
                        padding-left: 30px;
                    }
                }
            }
        }
    }
    .footer-btns{
        padding: 20px;
        background: $primaryBackgroundColor;
        &.backing-up {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}
.mb-20{
    margin-bottom: 20px;
}

::ng-deep .tooltip_custom_acc{  
    opacity: 1 !important;
    .arrow{
        display: block;
        &::before{
            border-top-color:$primaryFontColor;
        }
    }
    .tooltip-inner{
        opacity: 1 !important;
        background: $primaryFontColor;
        box-shadow: 0px -4px 4px rgba(32, 33, 36, 0.2);
        border-radius: 4px;
        width: 500px;
        // width: 351px;               
        padding: 10px 15px;
        line-height: 14px;
        font-size: 10px;
        color: $whiteColor;
        text-align: left;
        border: 0;
    }
}

.header-sec-title{
    color: $primaryFontColor;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    background: $primaryBackgroundColor;
    padding: 24px;
    text-align: center;
}

.convert-bot-success{
    text-align: center;
    padding: 20px;
    .img_block{

    }
    .bot-import-name{
        color: $primaryFontColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-style: italic;
    }
    .success-info{
        color: $primaryFontColor;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }
    .donload-log-file{
        display: inline-block;
        left: -40px;
        position: relative;
        color: $primaryActionColor;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0;
        cursor: pointer;
        img{
            margin-right: 6px;
        }
    }
}

.converting-bot-sec{
    text-align: center;
    padding: 30px;
    .img_block{
        margin-bottom: 10px;
    }
    .progress-slider{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .selected-bot{
        color: $primaryFontColor;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        .bt-name{
            font-weight: 400;
            font-style: italic;
        }
    }
}

.convert-bot-failed{
    text-align: center;
    padding: 20px;
    .bot-import-name{
        color: $primaryFontColor;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-style: italic;
    }
    .success-info{
        color: $primaryFontColor;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }
    .warning-msg{
        color: $primaryFontColor;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        img{
            margin-right: 18px;
        }
    }
}

.converting-task-info{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    padding-left: 120px;
    margin: 15px auto;
    .type-task{
        display: flex;
        align-items: center;
        color: $primaryFontColor;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 15px;
        img{
            margin-right: 18px;
        }
    }        
}

::ng-deep {
    .mat-progress-bar.conver-progress {
        width: 220px;
        height: 6px;
        border-radius: 20px;
        .mat-progress-bar-fill::after {
            background-color: #219653;
        }
        .mat-progress-bar-buffer {
            background-color: $border2-color;
        }
    }

}