<div class="widget-body-wrapper">
    <div class="widgets-list-card" #top [ngClass]="{'minimized-card' : assistMaxButtonClick}">
        <app-checklist (maxButtonClick)="checkListMaxButtonClickEvent($event)" [maxButton]="assistMaxButtonClick"></app-checklist>
    </div>
    <div class="resize-divider"></div>
    <div class="widgets-list-card" #bottom [ngClass]="{'minimized-card' : checkListMaxButtonClick}">
        <app-assist (maxButtonClick)="assistMaxButtonClickEvent($event)" [maxButton]="checkListMaxButtonClick"></app-assist>
    </div>
</div>