<div class="search-block-data-suggestions" [attr.id]="renderResponseType.SUGGESTIONS + '-' + suggestionResponse?.uuid">
    <div class="suggestionslist-conntent-search" 
        *ngIf="suggestionResponse.searchResponse?.dialogs?.length
               || suggestionResponse.searchResponse?.faqs?.length
               || suggestionResponse.searchResponse?.snippets?.length
               || suggestionResponse.searchResponse?.articles?.length
               || suggestionResponse.searchResponse?.files?.length
        ">
        <ng-container>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.dialogs?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/dialog.svg" alt="Top Dialog Suggestion">
                    </div>
                    <h1 class="text-truncate">{{'DIALOG_TASK' | translate}}</h1>
                    <i class="krIocnsFont-info-circle help-tip-icon" [ngbTooltip]="tipContent" container="body" *ngIf="suggestionResponse?.data?.userInput"></i>                                            
                    <!-- <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span> -->
                    <!-- <span class="count-text">{{suggestionResponse.searchResponse?.dialogs?.length}}</span> -->
                </div>
                <div class="suggestion-body-search">
                    <app-dialog-suggestion [searchResponse]="suggestionResponse.searchResponse" [suggestionData]="suggestionResponse.data"></app-dialog-suggestion>
                    <div class="btn-more-solid">
                        <button class="btn_link" aria-label="button" (click)="openSearch()">{{'NOT_WHAT_LOOKING' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.faqs?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/custchoice.svg" alt="FAQ">
                    </div>
                    <h1 class="text-truncate">{{'FAQ' | translate}}</h1>
                    <i class="krIocnsFont-info-circle help-tip-icon" [ngbTooltip]="tipContent" container="body" *ngIf="suggestionResponse?.data?.userInput"></i>                                            
                    <!-- <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span> -->
                    <!-- <span class="count-text">{{suggestionResponse.searchResponse?.faqs?.length}}</span> -->
                </div>
                <div class="suggestion-body-search">
                    <app-faq-suggestions (faqAnswerToggle)="checkAnswerAndToggle($event)" [searchResponse]="suggestionResponse.searchResponse" [from]="projConstants.ASSIST"></app-faq-suggestions>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.snippets?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/web-page.svg" alt="Snippet">
                    </div>
                    <h1 class="text-truncate">{{'SNIPPET' | translate}}</h1>
                    <span class="by-n-ai"><span class="snippet-by-label">by</span><i class="krIocnsFont-Aimark"></i></span>
                        <!-- <i class="krIocnsFont-info-circle help-tip-icon" [ngbTooltip]="tipContent" container="body" *ngIf="suggestionResponse?.data?.userInput"></i> -->
                        <!-- <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span> -->
                        <!-- <span class="count-text">{{suggestionResponse.searchResponse?.snippets?.length}}</span> -->
                </div>
                <div class="suggestion-body-search">
                    <app-snippet-suggestions [searchResponse]="suggestionResponse.searchResponse"></app-snippet-suggestions>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.articles?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/web-page.svg" alt="Article">
                    </div>
                    <h1 class="text-truncate">{{'ARTICLE' | translate}}</h1>
                    <i class="krIocnsFont-info-circle help-tip-icon" [ngbTooltip]="tipContent" container="body" *ngIf="suggestionResponse?.data?.userInput"></i>
                    <!-- <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span> -->
                    <!-- <span class="count-text">{{suggestionResponse.searchResponse?.articles?.length}}</span> -->
                </div>
                <div class="suggestion-body-search">
                    <app-article-suggestions [searchResponse]="suggestionResponse.searchResponse"></app-article-suggestions>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.files?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/file.svg" alt="File">
                    </div>
                    <h1 class="text-truncate">{{'FILE' | translate}}</h1>
                    <i class="krIocnsFont-info-circle help-tip-icon" [ngbTooltip]="tipContent" container="body" *ngIf="suggestionResponse?.data?.userInput"></i>
                    <!-- <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span> -->
                    <!-- <span class="count-text">{{suggestionResponse.searchResponse?.articles?.length}}</span> -->
                </div>
                <div class="suggestion-body-search">
                    <app-file-suggestions [searchResponse]="suggestionResponse.searchResponse"></app-file-suggestions>
                </div>
            </div>
        </ng-container>
    </div>
</div>


<ng-template #tipContent>
    <div class="tipcontent-dialog-suggestion">
        <p>{{'INTENT_IDENTIFIED' | translate}} :</p>
        <span>{{suggestionResponse?.data?.userInput}}</span>
    </div>                       
</ng-template>