<div class="search-block-data-suggestions" [attr.id]="renderResponseType.SUGGESTIONS + '-' + suggestionResponse?.uuid">
    <div class="suggestionslist-conntent-search">
        <ng-container>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.dialogs?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/dialog.svg" alt="Top Dialog Suggestion">
                    </div>
                    <h1 class="text-truncate">Dialog Task <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span></h1>
                    <span class="count-text">{{suggestionResponse.searchResponse?.dialogs?.length}}</span>
                </div>
                <div class="suggestion-body-search">
                    <app-dialog-suggestion [searchResponse]="suggestionResponse.searchResponse"></app-dialog-suggestion>
                    <div class="btn-more-solid">
                        <button class="btn_link" aria-label="button" (click)="openSearch()">Not what you are looking for</button>
                    </div>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.faqs?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/custchoice.svg" alt="FAQ">
                    </div>
                    <h1 class="text-truncate">FAQ <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span></h1>
                    <span class="count-text">{{suggestionResponse.searchResponse?.faqs?.length}}</span>
                </div>
                <div class="suggestion-body-search">
                    <app-faq-suggestions (faqAnswerToggle)="checkAnswerAndToggle($event)" [searchResponse]="suggestionResponse.searchResponse"></app-faq-suggestions>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.snippets?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/custchoice.svg" alt="Snippet">
                    </div>
                    <h1 class="text-truncate">Snippet <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span></h1>
                    <span class="count-text">{{suggestionResponse.searchResponse?.snippets?.length}}</span>
                </div>
                <div class="suggestion-body-search">
                    <app-snippet-suggestions [searchResponse]="suggestionResponse.searchResponse"></app-snippet-suggestions>
                </div>
            </div>
            <div class="sugestions-block" *ngIf="suggestionResponse.searchResponse?.articles?.length">
                <div class="suggestion-header">
                    <div class="icon_block">
                        <img src="assets/images/icons/custchoice.svg" alt="Article">
                    </div>
                    <h1 class="text-truncate">Article <span [ngbTooltip]="suggestionResponse?.data?.userInput" *ngIf="suggestionResponse?.data?.userInput"> : ({{suggestionResponse?.data?.userInput?.slice(0,10) + '...'}})</span></h1>
                    <span class="count-text">{{suggestionResponse.searchResponse?.articles?.length}}</span>
                </div>
                <div class="suggestion-body-search">
                    <app-article-suggestions [searchResponse]="suggestionResponse.searchResponse"></app-article-suggestions>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #dialogSuggestion>
    <div class="dialog-suggestion-wrapper">
        <div class="top-section">
            <div class="svg_img">
                <img src="assets/images/icons/dialog.svg" alt="Image">
            </div>
            <p>Dialog :</p>
            <span [ngbTooltip]="tipContent">i will like to...</span>
            <div class="dialog-count">4</div>
        </div>
        <app-dialog></app-dialog>
        <div class="btn-more-solid">
            <button class="btn_link" aria-label="button">Not what you are looking for ?</button>
        </div>
    </div>
</ng-template>

<ng-template #tipContent>
    <div class="tipcontent-dialog-suggestion">
        <p>intent identified :</p>
        <span>{{suggestionResponse?.data?.userInput}}</span>
    </div>
</ng-template>