<div class="overlay-delete-popup" id="restorePopUp">
    <div class="delete-box-content">
        <div class="header-text">Restore Values?</div>
        <div class="close-popup">
            <i class="ast-close"></i>
        </div>
        <div class="desc-text-info">You made changes to the entity values. Are you sure you want to restore values?</div>
        <div class="btn-footer-info" id="restoreCancel">
            <button class="btn-restore">Yes, restore</button>
            <button class="btn-cancel">Cancel</button>
        </div>
    </div>
</div>