<div class="utterance-triggers">
    <div class="drag-content">
        <i class="icon-sa-elipse"></i>
    </div>
    <div class="and-or-btns">
        <button class="and-or-btn active-btn">And</button>
        <button class="and-or-btn">Or</button>
    </div>
    <span class="utt-name-desc">Triggered when conversation variable </span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>
            <span class="choose-text">{{'{ variable }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <li ngbDropdownItem class="list-item-li">
                <span class="title">Agent</span>
                <i class="icon-sa-conv-check"></i>
            </li>
            <li ngbDropdownItem class="list-item-li">
                <span class="title">Customer</span>
                <i class="icon-sa-conv-check"></i>
            </li>
        </ul>
    </div>
    <span class="utt-name-desc">of type</span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle text-choosen" ngbDropdownToggle>
            <span class="choose-text">variable type</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngTemplateOutlet="variableName;"></ng-container>
        </ul>
    </div>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle text-choosen" ngbDropdownToggle>
            <span class="choose-text">{{'{ comparator }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <perfect-scrollbar class="mx-h-220">
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">Equals to</span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">Equals to</span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">Equals to</span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">Equals to</span>
                    <i class="icon-sa-conv-check"></i>
                </li>
            </perfect-scrollbar>
        </ul>
    </div>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle text-choosen" ngbDropdownToggle>
            <span class="choose-text">{{'{ value }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <div class="range-inputs-between">
                <div class="variable-value-input">
                    <div class="label-text">Between</div>
                    <div class="kr-sg-input-text">
                        <span class="info-tip" tooltipClass="tooltip-global-styles" ngbTooltip="Tooltip info">
                            <i class="icon-sa-help"></i>
                        </span>
                        <input type="text" placeholder="Placeholder text" class="input-text">
                    </div>
                </div>
                <div class="variable-value-input">
                    <div class="label-text">and</div>
                    <div class="kr-sg-input-text">
                        <span class="info-tip" tooltipClass="tooltip-global-styles" ngbTooltip="Tooltip info">
                            <i class="icon-sa-help"></i>
                        </span>
                        <input type="text" placeholder="Placeholder text" class="input-text">
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle text-choosen" ngbDropdownToggle>
            <span class="choose-text">{{'{ value }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <li ngbDropdownItem class="list-item-li">
                <span class="bg-action"></span>
                <span class="title">Positive</span>
            </li>
            <li ngbDropdownItem class="list-item-li">
                <span class="bg-action neutral"></span>
                <span class="title">Neutral</span>
            </li>
            <li ngbDropdownItem class="list-item-li">
                <span class="bg-action alertbg"></span>
                <span class="title">Alert</span>
            </li>
            <li ngbDropdownItem class="list-item-li">
                <span class="bg-action critical"></span>
                <span class="title">Critical</span>
            </li>
        </ul>
    </div>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle text-choosen" ngbDropdownToggle>
            <span class="choose-text">variable type</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngTemplateOutlet="variableName;"></ng-container>
        </ul>
    </div>
    <!-- <div class="dropdown-occurences" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle><i class="icon-sa-conv-refreshten"></i> 1x</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <perfect-scrollbar class="mx-h-220">
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">Each Occurrence <span>1x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">After 2 Occurrences <span>2x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">After 3 Occurrences <span>3x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">After 4 Occurrences <span>4x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">After 5 Occurrences <span>5x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
            </perfect-scrollbar>
        </ul>
    </div>
    <div class="dropdown-occurences no_border" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>in 30 seconds</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <div class="seconds-input">
                <div class="kr-sg-input-text">
                    <input type="text" placeholder="Placeholder text" class="input-text">
                </div>
                <div class="s-title">seconds</div>
            </div>
        </ul>
    </div> -->
</div>




<ng-template #variableName>
    <div class="variable-value-input with-check-icon">
        <div class="input-variable-sec">
            <div class="label-text">Variable Name</div>
            <!-- <div class="kr-sg-input-text">
                <span class="info-tip" tooltipClass="tooltip-global-styles" ngbTooltip="Tooltip info">
                    <i class="icon-sa-help"></i>
                </span>
                <input type="text" placeholder="Placeholder text" class="input-text">
            </div> -->
            <div class="kr-sg-input-text-area">
                <textarea placeholder="Provide a body" class="input-text"></textarea>                                
            </div>
            <div class="count-char">6/42</div>
        </div>
        <div class="check-icon-block">
            <i class="icon-sa-conv-check"></i>
        </div>
    </div>
</ng-template>


<ng-template #hintActions>

</ng-template>