<div class="agents-container-wrapper">
    <div class="header-sec-top">
        <div class="main-heading">Agent Coaching <span class="beta-tag">Beta</span></div>
        <div class="right-action-btns">
            <!-- tooltipClass="tooltip-global-styles" ngbTooltip="2 Rules ready for Publish"  -->
            <button class="kr-sg-button-secondary-two btn_lg mr-2" (click)="publishCoaching()" [disabled]="publishInprogress || !(rulePresent)"><i class="icon-coaching-publish mr-2"></i>Publish</button>
            <!-- <button class="kr-sg-button-primary btn_lg" (click)="openCoachingGroup(coachingConst.CREATE, {})">+ New Coaching Group</button> -->
            <button class="kr-sg-button-primary btn_lg" (click)="openFLowCreation(flowCreation, {},'create')">+ New Rule</button>
        </div>
    </div>

    <div class="tab-sec-details-wrapper">
        <ng-container >
            <div class="search-data-input">
                <div class="kr-sg-input-inline-search">
                    <input type="text" placeholder="Search" class="input-search" [formControl]="searchField" name="searchRule">
                    <i class="icon-sa-conv-search search-icon"></i>
                </div>
            </div>
            <div class='init-loading' *ngIf="isLoading">
                <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
            </div>

            <div class="agents-grid-data-table">
                <perfect-scrollbar class="scroll-data" #ps>
                    <div id="accordion" class="agent-groups-table-container">                        
                        
                            <div class="card_content d-none">
                                <div class="card_header">
                                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="card_link collapsed" aria-expanded="true">
                                        <div class="accordion-content-header">
                                            <div class="left-title text-truncate">
                                                <div class="left-content-info">
                                                    <div class="title-info">
                                                        <span>Pre-Build</span>
                                                        <span class="normal-text">Pre-build coaching options & intent identification management. </span>
                                                    </div>
                                                </div>                                                                                                 
                                            </div>
                                            <div class="right-info">                                                
                                                <div class="arrow-rotate">
                                                    <i class="icon-sa-arrow-down"></i>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div> 
                                <div id="collapseOne" class="inside-accordioncontent collapse">
                                    <perfect-scrollbar class="mx-h-300">
                                        <div class="card-body inner-accordion-table">
                                            <div class="content-scroll-data-agents">
                                                <div class="shadow-freeze"></div>
                                                <div class="header-table-agents">
                                                    <div class="titles-data w-35">
                                                        <div class="title-header">Coaching Rule</div>
                                                    </div>
                                                    <div class="titles-data w-12">Actions</div>
                                                    <div class="titles-data w-25">Description</div>
                                                    <div class="titles-data w-18">Last UPDATED</div>
                                                    <div class="titles-data w-10">Enabled</div>
                                                </div>
                                                <ng-container>
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-35">
                                                            <div class="title">Interest Rate</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-12">
                                                            <button class="edit-btn">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <!-- <button class="delete-btn">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button> -->
                                                        </div>
                                                        <div class="desc-text-info w-25">Coaching to guide agents when customer asks about Price Objection</div>
                                                        <div class="title-text w-18 last-updated-text">1 Jul, 23 - 9:15 pm</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <label class="kr-sg-toggle">
                                                                <input type="checkbox">
                                                                <div class="slider"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-35">
                                                            <div class="title">Interest Rate</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-12">
                                                            <button class="edit-btn">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <!-- <button class="delete-btn">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button> -->
                                                        </div>
                                                        <div class="title-text w-25">Coaching to guide agents when customer asks about Price Objection</div>
                                                        <div class="title-text w-18 last-updated-text">1 Jul, 23 - 9:15 pm</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <span>Always Enabled</span>
                                                        </div>
                                                    </div>
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-35">
                                                            <div class="title">Interest Rate</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-12">
                                                            <button class="edit-btn">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <!-- <button class="delete-btn">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button> -->
                                                        </div>
                                                        <div class="title-text w-25">Coaching to guide agents when customer asks about Price Objection</div>
                                                        <div class="title-text w-18 last-updated-text">1 Jul, 23 - 9:15 pm</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <span>Always Enabled</span>
                                                        </div>
                                                    </div>
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-35">
                                                            <div class="title">Interest Rate</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-12">
                                                            <button class="edit-btn">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <!-- <button class="delete-btn">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button> -->
                                                        </div>
                                                        <div class="title-text w-25">Coaching to guide agents when customer asks about Price Objection</div>
                                                        <div class="title-text w-18 last-updated-text">1 Jul, 23 - 9:15 pm</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <span>Always Enabled</span>
                                                        </div>
                                                    </div>
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-35">
                                                            <div class="title">Interest Rate</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-12">
                                                            <button class="edit-btn">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <!-- <button class="delete-btn">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button> -->
                                                        </div>
                                                        <div class="title-text w-25">Coaching to guide agents when customer asks about Price Objection</div>
                                                        <div class="title-text w-18 last-updated-text">1 Jul, 23 - 9:15 pm</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <span>Always Enabled</span>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>                     
                            </div>
                            <div class="card_content">
                                <div class="card_header">
                                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="card_link collapsed" aria-expanded="true">
                                        <div class="accordion-content-header">
                                            <div class="left-title text-truncate">
                                                <div class="left-content-info">
                                                    <div class="title-info">
                                                        <span>New Rules</span>
                                                        <span class="normal-text">Pre-build coaching options & intent identification management. </span>
                                                    </div>
                                                </div>                                                                                                 
                                            </div>
                                            <div class="right-info">                                                
                                                <div class="arrow-rotate">
                                                    <i class="icon-sa-arrow-down"></i>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div> 
                                <div id="collapseTwo" class="inside-accordioncontent collapse">
                                    <perfect-scrollbar class="mx-h-300">
                                        <div class="card-body inner-accordion-table">
                                            <div class="content-scroll-data-agents">
                                                <div class="shadow-freeze w-20"></div>
                                                <div class="header-table-agents">
                                                    <div class="titles-data w-20">
                                                        <div class="title-header">Coaching Rule</div>
                                                    </div>
                                                    <div class="titles-data w-11">Actions</div>
                                                    <div class="titles-data w-14">Description</div>
                                                    <div class="titles-data w-16">Tags</div>
                                                    <div class="titles-data w-16">Channels</div>
                                                    <div class="titles-data w-13">Last UPDATED</div>
                                                    <div class="titles-data w-10">Enabled</div>
                                                </div>
                                                <ng-container *ngFor="let rule of respData.results">
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-20">
                                                            <div class="title">Interest Rate</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-11">
                                                            <button class="edit-btn" (click)="openFLowCreation(flowCreation, rule, 'edit')">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <button class="delete-btn">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button>
                                                        </div>
                                                        <div class="desc-text-info w-14">Coaching to guide agents when customer asks about Price Objection</div>
                                                        <div class="tags-info w-16">
                                                            <span class="tag-name">Intrest</span>
                                                            <span class="tag-name">Transaction</span>
                                                            <div class="kr-sg-dropdowns" ngbDropdown container="body">
                                                                <div class="dropdown dropdown-open">
                                                                  <button class="dropdown-toggle dropdown-input before-none" ngbDropdownToggle>+ 2 More</button>
                                                                  <ul class="dropdown-menu content-menu more-dropdown-tags" ngbDropdownMenu>
                                                                    <li ngbDropdownItem>
                                                                        <span>Intrest</span>
                                                                    </li>
                                                                    <li ngbDropdownItem>
                                                                        <span>Intrest</span>
                                                                    </li>
                                                                  </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="channel-info w-16">
                                                            <span class="channel-name">Voice</span>
                                                            <span class="channel-name">Live Chat</span>
                                                        </div>
                                                        <div class="title-text w-13 last-updated-text">1 Jul, 23 - 9:15 pm</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <label class="kr-sg-toggle">
                                                                <input type="checkbox">
                                                                <div class="slider"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>                     
                            </div>
                        <!-- </ng-container> -->
                    </div>
                </perfect-scrollbar>
            </div>
        </ng-container>
        <ng-container *ngIf="searchedData.results?.length == 0 && !isLoading && !searchField?.value?.trim()">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img src="assets/images/coaching/empty-coaching.png">
                    </div>
                    <div class="empty-title">Create your first Coaching Experience</div>
                    <div class="desc-text">Help agents deliver better customer service and improve overall customer satisfaction. Get started by clicking on the New Coaching  button above.</div>
                    <!-- <button class="kr-sg-button-primary btn_lg" (click)="openCoachingGroup(coachingConst.CREATE, {})">+ New Coaching Group</button> -->
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="searchedData.results?.length == 0 && searchField?.value?.trim() && !isLoading">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img src="assets/images/coaching/empty-coaching.png">
                    </div>
                    <div class="empty-title">No Search Results found.</div>
                   
                </div>
            </div>
        </ng-container>
    </div>
</div>


<app-slider-component id="newCoachingGroup" #newCoachingGroup='app-slider'>
    <app-coaching-group-create (onClose)="closeCoachingGroup($event)" [type]="coachGroupEvent" [groupData]="coachGroupData" (updateGroup)="updateGroupData($event)"></app-coaching-group-create>
</app-slider-component>


<ng-template #flowCreation>
    <app-coaching-rule-create (onCloseRule)="closeFLowCreation($event)" [createOrEdit]="createOrEdit" [currentRule]="currentRule"></app-coaching-rule-create>
</ng-template>
