<div class="agents-container-wrapper">
    <div class="header-sec-top">
        <div class="main-heading">Agent Coaching</div>
        <div>
            <button class="kr-sg-button-secondary-two btn_lg mr-2" (click)="publishCoaching()">Publish</button>
           <button class="kr-sg-button-primary btn_lg" (click)="openCoachingGroup(coachingConst.CREATE, {})">+ New Coaching Group</button>
        </div>
    </div>

    <div class="tab-sec-details-wrapper">
        <ng-container >
            <div class="search-data-input">
                <div class="kr-sg-input-inline-search">
                    <input type="text" placeholder="Search" class="input-search" [formControl]="searchField" name="searchRule">
                    <i class="icon-sa-conv-search search-icon"></i>
                </div>
            </div>
            <div class='init-loading' *ngIf="isLoading">
                <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
            </div>
            <div class="agents-grid-data-table" cdkDropListGroup *ngIf="searchedData?.results?.length != 0">
                <perfect-scrollbar class="scroll-data" #ps>
                    <div id="accordion" class="agent-groups-table-container">
                        <div class="scrolltopdiv" [ngClass]="{'addIndex': dragStart}" (mouseleave)="clearInterVal()" (mouseenter)="topMouseOver()">
                        </div>
                        <div class="scrollbottomdiv" [ngClass]="{'addIndex': dragStart}" (mouseleave)="clearInterVal()" (mouseenter)="bottomMouseOver()">
                        </div>
                        
                        <ng-container *ngFor="let res of searchedData.results; let i = index">
                            <div class="card_content" 
                            cdkDropList
                            cdkDropListSortingDisabled
                            [cdkDropListData]="res.rules"
                            (cdkDropListDropped)="drop($event)" id="{{res._id}}">
                                <div class="card_header">
                                    <div data-toggle="collapse" data-parent="#accordion" [attr.href]="'#agentGroupData' + i" class="card_link" aria-expanded="true">
                                        <div class="accordion-content-header">
                                            <div class="left-title text-truncate">
                                                <div class="left-content-info">
                                                    <div class="title-info">{{res.name}}</div>
                                                    <i class="icon-sa-welcome-edit" (click)="$event.stopPropagation();openCoachingGroup(coachingConst.EDIT, res, i)"></i>                                                                                                   
                                                </div>
                                                <div class="desc_text text-truncate" [title]="res.description">{{res.description}}</div>                                                 
                                            </div>
                                            <div class="right-info">
                                                <div class="items-count">{{res.rules?.length}} Items</div>
                                                <button class="new-rule-btn" (click)="$event.stopPropagation();openFLowCreation(flowCreation, res, i, {}, 'create')">+ New Rule</button>
                                                <div class="arrow-rotate">
                                                    <i class="icon-sa-arrow-down"></i>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div> 
                                <div [attr.id]="'agentGroupData' + i" class="inside-accordioncontent show">
                                    <perfect-scrollbar class="mx-h-300">                            
                                        <div class="card-body inner-accordion-table" >
                                            <div class="content-scroll-data-agents">
                                                <div class="shadow-freeze"></div>
                                                <div class="header-table-agents">
                                                    <div class="titles-data w-25">
                                                        <div class="title-header">Rule name</div>
                                                    </div>
                                                    <div class="titles-data w-15">Actions</div>
                                                    <!-- <div class="titles-data w-20">Description</div> -->
                                                    <div class="titles-data w-14">ASSIGNED TO</div>
                                                    <div class="titles-data w-16">Last UPDATED</div>
                                                    <div class="titles-data w-10 text-right">Enabled</div>
                                                </div>
                                                <div class="body-data-table-wrapper-coaching" *ngFor="let rule of res?.rules; let inx = index" cdkDrag (cdkDragStarted)="dragStart=true" (cdkDragEnded)="dragStart=false;clearInterVal()">
                                                    <div class="title-text rule-text w-25">{{rule.name}}</div>
                                                    <div class="actions-info w-15">
                                                        <button class="edit-btn" (click)="openFLowCreation(flowCreation, res, i, rule, 'edit', inx);">
                                                            <i class="icon-sa-welcome-edit"></i>
                                                        </button>
                                                        <button class="delete-btn" (click)="openDeleteRule(rule, res._id, i)">
                                                            <i class="icon-sa-welcome-delete"></i>
                                                        </button>
                                                    </div>
                                                    <!-- <div class="title-text w-20">{{rule.description}}</div> -->
                                                    <div class="title-text w-14">{{rule.assignedTo}}</div>
                                                    <div class="title-text w-16">{{rule.lModOn | date : 'MMM dd, yyyy h:mm a'}}</div>
                                                    <div class="title-text last-updated-toggle w-10">
                                                        <label class="kr-sg-toggle">
                                                            <input type="checkbox" [checked]="rule.isActive" (click)="changeRuleStatus(rule, res._id, i)">
                                                            <div class="slider"></div>
                                                        </label>
                                                    </div>      
                                                    <div class="drag-drop-element" cdkDragHandle>
                                                        <i class="icon-coaching--move1"></i>
                                                    </div>                                              
                                                </div>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>                     
                            </div>
                        </ng-container>
                    </div>
                </perfect-scrollbar>
            </div>
        </ng-container>
        <ng-container *ngIf="searchedData.results?.length == 0 && !isLoading && !searchField?.value?.trim()">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img src="assets/images/coaching/empty-coaching.png">
                    </div>
                    <div class="empty-title">Create your first Coaching Experience</div>
                    <div class="desc-text">Help agents deliver better customer service and improve overall customer satisfaction. Get started by clicking on the New Coaching  button above.</div>
                    <!-- <button class="kr-sg-button-primary btn_lg" (click)="openCoachingGroup(coachingConst.CREATE, {})">+ New Coaching Group</button> -->
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="searchedData.results?.length == 0 && searchField?.value?.trim() && !isLoading">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img src="assets/images/coaching/empty-coaching.png">
                    </div>
                    <div class="empty-title">No Search Results found.</div>
                   
                </div>
            </div>
        </ng-container>
    </div>
</div>


<app-slider-component id="newCoachingGroup" #newCoachingGroup='app-slider'>
    <app-coaching-group-create (onClose)="closeCoachingGroup($event)" [type]="coachGroupEvent" [groupData]="coachGroupData" (updateGroup)="updateGroupData($event)"></app-coaching-group-create>
</app-slider-component>


<ng-template #flowCreation>
    <app-coaching-rule-create (onCloseRule)="closeFLowCreation($event)" [createOrEdit]="createOrEdit" [currentRule]="currentRule" [groupDetails]="selectedRuleGroup" [groupIndex]="selectedRuleGroupIndex"></app-coaching-rule-create>
</ng-template>
