@import './../../scss/variables/variables.scss';

@mixin table-body-coaching-mixin {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E7EB;
    min-height: 53px;
    position: relative;
    background: #FFFFFF;
    &:nth-child(odd){
        background: #F9FAFB;
    }
    // &:last-child{
    //     border: 0;
    // }
    .drag-drop-element{
        position: absolute;
        right: -20px;
        top: auto;
        width: 16px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        z-index: 9;
        cursor: grab;
    }
    .title-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #404040;
        position: relative;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.rule-text{
            padding: 17px 10px;
            z-index: 1;
            cursor: pointer;
            font-weight: 600;
        }
    }
    .actions-info{
        padding: 0 10px;
        display: flex;
        align-items: center;
        .edit-btn{
            width: 36px;
            height: 36px;
            background: #FFFFFF;
            border: 1px solid #E5E7EB;
            border-radius: 6px;
            outline: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #404040;
            cursor: pointer;
        }
        .delete-btn{
            @extend .edit-btn;
            margin-left: 10px;
            color: #EF4444;
            border: 1px solid #FCA5A5;
        }
    }
    .last-updated-toggle{
        text-align: right;
    }
}

.agents-container-wrapper {
    display: inline-block;
    width: 100%;
    .init-loading {
        display: flex;
        justify-content: center;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        align-items: center;
        z-index: 1;
        height: calc(100vh - 190px);
    }
    .header-sec-top {
        display: flex;
        align-items: center;
        padding: 30px 40px 20px 40px;
        .main-heading {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #171717;
            width: 100%;
            display: flex;
            align-items: center;
            .beta-tag{
                border-radius: 5px;
                border: 1px solid #CDD5DF;
                display: flex;
                padding: 2px 5px;
                justify-content: center;
                align-items: center;
                gap: 6px;
                height: 20px;
                color: #697586;
                text-align: center;
                font-size: 11px;
                font-weight: 500;
                line-height: 16px;
                background: #fff;
                margin-left: 5px;
            }
        }
        .right-action-btns{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-shrink: 0;
            .kr-sg-button-secondary-two{
                display: flex;
                align-items: center;
            }
        }

    }
    .tab-sec-details-wrapper{
        position: relative;
    }
    .search-data-input{
        text-align: right;
        padding: 0 40px;
        width: 100%;
        display: inline-block;
        margin-bottom: 12px;
        .kr-sg-input-inline-search{
            width: 246px;
            margin: 0 0 0 auto;
            input{
                padding-left: 30px;
            }
            .search-icon{
                color: #A3A3A3;
            }
        }
    }
    .agents-grid-data-table{
        height: calc(100vh - 189px);
        .scroll-data{

        }
        .agent-groups-table-container{
            padding: 0 40px;
            display: inline-block;
            width: 100%;
            .card_content{
                margin-bottom: 15px;
                word-break: break-word;
                .card_header{
                    .card_link{
                        background: #EEF2F6;
                        border-radius: 6px;
                        padding: 7px 18px;
                        cursor: pointer;
                        .accordion-content-header{
                            display: flex;
                            align-items: center;
                            min-height: 30px;
                            .left-title{                                
                                width: 100%;                                
                                .left-content-info{
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    display: flex;
                                    align-items: center;
                                    .title-info{
                                        max-width: 100%;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: normal;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                    i{
                                        flex-shrink: 0;
                                        margin-left: 5px;
                                        cursor: pointer;
                                        font-size: 12px;
                                    }
                                }  
                                .desc_text{
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #737373;
                                    margin-top: 4px;
                                }                              
                            }
                            .right-info{
                                flex-shrink: 0;
                                display: flex;
                                align-items: center;
                                margin-left: 10px;
                                .arrow-rotate{
                                    line-height: normal;
                                    width: 16px;
                                    height: 16px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 12px;
                                    color: #A3A3A3;
                                    flex-shrink: 0;
                                    margin-left: 10px;
                                    cursor: pointer;
                                    i{
                                        transform: rotate(180deg);
                                    }
                                }
                                .items-count{
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #171717;
                                    display: none;
                                }
                                .new-rule-btn{
                                    background: #D5E3FA;
                                    border-radius: 4px;
                                    padding: 6px 12px;
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 18px;
                                    border: 0;
                                    outline: 0;
                                    color: #2B75E4;
                                    display: block;
                                }
                            }
                        }
                        &.collapsed{
                            background: #EAF1FC;
                            .accordion-content-header{
                                .right-info{
                                    .items-count{
                                        display: block;
                                    }
                                    .new-rule-btn{
                                        display: none;
                                    }
                                    .arrow-rotate{
                                        i{
                                            transform: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .inner-accordion-table {
                    background: #FFFFFF;
                    padding: 10px 30px 10px 15px;
                    border-radius: 0px 0px 8px 8px;
                    .content-scroll-data-agents {
                        padding: 0;
                        display: inline-block;
                        width: 100%;
                        position: relative;
                        .shadow-freeze {
                          position: absolute;
                          width: 25%;
                          height: 100%;
                          left: 0px;
                          box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.1);
                          z-index: 1;
                        }
                        .header-table-agents {
                          margin: 0;
                          align-items: center;
                          padding: 8px 0;
                          min-height: 36px;
                          background: #FFFFFF;
                          border-bottom: 1px solid #E5E7EB;
                          position: relative;
                          display: flex;
                          .titles-data {
                            padding: 0 10px;
                            color: #404040;
                            font-weight: 600;
                            font-size: 11px;
                            line-height: 13px;
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            position: relative;
                            z-index: 2;
                            .title-header {
                              padding-left: 0px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              white-space: nowrap;
                            }
                          }
                        }
                        .body-data-table-wrapper-coaching{
                            @include table-body-coaching-mixin; 
                        }
                    }

                }
            }
        }
    }
}

.search-empty-wrapper{
    padding: 100px;
    text-align: center;
    .img-block{
        margin-bottom: 20px;
    }
    .search-empty-title{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #737373;
        margin-bottom: 10px;
    }
    .desc-searh{
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: #A3A3A3;
    }
}
.empty-coaching-wrapper{
    height: calc(100vh - 143px);
    display: flex;
    align-items: center;
    justify-content: center;
    .empty-content{
        width: 524px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
        .empty-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #171717;
            margin-bottom: 5px;
            margin-top: -20px;
        }
        .desc-text{
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #7D89B0;
            margin-bottom: 15px;
        }
    }
}
::ng-deep .delete-uc-rule-modal{
    .modal-dialog{
        margin: 0 auto;
        height: 100%;
        width: 500px;
        max-width: 500px;
        .modal-content{
            background: #FFFFFF;
            box-shadow: 0px 20px 25px -5px rgba(16, 24, 40, 0.1), 0px 8px 10px -6px rgba(16, 24, 40, 0.1);
            border-radius: 6px;
            border: 0;
            .dlete-rule-common-dialg{
                border-radius: 6px;
                background: #FFFFFF;
                padding: 34px 36px;
                position: relative;
                .close-rule-modal{
                    position: absolute;
                    right: 36px;
                    top: 34px;
                    cursor: pointer;
                    font-size: 14px;
                }
                .content-data{
                    display: flex;
                    align-items: flex-start;
                    .delete-icon{
                        width: 48px;
                        height: 48px;
                        flex-shrink: 0;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #FEF2F2;
                        border-radius: 24px;
                        padding: 8px;
                        color: #DC2626;
                        font-size: 16px;
                    }
                    .info-titles{
                        width: 100%;
                        .title{
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: #171717;
                        }
                        .desc-text{
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #737373;
                            margin-top: 8px;
                        }
                    }
                }
                .btn-actions-footer{
                    margin-top: 32px;
                    text-align: right;
                    button{
                        margin-left: 10px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

::ng-deep .flow-creation-full-modal{
    overflow: hidden !important;
    .modal-dialog{
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        .modal-content{
            height: 100%;
            border: 0;
            border-radius: 0;
            background: #F2F4F7;
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    filter: blur(1px);
    background: #F9FAFB;
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0,0,.2,1);
}
.card_content.cdk-drop-list-dragging .body-data-table-wrapper-coaching:not(.cdk-drag-placeholder) {
    display: flex !important;
    transition:transform 250ms cubic-bezier(0,0,.2,1);
}
.cdk-drop-list-dragging {
    .body-data-table-wrapper-coaching{
        @include table-body-coaching-mixin;        
    }
}

.scrolltopdiv{
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: -999;
    background :transparent;
    top : 0px;
}
.scrollbottomdiv{
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: -999;
    background :transparent;
    bottom : 0px;
}
.addIndex{
    z-index: 9999;
}

::ng-deep .body-data-table-wrapper-coaching{
    @include table-body-coaching-mixin;
}

::ng-deep input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

// .scrolltopdiv, .bottomdiv{
//     height: 60px;
//     width: 100%;
//     position: absolute;
//     z-index: -999;
//     background :transparent;
// }
// .topdiv {
//     top : 0px;
// }
// .bottomdiv{
//     bottom : 0px;
// }
// .addIndex{
//     z-index: 9999;
// }
