<div class="agents-container-wrapper">
    <div class="header-sec-top">
        <div class="main-heading">Agent Coaching <span class="beta-tag">Beta</span></div>
        <div class="right-action-btns">
            <!-- tooltipClass="tooltip-global-styles" ngbTooltip="2 Rules ready for Publish"  -->
            <button class="kr-sg-button-secondary-two btn_lg mr-2" (click)="publishCoaching()" [disabled]="publishInprogress"><i class="icon-coaching-publish mr-2"></i>Publish</button>
            <!-- <button class="kr-sg-button-primary btn_lg" (click)="openCoachingGroup(coachingConst.CREATE, {})">+ New Coaching Group</button> -->
            <button class="kr-sg-button-primary btn_lg" (click)="openFLowCreation(flowCreation, {},'create')">+ New Rule</button>
        </div>
    </div>

    <div class="tab-sec-details-wrapper">
        <div class="search-data-input">
            <div class="kr-sg-input-inline-search">
                <input type="text" placeholder="Search" class="input-search" [formControl]="searchField" name="searchRule">
                <i class="icon-sa-conv-search search-icon"></i>
            </div>
        </div>
        <div class='init-loading' *ngIf="isLoading">
            <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
        </div>
        <ng-container *ngIf="respData.preBuilt?.length || respData.results?.length">

            <div class="agents-grid-data-table">
                <perfect-scrollbar class="scroll-data" #ps>
                    <div id="accordion" class="agent-groups-table-container">                        
                            <!-- pre built -->
                            <div class="card_content" *ngIf="respData.preBuilt?.length">
                                <div class="card_header">
                                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="card_link" aria-expanded="true">
                                        <div class="accordion-content-header">
                                            <div class="left-title text-truncate">
                                                <div class="left-content-info">
                                                    <div class="title-info">
                                                        <span>Pre-build</span>
                                                        <span class="normal-text">Pre-build coaching options & intent identification management. </span>
                                                    </div>
                                                </div>                                                                                                 
                                            </div>
                                            <div class="right-info">                                                
                                                <div class="arrow-rotate">
                                                    <i class="icon-sa-arrow-down"></i>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div> 
                                <div id="collapseOne" class="inside-accordioncontent collapse show">
                                    <perfect-scrollbar class="mx-h-300" (psYReachEnd)="onReachEnd($event)">
                                        <div class="card-body inner-accordion-table">
                                            <div class="content-scroll-data-agents">
                                                <div class="shadow-freeze w-20"></div>
                                                <div class="header-table-agents">
                                                    <div class="titles-data w-20">
                                                        <div class="title-header">Coaching Rule</div>
                                                    </div>
                                                    <div class="titles-data w-11">Actions</div>
                                                    <div class="titles-data w-14">Description</div>
                                                    <div class="titles-data w-16">Tags</div>
                                                    <div class="titles-data w-16">Channels</div>
                                                    <div class="titles-data w-13">Last UPDATED</div>
                                                    <div class="titles-data w-10">Enabled</div>
                                                </div>
                                                <ng-container *ngFor="let rule of respData.preBuilt">
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-20">
                                                            <div class="title">{{rule.name}}</div>
                                                            <div class="desc-text" title="All Agents">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-11">
                                                            <button class="edit-btn" (click)="openFLowCreation(flowCreation, rule, 'edit')">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <button class="delete-btn" *ngIf="rule.deletable" (click)="openDeleteRule(rule)">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button>
                                                        </div>
                                                        <div class="desc-text-info w-14">{{rule.description}}</div>
                                                        <div class="tags-info w-16">
                                                            <ng-container *ngFor="let tag of rule.tags.slice(0,2);">
                                                                <span class="tag-name">{{tag}}</span>
                                                            </ng-container>
                                                            <div class="kr-sg-dropdowns" ngbDropdown container="body" *ngIf="rule.tags?.length > 2">
                                                                <div class="dropdown dropdown-open">
                                                                  <button class="dropdown-toggle dropdown-input before-none" ngbDropdownToggle>+ {{rule.tags?.length - 2}} More</button>
                                                                  <ul class="dropdown-menu content-menu more-dropdown-tags" ngbDropdownMenu>
                                                                    <ng-container *ngFor="let iTag of rule.tags | slice : 2">
                                                                        <li [title]="iTag" ngbDropdownItem class="mx-w-200">
                                                                            <span class="text-truncate">{{iTag}}</span>
                                                                        </li>
                                                                    </ng-container>
                                                                  </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="channel-info w-16">
                                                            <ng-container *ngFor="let channel of coachingConst.channelList">
                                                                <span class="channel-name" *ngIf="rule.channels?.indexOf(channel) >= 0">{{channel}}</span>
                                                            </ng-container>
                                                        </div>
                                                        <div class="title-text w-13 last-updated-text">{{rule.lModOn | date : 'MMM dd, yyyy h:mm a'}}</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <label class="kr-sg-toggle" *ngIf="rule.deletable">
                                                                <input type="checkbox" [checked]="rule.isActive" (click)="changeRuleStatus(rule, rule._id)">
                                                                <div class="slider"></div>
                                                            </label>
                                                            <span *ngIf="!rule.deletable">Always Enabled</span>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>                     
                            </div>            
                            <!-- new rules -->
                            <div class="card_content" *ngIf="respData.results?.length">
                                <div class="card_header">
                                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="card_link" aria-expanded="true">
                                        <div class="accordion-content-header">
                                            <div class="left-title text-truncate">
                                                <div class="left-content-info">
                                                    <div class="title-info">
                                                        <span>New Rules</span>
                                                        <span class="normal-text">Configure your coaching moment here. </span>
                                                    </div>
                                                </div>                                                                                                 
                                            </div>
                                            <div class="right-info">                                                
                                                <div class="arrow-rotate">
                                                    <i class="icon-sa-arrow-down"></i>
                                                </div>
                                            </div>                                               
                                        </div>
                                    </div>
                                </div> 
                                <div id="collapseTwo" class="inside-accordioncontent collapse show">
                                    <perfect-scrollbar class="mx-h-300" (psYReachEnd)="onReachEnd($event)">
                                        <div class="card-body inner-accordion-table">
                                            <div class="content-scroll-data-agents">
                                                <div class="shadow-freeze w-20"></div>
                                                <div class="header-table-agents">
                                                    <div class="titles-data w-20">
                                                        <div class="title-header sort-header" (click)="sortOnClick()">Coaching Rule
                                                            <img [src]="sortOrder == 'asc'? 'assets/icons/sort-up.svg' : 'assets/icons/use-case/SortDown.svg'" class="ml-1">
                                                        </div>
                                                    </div>
                                                    <div class="titles-data w-11">Actions</div>
                                                    <div class="titles-data w-14">Description</div>
                                                    <div class="titles-data w-16">Tags</div>
                                                    <div class="titles-data w-16">Channels</div>
                                                    <div class="titles-data w-13">Last UPDATED</div>
                                                    <div class="titles-data w-10">Enabled</div>
                                                </div>
                                                <ng-container *ngFor="let rule of respData.results">
                                                    <div class="body-data-table-wrapper-coaching">
                                                        <div class="coaching-rule w-20">
                                                            <div class="title" [title]="rule.name">{{rule.name}}</div>
                                                            <div class="desc-text">All Agents</div>
                                                        </div>
                                                        <div class="actions-info w-11">
                                                            <button class="edit-btn" (click)="openFLowCreation(flowCreation, rule, 'edit')">
                                                                <i class="icon-sa-welcome-edit"></i>
                                                            </button>
                                                            <button class="delete-btn" (click)="openDeleteRule(rule)">
                                                                <i class="icon-sa-welcome-delete"></i>
                                                            </button>
                                                        </div>
                                                        <div class="desc-text-info w-14" [title]="rule.description">{{rule.description}}</div>
                                                        <div class="tags-info w-16">
                                                            <ng-container *ngFor="let tag of rule.tags.slice(0,2);">
                                                                <span class="tag-name" [title]="tag">{{tag}}</span>
                                                            </ng-container>
                                                            <div class="kr-sg-dropdowns" ngbDropdown container="body" *ngIf="rule.tags?.length > 2">
                                                                <div class="dropdown dropdown-open">
                                                                  <button class="dropdown-toggle dropdown-input before-none" ngbDropdownToggle>+ {{rule.tags?.length - 2}} More</button>
                                                                  <ul class="dropdown-menu content-menu more-dropdown-tags" ngbDropdownMenu>
                                                                    <ng-container *ngFor="let iTag of rule.tags | slice : 2">
                                                                        <li ngbDropdownItem class="mx-w-200">
                                                                            <span [title]="iTag" class="text-truncate">{{iTag}}</span>
                                                                        </li>
                                                                    </ng-container>
                                                                  </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="channel-info w-16">
                                                            <ng-container *ngFor="let channel of coachingConst.channelList">
                                                                <span class="channel-name" *ngIf="rule.channels?.indexOf(channel) >= 0" [title]="channel">{{channel}}</span>
                                                            </ng-container>
                                                        </div>
                                                        <div class="title-text w-13 last-updated-text" [title]="(rule.lModOn | date : 'MMM dd, yyyy h:mm a')">{{rule.lModOn | date : 'MMM dd, yyyy h:mm a'}}</div>
                                                        <div class="last-updated-toggle w-10">
                                                            <label class="kr-sg-toggle">
                                                                <input type="checkbox" [checked]="rule.isActive" (click)="changeRuleStatus(rule, rule._id)">
                                                                <div class="slider"></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </perfect-scrollbar>
                                </div>                     
                            </div>
                        <!-- </ng-container> -->
                    </div>
                </perfect-scrollbar>
            </div>
        </ng-container>
        <ng-container *ngIf="!respData.results?.length && !respData?.preBuilt?.length && !isLoading && !searchField?.value?.trim()">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img src="assets/images/coaching/empty-coaching.png">
                    </div>
                    <div class="empty-title">Create your first Coaching Experience</div>
                    <div class="desc-text">Help agents deliver better customer service and improve overall customer satisfaction. Get started by clicking on the New Coaching  button above.</div>
                    <!-- <button class="kr-sg-button-primary btn_lg" (click)="openCoachingGroup(coachingConst.CREATE, {})">+ New Coaching Group</button> -->
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!respData.results?.length && !respData?.preBuilt?.length && searchField?.value?.trim() && !isLoading">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img src="assets/images/coaching/empty-coaching.png">
                    </div>
                    <div class="empty-title">No Search Results found.</div>
                   
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #flowCreation>
    <app-coaching-rule-create (onCloseRule)="closeFLowCreation($event)" [createOrEdit]="createOrEdit" [currentRule]="currentRule"></app-coaching-rule-create>
</ng-template>


<app-slider-component id="nonIntent" #noneIntent='app-slider'>
    <app-none-intent *ngIf="showNoneIntent" (closeSlide)="closeSlide($event)" [currentRule]="currentRule"></app-none-intent>
</app-slider-component>