
@import './../../../scss/variables/variables.scss';
.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);
        .body-sec-data{
            padding: 15px 70px;
            .nav-tabs{
                padding-bottom: 15px;
                border-bottom: 1px solid $borderTabs;
                line-height: normal;
                li{
                    margin-right: 32px;
                    .tab-name{                       
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 0 10px;
                        position: relative;  
                        cursor: pointer;                                              
                        img{
                            margin-right: 10px;                            
                        }
                        .call-active{
                            display: none;
                        }                        
                        .chat-inactive{
                            display: inline-block;
                        }
                        .chat-active{
                            display: none;
                        }
                        .call-inactive{
                            display: inline-block;
                        }
                        &.active{
                            color: $primaryActionColor;
                            &::before{
                                content: "";
                                position: absolute;
                                background: $primaryActionColor;
                                height: 2px;
                                width: 100%;
                                bottom: -17px;
                                left: 0;
                            }
                            .call-active{
                                display: inline-block;
                            }
                            .call-inactive{
                                display: none;
                            }
                            .chat-inactive{
                                display: none;
                            }
                            .chat-active{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .tab-content{
                padding: 30px 0;
                .main-title{
                    color: $primaryFontColor;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 20px;
                }
                .response-view{
                    background: $whiteColor;
                    border: 1px solid $borderColor;
                    border-radius: 8px;
                    padding: 20px 25px;
                    position: relative;
                    margin-bottom: 20px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 0px 2px 6px rgb(1 152 166 / 17%);
                    }
                    .delete-respose-view{
                        position: absolute;
                        right: -34px;
                        top: 10px;
                        cursor: pointer;                        
                    }
                    .res-tille{
                        color: $primaryFontColor;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .copy-rom-call{
                        position: absolute;
                        right: 20px;
                        top: 14px;
                        background: $whiteColor;
                        border: 1px solid $primaryActionColor;
                        border-radius: 4px;
                        padding: 6px 9px;
                        color: $primaryActionColor;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        z-index: 1;
                        img{
                            margin-right: 9px;
                        }
                    }
                    .response-info{
                        padding: 18px 25px;
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 14px;
                    }
                    .more-link{
                        display: inline-block;
                        padding-left: 2px;
                        color: $primaryActionColor;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: normal;
                        cursor: pointer;
                    }
                    .kr-sg-overflow-menu{
                        position: absolute;
                        right: 20px;
                        top: 10px;
                        height: auto;
                        width: 30px;
                        background: transparent;
                        box-shadow: none;
                        margin: 0;
                        .dropdown-menu{
                            min-width: 90px;
                            position: absolute;
                            will-change: transform;
                            border-radius: 4px;
                            box-shadow: 0px 10px 30px rgba(168, 200, 221, 0.25);
                            li{
                                padding: 0;
                                a{
                                    font-size: 12px;
                                    color: $primaryFontColor;
                                    font-weight: normal;
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .edit-view{   
                    margin-bottom: 20px;                
                    .kr-sg-input-text-area{
                        background: $whiteColor;
                        border: 0.5px solid $borderColor;
                        border-radius: 8px;
                        padding: 15px 0 0 0;
                        textarea{
                            border-radius: 8px;
                            border: 0px !important;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            min-height: 238px;
                            padding: 0 50px;
                            &::placeholder{
                                color: $borderColor;
                                font-weight: normal;
                                font-size: 14px;
                            }
                        }
                        .edit-response-title-sec{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            padding: 0 25px;
                            .title{
                                color: $primaryFontColor;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                            }
                            .btn-sec{
                                .kr-sg-buttonicon-secondary-two{
                                    background-color: transparent;
                                    padding: 0px 8px;
                                    font-size: 12px;
                                    img{
                                        margin-right: 6px;
                                        height: auto;
                                        width: auto;
                                    }
                                }
                                .kr-sg-buttonicon-danger{
                                    background-color: transparent;
                                    padding: 0px 8px;
                                    font-size: 12px;
                                    color: $warningColor;
                                    background: $whiteColor;
                                    border: 1px solid $warningColor;
                                    border-radius: 4px;
                                    img{
                                        margin-right: 6px;
                                        height: auto;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }        
                .edit-view-editor-custom{
                    background: $whiteColor;
                    border: 1px solid $borderColor;
                    border-radius: 8px;
                    padding: 20px 0px;
                    position: relative;
                    margin-bottom: 60px;
                    .edit-response-title-sec{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        padding: 0 25px;
                        .title{
                            color: $primaryFontColor;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                        }
                        .btn-sec{
                            .kr-sg-buttonicon-secondary-two{
                                background-color: transparent;
                                padding: 0px 8px;
                                font-size: 12px;
                                img{
                                    margin-right: 6px;
                                    height: auto;
                                    width: auto;
                                }
                            }
                            .kr-sg-buttonicon-danger{
                                background-color: transparent;
                                padding: 0px 8px;
                                font-size: 12px;
                                color: $warningColor;
                                background: $whiteColor;
                                border: 1px solid $warningColor;
                                border-radius: 4px;
                                img{
                                    margin-right: 6px;
                                    height: auto;
                                    width: auto;
                                }
                            }
                        }
                    }    
                }        
                .footer-btns{                   
                    text-align: right;
                    margin: 25px 0;
                    .add-btn{
                        color: $primaryActionColor;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        cursor: pointer;
                        display: inline-block;
                        img{
                            margin-right: 12px;
                        }

                        &.disabled {
                            opacity: 0.5;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
    .label-text{
        color: $primaryFontColor;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
}
