<div class="assist-wrapper" id="accordion">
    <div class="card-assist">
        <div class="assist-header">
            <div class="assist-header-content">
                <div class="left-title-info">
                    <h1>Assist</h1>
                    
                    <div ngbDropdown class="dropdown playbook-drp" #interruptDropdown="ngbDropdown">
                        <button type="button" id="playbookDrp" ngbDropdownToggle>
                            <!-- <span>Open</span> -->
                            <i class="krIocnsFont-chevron-down arrow-icon"></i>
                        </button>
                        <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                            <div class="dialog-task-wrapper" *ngFor="let dialog of interruptDialogList; let i = index">
                                <div class="title-paragraph">
                                    <p>{{dialog.name}}</p>
                                </div>
                                <div class="dialog-actions">
                                    <button class="primary-btn" (click)="dialogueRunClick(dialog, i);interruptDropdown.close()">RUN</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-titles">
                        <p *ngIf="dialogName">{{dialogName}}</p>
                        <span *ngIf="dialogName && currentRunningStep">Step: <b>{{currentRunningStep}}</b></span>
                    </div>
                </div>
                <div class="actions-assist-header">
                    <button class="solid-action" aria-label="button" [ngClass]="{'disabled-msg' : !dialogName}" (click)="handlePopupEvent({status : true, type : projConstants.LISTVIEW})">
                        <i class="krIocnsFont-list"></i>
                    </button>
                    <button class="solid-action" aria-label="button" [ngClass]="{'disabled-msg' : !dialogName}" (click)="restartClickEvent()">
                        <i class="krIocnsFont-refresh"></i>
                    </button>
                    <button class="solid-action stop-assist" aria-label="button" (click)="terminateDialog()" [ngClass]="{'disabled-msg' : !dialogName}">
                        <span></span>
                    </button>
                    <button class="solid-action minimize-btn" aria-label="button" (click)="minimizeToggle()">
                        <i class="krIocnsFont-minimize" *ngIf="maxButton"></i>
                        <i class="krIocnsFont-maximize" *ngIf="!maxButton"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse-tab">
          <div class="card-body">
                <div class="card_body_acc_content">
                    <!-- <ng-container [ngTemplateOutlet]="dialogStarted"></ng-container>   -->
                    <app-ask-customer [automation]="welcomeMsgResponse" [isWelcomeMsg]="true"></app-ask-customer>
                    <!-- <ng-container [ngTemplateOutlet]="listingTriggers"></ng-container>                    
                    <ng-container [ngTemplateOutlet]="feedback"></ng-container>
                    <ng-container [ngTemplateOutlet]="dialogEnded"></ng-container>                     -->
                    <ng-container *ngFor="let res of assistResponseArray; let i = index">
                        <ng-container *ngIf="res.type == renderResponseType.SUGGESTIONS">
                            <!-- <div class="agent-utt-info" attr.id="agentUttInfo-{{res.uuid}}">
                                <div class="user-img">
                                    <img src="assets/images/userIcon.svg">
                                </div>
                                <div class="text-user">{{res.data.userInput}}</div>
                            </div> -->
                            <app-suggestions [suggestionResponse]="res" [agentassistArrayIndex]="i"
                                [agentassistResponseArrayLength]="assistResponseArray.length"
                                ></app-suggestions>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.SMALLTALK">
                            <app-smalltalk [smallTalkData]="res" [agentassistArrayIndex]="i"
                                [agentassistResponseArrayLength]="assistResponseArray.length"
                                ></app-smalltalk>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.AUTOMATION">
                            <app-dialog [automationData]="res" [agentassistArrayIndex]="i"
                                [agentassistResponseArrayLength]="assistResponseArray.length"></app-dialog>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.FEEDBACK">
                            <app-feedback [feedbackData]="res" (updateFeedbackProperties)="updateFeedbackProperties($event,i)"
                                [agentassistArrayIndex]="i" [agentassistResponseArrayLength]="assistResponseArray.length">
                            </app-feedback>
                        </ng-container>
                    </ng-container>
                </div>
          </div>
        </div>
        <ng-container *ngIf="terminateClick">
            <app-terminate (handlePopupEvent)="handlePopupEvent($event)"></app-terminate>
        </ng-container>
        <ng-container *ngIf="showInterruptPopup">
            <app-interrupt (handlePopupEvent)="handlePopupEvent($event)" [currentDialog]="dialogName"></app-interrupt>
        </ng-container>
        <ng-container *ngIf="showListView || showRestart">
            <app-listview [listView]="showListView" [restart]="showRestart" [assistResponseArray]="assistResponseArray"  (handlePopupEvent)="handlePopupEvent($event)"></app-listview>
        </ng-container>
    </div>
</div>

<!-- Templates -->
<ng-template #listingTriggers>
    <div class="empty-listing-triggers">
        <h1>Listening for triggers</h1>
        <p>AgentAssist is actively listing to your conversation and ready to assist automatically when triggered.</p>
    </div>
</ng-template>

<!-- Entity Message -->
<ng-template #entityMessage>
    <!-- error-no-reponse class add it when error-->
    <div class="entity-mesage-data">
        <div class="input-block-entity">
            <p>PizzaBase: </p>
            <input type="text" aria-label="Input">
            <div class="border-outline"></div>
            <div class="actions-inputs">
                <button class="remove-input" aria-label="Button">
                    <i class="krIocnsFont-close"></i>
                </button>
                <button class="check-input" aria-label="button">
                    <i class="krIocnsFont-check"></i>
                </button>
                <button class="success-check-input" aria-label="button">
                    <i class="krIocnsFont-check-circle"></i>
                </button>
                <button class="wrong-res-info" aria-label="button">
                    <i class="krIocnsFont-warning-solid"></i>
                    <span>3</span>
                </button>
            </div>
        </div>
        <p class="info-entity-text">Awaiting Response  |  Type to override</p>
    </div>
</ng-template>

<ng-template #feedback>
    <app-feedback></app-feedback>
</ng-template>


