<div class="assist-wrapper" id="accordion">
    <div class="card-assist">
        <div class="assist-header">
            <div class="assist-header-content">
                <div class="left-title-info">
                    <div class="text-dropdown-info">
                        <h1>{{'ASSIST' | translate}}</h1>
                        <span class="dialogs-number" *ngIf="interruptDialogList?.length">{{interruptDialogList?.length}}</span>
                       
                        <div ngbDropdown class="dropdown" #interruptDropdown="ngbDropdown" *ngIf="interruptDialogList?.length">
                            <button type="button" id="playbookDrp" ngbDropdownToggle>
                                <i class="krIocnsFont-chevron-down arrow-icon"></i>
                            </button>
                            <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                                <div class="heading-text-scripts">{{'INTERRUPT_DIALOG' | translate}}</div>
                                <div class="dialog-task-wrapper" *ngFor="let dialog of interruptDialogList; let i = index">
                                    <div class="title-paragraph">
                                        <p>{{dialog.name}}</p>
                                    </div>
                                    <div class="dialog-actions">
                                        <button class="primary-btn" (click)="dialogueRunClick(dialog, i, false);interruptDropdown.close()">{{'RUN' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-titles">
                        <p *ngIf="dialogName" [title]="dialogName">{{dialogName}}</p>
                        <div class="entity-name-cstm">
                            <span *ngIf="dialogName && currentRunningStep" [title]="currentRunningStep">{{'STEP' | translate}}: <b>{{currentRunningStep}}</b></span>
                        </div>
                    </div>
                </div>
                <div class="actions-assist-header">
                    <button class="solid-action" aria-label="button" [disabled]="!dialogName" (click)="handlePopupEvent({status : true, type : projConstants.LISTVIEW})" title="List View">
                        <i class="krIocnsFont-list"></i>
                    </button>
                    <button class="solid-action" aria-label="button" [disabled]="!dialogName" (click)="restartClickEvent()" title="Restart">
                        <i class="krIocnsFont-refresh"></i>
                    </button>
                    <button class="solid-action stop-assist" aria-label="button" (click)="terminateDialog()" [disabled]="!dialogName" title="Terminate">
                        <span></span>
                    </button>
                    <!-- <button class="solid-action stop-assist" aria-label="button" (click)="summeryModalpopup({summary : ['this is summary']})">
                        <span></span>
                    </button> -->
                    <button class="solid-action minimize-btn" aria-label="button" (click)="minimizeToggle()" *ngIf="(rootService.primaryChecklist.length > 0 || rootService.dynamicChecklist.length > 0) && rootService?.settingsData?.isAgentPlaybookEnabled" 
                        [title]="maxButton ? 'Minimize' : 'Maximize'">
                        <i class="krIocnsFont-minimize" *ngIf="maxButton"></i>
                        <i class="krIocnsFont-maximize" *ngIf="!maxButton"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse-tab" #collapseTab>
          <div class="card-body">
                <div class="card_body_acc_content kore-chat-window">
                    <app-loader [type]="projConstants.WIDGET_LOADER" *ngIf="showSpinner"></app-loader>
                    <app-tell-customer [automation]="welcomeMsgResponse" [isWelcomeMsg]="true" *ngIf="(welcomeMsgResponse | json) != '{}'" [responseArray]="assistResponseArray" [responseArrayIndex]="0"
                    [ngClass]="{'componentSlideUPAnimation' : !assistResponseArray?.length}"
                    ></app-tell-customer>
                    <ng-container [ngTemplateOutlet]="listingTriggers" *ngIf="!assistResponseArray.length && (welcomeMsgResponse | json) == '{}'"></ng-container>                    
                    <ng-container *ngFor="let res of assistResponseArray; let i = index; trackBy:assistRespType;">
                        <ng-container *ngIf="res.type == renderResponseType.SUGGESTIONS">
                            <app-suggestions [suggestionResponse]="res" [agentassistArrayIndex]="i+1"
                                [agentassistResponseArray]="assistResponseArray"
                                [ngClass]="{'componentSlideUPAnimation' : (assistResponseArray?.length == i+1)}"
                            ></app-suggestions>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.SMALLTALK">
                            <app-smalltalk [smallTalkData]="res" [agentassistArrayIndex]="i+1"
                                [agentassistResponseArray]="assistResponseArray"></app-smalltalk>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.AUTOMATION">
                            <app-dialog [automationData]="res" [agentassistArrayIndex]="i+1"
                                [agentassistResponseArray]="assistResponseArray"></app-dialog>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.FEEDBACK">
                            <app-feedback [feedbackData]="res" (updateFeedbackProperties)="updateFeedbackProperties($event,i)"
                                [agentassistArrayIndex]="i+1" [agentassistResponseArray]="assistResponseArray"
                                [ngClass]="{'componentSlideUPAnimation' : (assistResponseArray?.length == i+1), 'grayout-msgs-node' : res.oldFeedback}"
                            ></app-feedback>
                        </ng-container>
                    </ng-container>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #terminateCanvas let-offcanvas>
    <ng-container *ngIf="terminateClick && dialogName">
        <app-terminate (handlePopupEvent)="handlePopupEvent($event)"></app-terminate>
    </ng-container>
    <ng-container *ngIf="showInterruptPopup && dialogName">
        <app-interrupt (handlePopupEvent)="handlePopupEvent($event)" [currentDialog]="dialogName"></app-interrupt>
    </ng-container>
    <ng-container *ngIf="(showListView) && dialogName">
        <app-listview [entityList]="listViewEntityList"  (handlePopupEvent)="handlePopupEvent($event)" #listViewTemplate></app-listview>
    </ng-container>
    <ng-container *ngIf="showRestart && dialogName">
        <app-restart [assistResponseArray]="assistResponseArray"  (handlePopupEvent)="handlePopupEvent($event)"></app-restart>
    </ng-container>
</ng-template>

<ng-template #summeryModalpopupContent let-modal>
    <ng-container>
        <app-summary-popup (handlePopupEvent)="handlePopupEvent($event)" [summaryText]="summaryText"></app-summary-popup>
    </ng-container>
</ng-template>


<!-- Templates -->
<ng-template #listingTriggers>
    <div class="empty-listing-triggers disabled-msg">
        <h1>{{'TRIGGER_LISTEN' | translate}}</h1>
        <p>{{'ASSIST_EMPTY_MSG' | translate}}</p>
    </div>
</ng-template>

<ng-template #feedback>
    <app-feedback></app-feedback>
</ng-template>
