.assist-wrapper{    
    overflow: hidden;
    height: 100%;
}

.card-assist{
    border-radius: 6px;
    border: 1px solid var(--themeBorderColor);
    background: var(--themeBgWhiteColor);
    box-shadow: 0px 8px 8px -4px rgba(168, 186, 222, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    height: 100%;
    display: flex;
    flex-direction: column;
    .assist-header{
        padding: 10px 10px 0px 10px;
        .assist-header-content{
            display: flex;
            align-items: center;
            padding: 4px;
            min-height: 36px;
            gap: 10px;
            .left-title-info{
                width: 100%;
                .text-dropdown-info{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    width: 100%;
                    .left-text-drp-dialog{
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        width: 100%;
                        overflow: hidden;
                        h1{
                            color: var(--secondaryTextColor);
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            margin: 0;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .dialogs-number{
                            border-radius: 3px;
                            background: var(--themeColor);
                            flex-shrink: 0;
                            padding: 0px 4px;
                            color: var(--whiteTextColor);
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            min-width: 16px;
                            text-align: center;
                        }
                        .dropdown {
                            flex-shrink: 0;
                            .dropdown-toggle{
                                padding: 0;
                                border: 0;
                                background: transparent;
                                width: 16px;
                                height: 16px;
                                font-size: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    .actions-assist-header{
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        .sentiment-div-block{
                            flex-shrink: 0;
                        }
                        .solid-action{
                            border-radius: 3px;
                            border: 0px solid var(--themeBorderColor);
                            background: var(--themeBgWhiteColor);
                            display: flex;
                            width: 25px;
                            height: 25px;
                            padding: 0;
                            justify-content: center;
                            align-items: center;
                            gap: 6px;
                            color: var(--primaryTextColor);
                            font-size: 16px;
                            cursor: pointer;
                            &:disabled{
                                opacity: 0.3;
                                pointer-events: none;
                            }
                            &:hover{
                                border: 1px solid var(--primary-300, #84ADFF);
                                color: var(--themeColor);
                            }
                            &.stop-assist{
                                border: 0px solid var(--error-200, #FECDCA);
                                background: var(--themeBgWhiteColor);
                                &:hover{
                                    border: 1px solid var(--error-300, #FDA29B);
                                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
                                }
                            }
                            &.minimize-btn{
                                border: 0 !important;
                            }
                            span{
                                width: 12px;
                                height: 12px;
                                background: var(--warningTextColor);
                            }
                        }
                    }
                }
                .bottom-titles{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    p{
                        color: var(--secondaryTextColor);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                        margin: 0;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                        flex-shrink: 0;
                    }
                    .entity-name-cstm{
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        span{
                            color: var(--secondaryTextColorTwo);
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 20px;
                            padding-left: 6px;
                            border-left: 1px solid var(--themeBorderColor);
                            display: flex;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        b{
                            font-weight: 500;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }            
        }
    }
    .collapse-tab{
        flex: 1 1 auto;
        overflow: auto;
    }
    .card-body{
        padding: 0px 10px 10px 10px;
        .card_body_acc_content{
            border-top: 1px solid var(--themeBorderColor);
            padding-top: 8px;
            position: relative;
        }
    }
}

.empty-listing-triggers{
    padding: 50px;
    text-align: center;
    h1{
        color: var(--primaryTextColor);
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 15px;
    }
    p{
        color: var(--primaryTextColorTwo);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
}

::ng-deep .tipcontent-dialog-suggestion{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    p{
        color: var(--secondaryTextColor);
    }
    span{
        color: var(--primaryTextColor);
        font-weight: 500;
    }
}

@-webkit-keyframes slideInLeftAnim {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeftAnim {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInUpSmall {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUpSmall {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}