
@keyframes slideInUpText {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.dis-none{
    display: none;
}

.widget-footer-wrapper{
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 999999;
    .line-divider{
        background: #EAECF0;
        width: 100%;
        height: 4px;
        display: none;
    }
    .footer-links-data{
        border-radius: 6px 6px 0px 0px;
        background: var(--themeBgWhiteColor);
        padding: 5px 12px;
        display: flex;
        width: 100%;
        gap: 32px;
        min-height: 50px;
        @media screen and (max-width:500px){
            gap: initial;
        }
        .btn_footer{
            border: 0;
            padding: 0;
            background: transparent;
            min-width: 62px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            flex: 1;
            transition: 0.2s all ease;
            color: var(--primaryTextColor);
            @media screen and (max-width:600px){
                flex-direction: column;
            }
            &.selected-tab{
                color: var(--themeTextColor);
                p{
                    display: block;
                }
            }
            &.sel-bg{
                border-radius: 45px;
                &.selected-tab{
                    background: var(--backgroundThemeColor);
                    color: var(--whiteTextColor);
                }
                &:hover{
                    background: var(--backgroundThemeColor);
                    color: var(--whiteTextColor);
                }
            }
            &:hover{
                color: var(--themeTextColor);
                p{
                    display: block;
                }
            }
            .svg_icon{
                line-height: 0;
                font-size: 16px;
            }
            p{
                // display: none;
                margin: 0;
                font-size: 10px;
                font-weight: 600;
                line-height: normal;
                -webkit-animation-name: slideInUpText;
                animation-name: slideInUpText;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }
    }
}

::ng-deep .canvas-auto-height{
    background: var(--themeBgWhiteColor);
    border-radius: 12px 12px 0px 0px;
    max-height: 100%;
    display: block;
}
