<div class="welcome-section-container">        
    <perfect-scrollbar style="height:100vh;">
        <div class="steps-conatiner" [hidden]="curStep !== 1">
            <div class="img-block">
                <img src="assets/icons/welcome/welcome-1.svg">
            </div>
            <div class="main-title">{{'WELCOME.WELCOME_SMART' | translate}}</div>
            <div class="desc_info">{{'WELCOME.WELCOME_SMART_DESC' | translate}}</div>           
        </div>
        <div class="steps-conatiner" [hidden]="curStep !== 2">
            <div class="img-block">
                <img src="assets/icons/welcome/welcome-2.svg">
            </div>
            <div class="main-title">{{'WELCOME.START_USECASES' | translate}}</div>
            <div class="desc_info">{{'WELCOME.START_USECASES_DESC' | translate}}</div>           
        </div>
        <div class="steps-conatiner" [hidden]="curStep !== 3">
            <div class="img-block">
                <img src="assets/icons/welcome/welcome-3.svg">
            </div>
            <div class="main-title">{{'WELCOME.TEST_UC' | translate}}</div>
            <div class="desc_info">{{'WELCOME.TEST_UC_DESC' | translate}}</div>                   
        </div>
        <div class="steps-conatiner" [hidden]="curStep !== 4">
            <div class="img-block">
                <img src="assets/icons/welcome/welcome-4.svg">
            </div>
            <div class="main-title">{{'WELCOME.EASY_DEP' | translate}}</div>
            <div class="desc_info">{{'WELCOME.EASY_DEP_DESC' | translate}} 
            </div>           
        </div>
        <div class="active-steps">
            <div class="step" [ngClass]="{'active-s': curStep == 1}" (click)="curStep=1"></div>
            <div class="step" [ngClass]="{'active-s': curStep == 2}" (click)="curStep=2"></div>
            <div class="step" [ngClass]="{'active-s': curStep == 3}" (click)="curStep=3"></div>
            <div class="step" [ngClass]="{'active-s': curStep == 4}" (click)="curStep=4"></div>
        </div>
        <div class="btn_sec" *ngIf="curStep != 4">
            <button class="kr-sg-button-secondary btn_lg" (click)="toStep(curStep - 1)" [hidden]="curStep == 1">{{'WELCOME.PREVIOUS' | translate}}</button>
            <button class="kr-sg-button-primary btn_lg" (click)="toStep(curStep + 1)">{{'WELCOME.NEXT' | translate}}</button>
        </div>
        <div class="btn_sec" *ngIf="curStep == 4">
            <button class="kr-sg-button-primary btn_lg" (click)="getStarted()">{{'WELCOME.GET_STARTED' | translate}}</button>
        </div>
    </perfect-scrollbar>        
</div>