
<div class="call-exp-container">
    <ng-container>
        <div class="call-exp-table-data row col-12 hover-delete" (click)="openFlowEditorSlider($event,flowData)">
            <div class="col-4">
                <div class="primary-text">{{flowData?.name}}</div>
                <div class="secondary-text">{{phoneNumbers}}</div>
            </div>
            <div class="col-6 description-info">{{flowData?.description}}</div>
            <div class="col-2 col-padding-30 text-right" (click)="$event.stopPropagation()">
                <div class="status-clock-info" *ngIf = "!(flowData.isPublished && flowData.isPublishedVersion); else elseBlock" [container]="'body'" ngbTooltip="{{ 'USECASES.IN_DEV' | translate }}">
                    <img src="assets/icons/status-clock.svg">
                </div>
                <ng-template #elseBlock> 
                    <div class="status-clock-info" [container]="'body'" ngbTooltip="{{ 'USECASES.PUB' | translate }}">
                        <img src="assets/icons/published.svg">
                    </div>
                </ng-template>
                <!-- <div class="status-clock" *ngIf="conv.state == 'configured'" [container]="'body'" placement="bottom-center" ngbTooltip="{{ 'USECASES.IN_DEV' | translate }}">
                    <img src="assets/icons/status-clock.svg">
                </div>
                <div class="status-clock" *ngIf="conv.state == 'published'" [container]="'body'" placement="bottom-center" ngbTooltip="{{ 'USECASES.PUB' | translate }}">
                    <img src="assets/icons/published.svg">
                </div> -->
                <div class="kr-sg-dropdowns elipse-action-dropdown delete-icon" ngbDropdown  (click)="$event.stopPropagation();">
                    <div class="dropdown dropdown-open">
                        <div class="edit-elipse-btn" ngbDropdownToggle>
                            <img src="assets/icons/overflow-black.svg" style="vertical-align: text-bottom;">
                        </div>
                        <ul class="dropdown-menu content-menu" role="menu" aria-labelledby="menu1" ngbDropdownMenu>
                            <li ngbDropdownItem *ngIf="workflowService.appState == 'configured'" (click)="openFlowSlider(flowData)">
                                <a><img src="assets/icons/external-link-blue.svg">{{ "USECASES.UPDATE" | translate }}</a>
                            </li>
                            <li ngbDropdownItem *ngIf="workflowService.appState == 'configured'" (click)="deleteExp(flowData);">
                                <a><img src="assets/icons/exp_flow_delete_icon.svg">{{ "USECASES.DELETE" | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-1 col-padding-30 text-right" (click)="$event.stopPropagation()">
                <img class="delete-icon" src="assets/icons/exp_flow_delete_icon.svg"  (click)="deleteExp(flowData)">
                
            </div> -->
        </div>
    </ng-container>
    <!-- <ng-container>
        <div class="default-rows">Default Flows</div>
    </ng-container> -->
</div>