<div class="slider-sec-data">
    <div class="header-sec row m-0" *ngIf="showGetNumberSlide">
        <div class="lef-sec col-8 p-0 d-flex align-items-center">
            <img src="assets/icons/deployment-icons/carrotleft.svg" class="cursor-pointer" (click)="showGetNumberSlide = false">
            <span class="main-title">{{'SETTINGS.GET_NEW_PHONE_NUMBER' | translate}}</span>
        </div>
        <div class="close-link col-4 p-0" (click)="close()"><img src="assets/images/close.svg"></div>
    </div>
    <div class="header-sec row m-0" *ngIf="!showGetNumberSlide">
        <div class="lef-sec col-8 p-0">
            <img src="assets/icons/deployment-icons/number-pad.svg">
            <span class="main-title" *ngIf="!(selectedPhonenumber && selectedPhonenumber.phoneNumber)">{{'SETTINGS.CALL_PHONE_NUMBER' | translate}}</span>
            <span class="main-title" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber)">{{'SETTINGS.FORWARD_TO_PHONE_NUMBER' | translate}}</span>
        </div>
        <div class="close-link col-4 p-0" (click)="close()"><img src="assets/images/close.svg"></div>
    </div>
    <perfect-scrollbar class="scroll-content" *ngIf="!showGetNumberSlide">
        <div class="phone-number-paddiv">
            <div class="info-text">{{'SETTINGS.CALL_FWD_DESC' | translate}}</div>
            <div class="label_text">{{'SETTINGS.CALL_PHONE_NUMBER' | translate}}</div>
            <div class="d-flex align-items-center phone-edit-remove">
                <button class="kr-sg-button-primary btn_lg" [class.inactive]="isNoBalanceAvailable" (click)="openGetPhNumberSlider()" *ngIf="!(selectedPhonenumber && selectedPhonenumber.phoneNumber)"><img src="assets/icons/deployment-icons/phone.svg" class="mr-1">{{'SETTINGS.GET_NEW_PHONE_NUMBER' | translate}}</button>
                <div class="flag-with-number" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber)"><img [src]="isFlagAvailable(selectedCountry?.countryCode)? 'assets/icons/flags/' + selectedCountry?.countryCode.toLowerCase() + '.svg' :'assets/icons/flags/default_flag.svg'">{{selectedPhonenumber.phoneNumber}}</div>
                <div class="change-btn" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber)" (click)="changePhoneNumber()"><img src="assets/icons/deployment-icons/edit.svg">{{'BUTTONS.CHANGE' | translate}}</div>
                <div class="Remove-btn" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber)" (click)="removePhoneNumber()"><img src="assets/icons/deployment-icons/remove.svg">{{'BUTTONS.REMOVE' | translate}}</div>
            </div>
            <div class="recharge-helpInfo" *ngIf="isNoBalanceAvailable" [@fadeInOutAnimation]>
                <div class="infoImg"><img src="assets/icons/deployment-icons/Info.svg" class="info"></div>
                <div class="infoText">{{'SETTINGS.RECHARGE_REQUIRED_INFO' | translate}}</div>
                <div class="link" [routerLink]="['/config/usage', 'current']">{{'SETTINGS.RECHARGE_NOW' | translate}}</div>
            </div>
            <div class="address-details" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber) && showAddress">
                <div class="m-title">{{'SETTINGS.ADDRESS' | translate}}</div>
                <div class="address-data row col-12 p-0 m-0">
                    <div class="label-name col-2 p-0">{{'SETTINGS.CUSTOMER_NAME' | translate}}</div>
                    <div class="address-info col-6 p-0">: {{botAddress.customerName}}</div>
                </div>
                <div class="address-data row col-12 p-0 m-0">
                    <div class="label-name col-2 p-0">{{'SETTINGS.COUNTRY' | translate}}</div>
                    <div class="address-info col-6 p-0">: {{botAddress.country}}</div>
                </div>
                <div class="address-data row col-12 p-0 m-0">
                    <div class="label-name col-2 p-0">{{'SETTINGS.CITY' | translate}}</div>
                    <div class="address-info col-6 p-0">: {{botAddress.city}}</div>
                </div>
                <div class="address-data row col-12 p-0 m-0">
                    <div class="label-name col-2 p-0">{{'SETTINGS.REGION' | translate}}</div>
                    <div class="address-info col-6 p-0">: {{botAddress.region}}</div>
                </div>
                <div class="address-data row col-12 p-0 m-0">
                    <div class="label-name col-2 p-0">{{'SETTINGS.STREET_NAME' | translate}}</div>
                    <div class="address-info col-6 p-0">: {{botAddress.street}}</div>
                </div>
                <div class="address-data row col-12 p-0 m-0">
                    <div class="label-name col-2 p-0">{{'SETTINGS.POSTAL_CODE' | translate}}</div>
                    <div class="address-info col-6 p-0">: {{botAddress.postalCode}}</div>
                </div>
            </div>
            <div class="row m-0 current-number-details" *ngIf="selectedPhonenumber?.addressRequirements && selectedPhonenumber?.addressRequirements !== 'none' && !showAddress">                
                <div class="col-6 kr-sg-dropdowns mb-4 pb-1 pl-0 search-dropdown">
                    <div class="label-text">{{'SETTINGS.COUNTRY' | translate}}</div>
                    <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                        <button class="dropdown-toggle dropdown-input search-with-dropdown d-none" data-toggle="dropdown">{{selectedCountryAddress && selectedCountryAddress['country'] || 'SETTINGS.SELECT_A_COUNTRY'}}</button>    
                        <input type="text" name="countryName" #countryName (input)="countryName.value = $event.target.value" [placeholder]="'SETTINGS.SELECT_A_COUNTRY' | translate" value="{{(selectedCountry?.countryName && selectedPhonenumber?.addressRequirements === 'local') ? selectedCountry?.countryName : selectedCountryAddress && selectedCountryAddress['country']}}" class="input-search dropdown-toggle dropdown-input" [class.readonly]="selectedPhonenumber?.addressRequirements === 'local'" autocomplete="chrome-off" (focus)="showStateSearchDropdown = true">
                        <img src="assets/icons/search.svg" class="search-icon">                                                           
                        <ul class="dropdown-menu content-menu" [class.show]="showCountryAddressDropdown">
                            <perfect-scrollbar class="country-code-perfect-scroll" [disabled]="workflowService.disablePerfectScroll">
                                <li (click)="selectedCountryAddress = item; botAddress.country = item.country; countryName.value=item.country" *ngFor="let item of countriesList | filter: [ countryName.value, 'country']"><a>{{item.country}}</a></li>
                            </perfect-scrollbar>
                        </ul>
                    </div>                        
                </div>
                <div class="col-6 input-text pr-0 pl-3 mb-4 pb-1">
                    <div class="kr-sg-input-text">
                        <div class="label-text">{{'SETTINGS.CUSTOMER_NAME' | translate}}</div>
                        <input type="text" [placeholder]="'SETTINGS.CUSTOMER_NAME' | translate" class="input-text" [(ngModel)]="botAddress.customerName">                       
                    </div>
                </div>
                <div class="col-6 input-text pl-0 pr-3 mb-4 pb-1">
                    <div class="kr-sg-input-text">
                        <div class="label-text">{{'SETTINGS.CITY' | translate}}</div>
                        <input type="text" [placeholder]="'SETTINGS.CITY_NAME' | translate" class="input-text" [(ngModel)]="botAddress.city">                       
                    </div>
                </div>
                <div class="col-6 input-text pr-0 pl-3 mb-4 pb-1">
                    <div class="kr-sg-input-text">
                        <div class="label-text">{{'SETTINGS.REGION' | translate}}</div>
                        <input type="text" [placeholder]="'SETTINGS.REGION_NAME' | translate" class="input-text" [(ngModel)]="botAddress.region">                       
                    </div>
                </div>
                <div class="col-6 input-text pl-0 pr-3 mb-4 pb-1">
                    <div class="kr-sg-input-text">
                        <div class="label-text">{{'SETTINGS.STREET' | translate}}</div>
                        <input type="text" [placeholder]="'SETTINGS.STREET_NAME' | translate" class="input-text" [(ngModel)]="botAddress.street">                       
                    </div>
                </div>
                <div class="col-6 input-text pr-0 pl-3 mb-4 pb-1">
                    <div class="kr-sg-input-text">
                        <div class="label-text">{{'SETTINGS.POSTAL_CODE' | translate}}</div>
                        <input type="text" [placeholder]="'SETTINGS.POSTAL_CODE' | translate" class="input-text" [(ngModel)]="botAddress.postalCode">                       
                    </div>
                </div>
                <div class="col-12 help-info-blue warning-data" *ngIf="showAddressError">
                    <div class="img-sec"><img src="assets/icons/settings/warning.svg"></div>
                    <div class="dec-info">{{'SETTINGS.VALIDATE_ERR_DESC' | translate}} 
                        <a href="https://info.smartassist.ai/4x-customer-retention-with-call-automation-and-digital-deflection-2" target="_blank"> {{'SETTINGS.CONTACT_US' | translate}}</a>
                    </div>                    
                </div>
                <div class="col-12 help-info-blue" *ngIf="showAddressInfo1 && !showAddressError && !showAddressSuggestion" (click)="onClickAddressInfo(1)">
                    <div class="img-sec"><img src="assets/icons/settings/Info-blue.svg"></div>
                    <div class="dec-info">{{'SETTINGS.IT_WILL_TAKE_FEW_SECONDS_DESC' | translate}}</div>
                    <div class="close-info"><img src="assets/icons/settings/info-close.svg"></div>
                </div>
                <div class="col-12 help-info-blue" *ngIf="showAddressInfo2 && !showAddressError && !showAddressSuggestion" (click)="onClickAddressInfo(2)">
                    <div class="img-sec"><img src="assets/icons/settings/Info-blue.svg"></div>
                    <div class="dec-info">{{'SETTINGS.WE_NEED_TO_VALIDATE_YOUR_ADDRESS_DESC' | translate}}</div>
                    <div class="close-info"><img src="assets/icons/settings/info-close.svg"></div>
                </div>
                <div class="col-12 preview-current-u-data" *ngIf="showAddressSuggestion">
                    <div class="header-data">
                        <div class="l-sec"><img src="assets/icons/settings/info-preview.svg">{{'SETTINGS.DO_YOU_MEAN' | translate}} </div>
                        <div class="r-sec">
                            <img src="assets/icons/settings/check.svg" (click)="onSelecteSuggestAddress()">
                            <img src="assets/icons/settings/close.svg" (click)="showAddressSuggestion = false">
                        </div>
                    </div>
                    <div class="u-data">
                        <span class="n-text">{{'SETTINGS.CUSTOMER_NAME' | translate}}:</span><span class="b-text">{{suggestedAddress.customerName}}</span>
                    </div>
                    <div class="u-data">
                        <span class="n-text">{{'SETTINGS.COUNTRY' | translate}}:</span><span class="b-text">{{suggestedAddress.country}}</span>
                    </div>
                    <div class="u-data">
                        <span class="n-text">{{'SETTINGS.CITY' | translate}}:</span><span class="b-text">{{suggestedAddress.city}}</span>
                    </div>
                    <div class="u-data">
                        <span class="n-text">{{'SETTINGS.REGION' | translate}}:</span><span class="b-text">{{suggestedAddress.region}}</span>
                    </div>
                    <div class="u-data">
                        <span class="n-text">{{'SETTINGS.STREET' | translate}}:</span><span class="b-text">{{suggestedAddress.street}}</span>
                    </div>
                    <div class="u-data">
                        <span class="n-text">{{'SETTINGS.POSTAL_CODE' | translate}}:</span><span class="b-text">{{suggestedAddress.postalCode}}</span>
                    </div>
                </div>
            </div>
            <div class="helpInfo" *ngIf="!(selectedPhonenumber && selectedPhonenumber.phoneNumber)" >
                <div class="infoImg"><img src="assets/icons/deployment-icons/tip-bulb.svg" class="info"></div>
                <div class="infoText">{{'SETTINGS.GET_A_NEW_TOLL_FREE_NUMBER_DESC' | translate}}</div>
            </div>
            <div class="helpInfo" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber && selectedPhonenumber.addressRequirements === 'none') || showAddress" >
                <div class="infoImg"><img src="assets/icons/deployment-icons/tip-bulb.svg" class="info"></div>
                <div class="infoText">{{'SETTINGS.TO_TEST_USE_CASES_DESC' | translate}}</div>
            </div>
            <div class="helpInfo" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber && selectedPhonenumber.addressRequirements === 'none') || showAddress">
                <div class="infoImg"><img src="assets/icons/deployment-icons/tip-bulb.svg" class="info"></div>
                <div class="infoText">{{'SETTINGS.WHEN_READY_TO_GO_LIVE_DESC' | translate}}</div>
            </div>            
        </div>        
    </perfect-scrollbar> 
    <div class="new-phone-number-paddiv row col-12 m-0 p-0" *ngIf="showGetNumberSlide">
        <div class="left-sec col-6">
            <perfect-scrollbar class="scoll-data">
                <div class="pl-pr-10">
                    <div class="kr-sg-dropdowns mb-2 pb-1">
                        <div class="label-text font-weight-bold">{{"SETTINGS.COUNTRY_NAME" | translate}}</div>
                        <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                            <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown">{{selectedCountry && selectedCountry['country'] || 'Select a Country'}}</button>    
                            <input type="text" name="countryCodeSearchTerm" #countryCodeSearchTerm (input)="countryCodeSearchTerm.value = $event.target.value" [placeholder]="'SETTINGS.SELECT_A_COUNTRY' | translate" value="{{selectedCountry && selectedCountry['country'] || 'Select a Country'}}" class="input-search dropdown-toggle dropdown-input" autocomplete="chrome-off" (focus)="showCountrySearchDropdown = true">
                            <img src="assets/icons/search.svg" class="search-icon">                                                           
                            <ul class="dropdown-menu content-menu" [class.show]="showCountrySearchDropdown">
                                <perfect-scrollbar class="country-code-perfect-scroll" [disabled]="workflowService.disablePerfectScroll">
                                    <li (click)="onClickCountryCode(item); countryCodeSearchTerm.value=item.country" *ngFor="let item of countriesList | filter: [ countryCodeSearchTerm.value, 'country']"><a>{{item.country}}</a></li>
                                </perfect-scrollbar>
                            </ul>
                        </div>                        
                    </div>

                    <ng-container *ngIf="!customerSupport">
                        <button class="kr-sg-button-secondary-two btn_lg mt-3 d-none" *ngIf="!showTypes" (click)="enableIntegration()">{{'SETTINGS.GET_NUMBER' | translate}}</button>
                        <ng-container *ngIf="showTypes">
                            <div class="group-radiobutton">                 
                                <div class="kr-sg-radiobutton">
                                    <input id="radio-22" name="radio" class="radio-custom" type="radio" checked value="local" [(ngModel)]="phoneNumberType" (change)="getPhoneNumbers()">
                                    <label for="radio-22" class="radio-custom-label">{{'SETTINGS.LOCAL_NUMBER' | translate}}</label>
                                </div>
                                <div class="kr-sg-radiobutton pr-0" [class.readonly]="planType === 'None' || planType === 'Free'">
                                    <input id="radio-23" name="radio" class="radio-custom" type="radio" value="tollFree" [(ngModel)]="phoneNumberType" (change)="getPhoneNumbers()">
                                    <label for="radio-23" class="radio-custom-label">{{'SETTINGS.TOLL_FREE_NUMBER' | translate}}</label>                                
                                </div>
                                <span class="info-tooltip" *ngIf="planType === 'Free'">
                                    <img src="assets/icons/info.svg">
                                    <div class="info-tips">
                                        <img src="assets/icons/settings/Info-blue.svg">  
                                        <div class="text_info">
                                            {{'SETTINGS.TOLL_FREE_NUMBERS_ARE_ONLY_AVAILABLE' | translate}} 
                                            <span *ngIf="localStore.appLanguage?.toLowerCase() !== 'ko'" class="upgrade" [routerLink]="['/config/usage', 'current']">{{'SETTINGS.UPGRADE' | translate}}</span> 
                                            {{'SETTINGS.YOUR_ACCOUNT_TO_GET_ACCESS_HERE' | translate}}
                                            <span *ngIf="localStore.appLanguage?.toLowerCase() === 'ko'" class="upgrade" [routerLink]="['/config/usage', 'current']">{{'SETTINGS.UPGRADE' | translate}}</span> 
                                        </div>  
                                    </div>
                                </span>
                                <!-- <div class="infoImg" *ngIf="planType === 'Free'" placement="bottom" [ngbPopover]="popContent">
                                    <img src="assets/icons/deployment-icons/Info.svg" class="info"></div>
                                <ng-template #popContent><div>"Toll Free Numbers are only available for paid customers.<span [routerLink]="['/usage', 'current']">Upgrade</span> your account to get access here.</div></ng-template> -->
                            </div>
                           
                            <div class="kr-sg-dropdowns mb-2 pb-1" [class.d-none]="phoneNumberType === 'tollFree'" *ngIf="stateCodes.length">
                                <div class="label-text font-weight-bold">{{'SETTINGS.STATE' | translate}}</div>                            
                                <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                                    <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown">{{selectedStateCode && selectedStateCode.stateName || 'Choose an option'}}</button>    
                                    <input type="text" name="countryCodeSearchTerm" name="stateCodeSearchTerm" #stateCodeSearchTerm (input)="stateCodeSearchTerm.value = $event.target.value" [placeholder]="'SETTINGS.SELECT_A_COUNTRY' | translate" value="{{selectedStateCode && selectedStateCode.stateName || 'Choose an option'}}" class="input-search dropdown-toggle dropdown-input" autocomplete="chrome-off" (focus)="showStateSearchDropdown = true">
                                    <img src="assets/icons/search.svg" class="search-icon">                                                           
                                    <ul class="dropdown-menu content-menu" [class.show]="showStateSearchDropdown">
                                        <perfect-scrollbar class="state-code-perfect-scroll" [disabled]="workflowService.disablePerfectScroll">
                                            <li (click)="onClickStateCode(state); stateCodeSearchTerm.value = selectedStateCode.stateName;"
                                                *ngFor="let state of stateCodes | filter: [ stateCodeSearchTerm.value, 'stateName']">
                                                <a>{{state.stateName}}</a></li>
                                        </perfect-scrollbar>
                                    </ul>
                                </div>                        
                            </div>
    
                            <div class="kr-sg-input-text mt-3" *ngIf="selectedCountry?.countryCode === 'US'">
                                <div class="label-text font-weight-bold">{{'AREA_CODE' | translate}}</div>
                                <input type="text" [placeholder]="'AREA_CODE_INFO' | translate" class="input-text" [(ngModel)]="areaCode" (input)="areaCodeSearchTerm$.next()">
                            </div>
                        </ng-container>
                        
                        <div class="toolfree-hint-text" *ngIf="!showTypes && phoneNumberType === 'tollFree' && planType === 'Free'">
                            <img src="assets/icons/deployment-icons/Info.svg">
                            <div class="hint-text">
                                {{'SETTINGS.TOLL_FREE_NUMBERS_ARE_ONLY_AVAILABLE' | translate}} 
                                <span *ngIf="localStore.appLanguage?.toLowerCase() !== 'ko'" class="upgrade" [routerLink]="['/config/usage', 'current']">{{'SETTINGS.UPGRADE' | translate}}</span> 
                                {{'SETTINGS.YOUR_ACCOUNT_TO_GET_ACCESS_HERE' | translate}}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="customerSupport">
                        <div class="font-weight-bold mt-2 mb-3">{{'IMPORTANT_NOTE' | translate}}</div>
                        <div [innerHTML]="'CONTACT_SUPPORT_INFO' | translate"></div>
                    </ng-container>
                    
                    <div class="pricingData" *ngIf="phoneNumbers?.length && !loading" [@fadeInOutAnimation]>
                        <div class="monthly-fee">{{'MONTHLY_FEE_OF_THIS_NUMBER' | translate}} : <span class="font-weight-bold">{{pricingData?.monthly_charges?.current_price | currency: (pricingData?.monthly_charges?.priceUnit || 'USD')}}</span></div>
                        <div class="monthly-fee">{{'OPERATIONAL_CHARGE' | translate}} : <span class="font-weight-bold">{{pricingData?.operational_charges?.current_price | currency: (pricingData?.operational_charges?.priceUnit || 'USD')}} / {{'USAGE_BILLING.MIN' | translate}}</span></div>
                        <div class="info">{{'AMOUNT_DEDUCTED_INFO' | translate}}</div>                        
                    </div>
                </div>
            </perfect-scrollbar>
        </div>           
        <div class="right-sec col-6">
            <perfect-scrollbar class="scoll-data">
                <div class="empty-container" *ngIf="phoneNumbers.length === 0">
                    <div class="imb-block"><img src="assets/icons/deployment-icons/clip-online-education.svg"></div>
                    <div class="empty-text">{{'SETTINGS.NO_PHONENUMBER_NFO' | translate}}</div>
                </div>
                <div  class="phone-numbers" [class.loading]="loading" [class.enablingInProgess]="enablingInProgess" *ngFor="let number of phoneNumbers">
                    <div class="get-phone-number">
                        <div class="number-p">{{number.phoneNumber}}</div>
                        <div class="get_number" [class.disabledbtn]="!showTypes && phoneNumberType === 'tollFree' && planType === 'Free'" (click)="onClickGetNumber(number)" *ngIf="!number.showConfirmation">{{ (customerSupport ? 'CONTACT_SUPPORT' : 'SETTINGS.GET_NUMBER') | translate}}</div>
                        <ng-container *ngIf="number.showConfirmation">
                            <div class="pl-0 title-text text-right confirm-cancel-btns pt-1 pb-1" *ngIf="!enablingInProgess">
                                <button class="kr-sg-button-primary" (click)="enableIntegration(number)">{{'BUTTONS.CONFIRM' | translate}}</button>
                                <button class="kr-sg-button-secondary ml-1" (click)="onClickCancel()">{{'BUTTONS.CANCEL' | translate}}</button>
                            </div>
                            <div class="title-text text-right" *ngIf="enablingInProgess">
                                <button class="kr-sg-button-primary d-flex align-items-center float-right">
                                    <div class="loader-in-button mr-2"><img src="assets/images/icons/fa-spinner.svg"></div>
                                    {{'BUTTONS.ENABLING' | translate}}
                                </button>
                            </div>
                        </ng-container>
                    </div>           
                </div>
            </perfect-scrollbar>
        </div>                    
    </div>
    <div class="footer-sec" *ngIf="(selectedPhonenumber && selectedPhonenumber.phoneNumber)">
        <button class="kr-sg-button-primary btn_lg mr-2" [disabled]="saveInProgress" (click)=" setupIncomingConfiguration()" *ngIf="(selectedPhonenumber.addressRequirements === 'none') || showAddress">{{(saveInProgress? 'BUTTONS.SAVING': 'BUTTONS.DONE') | translate}}</button>        
        <button class="kr-sg-button-primary btn_lg mr-2" [disabled]="isValidating || !isAddressFilled()" (click)="validateAddress()" *ngIf="selectedPhonenumber.addressRequirements !== 'none' && !showAddress">{{(isValidating ? 'BUTTONS.VALIDATING': 'BUTTONS.VALIDATE') | translate}}</button>            
    </div>
</div>