<div class="utterance-triggers">
    <!-- <div class="drag-content">
        <i class="icon-sa-elipse"></i>
    </div> -->
    <div class="and-or-btns">
        <button class="and-or-btn active-btn">{{'COACHING_DIALOG.AND' | translate}}</button>
        <button class="and-or-btn">{{'COACHING_DIALOG.OR' | translate}}</button>
    </div>
    <span class="utt-name-desc">{{'COACHING_DIALOG.DIALOG_TRIGGER' | translate}}</span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>
            <span class="choose-text">{{'{ select dialog }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <!-- <li ngbDropdownItem class="list-item-li">
                <span class="title">Pizza Shop Bot</span>
            </li> -->
            <div class="drodown-inside-dialog" ngbDropdown [placement]="'right-top'">
                <button class="dropdown-toggle" ngbDropdownToggle>
                    <span>Pizza Shop Bot</span>
                    <div class="arrow-drop">
                        <i class="icon-sa-arrow-down"></i>
                    </div>
                </button>
                <ul class="dropdown_menu-wrapper m-l-6" ngbDropdownMenu>
                    <li ngbDropdownItem class="list-item-li">
                        <span class="title">Pizza Shop Bot</span>
                        <i class="icon-sa-conv-check"></i>
                    </li>
                    <li ngbDropdownItem class="list-item-li">
                        <span class="title">Flight Assistance Bot</span>
                    </li>
                </ul>
            </div>
            <li ngbDropdownItem class="list-item-li">
                <span class="title">Flight Assistance Bot</span>
            </li>
        </ul>
    </div>
    <span class="utt-name-desc">{{'COACHING_DIALOG.IS' | translate}}</span>
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>
            <span class="choose-text">{{'{ select state }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <li ngbDropdownItem class="list-item-li">
                <span class="title">Pizza Shop Bot</span>
                <i class="icon-sa-conv-check"></i>
            </li>
            <li ngbDropdownItem class="list-item-li">
                <span class="title">Bank Assistance Bot</span>
            </li>
        </ul>
    </div>
    <div class="dropdown-occurences" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle><i class="icon-sa-conv-refreshten"></i> 1x</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <perfect-scrollbar class="mx-h-220">
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">{{'COACHING_DIALOG.EACH_OCCUR' | translate}} <span>1x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">{{'COACHING_DIALOG.AFTER' | translate}} 2 {{'COACHING_DIALOG.OCCUR' | translate}} <span>2x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">{{'COACHING_DIALOG.AFTER' | translate}} 3 {{'COACHING_DIALOG.OCCUR' | translate}} <span>3x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">{{'COACHING_DIALOG.AFTER' | translate}} 4 {{'COACHING_DIALOG.OCCUR' | translate}} <span>4x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
                <li ngbDropdownItem class="list-item-li">
                    <span class="title">{{'COACHING_DIALOG.AFTER' | translate}} 5 {{'COACHING_DIALOG.OCCUR' | translate}} <span>5x</span></span>
                    <i class="icon-sa-conv-check"></i>
                </li>
            </perfect-scrollbar>
        </ul>
    </div>
    <div class="dropdown-occurences no_border" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>{{'COACHING_DIALOG.IN' | translate}} 30 {{'COACHING_AGENT_HINT_SECS' | translate}}</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <div class="seconds-input">
                <div class="kr-sg-input-text">
                    <input type="text" placeholder="{{'COACHING_AGENT_HINT_PLACEHOLDER_ENTER_SECS' | translate}}" class="input-text">
                </div>
                <div class="s-title">{{'COACHING_AGENT_HINT_SECS' | translate}}</div>
            </div>
        </ul>
    </div>
    <div class="delete-row">
        <i class="icon-sa-welcome-delete"></i>
    </div>
</div>

