<div class="api-advance-mode-wrapper">
    <div class="header-sec">
       <h3 class="title">Advance API Configuration</h3>
       <i class="icon-sa-close"></i>
    </div>
    <div class="body-sec">
     <p class="define-script">Define script</p>
    </div>
    <div class="footer-sec">
        <button class="kr-sg-button-secondary-two btn_lg" >{{'BUTTONS.CANCEL' | translate}}</button>
        <button class="kr-sg-button-primary btn_lg" >{{'BUTTONS.SAVE' | translate}}</button>
    </div>
</div>

