.list-desc-elements{
    display: -webkit-box;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    list-style-type: disc;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: justify;
    word-break: break-word; 
    margin-top: 6px;
    .desc-text{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        width: 100%;
        word-break: break-all;
        // margin: 0 !important;
        // display: flex !important;
        // // display: -webkit-box;
        // align-items: flex-start;

        &.bullet-list-span{
            padding-left: 10px;
            span{
                display: block;
            }
        }
        span{
            width: 4px;
            height: 4px;
            background: #979797;
            position: relative;
            top: 4px;
            margin-right: 5px;
            border-radius: 100%;
            flex-shrink: 0;
            position: absolute;
            left: 0;
            display: none;
        }
    }
}

.souces-names-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 3px;
    margin-top: 10px;
    h1{
        color: var(--Gray-300, #D0D5DD);
        font-size: 12px;
        font-style: italic;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        flex-shrink: 0;
    }
    .source-names{
        display: flex;
        align-items: flex-start;
        gap: 8px;
        overflow: hidden;
        .source-tag{
            display: flex;
            padding: 2px 8px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 16px;
            background: var(--Gray-100, #F2F4F7);
            transition: 0.2s all ease;
            // max-width: 47%;
            flex : auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            &:hover{
                span{
                    color: var(--Gray-modern-700, #364152);
                }
                a{
                    color: var(--Gray-modern-700, #364152);
                    text-decoration-line: underline;
                }
            }
            span{
                display: flex;
                width: 14px;
                height: 14px;
                padding: 0;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 16px;
                background: var(--Gray-50, #F9FAFB);
                color: var(--Gray-700, #344054);
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
            a{
                overflow: hidden;
                color: var(--Gray-modern-500, #697586);
                text-align: center;
                text-overflow: ellipsis;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }
}