
<ng-container *ngIf="searchConentObject && searchConentObject.value && showOverLay">
    <div id="librarySearchText" [ngClass]=" searchType == projConstants.AGENT_SEARCH ? 'search-results-text' : 'searched-intent' ">{{searchResponse.totalSearchResults}} {{searchResultText}} {{searchConentObject.value}} 
        <span class="show-all" *ngIf="searchType == projConstants.AGENT_SEARCH && searchResponse.totalSearchResults > 2" (click)="handleShowAllClick()">Show all</span>
    </div>
    <div class="dialog-task-run-sec p-0" id="searchedDialogs">
        <div class="task-type" id="snippetsArea" *ngIf="searchResponse.snippets?.length > 0">
            <div class="img-block-info">
                <img [src]="imageFilePath + imageFileNames['FAQ_SUGGESTION']">
            </div>
            <div class="content-dialog-task-type arr-cont-dialogtask" id="snippetsSuggestions-results">
                <div class="type-with-img-title">Snippets ({{searchResponse.snippets?.length}})</div>
    
                <div class="type-info-run-send is-dropdown-show-default is-dropdown-open" [id]="'snippetDivLib-' + i" *ngFor="let snippet of searchResponse.snippets | slice : 0 : snippetViewCount; let i = index">
                    <div class="left-content" [id]="'snippetSectionLib-' + i">
                        <div class="title-text" [title]="snippet.title" [id]="'snippettitleLib-' + i"
                            >{{snippet.title}}
                            <!-- <i class="ast-carrotup rotate-carrot" [id]="'articlecheckLib-' + i" *ngIf="!article.content"></i> -->
                        </div>
                        <div class="desc-text" [id]="'snippetdescLib-' + i"
                            *ngIf="snippet.content">{{snippet.content}}
                            <!-- <div class="link-view-full-article" [id]="'articleViewLinkLib-' + i" *ngIf="article.link"><a [href]="article.link" target="_blank">View Full Article</a></div> -->
                            <button class="know-more-btn" [id]="'snippetViewMsgLib-' + i" ><a style="color: #FFFFFF;" [href]="snippet.page_url" target="_blank">Know more</a></button>
                        </div>
                        <button class="ghost-btn" [id]="'snippetseeMore-' + i" *ngIf="snippet.showMoreButton" (click)="toggleShowMoreLessButtons(snippet, i, projConstants.SNIPPET)">{{projConstants.READ_MORE}}</button>
                        <button class="ghost-btn" [id]="'snippetseeLess-' + i" *ngIf="snippet.showLessButton" (click)="toggleShowMoreLessButtons(snippet, i, projConstants.SNIPPET)">{{projConstants.READ_LESS}}</button>
                    </div>
                    <!-- <div class="action-links">
                        <button class="send-run-btn" [id]="sendMsg" (click)="handleSendCopyButton(projConstants.SEND, article, projConstants.ARTICLE)">{{projConstants.SEND}}</button>
                        <div class="copy-btn" (click)="handleSendCopyButton(projConstants.COPY, article, projConstants.ARTICLE)">
                            <i class="ast-copy"></i>
                        </div>
                    </div> -->
                </div>
                <div class="link-view-full-article ghost-btn" [id]="'snippetFullView-' + i" *ngIf="snippetAllView" (click)="showAllResultsClick(projConstants.VIEW_ALL_SNIPPETS)">{{projConstants.VIEW_ALL_SNIPPETS}}</div>
                <div class="link-view-full-article ghost-btn" [id]="'snippetFewView-' + i" *ngIf="!snippetAllView && searchResponse.snippets?.length > 2" (click)="showAllResultsClick(projConstants.VIEW_FEW_SNIPPETS)">{{projConstants.VIEW_FEW_SNIPPETS}}</div>
            </div>
        </div>
        
            <div class="task-type" id="dialoguesArea" *ngIf="searchResponse.dialogs?.length > 0">
                <div class="img-block-info">
                    <img [src]="imageFilePath + imageFileNames['DIALOG_TASK']">
                </div>
        
                <div class="content-dialog-task-type arr-cont-dialogtask" id="dialogSuggestions-results">
                    <div class="type-with-img-title">Dialog task ({{searchResponse.dialogs?.length}})</div>
        
                    <div class="type-info-run-send" *ngFor="let dialog of searchResponse.dialogs; let i = index">
                        <div class="left-content">
                            <div class="title-text" [id]="'automation-' + i">{{dialog.name}}</div>
                        </div>
                        <div class="action-links">
                            <button class="send-run-btn" [id]="'run-' + i" (click)="dialogueRunClick(dialog,projConstants.ASSIST)">{{projConstants.RUN}}</button>
                            <div class="elipse-dropdown-info" [id]="'showRunForAgentBtn-' + i">
                                <div class="elipse-icon" [id]="'elipseIcon-' + i" (click)="handleRunAgent(dialog.name, $event)">
                                    <i class="ast-overflow" [id]="'overflowIcon-' + i"></i>
                                </div>
                                <div class="dropdown-content-elipse" [id]="'runsearchAgtBtn-' + i" *ngIf="dialog.agentRunButton"(click)="$event.stopPropagation()">
                                    <div class="list-option" [id]="'agentSearchSelect-' + i" (click)="dialogueRunClick(dialog,projConstants.MYBOT)">{{projConstants.AGENTASSIST_RUN}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-type" id="faqssAreas" *ngIf="searchResponse.faqs?.length > 0">
                <div class="img-block-info">
                    <img [src]="imageFilePath + imageFileNames['FAQ_SUGGESTION']">
                </div>
                <div class="content-dialog-task-type arr-cont-dialogtask" id="faqsSuggestions-results">
                    <div class="type-with-img-title">FAQ ({{searchResponse.faqs?.length}})</div>
                    <div class="type-info-run-send is-dropdown-show-default is-dropdown-open" [id]="'faqDivLib-' + i" *ngFor="let faq of searchResponse.faqs | slice : 0 : faqViewCount; let i = index">
                        <div class="left-content" [id]="'faqSectionLib-' + i">
                            <div class="title-text" [title]="faq.displayName ? faq.displayName : faq.question" [id]="'titleLib-' + i"
                                >{{faq.displayName ? faq.displayName : faq.question}}<span *ngIf="faq.answer && faq.answer.length > 1 && ((!faq.seeMoreWrapper && faq.answerRender) || (faq.toggle && !faq.answerRender && !faq.seeMoreWrapper))"> 1/{{faq.answer.length}}</span>
                                <i class="ast-carrotup" [id]="'checkLib-' + i" *ngIf="!faq.answerRender && !faq.toggle" (click)="getFaqAnswerAndtoggle(faq)"></i>
                                <i class="ast-carrotup rotate-carrot" [id]="'checkLib-' + i" *ngIf="!faq.answerRender && faq.toggle" (click)="getFaqAnswerAndtoggle(faq)"></i>
                            </div>
                            <div class="desc-text" [id]="'descLib-' + i"
                                *ngIf="faq.answer && faq.answer.length > 0 && (!faq.seeMoreWrapper) && ((faq.toggle && !faq.answerRender) || faq.answerRender)" [innerHtml]="commonService.handleEmptyLine(faq.answer[0].ans)"></div>
                            <div class="see-more-wrapper-info"  [id]="'seeMoreWrapper-' + i" *ngIf="faq.showLessButton && faq.seeMoreWrapper">
                                <div class="individual-data-text" *ngFor="let ansObj of faq.answer;let ii = index">
                                    <div class="desc-text-individual" [id]="'desc-faq-lib-' + i + ii" [innerHtml]="commonService.handleEmptyLine(ansObj.ans)"></div>
                                    <div class="seemore-link-text" [id]="'desc-faq-lib-' + i + ii" (click)="toggleShowMoreLessButtonsForFaq(ansObj, i, ii)" *ngIf="ansObj.showMoreButton">{{projConstants.READ_MORE}}</div>
                                    <div class="seemore-link-text" [id]="'desc-faq-lib-' + i + ii" (click)="toggleShowMoreLessButtonsForFaq(ansObj, i, ii)" *ngIf="ansObj.showLessButton">{{projConstants.READ_LESS}}</div>
                                    <div class="actions-send-copy">
                                        <div class="send-icon" [id]="sendMsg" (click)="handleSendCopyButton(projConstants.SEND,ansObj, projConstants.FAQ, faq)">
                                            <i class="ast-ast-send"></i>
                                        </div>
                                        <div class="copy-icon" (click)="handleSendCopyButton(projConstants.COPY,ansObj, projConstants.FAQ, faq)">
                                            <i class="ast-copy"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="ghost-btn" [id]="'seeMore-' + i" *ngIf="faq.showMoreButton && faq.answer.length == 1 && ((faq.answer && faq.toggle && !faq.answerRender) || (faq.answer && faq.answerRender))" (click)="toggleShowMoreLessButtons(faq, i, projConstants.FAQ)">{{projConstants.READ_MORE}}</button>
                            <button class="ghost-btn" [id]="'seeMore-' + i" *ngIf="faq.showMoreButton && faq.answer.length > 1 && ((faq.answer && faq.toggle && !faq.answerRender) || (faq.answer && faq.answerRender))" (click)="toggleShowMoreLessButtons(faq, i, projConstants.FAQ)">{{projConstants.READ_MORE}} | {{projConstants.EXPAND}}</button>
                            <button class="ghost-btn" [id]="'seeLess-' + i" *ngIf="faq.showLessButton && !faq.seeMoreWrapper && ((faq.answer && faq.toggle && !faq.answerRender) || (faq.answer && faq.answerRender))" (click)="toggleShowMoreLessButtons(faq, i, projConstants.FAQ)">{{projConstants.READ_LESS}}</button>
                            <button class="ghost-btn show-less-btn" [id]="'seeLess-' + i" *ngIf="faq.showLessButton && faq.seeMoreWrapper && ((faq.answer && faq.toggle && !faq.answerRender) || (faq.answer && faq.answerRender))" (click)="toggleShowMoreLessButtons(faq, i, projConstants.FAQ)">{{projConstants.CLOSE}}</button>

                        </div>
                        <div class="action-links" *ngIf="!commonService.isCallConversation && (!faq.seeMoreWrapper && faq.answer && faq.answer.length > 0)">
                            <button class="send-run-btn" [id]="sendMsg" (click)="handleSendCopyButton(projConstants.SEND,faq.answer[0], projConstants.FAQ, faq)">{{projConstants.SEND}}</button>
                            <div class="copy-btn" (click)="handleSendCopyButton(projConstants.COPY,faq.answer[0], projConstants.FAQ, faq)">
                                <i class="ast-copy"></i>
                            </div>
                        </div>
                    </div>
                    <div class="link-view-full-article ghost-btn" [id]="'faqFullView-' + i" *ngIf="faqAllView" (click)="showAllResultsClick(projConstants.VIEW_ALL_FAQ)">{{projConstants.VIEW_ALL_FAQ}}</div>
                    <div class="link-view-full-article ghost-btn" [id]="'faqFewView-' + i" *ngIf="!faqAllView && searchResponse.faqs?.length > 2" (click)="showAllResultsClick(projConstants.VIEW_FEW_FAQ)">{{projConstants.VIEW_FEW_FAQ}}</div>
                </div>
            </div>
        
            <div class="task-type" id="articlesArea" *ngIf="searchResponse.articles?.length > 0">
                <div class="img-block-info">
                    <img [src]="imageFilePath + imageFileNames['FAQ_SUGGESTION']">
                </div>
                <div class="content-dialog-task-type arr-cont-dialogtask" id="articleSuggestions-results">
                    <div class="type-with-img-title">Article ({{searchResponse.articles?.length}})</div>
        
                    <div class="type-info-run-send is-dropdown-show-default is-dropdown-open" [id]="'articleDivLib-' + i" *ngFor="let article of searchResponse.articles | slice : 0 : articleViewCount; let i = index">
                        <div class="left-content" [id]="'articleSectionLib-' + i">
                            <div class="title-text" [title]="article.title" [id]="'articletitleLib-' + i"
                                >{{article.title}}
                                <!-- <i class="ast-carrotup rotate-carrot" [id]="'articlecheckLib-' + i" *ngIf="!article.content"></i> -->
                            </div>
                            <div class="desc-text" [id]="'articledescLib-' + i" [innerHTML]="article.content | removeTagFromString | replaceTextWithTag : article.userInput">
                                <div class="link-view-full-article" [id]="'articleViewLinkLib-' + i" *ngIf="article.link"><a [href]="article.link" target="_blank">View Full Article</a></div>
                            </div>
                            <button class="ghost-btn" [id]="'articleseeMore-' + i" *ngIf="article.showMoreButton" (click)="toggleShowMoreLessButtons(article, i, projConstants.ARTICLE)">{{projConstants.READ_MORE}}</button>
                            <button class="ghost-btn" [id]="'articleseeLess-' + i" *ngIf="article.showLessButton" (click)="toggleShowMoreLessButtons(article, i, projConstants.ARTICLE)">{{projConstants.READ_LESS}}</button>
                        </div>
                        <div class="action-links" *ngIf="!commonService.isCallConversation && article.content">
                            <button class="send-run-btn" [id]="sendMsg" (click)="handleSendCopyButton(projConstants.SEND, article, projConstants.ARTICLE)">{{projConstants.SEND}}</button>
                            <div class="copy-btn" (click)="handleSendCopyButton(projConstants.COPY, article, projConstants.ARTICLE)">
                                <i class="ast-copy"></i>
                            </div>
                        </div>
                    </div>
                    <div class="link-view-full-article ghost-btn" [id]="'articleFullView-' + i" *ngIf="articleAllView" (click)="showAllResultsClick(projConstants.VIEW_ALL_ARTICLES)">{{projConstants.VIEW_ALL_ARTICLES}}</div>
                    <div class="link-view-full-article ghost-btn" [id]="'articleFewView-' + i" *ngIf="!articleAllView && searchResponse.articles?.length > 2" (click)="showAllResultsClick(projConstants.VIEW_FEW_ARTICLES)">{{projConstants.VIEW_FEW_ARTICLES}}</div>
                </div>
            </div>
        
    
    </div>
</ng-container>

