<div class="searched-intent" id="librarySearchText">{{searchResponse.totalSearchResults}} Search result for 'bar chart' </div>
<div class="dialog-task-run-sec p-0" id="searchedDialogs">
    <div class="task-type" id="dialoguesArea" *ngIf="searchResponse.dialogs?.length > 0">
        <div class="img-block-info">
            <img [src]="imageFilePath + imageFileNames['DIALOG_TASK']">
        </div>

        <div class="content-dialog-task-type arr-cont-dialogtask" id="dialogSuggestions-results">
            <div class="type-with-img-title">Dialog task ({{searchResponse.dialogs?.length}})</div>

            <div class="type-info-run-send" *ngFor="let dialog of searchResponse.dialogs; let i = index">
                <div class="left-content">
                    <div class="title-text" [id]="'automation-' + i">{{dialog.name}}</div>
                </div>
                <div class="action-links">
                    <button class="send-run-btn" [id]="'run-' + i" (click)="dialogueRunClick(projConstants.ASSIST)">{{projConstants.RUN}}</button>
                    <div class="elipse-dropdown-info" [id]="'showRunForAgentBtn-' + i">
                        <div class="elipse-icon" [id]="'elipseIcon-' + i" (click)="handleRunAgent(dialog.name, $event)">
                            <i class="ast-overflow" [id]="'overflowIcon-' + i"></i>
                        </div>
                        <div class="dropdown-content-elipse" [id]="'runsearchAgtBtn-' + i" *ngIf="dialog.agentRunButton" (click)="$event.stopPropagation()">
                            <div class="list-option" [id]="'agentSearchSelect-' + i" (click)="dialogueRunClick(projConstants.MYBOT)">{{projConstants.AGENTASSIST_RUN}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="task-type" id="faqssAreas" *ngIf="searchResponse.faqs?.length > 0">
        <div class="img-block-info">
            <img [src]="imageFilePath + imageFileNames['FAQ_SUGGESTION']">
        </div>
        <div class="content-dialog-task-type arr-cont-dialogtask" id="faqsSuggestions-results">
            <div class="type-with-img-title">FAQ ({{searchResponse.faqs?.length}})</div>

            <div class="type-info-run-send is-dropdown-show-default is-dropdown-open" [id]="'faqDivLib-' + i" *ngFor="let faq of searchResponse.faqs; let i = index">
                <div class="left-content" [id]="'faqSectionLib-' + i">
                    <div class="title-text" [id]="'titleLib-' + i"
                        >{{faq.question}}
                        <i class="ast-carrotup rotate-carrot" [id]="'checkLib-' + i" *ngIf="!faq.answer"></i>
                    </div>
                    <div class="desc-text" [id]="'descLib-' + i"
                        *ngIf="faq.answer">{{faq.answer}}</div>
                    <button class="ghost-btn" style="font-style: italic;" [id]="'seeMore-' + i" *ngIf="faq.showMoreButton" (click)="toggleShowMoreLessButtons(faq, i)">{{projConstants.SHOW_MORE}}</button>
                    <button class="ghost-btn" style="font-style: italic;" [id]="'seeLess-' + i" *ngIf="faq.showLessButton" (click)="toggleShowMoreLessButtons(faq, i)">{{projConstants.SHOW_LESS}}</button>
                </div>
                <div class="action-links">
                    <button class="send-run-btn" [id]="sendMsg" (click)="handleSendCopyButton(projConstants.SEND,faq)">{{projConstants.SEND}}</button>
                    <div class="copy-btn" (click)="handleSendCopyButton(projConstants.COPY,faq)">
                        <i class="ast-copy"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
