<div class="adv-settings-container" *ngIf="showVoicePreferences">
    <div class="main-title">
        <!-- <img src="assets/icons/settings/adv-settings.svg"> -->
        {{'LANGUAGE_SPEECH' | translate}}
    </div>
    <div class="sdk-cards-data row col-12 p-0">
        <div class="card-data d-none">
            <div class="titles-sec">
                <div class="primary-title">{{"ADV.SETTINGS.BOT_ASSO" | translate}}</div>
                <div class="secondary-title">{{"ADV.SETTINGS.CHANGE_BOT_ASSO" | translate}}</div>
                <div class="bottom-data d-none">
                    <div class="title">{{"ADV.SETTONGS.FLIGHT_ASSI_BOOK" | translate}}</div>
                    <div class="faq-desc">24 {{"ANALYTICS.FAQS" | translate}}</div>
                </div>
            </div>
            <div class="img-block">
                <img src="assets/icons/settings/bot-association.svg">
            </div>
        </div>

        <div class="card-data" [class.disabled]="!incomingSetupConfigured || !enableVoicePreview" [class.noEvents]="!enableVoicePreview" placement="bottom-center" [ngbTooltip]="!incomingSetupConfigured? ('VOICE_PREF_WARNING' | translate): ''" [container]='"body"' tooltipClass="tooltip_settings" (click)="openVPSlider()" *hasPermission="['admin']">
            <div class="titles-sec">
                <div class="primary-title">{{'SETTINGS.VOICE_PREFERENCES' | translate}}</div>
                <div class="secondary-title">{{'SETTINGS.VOICE_PREFERENCES_DESC' | translate}}</div>
                <div class="bottom-data" *ngIf="voicePreferences.asrPreference">
                    <div class="v-audio-title"><span class="bold-title">{{"ADV.SETTONGS.ASR" | translate}} :</span><span class="v-title-audio">{{voicePreferences.asrPreference}}</span></div>
                    <div class="v-audio-title"><span class="bold-title">{{"ADV.SETTONGS.TTR" | translate}} :</span><span class="v-title-audio">{{voicePreferences.ttsPreference}}</span></div>
                </div>
            </div>
            <div class="img-block">
                <img src="assets/icons/settings/voice-ref.svg">
            </div>
        </div>
    </div>
    
</div>
    <div *ngIf="!showVoicePreferences" class="empty-sel-bots">   
        <div class="no-existing-head">
            <img src="assets/icons/welcome/warning.svg">
            {{ "SPEECH.NO_VOICE_PREFERENCE" | translate }}
        </div>
        <div class="no-existing-message">
            {{ "SPEECH.CREATE_VOICE_CONFIG" | translate }}
        </div>
    </div>

<!-- <button class="kr-sg-button-secondary-two btn_lg mt-3" (click)="openVPSlider()">Voice Preferances</button> -->
<app-slider-component id="voicePreferenace" #vpSlider='app-slider'>
    <app-voice-preferences *ngIf="showVPSlider" [voicePreferences]="voicePreferences" (closed)="closeVPSlider($event)"></app-voice-preferences>
</app-slider-component>

