<div class="table-header row col-12">
    <div class="title col-3 pl-5">{{"COMMON.USER_NAME" | translate}}</div>
    <div class="title col-3">{{"COMMON.EMAIL_ID" | translate}}</div>
    <div class="title col-3">{{"TABLE.SMARTASSIST_ACCESS" | translate}}</div>
    <div class="title col-3">{{"CONVERSATIONAL_LOGS.STATUS" | translate}}</div>
</div>
<ng-container>
    <div class="table-body-user row col-12" *ngFor="let user of users">
        <div class="with-checkbox col-3">
            <div class="kr-sg-checkbox p-0 m-0">
                <input id="checkbox-1" class="checkbox-custom" type="checkbox">
                <label for="checkbox-1" class="checkbox-custom-label"></label>
            </div>
            <div class="role-name">{{user.name}}</div>
        </div>
        <div class="title col-3">{{user.email}}</div>
        <div class="title col-3">{{"TABLE.SYS" | translate}}</div>
        <div class="title col-3">{{"AGENTASSIST.ACTIVE" | translate}}</div>
        <div class="delete-user-mang">
            <img src="assets/icons/agent-settings/delete.svg">
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!users">
    {{"TABLE.NOUSER_AVAILABLE" | translate}}
</ng-container>