@import "../../scss/variables/variables.scss";
.welcome-events-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 58px);
    overflow: hidden;
    .header-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 24px 24px 0px 24px;
        flex-shrink: 0;
        .title {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
                color: var(--gray-900, #101828);
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                margin: 0;
            }
            i {
                color: #667085;
                cursor: pointer;
                font-size: 14px;
            }
        }
        .desc-text {
            color: var(--gray-600, #475467);
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            min-height: 40px;
            display: flex;
            align-items: center;
        }
    }
    .event-main-wrapper {
        height: 100%;
        overflow-y: auto;
        padding: 24px;
        .toggle-info-data {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-top: 20px;
            .kr-sg-toggle {
                flex-shrink: 0;
                width: 28px;
                height: 16px;
                margin-top: 2px;
                input {
                    &:checked {
                        + .slider {
                            background: var(--primary-600, #155eef);
                            &::before {
                                transform: translateX(11px);
                            }
                        }
                    }
                }
                .slider {
                    background: var(--gray-100, #f2f4f7);
                    &::before {
                        left: 2px;
                        top: 1px;
                        fill: var(--base-white, #fff);
                        filter: drop-shadow(0px 0.7777777910232544px 1.5555555820465088px rgba(16, 24, 40, 0.06))
                            drop-shadow(0px 0.7777777910232544px 2.3333334922790527px rgba(16, 24, 40, 0.1));
                    }
                }
                &.toggle-enabled-disabled {
                    .slider {
                        span {
                            padding-left: 33px !important;
                            top: -2px !important;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .content-data-toggle {
                width: 100%;
                h1 {
                    color: var(--gray-700, var(--primary-colors-gray-700, #344054));
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    margin: 0;
                }
                p {
                    color: var(--gray-500, var(--primary-colors-gray-500, #667085));
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
        .divider {
            height: 1px;
            background: #eaecf0;
        }
        .priority-settings-wrapper{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .settings-des{
                color: var(--Gray-700, var(--Primary-Colors-Gray-700, #344054));
                font-size: 14px;
                font-weight: 500;
                line-height: 20px; 
            }
            .radio-custom-label{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                color: var(--Gray-900, #101828);
                text-overflow: ellipsis;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px; 
            }
        }
        .connect-dialoge-info {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .chat-voice-tabs-block {
                padding: 4px 0px;
                display: flex;
                justify-content: center;
                .chat-voice-tabs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    border-radius: 8px;
                    gap: 8px;
                    border: 1px solid var(--Gray-100, #f2f4f7);
                    background: var(--Base-White, #fff);
                    width: auto;
                    .name-tab {
                        background: #ffffff;
                        border-radius: 6px;
                        min-width: 200px;
                        height: 36px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: var(--Gray-500, var(--Primary-Colors-Gray-500, #667085));
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 12px;
                        cursor: pointer;
                        transition: 0.3s all ease;
                        &.active-tab-name {
                            background: var(--Primary-50, #eff4ff);
                            color: var(--Primary-700, #004eeb);
                        }
                        &:hover {
                            background: var(--Primary-50, #eff4ff);
                            color: var(--Primary-700, #004eeb);
                        }
                    }
                }
            }
            .chat-voice-tabs-content {
                .dialog-header {
                    color: var(--Gray-700, var(--Primary-Colors-Gray-700, #344054));
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
                .dialog-des {
                    color: var(--Gray-500, var(--Primary-Colors-Gray-500, #667085));
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
                .dialoge-dropdpwn {
                    margin: 4px 0px 8px 0px;
                    width: 40%;
                    .content-menu {
                        .scroll-ul {
                            max-height: 200px;
                            overflow-y: auto;
                        }
                    }
                }
                .kr-sg-checkbox {
                    .checkbox-custom {
                        width: auto;
                    }
                    .checkbox-custom-label {
                        color: var(--Gray-500, var(--Primary-Colors-Gray-500, #667085));
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
                .add-message-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 16px;
                    .add-message-dropdown {
                        width: auto;
                        position: relative;
                        .kr-sg-button-secondary-two {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
                        .message-dropdown {
                            position: absolute;
                            width: 175px;
                            left: 112px;
                            top: 39px;
                            border-radius: 8px;
                            border: 1px solid var(--Gray-100, #f2f4f7);
                            background: var(--Base-White, #fff);
                            box-shadow:
                                0px 4px 6px -2px rgba(16, 24, 40, 0.03),
                                0px 12px 16px -4px rgba(16, 24, 40, 0.08);
                            span {
                                display: block;
                                padding: 10px 14px;
                                color: var(--Gray-900, #101828);
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 12px;
                                cursor: pointer;
                            }
                        }
                    }
                    .content-data-toggle {
                        p {
                            color: var(--Gray-700, var(--Primary-Colors-Gray-700, #344054));
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }
                    .add-message-block-right {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        flex-shrink: 0;
                        width: 50%;
                        justify-content: end;
                        .lang-btn {
                            color: var(--Gray-900, #101828);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            border: 0px;
                            padding: 0px;
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }
                        .kr-sg-dropdowns {
                            width: auto;
                        }
                    }
                }
                .messages-rendor-table {
                    margin-top: 16px;
                    border-radius: 8px;
                    border: 1px solid var(--Primary-Colors-Gray-200, #eaecf0);
                    background: var(--Base-White, #fff);
                    .rendor-table-data {
                        display: flex;
                        padding: 16px 0px;
                        align-items: center;
                        border-bottom: 1px solid var(--Gray-200, #eaecf0);
                        .data-cell {
                            padding: 0px 16px;
                            .rendor-message {
                                display: flex;
                                gap: 8px;
                                align-items: center;
                                .rendor-message-icon {
                                    flex-shrink: 0;
                                    cursor: pointer;
                                }
                                span {
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                    overflow: hidden;
                                    color: var(--Gray-900, #101828);
                                    text-overflow: ellipsis;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                            .rendor-message-action {
                                display: flex;
                                gap: 8px;
                                span {
                                    width: 24px;
                                    height: 24px;
                                    justify-content: center;
                                    display: flex;
                                    align-items: center;
                                    color: #667085;
                                    cursor: pointer;
                                    font-size: 14px;
                                    &:last-child {
                                        color: #d92d20;
                                    }
                                }
                            }
                        }
                        &:first-child {
                            border-radius: 8px 8px 0px 0px;
                        }
                        &:first-child {
                            border-radius: 0px 0px 8px 8px;
                        }
                        &:nth-child(odd) {
                            background-color: var(--Primary-Colors-Gray-50, #f9fafb);
                        }
                    }
                }
            }
            .disable-state-error {
                display: flex;
                padding: 16px;
                gap: 12px;
                border-radius: 8px;
                border: 1px solid var(--Warning-300, #fec84b);
                background: var(--Warning-25, #fffcf5);
                .disable-state-error-icon {
                    flex-shrink: 0;
                }
                .disable-state-error-info {
                    width: 100%;
                    h4 {
                        color: var(--Warning-700, #b54708);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        margin-bottom: 4px;
                    }
                    p {
                        color: var(--Warning-600, #dc6803);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        margin-bottom: 0px;
                    }
                }
                .disable-state-error-close{
                    flex-shrink: 0;
                    cursor: pointer;
                }
            }
        }
        .accordion-footer {
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: end;
        }
    }
}

//Accordion styles
.welcome-event-accordion {
    border-radius: 12px;
    border: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Base-White, #fff);
    margin-bottom: 24px;
    .card_link{
        .accordion-content-header {
            padding: 16px 24px 16px 16px;
            border-radius: 12px;
            border: 1px solid var(--Gray-200, #eaecf0);
            background: var(--Gray-50, #f9fafb);
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            .team-with-profile {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                .arrow-icon{
                  transform: rotate(-90deg);
                }
                .accordion-icon {
                    display: flex;
                    width: 40px;
                    flex-shrink: 0;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    background: var(--Gray-100, #f2f4f7);
                }
                .accordion-header-info {
                    .accordion-header-title {
                        color: var(--Gray-800, #1d2939);
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                    }
                    .accordion-header-des {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        color: var(--Gray-500, var(--Primary-Colors-Gray-500, #667085));
                        text-overflow: ellipsis;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
            .agent-counts {
                flex-shrink: 0;
                .accordion-badge {
                    padding: 2px 8px;
                    border-radius: 16px;
                    background: var(--Primary-50, #eff4ff);
                    color: var(--Primary-700, #004eeb);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    &.disabled {
                        background: var(--Gray-100, #f2f4f7);
                        color: var(--Gray-700, var(--Primary-Colors-Gray-700, #344054));
                    }
                }
            }
        }
    }
    .card_link[aria-expanded="true"]{
        .accordion-content-header {
            border-radius: 12px 12px 0px 0px;
            .arrow-icon{
                transform: rotate(0deg) !important;
              }
        }
    }
    .accordion-content-body {
        display: flex;
        padding: 16px 16px 16px 48px;
        flex-direction: column;
        gap: 16px;
    }
}



//new message slider styles
.new-message-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    .header-sec {
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        padding: 20px 8px 20px 32px;
        align-items: center;
        flex-shrink: 0;
        .lef-sec {
            display: flex;
            align-items: center;
            .main-title {
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }
        }
        .close-link {
            text-align: right;
            img {
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover {
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .body-sec {
        display: flex;
        padding: 32px;
        flex-direction: column;
        gap: 24px;
        flex: 1 1 auto;
        height: 100%;
        overflow-y: auto;
        .new-message-error {
            display: flex;
            padding: 12px 20px;
            justify-content: space-between;
            gap: 8px;
            border-radius: 6px;
            border: 1px solid var(--Warning-200, #fde68a);
            background: var(--Warning-50, #fffbeb);
            color: var(--Warning-700, #b45309);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            span {
                flex-shrink: 0;
            }
            .close-error {
                cursor: pointer;
            }
            .message-error-text {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
    .footer-sec {
        padding: 24px 32px 25px 32px;
        background: $whiteColor;
        border-top: 1px solid var(--Gray-200, #eaecf0);
        box-sizing: border-box;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: end;
    }
}

//Modal styles
::ng-deep {
    .confirm-copy {
        width: 540px;
        max-width: 540px !important;
        .modal-content{
            padding: 24px;
            border-radius: 12px;
            background: var(--Base-White, #FFF);
            box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
        }
    }
}
.confirm-copy-wrapper {
    display: flex;
    gap: 24px;
    .icon-copy {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 12px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-size: 20px;
        color: #2970ff;
        border-radius: 28px;
        border: 8px solid var(--Primary-50, #eff4ff);
        background: var(--Primary-100, #d1e0ff);
    }
    .confirm-copy-body {
        width: 100%;
        .t-heading {
            display: flex;
            justify-content: space-between;
            h3{
                color: var(--Gray-900, #101828);
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                margin-bottom: 0px;
            }
            i {
                cursor: pointer;
                font-size: 16px;
            }
        }
        .d-desc {
            color: var(--Gray-500, var(--Primary-Colors-Gray-500, #667085));
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 8px;
        }
        .confirm-copy-actions {
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: end;
            margin-top: 32px;
        }
    }
}
