<div class="welcome-events-wrapper">
    <div class="header-data">
        <div class="title">
            <p>{{ 'WELCOME_EVENT_TITLE' | translate}}</p>
            <i class="icon-sa-info" tooltipClass="tooltip-global-styles" placement="right" ngbTooltip="{{'WELCOME_EVENT_TOOLTIP' | translate}}"></i>
        </div>
        <div class="desc-text">{{ (isUnifiedPlatform ? 'AGENT_WELCOME_EVENT' : 'WELCOME_EVENT_DESC') | translate}}</div>
    </div>
    <div class='init-loading' *ngIf="showSpinner">
        <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
    </div>
    <div class="event-main-wrapper">
        <!--Configure On-Connect Dialog Task-->
       <app-on-connect-dialog [linkedBots]="linkedBots" [currentBt]="currentBt" (saveOnconnectEvent)="updateApi($event)"></app-on-connect-dialog>
        <!--Configure Greeting Messages-->
       <app-greeting-messages (saveGreetingMessages)="updateApi($event)"></app-greeting-messages>
        <!--Priority Settings-->
        <app-priority-settings (savePrioritySettings)="updateApi($event)"></app-priority-settings>
    </div>
</div>