@import './../../../scss/variables/variables.scss';


.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px 20px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
                .small-text{
                    color: $primaryFontColor;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    padding-left: 5px;
                }
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);         
        .body-sec-data{
            padding: 15px 50px;
            .main-text{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #202124;
                margin-bottom: 8px;
            }
            .info-text{
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #202124;
                margin-bottom: 6px;
            }
            .group-radiobutton{
                margin: 25px 0;
            }
            .callflow-exp{
                height: 34px;
                background: #FFFFFF;
                border: 1px solid #3366ff;
                box-sizing: border-box;
                border-radius: 4px;
                outline: 0;
                padding: 5px 20px;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color:#3366ff;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                margin-top: 5px;
                img{
                    margin-right: 12px;
                }
            }
        }
    }  
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
}