<div class="slider-sec-data">
    <form>
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img src="assets/icons/arrowBack.svg" class="cursor-pointer" (click)="close()">
                <div class="main-title">Add Experience Flow</div>
            </div>
            <div class="close-link col-4 p-0"><img src="assets/images/close.svg" (click)="close()"></div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="body-sec-data">
                <div class="main-text">Select experience flow</div>
                <div class="info-text">Select the experience flows that you wanted to add this number or create a new experience flow.</div>
                <div class="group-radiobutton">
                    <div class="kr-sg-radiobutton d-block p-0" *ngFor="let flowData of callFlowVoiceList; let i = index">
                        <input id="radio-1{{i}}" name="flowData.name" class="radio-custom" type="radio" [checked]="flowData.isChecked" value="flowData" (change)="attachSelectedFlow(flowData); $event.stopPropagation()">
                        <label for="radio-1{{i}}" class="radio-custom-label">{{flowData.name}}</label>
                    </div>
                </div>
                <button class="callflow-exp" (click)="navigateToNewFlowSlider()">
                    <img src="assets/icons/add-blue.svg">New Experience Flow
                </button>
            </div>
        </perfect-scrollbar>
        <div class="footer-sec">
            <button class="kr-sg-button-primary btn_lg" type="submit" (click)="attachFlow()" [disabled]="saveInProgress || !selectedFlow">Done</button>
        </div>
    </form>
</div>