
@mixin dropdown-wrapper-common-template{
    background: rgb(255, 255, 255);
    box-shadow: rgba(16, 24, 40, 0.08) 0px 12px 16px -4px, rgba(16, 24, 40, 0.03) 0px 4px 6px -2px;
    border-radius: 8px;
    margin: 0px;
    border: 0px;
    padding: 4px;
    min-width: 320px;
    max-width: 100%;
    .error-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        padding: 0 10px;
        color: #DD3646;
    }
    .list-item-li{
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #101828;
        display: flex;
        align-items: center;
        cursor: pointer;
        &[aria-expanded="true"]{
            background: #F9FAFB;
        }
        .bg-action{
            width: 8px;
            height: 8px;
            background: #12B76A;
            border-radius: 100%;
            margin-right: 10px;
            flex-shrink: 0;
            &.positive{
                background: #12B76A;
            }
            &.neutral{
                background: #98A2B3;
            }
            &.alertbg{
                background: #FDB022;
            }
            &.critical{
                background: #F04438;
            }
        }
        .title{
            width: 100%;
            span{
                color: #667085;
            }
        }
        i{
            width: 20px;
            height: 20px;
            color: #155EEF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
        &:hover{
            background: #F9FAFB;
        }
        &:focus{
            background: #F9FAFB !important;
            color: #101828 !important;
        }
        &:active{
            background: #F9FAFB !important;
            color: #101828 !important;
        }
    }
    .seconds-input{
        display: flex;
        align-items: center;
        padding: 12px 12px 12px 20px;
        background: #F9FAFB;
        .kr-sg-input-text{
            input{
                height: 40px;
            }
        }
        .check-icon-block {
            width: 46px;
            height: 34px;
            flex-shrink: 0;
            text-align: right;
            color: #039855;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 14px;
        }
        .s-title{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #667085;
            flex-shrink: 0;
            margin-left: 10px;
        }
    }
    .inside-conv-time-dropdown{
        .content-info-data{
            display: flex;
            align-items: center;
            background: #F9FAFB;
            padding: 13px 20px;
            gap: 12px;
            .drpdown-time{
                width: auto;
                &.show{
                    .dropdown-toggle{
                        .icon-sa-arrow-down{
                            transform: rotate(180deg);
                        }
                    }   
                }
                .dropdown-toggle{
                    border-radius: 8px;
                    border: 1px solid var(--gray-300, #D0D5DD);
                    background: var(--base-white, #FFF);
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    outline: 0;
                    display: flex;
                    padding: 8px 12px;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;
                    height: 40px;
                }
                .dropdown-menu{
                    background: rgb(255, 255, 255);
                    box-shadow: rgba(16, 24, 40, 0.08) 0px 12px 16px -4px, rgba(16, 24, 40, 0.03) 0px 4px 6px -2px;
                    border-radius: 8px;
                    margin: 0px;
                    border: 0px;
                    padding: 4px;
                    min-width: 320px;
                }
            }
            .seconds-input {
                padding: 0;
                .kr-sg-input-text{
                    input{
                        min-width: auto;
                        width: 100px;
                    }
                }
            }
        }
    }
    .variable-value-input{
        padding: 8px;
        display: inline-block;
        width: 350px;
        &.with-check-icon{
            width: 444px;
            display: flex;
            align-items: center;
            .input-variable-sec{
                width: 100%;
            }
            .check-icon-block{
                width: 46px;
                height: 34px;
                flex-shrink: 0;
                text-align: right;
                color: #039855;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 14px;
            }
            .kr-sg-input-text-area{
                textarea{
                    resize: none;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 10px;
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    min-height: 128px;
                    &:focus{
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EFF4FF;
                    }
                }
            }
        }
        .label-text{
            text-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px #EFF4FF;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #344054;
            margin-bottom: 6px;
        }
        .kr-sg-input-text{
            input{
                height: 40px;
                padding-right: 34px;
            }
            .info-tip{
                cursor: pointer;
                position: absolute;
                right: 12px;
                top: 12px;
                line-height: normal;
                color: #98A2B3;
            }
        }
        .count-char{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            color: #667085;
            text-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px #EFF4FF;
            margin-top: 6px;
        }
    }
    .range-inputs-between{
        .variable-value-input{
            width: 180px;
        }
    }
}

.utterance-triggers{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 110px 0 20px;
    margin-bottom: 25px;
    &.bg-triggers-info{
        margin-left: 20px;
        border-radius: 6px;
        background: #FFFFFF;
        display: inline-flex;
        padding: 5px 30px 0px 30px;
        .adherence-tag-text{
            padding: 0 2px;
            border-bottom: 1px dashed #98A2B3;
            padding-bottom: 4px;
            min-height: 30px;
            display: flex;
            align-items: center;
            span{
                padding: 2px 8px 2px 20px;
                border-radius: 16px;
                background: #ECFDF3;
                height: 22px;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                color: #027A48;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: #12B76A;
                    border: 1px solid #fff;
                    border-radius: 100%;
                    left: 6px;
                    top: auto;
                }
            }
        }
    }
    .drag-content{
        position: absolute;
        left: 0;
        top: 4px;
        cursor: grab;
        z-index: 2;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .utt-name-desc{
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #667085;
        padding: 0 2px;
        border-bottom: 1px dashed #98A2B3;
        padding-bottom: 4px;
        min-height: 30px;
    }
    .and-or-btns{
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        top: 0;
        z-index: 1;
        .and-or-btn{
            padding: 4px 12px;
            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            border-radius: 16px;
            outline: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #344054;
            cursor: pointer;
            margin-left: 5px;
            &.active-btn{
                background: #667085;
                color: #FFFFFF;
                border-color: #667085;
            }
        }
    }
}

.no_border{
    border: 0 !important;
}
.dropdown-occurences{
    width: auto;
    height: 30px;
    padding: 0 5px;
    border-bottom: 1px dashed #98A2B3;
    &.show{
        .btn-toggle{
            background: var(--orange-50, #FEF6EE);
            border: 2px solid var(--orange-dark-400, #FF692E);
        }
    }
    .btn-toggle{
        padding: 2px 8px;
        margin: 0 2px;
        background: #FEF6EE;
        border-radius: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;  
        color: #B93815;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        outline: 0;
        margin-top: 4px;
        white-space: normal;
        border: 2px solid transparent;
        i{
            color: #EF6820;
            font-size: 10px;
            margin-right: 5px;
            flex-shrink: 0;
        }
    }
}

.dropdown-custom-flows{
    width: auto;
    &.show{
        .btn-toggle{
            background: #D1E0FF;
            color: #155EEF !important;
            border-bottom: 1px solid #155EEF !important;
        }
    }
    .btn-toggle{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        border: 0;
        padding: 0 5px;
        margin: 0 2px;
        background: transparent;
        outline: 0;
        color: #155EEF;
        min-height: 30px;
        border-bottom: 1px solid #155EEF;
        border-radius: 6px 6px 0px 0px;
        white-space: normal;        
        &.text-choosen{
            color: #101828;
            border-bottom: 1px solid #000000;
            text-align: left;
        }
    }
}

.drodown-inside-dialog{
    &.show{
        .dropdown-toggle{
            background: #F9FAFB;
        }
    }
    .dropdown-toggle{
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #101828;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        background: transparent;
        border: 0;
        text-align: left;
        span{
            width: 100%;
        }
        .arrow-drop{
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-left: 10px;
            font-size: 14px;
            i{
                transform: rotate(-90deg);
            }
        }
        &:hover{
            background: #F9FAFB;
        }
        &:focus{
            background: #F9FAFB;
        }
        &:active{
            background: #F9FAFB;
        }
    }
}

.delete-row{
    width: auto;
    height: 30px;
    padding: 0 5px 0 15px;
    border-bottom: 1px dashed #98A2B3;
    display: flex;
    align-items: center;
    color: #D92D20;
    cursor: pointer;
    font-size: 14px;
}
.add-adherence{
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #98A2B3;
    padding: 4px 4px 4px 18px;
    .add-adherence-btn{
        background: #EAECF0;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        border: 0;
        outline: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #363F72;
        cursor: pointer;
    }
}
::ng-deep .dropdown_menu-wrapper{
    @include dropdown-wrapper-common-template;
}