<!-- <h1>Playbook</h1> -->
<!-- <h2>Laptop Sales</h2> -->
<perfect-scrollbar>
    <div class="checklist-wrapper-info" *ngIf="triggeredDynCheckLists?.length || checklists?.length">
        <div class="checked-list-content">
            <div class="heading-block-check">
                <div class="left-sec-data">
                    <button class="more-check-tag">
                        <i class="ast-light-bulb"></i>
                        <span *ngIf="triggeredDynCheckLists.length">{{triggeredDynCheckLists.length}}</span>
                    </button>
                    <div class="checklist-dropdown">
                        <div class="toggle-checklist" (click)="showDropDown = !showDropDown;">
                            <p>{{selectedPlayBook}}</p>
                            <i class="ast-carrotup" [ngClass]="{'rotateUp': showDropDown}"></i>
                        </div>
                        <div class="drp-down-conetnt-checklist" [ngClass]="{'d-none': !showDropDown}">
                            <div class="heading-text">
                                <h3>RECOMENDED PLAYBOOKS</h3>
                                <i class="ast-light-bulb"></i>
                            </div>
                            <ng-container *ngFor="let clT of triggeredDynCheckLists; let int = index">
                                <li (click)="selectDynCl(clT, int)">
                                    <p>{{clT.name}}</p>
                                    <span>{{clT.stages?.length}} steps</span>
                                </li>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <button *ngIf="shouldShowCL && isProceedToClose && checklists?.length && !openAck" class="proceed-toclise-btn" (click)="proceedToClose()">
                    <div class="circle">
                        <i class="ast-tick-solid"></i>
                    </div>
                    <span>Proceed to close</span>
                </button>
            </div>

            <div [ngClass]="{'d-none': isCloseCompleted}">
                <ng-container *ngFor="let cl of checklists; let i = index">
                    <ng-container *ngFor="let ac of cl.stages; let si = index">
                    <ng-container *ngIf="!(cl.type === 'primary' && ac.name?.toLowerCase() === 'close')">
                        <div class="acc-info-data" [ngClass]="{'open-acc-show': ac.opened}">
                            <div class="acc-heading-block" (click)="ac.opened = !ac.opened" [ngClass]="{'disabled-txt' : getSelectedCount(ac) === ac.steps?.length}">
                                <div class="top-title-block">
                                    <h4 >{{ac.name}}</h4>
                                    <button class="resume-btn" 
                                        *ngIf="(getSelectedCount(ac) !== ac.steps?.length) && selectedPlayBook !== cl.name" 
                                        (click)="checkListResume($event, cl, i, si)">Resume
                                    </button>
                                    <p>{{ getSelectedCount(ac)}}/{{ac.steps?.length}} steps</p>
                                    <i class="ast-carrotup" [ngClass]="{'rotateUp': ac.opened}"></i>
                                </div>
                                <div class="steps-check">
                                    <ng-container *ngFor="let stp of ac.steps; let ix = index">
                                        <div class="step-div" [ngClass]="{'completed' : stp.complete, 'current-step': ((ac.steps[ix-1]?.complete || ix==0) && !ac.steps[ix]?.complete)}"></div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="acc-body-data">
                                <ng-container *ngFor="let step of ac.steps; let sti = index">
                                    <div class="check-list-type-info" [ngClass]="{
                                            'selected-check-item': ((ac.steps[sti - 1]?.complete && !step.complete) || (sti === 0 && !step.complete && !ac.steps[sti + 1]?.complete)), 
                                            'text-strike disabled-click-text': step?.complete,
                                            'hide-desc': step?.hideDesc
                                        }">
                                        <div class="title-block">
                                            <h5 [ngClass]="{'random': cl.type === 'random'}" (click)="clickStep(cl, ac, step, i, si, sti)">{{step.name}}</h5>
                                            <div class="icon-indication" [ngClass]="{'not-checked': !step?.complete}" (click)="clickStep(cl, ac, step, i, si, sti)">
                                                <i class="ast-tick-solid"></i>
                                            </div>
                                        </div>
                                        <div class="content-info-sec">
                                            <p *ngIf="step.description">{{step.description}}</p>
                                            <div class="adherece-type">
                                                <h6></h6>
                                                <div class="btn-yes-no">
                                                    <ng-container *ngFor="let btn of step?.confirmButtons">
                                                        <button class="btn-yes-no-click" [ngStyle]="{'background-color': colors[btn.color], 'color': btn.color}" (click)="clickStep(cl, ac, step, i, si, sti)">{{btn.title}}</button>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-hover-actions" *ngIf="step.isSendCopy">
                                            <button class="btn-copy-send" (click)="sendOrCopy('copyMsg', step.description); clickStep(cl, ac, step, i, si, sti)">
                                                <i class="ast-copy"></i>
                                            </button>
                                            <button class="btn-copy-send" (click)="sendOrCopy('sendMsg', step.description); clickStep(cl, ac, step, i, si, sti)">
                                                <i class="ast-ast-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngFor="let cl of checklists; let i = index">
                    <ng-container>
                        <ng-container *ngFor="let ac of cl.stages; let si = index">
                        <ng-container *ngIf="cl.type === 'primary' && ac.name?.toLowerCase() === 'close'">
                            <div class="acc-info-data" [ngClass]="{'open-acc-show': ac.opened}">
                                <div class="acc-heading-block" (click)="ac.opened = !ac.opened" [ngClass]="{'disabled-txt' : getSelectedCount(ac) === ac.steps?.length}">
                                    <div class="top-title-block">
                                        <h4 >{{ac.name}}</h4>
                                        <button class="resume-btn" 
                                            *ngIf="(getSelectedCount(ac) !== ac.steps?.length) && selectedPlayBook !== cl.name" 
                                            (click)="checkListResume($event, cl, i, si)">Resume
                                        </button>
                                        <p>{{ getSelectedCount(ac)}}/{{ac.steps?.length}} steps</p>
                                        <i class="ast-carrotup" [ngClass]="{'rotateUp': ac.opened}"></i>
                                    </div>
                                    <div class="steps-check">
                                        <ng-container *ngFor="let stp of ac.steps; let ix = index">
                                            <div class="step-div" [ngClass]="{'completed' : stp.complete, 'current-step': ((ac.steps[ix-1]?.complete || ix==0) && !ac.steps[ix]?.complete)}"></div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="acc-body-data">
                                    <ng-container *ngFor="let step of ac.steps; let sti = index">
                                        <div class="check-list-type-info" [ngClass]="{
                                                'selected-check-item': ((ac.steps[sti - 1]?.complete && !step.complete) || (sti === 0 && !step.complete && !ac.steps[sti + 1]?.complete)), 
                                                'text-strike disabled-click-text': step?.complete,
                                                'hide-desc': step?.hideDesc
                                            }">
                                            <div class="title-block">
                                                <h5 [ngClass]="{'random': cl.type === 'random'}" (click)="clickStep(cl, ac, step, i, si, sti)">{{step.name}}</h5>
                                                <div class="icon-indication" [ngClass]="{'not-checked': !step?.complete}" (click)="clickStep(cl, ac, step, i, si, sti)">
                                                    <i class="ast-tick-solid"></i>
                                                </div>
                                            </div>
                                            <div class="content-info-sec">
                                                <p *ngIf="step.description">{{step.description}}</p>
                                                <div class="adherece-type">
                                                    <h6></h6>
                                                    <div class="btn-yes-no">
                                                        <ng-container *ngFor="let btn of step?.confirmButtons">
                                                            <button class="btn-yes-no-click" [ngStyle]="{'background-color': colors[btn.color], 'color': btn.color}" (click)="clickStep(cl, ac, step, i, si, sti)">{{btn.title}}</button>
                                                        </ng-container>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="btn-hover-actions" *ngIf="step.isSendCopy">
                                                <button class="btn-copy-send" (click)="sendOrCopy('copyMsg', step.description); clickStep(cl, ac, step, i, si, sti)">
                                                    <i class="ast-copy"></i>
                                                </button>
                                                <button class="btn-copy-send" (click)="sendOrCopy('sendMsg', step.description); clickStep(cl, ac, step, i, si, sti)">
                                                    <i class="ast-ast-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

            <ng-container *ngIf="isCloseCompleted">
                <div class="empty-checked-info">
                    <div class="icon-block">
                        <i class="ast-positive-nudge"></i>
                    </div>
                    <div class="info-empty">
                        <h1>Fantastic job!</h1>
                        <p>Great job completing 100% of this playbook. Thank you for your hard work with this customer.</p>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</perfect-scrollbar>

<!-- <perfect-scrollbar>
    <div class="checklist-wrapper-info">
        <div class="checked-list-content">
            <div class="heading-block-check">
                <div class="left-sec-data">
                    <h1>Playbook</h1>
                    <button class="more-check-tag">
                        <i class="ast-light-bulb"></i>
                        <span>2</span>
                    </button>
                    <h2>Laptop Sales</h2>
                    <div class="checklist-dropdown">
                        <div class="toggle-checklist">
                            <p>Insurance Coverage</p>
                            <i class="ast-carrotup"></i>
                        </div>
                        <div class="drp-down-conetnt-checklist">
                            <ng-container>
                                <div class="heading-text">
                                    <h3>RECOMENDED PLAYBOOKS</h3>
                                    <i class="ast-light-bulb"></i>
                                </div>
                                <li>
                                    <p>Laptop Recommendation</p>
                                    <span>4 steps</span>
                                </li>
                            </ng-container>
                            <ng-container>
                                <div class="heading-text">
                                    <h3>PRIMARY PLAYBOOKS</h3>
                                    <i class="ast-light-bulb"></i>
                                </div>
                                <li>
                                    <p>New Customer Sales</p>
                                    <span>15 steps</span>
                                </li>
                                <li>
                                    <p>General Support</p>
                                    <span>6 steps</span>
                                </li>
                                <li>
                                    <p>Laptop Sales</p>
                                    <i class="ast-tick-solid"></i>
                                </li>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <button class="proceed-toclise-btn">
                    <div class="circle">
                        <i class="ast-tick-solid"></i>
                    </div>
                    <span>Proceed to close</span>
                </button>
            </div>
            <ng-container>
                <div class="acc-info-data open-acc-show">
                    <div class="acc-heading-block">
                        <div class="top-title-block">
                            <h4>Open</h4>
                            <p>3/3 steps</p>
                            <i class="ast-carrotup"></i>
                        </div>
                        <div class="steps-check">
                            <div class="step-div"></div>
                            <div class="step-div"></div>
                            <div class="step-div"></div>
                        </div>
                    </div>
                    <div class="acc-body-data">
                        <div class="check-list-type-info">
                            <div class="title-block">
                                <h5>Warm Greeting</h5>
                                <div class="icon-indication">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                        </div>
                        <div class="check-list-type-info">
                            <div class="title-block disabled-click-text">
                                <h5>Inform call is getting recorded</h5>
                                <div class="icon-indication">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                        </div>
                        <div class="check-list-type-info selected-check-item">
                            <div class="title-block">
                                <h5 class="text-strike">Information about issue</h5>
                                <div class="icon-indication">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                            <div class="content-info-sec">
                                <p>Get more information about issues. Ask question about when they have been facing issue and other related questions</p>
                                <div class="adherece-type">
                                    <h6>Adherence Type</h6>
                                    <div class="btn-yes-no">
                                        <button class="btn-yes-no-click">Yes</button>
                                        <button class="btn-yes-no-click">Yes</button>
                                   </div>
                                </div>
                            </div>
                            <div class="btn-hover-actions">
                                <button class="btn-copy-send">
                                    <i class="ast-copy"></i>
                                </button>
                                <button class="btn-copy-send">
                                    <i class="ast-ast-send"></i>
                                </button>
                            </div>
                        </div>
                        <div class="check-list-type-info">
                            <div class="title-block disabled-click-text">
                                <h5>Inform call is getting recorded</h5>
                                <div class="icon-indication">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acc-info-data">
                    <div class="acc-heading-block">
                        <div class="top-title-block">
                            <h4>Close</h4>
                            <p>3/3 steps</p>
                            <i class="ast-carrotup"></i>
                        </div>
                        <div class="steps-check">
                            <div class="step-div"></div>
                            <div class="step-div"></div>
                            <div class="step-div"></div>
                        </div>
                    </div>
                    <div class="acc-body-data">
                        <div class="check-list-type-info">
                            <div class="title-block">
                                <h5>Warm Greeting</h5>
                                <div class="icon-indication">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                        </div>
                        <div class="check-list-type-info">
                            <div class="title-block disabled-click-text">
                                <h5>Inform call is getting recorded</h5>
                                <div class="icon-indication">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                        </div>
                        <div class="check-list-type-info selected-check-item">
                            <div class="title-block">
                                <h5 class="text-strike">Information about issue</h5>
                                <div class="icon-indication not-checked">
                                    <i class="ast-tick-solid"></i>
                                </div>
                            </div>
                            <div class="content-info-sec">
                                <p>Get more information about issues. Ask question about when they have been facing issue and other related questions</p>
                                <div class="adherece-type">
                                    <h6>Adherence Type</h6>
                                   <div class="btn-yes-no">
                                        <button class="btn-yes-no-click">Yes</button>
                                        <button class="btn-yes-no-click">Yes</button>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
    
            <ng-container>
                <div class="empty-checked-info">
                    <div class="icon-block">
                        <i class="ast-positive-nudge"></i>
                    </div>
                    <div class="info-empty">
                        <h1>Fantastic job!</h1>
                        <p>Great job completing 100% of this playbook. Thank you for your hard work with this customer.</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</perfect-scrollbar> -->
