.checklist-wrapper-info{
    padding: 8px;
    .checked-list-content{
        border: 1px solid var(--gray-modern-200, #E3E8EF);
        padding-bottom: 10px;
        background: var(--base-white, #FFF);
        border-radius: 10px;
        .heading-block-check{
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--gray-200, #EAECF0);
            background: var(--base-white, #FFF);
            border-radius: 10px 10px 0px 0px;
            gap: 5px;
            padding: 12px 8px;
            .left-sec-data{
                display: flex;
                align-items: center;
                width: 100%;
                gap: 4px;
                h1{
                    color: var(--base-black, #121314);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
                h2{
                    color: var(--gray-500, #667085);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
                .more-check-tag{
                    width: 20px;
                    height: 20px;
                    background: transparent;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    color: #E5E5E5;
                    cursor: pointer;
                    font-size: 20px;
                    span{
                        position: absolute;
                        top: -2px;
                        right: -2px;
                        display: flex;
                        width: 9px;
                        height: 9px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100px;
                        background: var(--destructive-500-main, #EF4444);
                        color: #FFF;
                        font-size: 6px;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        flex-shrink: 0;
                    }
                }
            }
            .proceed-toclise-btn{
                flex-shrink: 0;
                display: flex;
                padding: 2px 8px 2px 6px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 16px;
                background: var(--success-50, #ECFDF3);
                border: 0;
                cursor: pointer;
                &.checked-config{
                    .circle{
                        background: #039855;
                        color: #fff;
                        border-color: #039855;
                        i{
                            display: block;
                        }
                    }
                }
                .circle{
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    border: 1px solid #12B76A;
                    border-radius: 100%;
                    font-size: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        display: none;
                    }
                }
                span{
                    color: var(--success-700, #027A48);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                }
            }
            .checklist-dropdown{
                position: relative;
                &.open-dropdown{
                    .drp-down-conetnt-checklist{
                        display: block;
                    }
                }
                .toggle-checklist{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    cursor: pointer;
                    p{
                        color: var(--gray-500, #667085);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                    }
                    i{
                        font-size: 6px;
                        color: #777A80;
                    }
                }
                .drp-down-conetnt-checklist{
                    // display: none;
                    position: absolute;
                    z-index: 1;
                    padding: 8px 12px;
                    border-radius: 8px;
                    background: var(--gray-25, #FCFCFD);
                    bottom: auto;
                    margin-top: 10px;
                    box-shadow: 0px 5px 26px 0px rgba(32, 33, 36, 0.25);
                    width: 250px;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: -6px;
                        left: 50%;
                        background: #fff;
                        transform: rotate(45deg);
                    }
                    .heading-text{
                        display: flex;
                        padding: 6px 10px;
                        align-items: center;
                        gap: 4px;
                        h3{
                            color: var(--gray-700, #344054);
                            font-size: 11px;
                            font-weight: 600;
                            line-height: normal;
                        }
                        i{
                            color: #E5E5E5;
                            font-size: 16px;
                        }
                    }
                    li{
                        list-style-type: none;
                        display: flex;
                        padding: 10px 14px;
                        align-items: center;
                        gap: 8px;
                        margin: 6px 0;
                        border-radius: 6px;
                        transition: 0.2s all ease;
                        cursor: pointer;
                        &:hover{
                            background: var(--primary-50, #EFF4FF);
                        }
                        &.selected-item{                            
                            background: var(--primary-50, #EFF4FF);
                        }
                        p{
                            color: var(--gray-700, #344054);
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            width: 100%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        span{
                            color: var(--gray-500, #667085);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            flex-shrink: 0;
                        }
                        i{
                            color: #2970FF;
                            font-size: 12px;
                            flex-shrink: 0;
                        }
                    }
                }
            }
        }
        .acc-info-data{
            display: inline-block;
            width: 100%;
            background: var(--gray-25, #FCFCFD);
            &.open-acc-show{
                .acc-heading-block{
                    background: transparent;
                    .steps-check{
                        display: flex;
                    }
                }
                .acc-body-data{
                    display: block;
                }
            }
            .acc-heading-block{
                padding: 12px;
                cursor: pointer;
                border-bottom: 1px solid var(--gray-100, #F2F4F7);
                background: var(--base-white, #FFF);
                .top-title-block{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    h4{
                        width: 100%;
                        overflow: hidden;
                        color: var(--gray-900, #101828);
                        text-overflow: ellipsis;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                    p{
                        flex-shrink: 0;
                        color: var(--gray-500, #667085);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                    }
                    i{
                        font-size: 6px;
                        color: #667085;
                    }
                }
                .steps-check{
                    display: none;
                    width: 100%;
                    height: 6px;
                    gap: 2px;
                    margin-top: 4px;
                    .step-div{
                        flex: 1;
                        height: 100%;
                        background: var(--gray-200, #EAECF0);
                        &.completed{
                            background: var(--green-500, #16B364);
                        }
                    }
                }
            }
            .acc-body-data{
                padding: 4px 8px;
                display: none;
                .check-list-type-info{
                    border-radius: 6px;
                    padding: 4px;
                    margin: 1px 0;
                    &.selected-check-item{
                        padding: 8px 12px;
                        background: var(--base-white, #FFF);
                        box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
                        -webkit-animation-name: slideInUpCheck;
                        animation-name: slideInUpCheck;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        .content-info-sec{
                            padding-left: 15px;
                            display: block;
                        }
                        .title-block{
                            h5{
                                opacity: 1;
                            }
                        }
                    }
                    .title-block{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        cursor: pointer;
                        h5{
                            opacity: 0.3;
                            width: 100%;
                            color: var(--blue-700, #175CD3);
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                        }
                        .icon-indication{
                            width: 20px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #16A34A;
                            border-radius: 100%;
                            font-size: 8px;
                            color: #fff;
                            flex-shrink: 0;
                            &.not-checked{
                                border: 2px solid #A3A3A3;
                                background: transparent;
                                color: #A3A3A3;
                                font-weight: bold;
                            }
                        }
                    }
                    .content-info-sec{
                        p{
                            color: #1849A9;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            margin: 4px 0;
                        }
                        .adherece-type{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border-top: 1px solid var(--gray-100, #F2F4F7);
                            padding: 4px 8px 4px 0px;
                            h6{
                                color: var(--base-black, #121314);
                                font-size: 11px;
                                font-weight: 500;
                                line-height: normal;
                                width: 100%;
                            }
                            span{
                                color: var(--base-black, #121314);
                                font-size: 11px;
                                font-weight: 400;
                                line-height: normal;
                                flex-shrink: 0;
                                padding: 5px;
                            }
                        }
                        display: none;
                    }
                }
            }
        }
    }
    .empty-checked-info{
        display: flex;
        padding: 20px 16px;
        align-items: flex-start;
        gap: 16px;
        .icon-block{
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 28px;
            border: 6px solid var(--success-100, #D1FADF);
            background: var(--success-500, #12B76A);
            color: #fff;
            font-size: 16px;
        }
        .info-empty{
            width: 100%;
            h1{
                color: var(--gray-900, #101828);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                text-align: left;
                margin-bottom: 2px;
            }
            p{
                color: var(--gray-500, #667085);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}


.text-strike{
    h5{
        text-decoration: line-through;
    }
    .content-info-sec{
        display: none;
    }
}
.disabled-click-text{
    h5{
        pointer-events: none;
        opacity: 0.6;
    }
}

@-webkit-keyframes slideInUpCheck {
    0% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 0.6;
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUpCheck {
    0% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 0.6;
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0);
    }
}

.resume-btn{
    display: flex;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    background: var(--success-50, #ECFDF3);
    border: 1px solid green;
    color: var(--success-700, #027A48);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.text-strike-label{
    text-decoration: line-through;
}