<ng-container [ngTemplateOutlet]="dialogStarted" *ngIf="automationData?.automationsArray?.length"></ng-container>
<ng-container *ngFor="let automation of automationData.automationsArray; let i = index; trackBy:assistRespType;">
    <ng-container *ngIf="automation.responseType == renderResponseType.ASSISTRESPONSE">
        <ng-container *ngIf="!automation.isWorkNote">
            <ng-container *ngIf="automation.data.isPrompt">
                    <app-ask-customer [automation]="automation" [automationArrayLength]="automationData.automationsArray.length"
                        [automationIndex]="i" [responseArray]="agentassistResponseArray"
                        [ngClass]="{'componentSlideUPAnimation' : ((automationData?.automationsArray?.length - 1 == i) && agentassistResponseArray?.length == agentassistArrayIndex)}"
                        [responseArrayIndex]="agentassistArrayIndex" [assistAutomationData]="automationData"></app-ask-customer>
            </ng-container>
            <ng-container *ngIf="!automation.data.isPrompt">
                    <app-tell-customer [automation]="automation" 
                    [ngClass]="{'componentSlideUPAnimation' : ((automationData?.automationsArray?.length - 1 == i) && agentassistResponseArray?.length == agentassistArrayIndex)}"
                        [automationArrayLength]="automationData.automationsArray.length" [automationIndex]="i"
                        [responseArray]="agentassistResponseArray" [responseArrayIndex]="agentassistArrayIndex" [assistAutomationData]="automationData">
                    </app-tell-customer>
            </ng-container>
        </ng-container>

        <!-- work nptes -->
        <ng-container *ngIf="automation.isWorkNote">
            <app-work-notes [automation]="automation" 
            [ngClass]="{'componentSlideUPAnimation' : ((automationData?.automationsArray?.length - 1 == i) && agentassistResponseArray?.length == agentassistArrayIndex)}"
                [automationArrayLength]="automationData.automationsArray.length" [automationIndex]="i"
                [responseArray]="agentassistResponseArray" [responseArrayIndex]="agentassistArrayIndex" [assistAutomationData]="automationData">
            </app-work-notes>
        </ng-container>
        <!-- work nptes -->

    </ng-container>
</ng-container>
<!-- <ng-container [ngTemplateOutlet]="dialogEnded"
    *ngIf="automationData.endAutomation && automationData?.automationsArray?.length"></ng-container> -->


<ng-template #dialogStarted>
    <div class="dialog-ended-wrapper" [ngClass]="{'grayout-msgs-node' : automationData?.endAutomation && automationData?.automationsArray?.length}">
        <div class="middle-info">
            <p>{{'DIALOG_TEXT' | translate}}</p>
            <button class="btn_link" [title]="automationData?.data?.intentName">{{automationData?.data?.intentName}}</button>
            <p>{{'STARTED' | translate}}</p>
        </div>
        <div class="line_bar"></div>
        <!-- <i class="krIocnsFont-check-circle"></i> -->
    </div>
</ng-template>

<ng-template #dialogEnded>
    <div class="dialog-ended-wrapper" [ngClass]="{'grayout-msgs-node' : automationData?.endAutomation && automationData?.automationsArray?.length}">
        <div class="line_bar"></div>
        <div class="middle-info">
            <p>{{'DIALOG_TEXT' | translate}}</p>
            <button class="btn_link">{{automationData.data.intentName}}</button>
            <p>{{'ENDED' | translate}}</p>
        </div>
    </div>
</ng-template>
