<div class="dialog-task-wrapper">
    <p>Order Pizza</p>
    <div class="dialog-actions">
        <button class="primary-btn" aria-label="Run">RUN</button>
        <div ngbDropdown class="elipse-ngbdropdown">
            <button type="button" id="elipseDrp" aria-label="Dropdown" ngbDropdownToggle>
                <i class="krIocnsFont-outlined"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="elipseDrp">
                <button ngbDropdownItem aria-disabled="true">Run with Agent’s input</button>
            </div>
        </div>
    </div>
</div>
