@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sbqqoi');
  src:  url('fonts/icomoon.eot?sbqqoi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sbqqoi') format('truetype'),
    url('fonts/icomoon.woff?sbqqoi') format('woff'),
    url('fonts/icomoon.svg?sbqqoi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sa-eye:before {
  content: "\e943";
}
.icon-sa-eye-open:before {
  content: "\e944";
}
.icon-sa-copy:before {
  content: "\e945";
}
.icon-sa-ext-link:before {
  content: "\e946";
  color: #2b75e4;
}
.icon-ast_sortupdown:before {
  content: "\e942";
}
.icon-ast_sortup:before {
  content: "\e940";
}
.icon-ast_sortdown:before {
  content: "\e941";
}
.icon-ast_thumbsup:before {
  content: "\e938";
  color: #2b75e4;
}
.icon-sat_thumsdown:before {
  content: "\e939";
  color: #ffc46a;
}
.icon-ast_checkright:before {
  content: "\e93a";
  color: #0d6efd;
}
.icon-ast_channels:before {
  content: "\e93b";
}
.icon-ast_calendar:before {
  content: "\e93c";
}
.icon-ast_export:before {
  content: "\e93d";
}
.icon-ast_alpha:before {
  content: "\e93e";
  color: #fff;
}
.icon-ast_key:before {
  content: "\e93f";
}
.icon-sa-info:before {
  content: "\e937";
  color: #07377f;
}
.icon-sa-square-bg:before {
  content: "\e936";
  color: #f00;
}
.icon-sa-check-gray:before {
  content: "\e934";
  color: #64717c;
}
.icon-sa-video-play:before {
  content: "\e931";
  color: #009dab;
}
.icon-sa-check-round:before {
  content: "\e932";
}
.icon-sa-help:before {
  content: "\e933";
  color: #009dab;
}
.icon-sa-waves:before {
  content: "\e935";
}
.icon-sa-save:before {
  content: "\e930";
}
.icon-sa-deflect-call:before {
  content: "\e92f";
  color: #fff;
}
.icon-sa-split-down:before {
  content: "\e92e";
}
.icon-sa-call-transfer:before {
  content: "\e900";
}
.icon-sa-chat:before {
  content: "\e901";
  color: #009dab;
}
.icon-sa-close:before {
  content: "\e902";
  color: #fff;
}
.icon-sa-comment:before {
  content: "\e903";
  color: #fff;
}
.icon-sa-common-properties:before {
  content: "\e904";
}
.icon-sa-connections:before {
  content: "\e905";
}
.icon-sa-conv-input:before {
  content: "\e906";
}
.icon-sa-delete:before {
  content: "\e907";
  color: #dd3646;
}
.icon-sa-elipse:before {
  content: "\e908";
}
.icon-sa-end-flow:before {
  content: "\e909";
}
.icon-sa-goto-flow:before {
  content: "\e90a";
}
.icon-sa-grid:before {
  content: "\e90b";
}
.icon-sa-ivr-digital-menu:before {
  content: "\e90c";
}
.icon-sa-ivr-menu:before {
  content: "\e90d";
}
.icon-sa-list:before {
  content: "\e90e";
}
.icon-sa-message:before {
  content: "\e90f";
}
.icon-sa-minimize:before {
  content: "\e910";
  color: #fff;
}
.icon-sa-minus:before {
  content: "\e911";
}
.icon-sa-onboarding:before {
  content: "\e912";
}
.icon-sa-play:before {
  content: "\e913";
  color: #fff;
}
.icon-sa-publish:before {
  content: "\e914";
}
.icon-sa-round-chat:before {
  content: "\e915";
}
.icon-sa-round-check:before {
  content: "\e916";
  color: #135423;
}
.icon-sa-script-node:before {
  content: "\e917";
}
.icon-sa-search:before {
  content: "\e918";
  color: #bdc1c6;
}
.icon-sa-service-node:before {
  content: "\e919";
  color: #fff;
}
.icon-sa-settings:before {
  content: "\e91a";
}
.icon-sa-sort:before {
  content: "\e91b";
}
.icon-sa-split:before {
  content: "\e91c";
}
.icon-sa-start-point:before {
  content: "\e91d";
  color: #fff;
}
.icon-sa-survey:before {
  content: "\e91e";
}
.icon-sa-testing-icon:before {
  content: "\e91f";
  color: #fff;
}
.icon-sa-time:before {
  content: "\e920";
}
.icon-sa-union:before {
  content: "\e921";
}
.icon-sa-warning:before {
  content: "\e922";
}
.icon-sa-window-maximize:before {
  content: "\e923";
}
.icon-sa-testing:before {
  content: "\e924";
}
.icon-sa-restore:before {
  content: "\e925";
}
.icon-sa-agent:before {
  content: "\e926";
}
.icon-sa-arrow-down:before {
  content: "\e927";
}
.icon-sa-arrow-left:before {
  content: "\e928";
}
.icon-sa-arrow-right:before {
  content: "\e929";
}
.icon-sa-authentication:before {
  content: "\e92a";
}
.icon-sa-automation:before {
  content: "\e92b";
}
.icon-sa-bottasks:before {
  content: "\e92c";
}
.icon-sa-call:before {
  content: "\e92d";
  color: #009dab;
}
