<div class="interputions-botttom-info">
    <div class="interputions-canvas-wrapper">
        <button class="btn_link" (click)="terminateClick(false)"> 
            <i class="krIocnsFont-close-md"></i>
        </button>
        <h1>{{'TERMINATE_CONV' | translate}}</h1>
        <p>{{'TERMINATE_CONV_DESC' | translate}} </p>        
        <button class="_btn dangerBtn w-100" (click)="terminateClick(true)">{{'YES_TERMINATE' | translate}}</button>
        <button class="_btn solidBtn w-100" (click)="terminateClick(false)">{{'NO_CANCEL' | translate}}</button>
        <button class="_btn solidBtn w-100" (click)="terminateClick(false, true)" *ngIf="rootService.activeTab != projConstants.MYBOT">{{'OVERRIDE_CONTINUE' | translate}}</button>
    </div>  
</div>