<div class="utterance-triggers">
    <div class="drag-content">
        <i class="icon-sa-elipse"></i>
    </div>
    <div class="and-or-btns" *ngIf="index < length">
        <ng-container *ngFor="let operator of ['And', 'Or']">
            <button class="and-or-btn" (click)="changeOperator(operator)" [ngClass]="{'active-btn' : selectedOperator === operator}">{{operator}}</button>
        </ng-container>
    </div>
    <span class="utt-name-desc">Triggered when</span>

    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>
            <span class="choose-text">{{selectedSpeechType ? selectedSpeechType : '{ speech type }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngFor="let type of speechType" >
                <li ngbDropdownItem class="list-item-li" (click)="clickOnType(type)">
                    <span class="title">{{type}}</span>
                    <i [ngClass]="{'icon-sa-conv-check' : type === selectedSpeechType}"></i>
                </li>
            </ng-container>
        </ul>
    </div>
    <span class="utt-name-desc" *ngIf="!selectedSpeechType">by.</span>
    <span class="utt-name-desc" *ngIf="selectedSpeechType">is detected.</span>
     <!-- <div class="dropdown-occurences" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle><i class="icon-sa-conv-refreshten"></i> {{selOcc}}x</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <perfect-scrollbar class="mx-h-220">
                <ng-container *ngFor="let occ of occurances">
                    <li ngbDropdownItem class="list-item-li" (click)="clickOcc(occ)">
                        <span class="title">Each Occurrence <span>{{occ}}x</span></span>
                        <i [ngClass]="{'icon-sa-conv-check': occ === selOcc}"></i>
                    </li>
                </ng-container>
            </perfect-scrollbar>
        </ul>
    </div> -->
    <!-- <div class="dropdown-occurences no_border" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle>in 30 seconds</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <div class="seconds-input">
                <div class="kr-sg-input-text">
                    <input type="text" placeholder="Placeholder text" class="input-text">
                </div>
                <div class="s-title">seconds</div>
            </div>
        </ul>
    </div> -->
</div>
