<div class="utterance-triggers">
    <!-- <div class="drag-content">
        <i class="icon-sa-elipse"></i>
    </div> -->
    <div class="and-or-btns" *ngIf="index < length">
        <ng-container *ngFor="let operator of opList">
            <button class="and-or-btn" (click)="changeOperator(operator)" [ngClass]="{'active-btn' : selectedOperator === operator}">{{operator | titlecase}}</button>
        </ng-container>
    </div>
    
    <ng-container *ngIf="!selectedSpeechType || selectedSpeechType == coachingCnst.CROSSTALK">
        <span class="utt-name-desc">The agent's</span>
        <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body" #selectedTypeDropdown = "ngbDropdown">
            <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!selectedSpeechType}">
                <span class="choose-text">{{selectedSpeechType ? coachingCnst.SPEECH_TYPE[selectedSpeechType] : '{ speech type }'}}</span>
            </button>
            <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
                <ng-container *ngFor="let type of speechType | keyvalue" >
                    <li ngbDropdownItem class="list-item-li" (click)="clickOnType(type.key)">
                        <span class="title">{{type.value}}</span>
                        <i [ngClass]="{'icon-sa-conv-check' : type.key === selectedSpeechType}"></i>
                    </li>
                </ng-container>
            </ul>
        </div>
        <span class="utt-name-desc" *ngIf="!selectedSpeechType">is...</span>
        <span class="utt-name-desc" *ngIf="selectedSpeechType && selectedSpeechType == coachingCnst.CROSSTALK">of</span>
        <div class="dropdown-occurences no_border" ngbDropdown [placement]="'bottom'" container="body"  #deadairtimerdropdownct = "ngbDropdown"
        *ngIf="selectedSpeechType && selectedSpeechType == coachingCnst.CROSSTALK">
            <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!timer}" (click)="showTimerCT = timer">{{timer}}</button>
            <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
                <div class="seconds-input">
                    <div class="kr-sg-input-text">
                        <input type="number" digitOnly placeholder="Enter Seconds here" class="input-text" (keyup.enter)="onEnterTimeCT(showTimerCT);deadairtimerdropdownct.close()" [(ngModel)]="showTimerCT">
                    </div>
                    <!-- <div class="s-title">seconds</div> -->
                </div>
            </ul>
        </div>
        <span class="utt-name-desc" *ngIf="selectedSpeechType && selectedSpeechType == coachingCnst.CROSSTALK">seconds is detected for</span>
    </ng-container>

   <ng-container *ngIf="selectedSpeechType && selectedSpeechType == coachingCnst.DEADAIR">
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body" #deadairDropdown = "ngbDropdown">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!selectedSpeechType}">
            <span class="choose-text">{{selectedSpeechType ? coachingCnst.SPEECH_TYPE[selectedSpeechType] : '{ speech type }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngFor="let type of speechType | keyvalue" >
                <li ngbDropdownItem class="list-item-li" (click)="clickOnType(type.key)">
                    <span class="title">{{type.value}}</span>
                    <i [ngClass]="{'icon-sa-conv-check' : type.key === selectedSpeechType}"></i>
                </li>
            </ng-container>
        </ul>
    </div>
    <span class="utt-name-desc">of </span>

    <div class="dropdown-occurences no_border" ngbDropdown [placement]="'bottom'" container="body"  #deadairtimerdropdown = "ngbDropdown">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!timer}" (click)="showTimer = timer">{{timer}}</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <div class="seconds-input">
                <div class="kr-sg-input-text">
                    <input type="number" digitOnly placeholder="Enter Seconds here" class="input-text" (keyup.enter)="onEnterTime(showTimer);deadairtimerdropdown.close()" [(ngModel)]="showTimer">
                </div>
                <!-- <div class="s-title">seconds</div> -->
            </div>
        </ul>
    </div>
    <span class="utt-name-desc">seconds is detected from </span>
    
    <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!selUser}">
            <span class="choose-text">{{selUser ? (coachingCnst.SPEECH_USER_LIST[selUser]) : '{ select person }'}}</span>
        </button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <ng-container *ngFor="let user of coachingCnst.SPEECH_DEADAIR_USERLIST">
                <li ngbDropdownItem class="list-item-li" (click)="clickOnUser(user)">
                    <span class="title">{{coachingCnst.SPEECH_USER_LIST[user]}}</span>
                    <i [ngClass]="{'icon-sa-conv-check' : user === selUser}" ></i>
                </li>
            </ng-container>
        </ul>
    </div>
    <span class="utt-name-desc">for </span>
   </ng-container>

   <ng-container *ngIf="selectedSpeechType && selectedSpeechType == coachingCnst.SPEECHSPEED">
        <span class="utt-name-desc">The </span>
        <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body">
            <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!selUser}">
                <span class="choose-text">{{selUser ? (coachingCnst.SPEECH_USER_LIST[selUser]) : '{ select person }'}}</span>
            </button>
            <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
                <ng-container *ngFor="let user of coachingCnst.SPEECH_SPEED_USERLIST">
                    <li ngbDropdownItem class="list-item-li" (click)="clickOnUser(user)">
                        <span class="title">{{coachingCnst.SPEECH_USER_LIST[user]}}</span>
                        <i [ngClass]="{'icon-sa-conv-check' : user === selUser}" ></i>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="dropdown-custom-flows" ngbDropdown [placement]="'bottom'" container="body" #speechspeedDropdown = "ngbDropdown">
            <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!selectedSpeechType}">
                <span class="choose-text">{{selectedSpeechType ? coachingCnst.SPEECH_TYPE[selectedSpeechType] : '{ speech type }'}}</span>
            </button>
            <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
                <ng-container *ngFor="let type of speechType | keyvalue" >
                    <li ngbDropdownItem class="list-item-li" (click)="clickOnType(type.key)">
                        <span class="title">{{type.value}}</span>
                        <i [ngClass]="{'icon-sa-conv-check' : type.key === selectedSpeechType}"></i>
                    </li>
                </ng-container>
            </ul>
        </div>
        <span class="utt-name-desc">of over </span>
        <div class="dropdown-occurences no_border" ngbDropdown [placement]="'bottom'" container="body" #speechspeedwordcount="ngbDropdown">
            <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!wordcount}" (click)="showWordcount = wordcount">{{wordcount}}</button>
            <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
                <div class="seconds-input">
                    <div class="kr-sg-input-text">
                        <input type="number" digitOnly placeholder="Enter wordcount" class="input-text" (keyup.enter)="onEnterWords(showWordcount);speechspeedwordcount.close()" [(ngModel)]="showWordcount">
                    </div>
                    <!-- <div class="s-title">words per minute</div> -->
                </div>
            </ul>
        </div>
        <span class="utt-name-desc">WPM is detected for  </span>
   </ng-container>

    <div class="dropdown-occurences" ngbDropdown [placement]="'bottom'" container="body">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle [ngClass]="{'text-choosen': !!selOcc}"><i class="icon-sa-conv-refreshten"></i>  {{selOcc}} {{selOcc == 1 ? ' time' : ' times'}}</button>
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <perfect-scrollbar class="mx-h-220">
                <ng-container *ngFor="let occ of occurances; let i = index">
                    <li ngbDropdownItem class="list-item-li" (click)="clickOcc(occ)">
                            <span *ngIf="i == 0">{{occ}} time</span>
                            <span *ngIf="i != 0">{{occ}} times</span>
                        <i [ngClass]="{'icon-sa-conv-check': occ === selOcc}"></i>
                    </li>
                </ng-container>
            </perfect-scrollbar>
        </ul>
    </div>


    <div class="dropdown-occurences in-conversations-dropdown" ngbDropdown [placement]="'bottom'" container="body" #utteranceTimer="ngbDropdown" *ngIf="selectedSpeechType">
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle *ngIf="!selectedConvType">in conversation</button>
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle *ngIf="selectedConvType == coachingCnst.TRIGGER_ANYTIME">any time</button>
        <button class="dropdown-toggle btn-toggle" ngbDropdownToggle *ngIf="selectedConvType == coachingCnst.TRIGGER_BYTIME" (click)="selectedList.period = inconvList.period;selectedList.nSeconds = inconvList.nSeconds">{{inconvList.period}} {{inconvList.nSeconds}} second(s)</button>
       
        <ul class="dropdown_menu-wrapper" ngbDropdownMenu>
            <li ngbDropdownItem class="list-item-li" (click)="clickOnConvType(coachingCnst.TRIGGER_ANYTIME)">
                <span class="title">Any time in conversation</span>
                <i class="icon-sa-conv-check" *ngIf="selectedConvType == coachingCnst.TRIGGER_ANYTIME"></i>
            </li>
            <li class="list-item-li" data-toggle="collapse" href="#bytime" (click)="clickOnConvType(coachingCnst.TRIGGER_BYTIME);">
                <span class="title">By time</span>
                <i class="icon-sa-conv-check" *ngIf="selectedConvType == coachingCnst.TRIGGER_BYTIME"></i>
            </li>

            <div class="inside-conv-time-dropdown collapse" id="bytime" *ngIf="selectedConvType == coachingCnst.TRIGGER_BYTIME">
                <div class="content-info-data">
                    <div ngbDropdown class="drpdown-time" #byTimeDropdown="ngbDropdown">
                        <button type="button" id="dropdownBasic1" ngbDropdownToggle>
                            <span>{{selectedList.period}}</span>
                            <i class="icon-sa-arrow-down"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <li class="list-item-li" *ngFor="let period of periodList" (click)="onEnterPeriod(period);byTimeDropdown.close()">
                                <span class="title">{{period}}</span>
                                <i class="icon-sa-conv-check" *ngIf="this.selectedList.period == period"></i>
                            </li>
                        </div>
                    </div>
                    <div class="seconds-input">
                        <ng-container *ngIf="selectedSpeechType == coachingCnst.DEADAIR || selectedSpeechType == coachingCnst.CROSSTALK">
                            <span tooltipClass="tooltip-global-styles" ngbTooltip="Input time should be greater than configured time" class="m-l-6" placement="bottom"> 
                               <ng-container  *ngTemplateOutlet="bytimeinput"></ng-container>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="selectedSpeechType == coachingCnst.SPEECHSPEED">
                           <ng-contaner *ngTemplateOutlet="bytimeinput"></ng-contaner>
                        </ng-container>
                        <div class="s-title">seconds</div>
                        <ng-template #bytimeinput>
                            <div class="kr-sg-input-text">
                                <input type="number" digitOnly placeholder="Enter Seconds" class="input-text" (keyup.enter)="onEnterSeconds(selectedList.nSeconds);" [(ngModel)]="selectedList.nSeconds">
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="error-text" *ngIf="form?.controls?.frequency?.controls?.nSeconds.invalid">Input time should be greater than configured time</div>
            </div>
           
        </ul>
    </div>

    <div class="delete-row" (click)="deleteTriggerRule()">
        <i class="icon-sa-welcome-delete"></i>
    </div>

  
</div>
