<div class="agent-conver-wrap">
  <div class="agent-header">
    {{"AGENT_CONVS_FLOW.TASKS_PERFORMED" | translate}}
  </div>
  <div class="agent-section">
    <div class="conver-table">
      <div class="conver-table-header">
        <div class="left-head">
          {{"AGENT_CONVS_FLOW.TASK_NAME" | translate}}
        </div>
        <div class="right-head">
          {{"CONVERSATIONAL_LOGS.STATUS_CAPS" | translate}}
        </div>
      </div>
      <div class="conver-table-body">
        <div class="elems" *ngFor="let task of listToShow; let i = index">
          <div class="elems-norm" (click)="scrollChat(task.messageStoreId)" *ngIf="task.status != 'divide'">
            <div class="task-name">
              {{task.taskName || task.userInput}}
            </div>
            <div class="task-status">
              {{task.status}}
            </div>
          </div>
          <div class="parti" *ngIf="task.status == 'divide'">
            {{"AGENT_CONVS_FLOW.DEFLECTED_FROM_VOICE_TO_CHAT" | translate}}
          </div>
        </div>
      </div>
      <mat-paginator 
      (page)="onPageChange($event)"
      [length]="allList.length"
      [pageSize]="5">
      <!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
      </mat-paginator>

    </div>
  </div>

</div>