.example-chip-list {
    width: 100%;
}

  .example-chip-list .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-chip-list .mat-chip-list-wrapper .mat-chip {
    background-color: #e0e0e0 !important;
    font-weight: normal !important;
    border-radius: 4px !important;
  }

  .agents-dd-input:not([disabled="true"]) {
    background-color: #fff;
  }