@import './../../../../scss/variables/variables.scss';


.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px 20px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;                
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 136px);            
    } 
    .body-sec-data{
        padding: 30px 70px;       
        .label-text {
            font-weight: 500;
            font-size: 12px !important;
            line-height: 15px;
            margin-bottom: 8px !important;
        }
        .kr-sg-input-text {
            input{
                &::placeholder{
                    color: $optionalText;
                }
            }
        }
        .kr-sg-input-text-area{
            textarea{
                background: $whiteColor;
                border: 1px solid $borderColor;
                box-sizing: border-box;
                border-radius: 4px;
                resize: none;
                height: 90px;
                padding: 10px;
                &::placeholder{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: $optionalText;
                }
            }
        }
        .language-support-table-data{
            margin: 30px 0;
            &.freeze-section {
                opacity: 0.7;
                pointer-events: none;
            }
            .table-header-sec{                
                padding: 10px 0;
                margin: 0;                
                .header-title{
                    color: $primaryFontColor;
                    letter-spacing: 0.714286px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 14px;
                    padding: 0 25px;
                }
            }
            .table-body-sec{
                padding: 15px 0;
                margin: 0 0 5px 0;
                align-items: center;
                background: $whiteColor;
                box-shadow: 0px 0px 6px rgba(168, 200, 221, 0.3);
                min-height: 80px;        
                .permissons{
                    padding: 0 10px 0 25px;
                    .permission-type{
                        color: $primaryFontColor;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 5px;
                    }
                    .permission-desc{
                        color: $descFontColor;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
                .profiency_level{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0 30px 0 10px;
                    .delete-access{
                        margin-left: 30px;
                        cursor: pointer;
                    }
                    &.disabled_{
                        opacity: 0.3;
                    }
                    .level-type{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        position: relative;
                        height: 40px;
                        cursor: pointer;
                        color: $primaryActionColor;
                        min-width: 75px;
                        justify-content: center;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        &.active-type{
                            height: 44px !important;                            
                            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);                            
                            color: $whiteColor; 
                            &::before{
                                content: "";
                                position: absolute;
                                width: calc(100% - 20px);
                                height: 2px;
                                bottom: -9px;
                                left: 0;
                                background: #007D88;
                                margin: 0 auto;
                                right: 0;
                            }
                        }
                        &.no{
                            background: #FCEAED;
                            border-radius: 10px 0px 0px 10px;
                            color: $warningColor;                                                                        
                        }
                        &.view{
                            background: #BFE8EC;
                            border-radius: 0px;
                            color: $primaryActionColor;                             
                        }
                        &.full{
                            background: $primaryActionColor;
                            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
                            border-radius: 0px 10px 10px 0px;
                            height: 40px;                 
                            color: #fff;                                                              
                        }
                        &.yes{
                            background: #EAF6EC;
                            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
                            border-radius: 0px 10px 10px 0px;
                            color: #135423;
                        }
                    }
                }               
            }
        }
    }
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
}