@import './../../../scss/variables/variables.scss';

::ng-deep.agent-group-match-chip-list{
    width: 100%;
    line-height: normal;
    min-height: 60px;
    background: $whiteColor;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 5px;
    .mat-form-field-subscript-wrapper{
        margin: 0;
        top: 0;
    }
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
        transform:translateY(-2.28125em) scale(0.75) perspective(113px) translateZ(0.001px) !important;
    }
    .mat-chip-list-wrapper{
        margin: 0;
        .mat-chip{
            background: $primaryBackgroundColor;
            border-radius: 6px;
            margin: 5px;
            padding: 10px;
            height: 55px;
            .mat-chip-ripple{
                display: none;
            }
            .chip-name{
                position: relative;
                font-size: 10px;
                line-height: 14px;
                display: flex;
                align-items: center;
                .if-img-group{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    border: 1px solid $whiteColor;
                    box-sizing: border-box;
                }   
                .agent-name-starts{
                    color: $whiteColor;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    background: #EEC9A8;
                    border: 1px solid $whiteColor;
                    box-sizing: border-box;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                }
                .content-data{
                    padding-left: 10px;
                    .g-name{
                        color: $primaryFontColor;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .g-members{
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }           
            }
            .mat-chip-remove{
                width: auto;
                height: auto;
                opacity: 1;
                margin: 0 0px 0 8px;
                position: relative;
                top: 0px;
                cursor: pointer;
            }
        }
    }
    .mat-form-field-wrapper{
        padding: 0;
        .mat-form-field-flex{
            width: 100%;
            .mat-form-field-infix{
                margin: 0;
                padding: 0 !important;
                top: 0;
                border: 0;
                min-height: 32px;
                height: auto;
                .mat-input-element{
                    padding: 0 !important;
                    width: 100%;
                    margin: 0 !important;
                    border: 0;
                    background: transparent;
                    height: 58px;
                }
            }
        }
        .mat-form-field-underline{
            display: none;
        }
    }
    .mat-form-field-appearance-legacy{
        .mat-form-field-subscript-wrapper{
            margin: 0 !important;
        }
    }
    .mat-form-field-label-wrapper{
        padding: 0;
        top: 0;
        .mat-form-field-label{
            margin: 0;
            border: 0;
            position: absolute;
            top: 19px;
            span{
                color: $borderColor;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

::ng-deep.agent-group-match-chip-list-autocomplete-dropdown{
    box-shadow: none !important;
    background: transparent !important;
    .scroll-type-skill-drpdown{
        max-height: 250px;
        .content-mat-options{
            max-height: 250px;
        }
    }
    .mat-option{       
        height: 50px !important;
        line-height: normal !important;
        padding: 0 !important;
        display: block;
        background: transparent !important;
        max-width: 100%;
        width: 100%;
        &:hover{
            background: transparent !important;
        } 
        .mat-ripple{
            display: none;
        }
        .mat-option-text{
            border-radius: 4px;
            padding: 10px;
            font-weight: normal;
            line-height: 20px;
            display: inline-flex !important;
            align-items: center;
            height: 50px;
            background: $whiteColor;
            border: 1px solid #E7F1FF;
            min-width: 208px;
            cursor: pointer;
            justify-content: flex-start;
            max-width: 100%;
            width: 100%;
            &:hover{
                background: #E7F1FF !important;
            } 
            .if-img-group{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                border: 1px solid $whiteColor;
                box-sizing: border-box;
            }   
            .agent-name-starts{
                color: $whiteColor;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                background: #EEC9A8;
                border: 1px solid $whiteColor;
                box-sizing: border-box;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
            }
            .content-data{
                padding-left: 10px;
                .g-name{
                    color: $primaryFontColor;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
                .g-members{
                    color: $primaryFontColor;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                }
            }  
        }  
        .noAgentGpsOption{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #bdbdbd;
        }                        
    }
    .mat-form-field-infix {
        padding-top: 0 !important;
    }
}