<!-- <p>voice-settings works!</p>
<button class="kr-sg-button-primary" (click)="openAFSlider()">Open Slider</button> -->

<div class="skills-wrapper-main-container">
    <div class="dep-uc-table">
        <div class="smart-filters">
            <!--Left Column-->
            <div class="col-5 filterLeft">
                <!--Filter by-->
                <div class="kr-sg-dropdowns d-none" ngbDropdown [placement]="'bottom-left'">
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>
                            <img src="assets/icons/skills/groupby.svg">
                            <span class="name">{{ "SKILLS.GP_BY" | translate }}</span>
                            <img src="assets/icons/bropdown-green.svg" class="dropdown-green">
                        </button>
                        <ul class="dropdown-menu content-menu header_in_development_drpdown" ngbDropdownMenu>
                            <li><a>{{"AGENTS.FAQ" | translate}}</a></li>
                            <li><a>{{"AGENTS.TASKS" | translate}}</a></li>
                        </ul>
                    </div>
                </div>
                <!--Filter by-->

                <div class="kr-sg-dropdowns d-none" ngbDropdown [placement]="'bottom-left'">
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>
                            <img src="assets/icons/filterBy.svg">
                            <span class="name">{{ "SKILLS.FILTER_BY" | translate }}</span>
                            <img src="assets/icons/bropdown-green.svg" class="dropdown-green">
                        </button>
                        <ul class="dropdown-menu content-menu header_in_development_drpdown" ngbDropdownMenu>
                            <li><a>{{"AGENTS.FAQ" | translate}}</a></li>
                            <li><a>{{"AGENTS.TASKS" | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Left Column-->
            <!--Right Column-->
            <div class="col-7 filterRight">
                <!--Search-->
                <div class="kr-sg-input-inline-search">
                    <input type="text" [placeholder]="'PLACEHOLDERS.SEARCH' | translate" class="input-search" #searchEle>
                    <img src="assets/icons/search.svg" class="search-icon">
                </div>
                
                <!--Search-->
                <!--3dots-->
                <!-- <span class="dropdown kr-sg-overflow-menu open">
                    <div class="dropdown-toggle" id="menu1" data-toggle="dropdown"><img class="action_icon" src="assets/icons/skills/overflow.svg"></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><a href="#">Option1</a></li>
                        <li><a href="#">Option1</a></li>
                        <li><a href="#" class="disable">Option1</a></li>
                        <li><a href="#">Option1</a></li>
                    </ul>
                </span> -->
                <!--3dots-->
            </div>
            <!--Right Column-->
        </div>
        <!--FILTERS-->
    </div>

    <ng-container>
        <div class="agent-skills-table-data">
            <perfect-scrollbar class="skill-scroll-content">
                <div id="accordion" class="skill-table-body-main-container">
                    <div class="card_content">
                        <div class="card_header">
                            <div data-toggle="collapse" href="#collapseOne" data-parent="#accordion" class="card_link collapsed" aria-expanded="false">
                                <div class="row m-0 col-12 accordion-content-header">
                                    <div class="col-8 team-with-profile row m-0">
                                        <div class="text-title">Phone Numbers</div>
                                    </div>
                                    <div class="col-4 new-skill-btn p-0" (click)="openPhSlider()">
                                        <button class="kr-sg-button-primary btn_md"><img src="assets/icons/add.svg" class="addPlus">New</button>
                                    </div>
                                    <div class="col-4 agent-counts">
                                        No of Phone numbers : {{phoneNumandSipDetailsList?.phoneNumbers.length}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse inside-accordioncontent">
                            <div class="card-body inner-accordion-table">
                                <div class="inner-accordion-table-header row col-12 m-0">
                                    <div class="col-4 title text-truncate pl-5">Phone Number</div>
                                    <div class="col-2 title text-truncate">Type</div>
                                    <div class="col-3 title text-truncate">Attached Experience Flow</div>
                                    <div class="col-2 title text-truncate text-center"> Status</div>
                                    <div class="col-1 title text-truncate text-center"></div>
                                </div>

                                <ng-container>
                                    <div *ngIf="phoneNumandSipDetailsList?.phoneNumbers.length === 0" class="empty-state">
                                        Click on “New” to add/purchase a phone number
                                    </div>
                                    <div *ngIf="(phoneNumandSipDetailsList?.phoneNumbers).length > 0">
                                        <div class="row m-0 col-12 inner-accordion-table-body" *ngFor="let numDetail of phoneNumandSipDetailsList?.phoneNumbers; let index = index">
                                            <div class="col-4 phone-numbers">
                                                <div class="country-img">
                                                    <img [src]="isFlagAvailable(numDetail.countryCode)? 'assets/icons/flags/' + (numDetail.countryCode).toLowerCase() + '.svg' :'assets/icons/flags/default_flag.svg'">
                                                </div>
                                                <div class="phone-number-text">{{numDetail.phoneNumber}}</div>
                                            </div>
                                            <div class="col-2 type-data">
                                                <div class="type-name">{{numDetail.phoneNumberType}}</div>
                                            </div>
                                            <div class="col-3 attach-contact-flow">
                                                <div *ngIf="!numDetail?.callFlowDetails || numDetail?.callFlowDetails?.length === 0" (click)="openAFSlider('phoneNumber', numDetail)" class="attch-flow-btn">+ Attach Flow</div>
                                                <div *ngFor="let cf of numDetail?.callFlowDetails; let i = index">
                                                    <div *ngIf="numDetail?.callFlowDetails?.length > 0" (click)="openAFSlider('phoneNumber', numDetail, cf?._id)" class="attch-flow-btn">{{cf.name}}</div>
                                                </div>
                                            </div>
                                            <div class="col-2 status-type">
                                                <div class="status-box" [ngClass]="{'status-completed': (numDetail?.callFlowDetails && numDetail?.callFlowDetails[0]?.state === 'published')}"
                                                [ngbTooltip]="(numDetail.callFlowDetails? numDetail.callFlowDetails[0].state: 'No flow attached') | titlecase">
                                                    <img *ngIf="!numDetail.callFlowDetails" src="assets/icons/channels/noFlowIcon.svg"/>
                                                    <i class="icon-sa-time" *ngIf="numDetail.callFlowDetails? (numDetail?.callFlowDetails[0].state === 'configured'? true:false):''"></i>
                                                    <i class="icon-sa-round-check" ></i>                         
                                                </div>
                                            </div>
                                            <div class="col-1 delete-type">
                                                <div class="kr-sg-dropdowns elipse-action-dropdown delete-icon" ngbDropdown [placement]="'bottom-right'" (click)="$event.stopPropagation();">
                                                    <div class="dropdown dropdown-open">
                                                        <div class="edit-elipse-btn" ngbDropdownToggle>
                                                            <img src="assets/icons/overflow-black.svg" style="vertical-align: text-bottom;">
                                                        </div>
                                                        <ul class="dropdown-menu content-menu" role="menu" aria-labelledby="menu1" ngbDropdownMenu>
                                                            <li ngbDropdownItem (click)="updatePhoneNumConfig(numDetail)">
                                                                <a><img src="assets/icons/external-link-blue.svg">{{ "USECASES.UPDATE" | translate }}</a>
                                                            </li>
                                                            <li ngbDropdownItem (click)="deletePhoneNumberConfig(numDetail);">
                                                                <a><img src="assets/icons/exp_flow_delete_icon.svg">{{ "USECASES.DELETE" | translate }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="card_content">
                        <div class="card_header">
                            <div data-toggle="collapse" href="#collapse2" data-parent="#accordion" class="card_link collapsed" aria-expanded="false">
                                <div class="row m-0 col-12 accordion-content-header">
                                    <div class="col-8 team-with-profile row m-0">
                                        <div class="text-title">SIP transfer</div>
                                    </div>
                                    <div class="col-4 new-skill-btn p-0" (click)="openIVRSlider()">
                                        <button class="kr-sg-button-primary btn_md"><img src="assets/icons/add.svg" class="addPlus">New</button>
                                    </div>
                                    <div class="col-4 agent-counts">
                                        No of SIP transfers : {{phoneNumandSipDetailsList?.sipTransfers.length}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse2" class="collapse inside-accordioncontent">
                            <div class="card-body inner-accordion-table">
                                <div class="inner-accordion-table-header row col-12 m-0">
                                    <div class="col-4 title text-truncate pl-5">SIP URL</div>
                                    <div class="col-6 title text-truncate">Attached Experience Flow</div>
                                    <div class="col-2 title text-truncate text-center"> Status</div>
                                </div>

                                <ng-container>
                                    <div *ngIf="phoneNumandSipDetailsList?.sipTransfers.length === 0" class="empty-state">
                                        Click on “New” for SIP Call Transfer Setup
                                    </div>
                                    <div *ngIf="phoneNumandSipDetailsList?.sipTransfers.length > 0">
                                        <div class="row m-0 col-12 inner-accordion-table-body sipDetails" *ngFor="let sipDetails of phoneNumandSipDetailsList?.sipTransfers; let index = index">
                                            <div class="col-4 phone-numbers">
                                                <div class="phone-number-text p-0">{{sipDetails.sipURI}}</div>
                                            </div>
                                            <div class="col-6 attach-contact-flow">
                                                <div class="didnumbers" *ngFor="let didNumber of sipDetails.didNumber">

                                                    <div>
                                                        {{didNumber}}
                                                    </div>
                                                    <hr class="dashed divider">
                                                    <div class="d-flex attch-flow-btn" *ngIf="!sipDetails.callFlowDetails || (sipDetails?.callFlowDetails | strictFilter: [didNumber, 'didNumber'])?.length === 0" (click)="openAFSlider('SIP',sipDetails, didNumber)">
                                                        <div>+ Attach Flow</div>
                                                    </div>
                                                    <div class="d-flex" *ngFor="let cf of sipDetails?.callFlowDetails | filter: [didNumber, 'didNumber'] ; let i = index">
                                                        <ng-container *ngIf="cf.didNumber === didNumber" >
                                                            <div (click)="openAFSlider('SIP',sipDetails, cf?._id, didNumber)">
                                                                <div *ngIf="sipDetails.callFlowDetails.length > 0" class="attch-flow-btn">{{cf.name}}</div>
                                                                <!-- <img src="assets/icons/agent/edit.svg" alt="" class="ml-2 cursor-pointer"> -->
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 text-center status-type d-flex align-items-center justify-content-center">
                                                <div class="status-box" [ngClass]="{'status-completed': (sipDetails?.callFlowDetails.length>0 && sipDetails?.callFlowDetails[0]?.state === 'published')}"
                                                [ngbTooltip]="(sipDetails.callFlowDetails.length>0? sipDetails.callFlowDetails[0].state: 'No flow attached') | titlecase">
                                                    <img *ngIf="!sipDetails.callFlowDetails.length>0" src="assets/icons/channels/noFlowIcon.svg"/>
                                                    <i class="icon-sa-time" *ngIf="sipDetails.callFlowDetails.length>0? (sipDetails?.callFlowDetails[0].state === 'configured'? true:false):''"></i>
                                                    <i class="icon-sa-round-check" ></i>
                                                </div>
                                                <div class="kr-sg-dropdowns elipse-action-dropdown delete-icon ml-2" ngbDropdown [placement]="'bottom-right'" (click)="$event.stopPropagation();">
                                                    <div class="dropdown dropdown-open">
                                                        <div class="edit-elipse-btn" ngbDropdownToggle>
                                                            <img src="assets/icons/overflow-black.svg" style="vertical-align: text-bottom;">
                                                        </div>
                                                        <ul class="dropdown-menu content-menu" role="menu" aria-labelledby="menu1" ngbDropdownMenu>
                                                            <li ngbDropdownItem (click)="updateSipConfiguration(sipDetails)">
                                                                <a><img src="assets/icons/external-link-blue.svg">{{ "USECASES.UPDATE" | translate }}</a>
                                                            </li>
                                                            <li ngbDropdownItem (click)="deleteSipConfig(sipDetails);">
                                                                <a><img src="assets/icons/exp_flow_delete_icon.svg">{{ "USECASES.DELETE" | translate }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </ng-container>
    <div class="card_content noData d-none">
        <div class="card_header">
            <div class="no_data">
                {{"NO_DATA_FOUND" | translate}}
            </div>
        </div>
    </div>
</div>

<app-slider-component id="attacheFlowSlider" #attacheFlowSlider='app-slider'>
    <app-attach-flow [isUpdate]="updateCallFlowList" [voiceContactDetails]="emitDetails" [callFlowVoiceList]="expFlowList" *ngIf="showAttacheFlowSlider" (closed)="closeAFSlider($event)" (emitUpdate)="flowUpdateBool()"></app-attach-flow>
</app-slider-component>

<app-slider-component id="incomingPhNumber" #incomingPhNumberSlider='app-slider'>
    <app-phone-number *ngIf="showIncomingPhNumberSlider" [selectedPhonenumber]="IncomingPhoneNumber.settings.phoneNumber" (purchasedNewNum)="NewNumberisPurchased($event)" (closed)="closePhSlider($event)"></app-phone-number>
    <app-phone-number *ngIf="updatePhNumberSlider" [selectedPhonenumber]="phoneNumsDetailsList" (removeNumFromChannel)="removePhoneNum($event)" (purchasedNewNum)="NewNumberisPurchased($event)" (closed)="closePhSlider($event)"></app-phone-number>
</app-slider-component>

<app-slider-component id="incomingIVR" #incomingIVRSlider='app-slider'>
    <app-ivr *ngIf="showIncomingIVRSlider" [incomingSetup]="incomingSetup" [model]="ivrData" (closed)="closeIVRSlider($event)" (newSipData)="newSipSetUp($event)"></app-ivr>
    <app-ivr *ngIf="updateIVRSlider" [incomingSetup]="sipNumsDetailsList" [model]="ivrData" (closed)="closeIVRSlider($event)" (newSipData)="newSipSetUp($event)"></app-ivr>
</app-slider-component>

<app-slider-component id="flowSlider" #flowSlider='app-slider'>
    <app-new-flow-exp *ngIf="showFlowSlider"></app-new-flow-exp>
</app-slider-component>