@import './../../scss/variables/variables.scss';

.skills-wrapper-main-container{  
    overflow: hidden;
    padding: 0;  
    .card_content{
        margin-bottom: 10px;
        border: 0px;
        box-sizing: border-box;
        border-radius: 8px;
        &.noData {
            margin: 10px 40px;
        }
        .card_header{
            .no_data{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .no-skill-empty-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 30px);
        .img-empty{
            width: 288px;
            img{

            }
        }
        .content-block{
            width: 390px;
            margin-left: 70px;
            .title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 16px;
            }
            .desc-text{
                color: $primaryFontColor;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .skill-scroll-content{
        height: calc(100vh - 216px);
    }
    .usecases-main-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 29px;
        padding: 0 40px;
        align-items: center;
        .heading {
            font-size: 26px;
            font-weight: bold;
            color: $primaryFontColor;
            line-height: 30px;
        }
        .selections {
            height: 15px;
            width: 250px;
            display: flex;
            justify-content: flex-end;
            // align-items: center;
            .smart-primary-btn{
                line-height: 30px;
                padding: 0 10px;
                .addPlus{
                    position: relative;
                    top: -2px;
                    margin-right: 5px;
                }
            }
            .dropdown {
                .add-usecase {
                    width: 385px;
                    left: -45px !important;
                    padding: 0;
                    box-shadow: 0px 4px 10px rgba(168, 200, 221, 0.7);
                    border-radius: 4px;
                    border: none;
                    .pointer-none {
                        pointer-events: none;
                    }
                    .dropdown-selection {
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        cursor: pointer;
                        &:hover {
                            background: $primaryHoverColor;
                        }
                        .icon {
                            margin-right: 24px;
                            position: relative;
                            // top: 8px;
                        }
                        .usecase-desc {
                            .title {
                                color: $primaryFontColor;
                                font-size: 14px;
                                font-weight: 500;
                                margin-bottom: 5px;
                            }
                            .desc {
                                font-size: 12px;
                                color: $secondaryFontColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .dep-uc-table {   
        padding: 0px 10px;     
        .smart-filters{            
            display: flex;
            padding: 5px;
            margin-bottom: 0px;
            border-radius: 4px;
            .filterLeft{
                display: flex;
                padding-left: 0;
                .kr-sg-dropdowns{
                    width: 158px;
                    padding: 0 10px 0 0;
                    .dropdown{
                        .dropdown-input{
                            background: $whiteColor;
                            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
                            border-radius: 3px;
                            font-size: 12px;
                            color: $primaryFontColor;
                            border: 0;
                            img{
                                margin-right: 15px;
                            }
                            .name{
                                position: relative;
                                top: 2px;
                            }
                            .dropdown-green{
                                position: absolute;
                                right: 0px;
                                top: 15px;
                            }
                        }
        
                        .dropdown-input:before{
                            display: none;
                        }
                    }
                    .dropdown-menu{
                        box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
                        min-width: 163px !important;
                        padding: 10px 0px;
                        border: 0;
                        margin: 0;
                        li{
                            font-size: 13px;
                            color: $primaryFontColor;
                            padding: 8px 20px;
                            cursor: pointer;
                            position: relative;
                            &:hover{
                                background-color:$primaryHoverColor;
                            }
                        }
                    }
                }
            }
            .filterRight{
                display: flex;
                padding: 0;
                align-items: center;
                justify-content: flex-end;
                .kr-sg-input-inline-search{
                    max-width: 300px;
                    .input-search{
                        background: $whiteColor;
                        /* Kora Grey / Grey Light 3 */
        
                        border: 1px solid $border2-color;
                        box-sizing: border-box;
                        border-radius: 4px;
                        padding: 5px 5px 5px 30px;
                        color:$primaryFontColor;
                    }
                    .search-icon{
                        top: 10px;
                        width: auto;
                        height: auto;
                        opacity: 0.5;
                    }
                }
                .kr-sg-overflow-menu{
                    width: 20px;
                    margin: 0 7px 0 10px;
                    .dropdown-menu{
                        box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
                        min-width: 163px !important;
                        padding: 10px 0px;
                        border: 0;
                        margin: 0;
                        li{
                            font-size: 13px;
                            color: $primaryFontColor;
                            padding: 0;
                            cursor: pointer;
                            position: relative;
                            a{
                                display: block;
                                &:hover{
                                    background-color:$primaryHoverColor;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    &.show{
                        box-shadow: none;
                    }
                }

                .kr-sg-dropdowns{
                    width: auto;
                    margin: 0 7px;
                    .dropdown-open {
                        .dropdown-input{
                            border: 0;
                            padding: 0;
                            background: transparent;
                            width: 20px;
                            text-align: center;
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .heading-usecase{
            border-bottom: 1px solid $agentAccordionBorder;
            padding-bottom: 5px;
            .title-header{
                color: $primaryFontColor;
                letter-spacing: 0.714286px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 10px;
                line-height: 14px;
            }
        }
    }

    .agent-skills-table-data{
        margin: 10px 0;
        .skill-table-body-main-container{
            padding: 0 10px;
            .card_content{
                margin-bottom: 10px;
                // border: 1px solid $agentAccordionBorder;
                border: 0px;
                box-sizing: border-box;
                border-radius: 8px;
                &.inactive {
                    opacity: 0.5;
                    pointer-events: none;
                }
                .card_header{
                    .card_link{
                        position: relative;
                        cursor: pointer;                       
                        border-radius: 8px 8px 0px 0px;
                        background: $primaryBackgroundColor;                                              
                        &::before{
                            content: "";
                            width: 17px;
                            position: absolute;
                            background-size: 100%;
                            z-index: 9;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            left: 25px;
                            background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAYAAADU6McMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACFSURBVHgBndDLDUBAEAbgfwR1KEELinBwEgkHXehCwkGcJBShFW14BOu1B4lh/ZfZ3cx+yQyBS1FZWPQC/RQg9rqnNo0FZqPFLM6mqKm4KyESWEqErrNXBiIWiNxEvudNAo18DKNzH40+AS8QfQYYiJSAB+hYrAqwZeu7li2T1Tb+5Py3Am18WgQXb/6QAAAAAElFTkSuQmCC');
                        }
                        &.collapsed{
                            background: $whiteColor;
                            border-radius: 8px;
                            &:hover{
                                background: $primaryBackgroundColor;
                            }  
                            .accordion-content-header{
                                .agent-counts{
                                    display: block;
                                }
                                .new-skill-btn{
                                    display: none;
                                }
                            }
                            &::before{
                                width: 17px;
                                position: absolute;
                                background-size: 100%;
                                background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAYAAADU6McMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACJSURBVHgBndG7DYAgGATgA+MejuAKDmFhp6VTGNew0cZYWDiCqziHiSA/MT4iEPQqCHdfA0Bp+hh/cuy4vgThhHas8CXUp92J8C2BkLk3RD3qr2qnwq6HIYIIZnDWoUhrL6DMlifiAxmAN+KCLIAZMUEOwI7cIcYWSBnZAAq3IoUa6F9TZwdA2QEmZFlgV0J+mwAAAABJRU5ErkJggg==');
                                z-index: 9;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                left: 25px;
                            }
                        }
                        .accordion-content-header{
                            padding: 10px 30px 10px 58px;
                            align-items: center;                            
                            box-shadow: none;
                            min-height: 54px; 
                            background: var(--Gray-Modern-100, #EEF2F6);
                            box-sizing: border-box;
                            border-radius: 8px;
                            .team-with-profile{
                                padding: 0;
                                align-items: center;
                                .text-title{
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: #202124;
                                }
                            }
                            .agent-counts{
                                text-align: right;
                                padding: 0;
                                color: #5F6368;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 18px;
                                display: none;
                            }
                            .new-skill-btn{
                                text-align: right;
                                display: block;
                                button{
                                    padding: 0 10px;
                                    img{
                                        position: relative;
                                        top: -1px;
                                        margin-right: 8px;
                                    }
                                }                    
                            }
                        }
                    }
                }  
                
                
                .inner-accordion-table{
                    background: $primaryBackgroundColor;
                    padding: 0 10px 10px 10px;
                    border-radius: 0px 0px 8px 8px;                
                    .inner-accordion-table-header{
                        border-bottom: 0px solid rgba(167, 199, 221, 0.5);
                        padding: 10px 0;
                        background: rgba(168, 200, 221, 0.7);
                        .title {
                            color: $primaryFontColor;
                            letter-spacing: 0.714286px;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 14px;
                            padding: 0 10px;
                        }
                    }
                    .empty-state {
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        // display: flex;
                        align-items: center;
                        text-align: center;
                        color: #9AA0A6;
                        margin: 28px 0;
                    }
                    .inner-accordion-table-body{
                        align-items: center;
                        padding: 13px 0px;     
                        background: $whiteColor;
                        box-shadow: 0px 0px 6px rgba(168, 200, 221, 0.3); 
                        margin-bottom: 5px !important;
                        min-height: 60px;
                        position: relative;

                        &.sipDetails {
                            align-items: flex-start;
                        }
                        &.inactive {
                            opacity: 0.5;
                            pointer-events: none;
                        }
                        &:last-child{
                            margin: 0 !important;
                        }  
                        .phone-numbers{
                            display: flex;
                            align-items: center;
                            padding: 0 10px 0 48px;
                            .country-img{
                                img{
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                            .phone-number-text{
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 17px;
                                color: #000000;
                                padding-left: 12px;
                            }
                        } 
                        .type-data{
                            padding: 0 10px;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 15px;
                            color: #000000;
                            .type-name{
                                color: #000000;
                                font-size: 12px;
                                line-height: 15px;
                            }
                        }  
                        .attach-contact-flow{
                            padding: 0 10px;
                            .attch-flow-btn{
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                display: inline-block;
                                color:#3366ff;
                                cursor: pointer;
                            }
                            .attch-flow-text{
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 15px;
                                color: #000000;
                            }

                            .didnumbers {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 10px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .divider {
                                    flex: 1;
                                    border-top: 2px dashed #979797;
                                    margin: 0 10px;
                                }
                            }
                        }
                        .status-type{
                            text-align: center;
                            padding: 0 10px;
                            .status-box{
                                background: #E7F0FF;
                                border-radius: 4px;
                                width: 26px;
                                height: 26px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                color: #07377F;
                                font-size: 14px;
                                cursor: pointer;
                                display: none;
                                .icon-sa-round-check{
                                    display: none;
                                }
                                .no-flow{

                                }
                                &.status-completed{
                                    background: #EAF6EC;
                                    .icon-sa-time{
                                        display: none;
                                    }
                                    .icon-sa-round-check{
                                        display: block;
                                    }
                                    .no-flow{
                                        display: none;
                                    }
                                }
                            }
                        }  
                        .delete-type {
                            .delete-box {
                                cursor: pointer;
                                margin: auto;
                                width: 50%;
                                // padding: 10px;
                            }
                        }
                    }
                    .skills-loading {
                        display: flex;
                        justify-content: center;
                        padding-top: 40px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}

.elipse-action-dropdown{
    display: inline-block;                      
    height: 26px;
    width: 26px;
    background: transparent;
    box-shadow: none;
    margin: 0;
    text-align: center;
    // position: absolute;
    // right: 15px;
    cursor: pointer;
    &.show{
        .edit-elipse-btn{
            background: #E9EFF4;
        }
    }
    :hover{
        .edit-elipse-btn{
            background: #E9EFF4;
        }
    }
    .edit-elipse-btn {
        padding: 2px 10px;
        border-radius: 4px;
    }
    .dropdown-menu{
        min-width: 130px;
        max-width: 300px;
        position: absolute;
        will-change: transform;
        border-radius: 4px;
        box-shadow: 0px 10px 30px rgba(168, 200, 221, 0.25);
        border: 0;
        margin: 0;
        padding: 0;
        li{
            padding: 0;
            line-height: normal;
            font-size: 14px;
            cursor: pointer;
            a{
                font-size: 12px;
                color: $primaryFontColor;
                font-weight: normal;
                display: flex;
                align-items: center;
                line-height: normal;
                padding: 12px 10px;
                &:hover{
                    background: $bg-secondary-color;
                }
                img{
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}