
<div class="advanced-nlu-settings-wrapper">
    <div class="header-sec-top">
        <div class="main-heading">Advanced NLU Settings</div>
    </div>
    <div class="llm-genrative-wrapper">
        <perfect-scrollbar>
            <div class="scroll-inner-data">
                <div class="title-heading">LLM & generative aI<span class="beta-version">Beta</span></div>
                <div class="desc_text">Maximize your bot development and enhance your end-users' conversational experience with our latest features powered by cutting-edge technologies. Integrate pre-trained models seamlessly using our connectors and start exploring these new capabilities.</div>
                <div class="setup-integrations">
                    <div class="title-text">Integration Setup</div>
                    <div class="title-desc">Use any of the below connectors to enable the integration with LLM and Generative AI models. Integration is a pre-requisite to use these features.</div>
                    <div class="group-radiobutton">
                        <div class="kr-sg-radiobutton" (click)="openOpenAIConf()">
                            <input id="radio-22" name="radio" class="radio-custom" type="radio" checked>
                            <label for="radio-22" class="radio-custom-label">OpenAI</label>
                        </div>
                        <div class="kr-sg-radiobutton" (click)="openAzureConf()">
                            <input id="radio-23" name="radio" class="radio-custom" type="radio">
                            <label for="radio-23" class="radio-custom-label">Azure OpenAI</label>
                        </div>
                    </div> 
                    <div class="title-heading">Features List</div>
                    <div class="title-desc">Setup the integration and enable the features to start exploring the new features.</div>
                    <div class="features-list-info">
                        <label class="kr-sg-new-toggle large">
                            <input type="checkbox" checked (click)="openPolieGuidelines(policiesAndGuideLines)">
                            <div class="slider">
                                <span class="no">Disable</span>
                                <div class="slide-parent">
                                    <div class="slider-btn"></div>
                                </div>                                    
                                <span class="yes">Enable</span>
                            </div>
                        </label>
                        <div class="features-list-box-data">
                            <div class="kr-sg-checkbox">
                                <input id="checkbox-1" class="checkbox-custom" type="checkbox">
                                <label for="checkbox-1" class="checkbox-custom-label">
                                    <div class="checkbox-title">Training Utterance Suggestions</div>
                                    <div class="checkbox-desc">Generate high-quality training data quickly and easily with our platform's suggested utterances for each intent. Review and add the suggestions as needed to create a powerful training set for your bot.</div>
                                </label>
                            </div>
                            <div class="kr-sg-checkbox">
                                <input id="checkbox-11" class="checkbox-custom" type="checkbox">
                                <label for="checkbox-11" class="checkbox-custom-label">
                                    <div class="checkbox-title">None Intent Utterance Suggestions</div>
                                    <div class="checkbox-desc">None intent utterances are used to prevent false positives while doing intent recognition</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>



<app-slider-component id="openAIAndAzureConf" #openAIAndAzureConf='app-slider'>
    <ng-container *ngIf="azureConfig">
        <app-azure-config (closeEvent)="closeModal()"></app-azure-config>
    </ng-container>
    <ng-container *ngIf="aiConfig">
        <app-openai-config (closeEvent)="closeModal()"></app-openai-config>
    </ng-container>
</app-slider-component>



<ng-template #policiesAndGuideLines let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="closePolieGuidelines()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>