<div class="primary-checklist-data primary-checklist-data-isunified">
    <ng-container >
        <div class="search-data-input">
            <div class="kr-sg-input-inline-search">
                <input type="text" placeholder="Search" class="input-search" [formControl]="searchField">
                <i class="icon-sa-conv-search search-icon"></i>
            </div>
        </div>
        <div class='init-loading' *ngIf="loading">
            <mat-spinner diameter="25" strokeWidth="3"></mat-spinner>
        </div>
        <div *ngIf="primaryCheckList.length; else NoData" class="table-wrapper-checklist-scroll">
            <perfect-scrollbar (psYReachEnd)="onReachEnd($event)">
                <div class="inner-content-data">
                    <div class="content-scroll-data-checklist">
                        <div class="shadow-freeze w-24"></div>
                        <div class="header-table-checklist">
                            <div class="titles-data w-24">
                                <div class="title-header">name</div>
                            </div>
                            <div class="titles-data w-13">Actions</div>
                            <div class="titles-data w-17">Description</div>
                            <div class="titles-data w-17">Triggers for</div>
                            <div class="titles-data w-17">Last UPDATED</div>
                            <div class="titles-data w-12">STATUS</div>
                        </div>
                        <ng-container *ngFor="let checkList of primaryCheckList">
                            <div class="body-data-table-wrapper-cl-dyn">
                                <div class="cheklist1 w-24">
                                    <div class="title" [title]="checkList.name" placement="bottom-center" tooltipClass="tooltip-global-styles" ngbTooltip="{{checkList.name | titlecase}}" container="body">{{checkList.name | uppercase}}</div>
                                    <div class="voice-msg-icons">
                                        <i class="icon-sa-welcome-voice" placement="bottom-center" tooltipClass="tooltip-global-styles" ngbTooltip="voice" *ngIf="checkList.channels.includes('voice')"></i>
                                        <i class="icon-sa-welcome-chat" placement="bottom-center" tooltipClass="tooltip-global-styles" ngbTooltip="chat" *ngIf="checkList.channels.includes('chat')"></i>
                                    </div>
                                </div>
                                <div class="actions-info w-13">
                                    <button class="edit-btn" (click)="updateCl(checkList)">
                                        <i class="icon-sa-welcome-edit"></i>
                                    </button>
                                    <button class="delete-btn" (click)="openDeleteCl(checkList)">
                                        <i class="icon-sa-welcome-delete"></i>
                                    </button>
                                </div>
                                <div class="title-text w-17">{{checkList.description}}</div>
                                <div class="title-text w-17">All Agents</div>
                                <div class="title-text w-17">{{checkList.lModOn | date : 'MMM dd, yyyy h:mm a'}}</div>
                                <div class="last-updated-toggle w-12">
                                    <label class="kr-sg-toggle">
                                        <input type="checkbox"  [checked]="checkList.isActive" (click)="updateStatus(checkList)">
                                        <div class="slider"></div>
                                    </label>               
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </ng-container>
    <ng-template #NoData>
        <ng-container *ngIf="!searchField.value && !loading">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img [src]="emptyCheckingImg">
                    </div>
                    <div class="empty-title">Create your first guided checklist</div>
                    <div class="desc-text">Checklists allow agents to follow a guided path to success. <br/>Get started by creating your <span (click)="createChecklist();">first checklist</span></div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="searchField.value && !loading">
            <div class="empty-coaching-wrapper">
                <div class="empty-content">
                    <div class="img-block">
                        <img [src]="emptyCoachingImg">
                    </div>
                    <div class="empty-title">No Search Results found.</div>
                   
                </div>
            </div>
        </ng-container>
    </ng-template>
</div>