/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	--sdk-chat-custom--botMessage-bubbleColor:#F3F5F8; --sdk-chat-custom--botMessage-fontColor:#202124; --sdk-chat-custom--botMessage-borderColor:#F3F5F8; --sdk-chat-custom--buttons-defaultButtonColor:#0D6EFD; --sdk-chat-custom--buttons-defaultFontColor:#ffffff; --sdk-chat-custom--buttons-borderColor:#0D6EFD; --sdk-chat-custom--buttons-onHoverButtonColor:#0659d2; --sdk-chat-custom--buttons-onHoverFontColor:#ffffff; --sdk-chat-custom--generalAttributes-fontStyle:arial; --sdk-chat-custom--generalAttributes-bubbleShape:12px 12px 2px 12px; --sdk-chat-custom--generalAttributes-borderColor:#F3F5F8; --sdk-chat-custom--generalAttributes-backgroundColor:F3F5F8; --sdk-chat-custom--userMessage-bubbleColor:#0D6EFD; --sdk-chat-custom--userMessage-fontColor:#ffffff; --sdk-chat-custom--userMessage-borderColor:#0D6EFD; --sdk-chat-custom--widgetBody-backgroundColor:#ffffff; --sdk-chat-custom--widgetFooter-borderColor:#FFFFFF; --sdk-chat-custom--widgetFooter-fontColor:#262626; --sdk-chat-custom--widgetFooter-backgroundColor:#FFFFFF; --sdk-chat-custom--widgetFooter-placeHolderColor:#262626; --sdk-chat-custom--widgetHeader-backgroundColor:#0D6EFD; --sdk-chat-custom--widgetHeader-fontColor:#ffffff; --sdk-chat-custom--widgetHeader-borderColor:#e5e8ec;
}