::ng-deep app-checklist-create{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.checklist-creation-wrapper-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .heading-actions-block{
        background: #FFFFFF;
        border-bottom: 1px solid #F0F1F2;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        height: 60px;
        flex-shrink: 0;
        .left-content{
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 16px;
            .arrow-back{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                cursor: pointer;
                i{
                    transform: rotate(-90deg);
                }
            }
            .border-divider{
                background: var(--kore-grey-kore-grey-light-2, #F0F1F2);
                width: 1px;
                height: 22px;
                flex-shrink: 0;
            }
            .kr-sg-input-text{
                width: 320px;
            }
        }
        .middle-content{
            width: 100%;
            text-align: center;
            padding: 0 15px;
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: flex-start;
            gap: 30px;           
            .tags-info{
                padding: 10px;
                display: flex;
                gap: 6px;
                .tag-name{
                    padding: 2px 10px;
                    border-radius: 24px;
                    background: var(--primary-50, #EAF1FC);
                    color: var(--primary-500-main, #2B75E4);
                    text-align: center;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 120px;
                }
                .kr-sg-dropdowns {
                    width: auto;
                    .dropdown-open {
                        .dropdown-input{
                            border: 0;
                            padding: 0;
                            background: transparent;
                            line-height: normal;
                            height: auto;
                            color: var(--primary-500-main, #2B75E4);
                            text-align: center;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .btn-actions{
            flex-shrink: 0;
            display: flex;
            button{
                margin-left: 12px;
                &:first-child{
                    margin: 0;
                }
            }
            .settings-actions{
                border-radius: 8px;
                border: 1px solid var(--gray-300, #D0D5DD);
                background: var(--base-white, #FFF);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                width: 34px;
                height: 34px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: #202939;
                cursor: pointer;
            }
        }
    }
    .checklist-body-wrapper{
        flex: 1 1 auto;
        height: 100%;
        display: flex;
        overflow: auto;
        transition: 0.6s all ease;
        .check-list-data{
            width: 100%;  
            height: 100%;          
            .content-info-wrapper{
                width: 534px;
                margin: 0 auto;
                padding: 30px;
                height: 100%;
                .list-datachecked{
                    position: relative;
                    z-index: 1;
                    display: flex;
                    padding: 0px 10px 10px 10px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    border-radius: 10px;
                    background: var(--blue-light-50, #F0F9FF);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);                    
                    .check-list-title-block{
                        width: 100%;
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        transition: 0.3s all ease;
                        &:hover{
                            .hover-actions{
                                display: flex;                                
                            }
                        }
                        &.edit-mode-title{
                            .title{
                                display: none;
                            }
                            .add-title-input{
                                display: block;
                            }
                            .hover-actions{
                                display: flex;
                                .edit-title{
                                    display: none;
                                }
                                .check-item{
                                    display: flex;
                                }                                
                            }
                        }
                        .title{
                            color: var(--blue-light-700, #026AA2);
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                        }
                        .add-title-input{
                            display: none;
                            padding: 12px 14px;
                            align-self: stretch;
                            width: 100%;
                            height: 46px;
                            border-radius: 10px;
                            background: var(--kore-grey-kore-white, #FFF);
                            border: 1px solid transparent;                            
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            transition: 0.6s all ease;
                            color: var(--gray-900, #101828);
                            &::placeholder{
                                color: var(--gray-400, #98A2B3);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                            }
                            &:focus{
                                border: 1px solid var(--primary-400, #528BFF);
                                box-shadow: 0px 0px 0px 4px #E1E1FE;
                            }
                        }
                        .hover-actions{
                            display: none;
                            align-items: center;
                            gap: 5px;
                            flex-shrink: 0;
                            -webkit-animation-name: slideOutLeft;
                            animation-name: slideOutLeft;
                            -webkit-animation-duration: 1s;
                            animation-duration: 1s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;                            
                            .choose-bg-color-dropdown{
                                .dropdown-toggle{
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    padding: 3px;
                                    align-items: center;
                                    gap: 4px;
                                    border: 0;
                                    background: transparent;
                                    justify-content: center;
                                    border-radius: 6px;
                                    &::after{
                                        display: none;
                                    }
                                    span{
                                        background: var(--blue-light-50, #F0F9FF);
                                        border: 1px solid var(--blue-light-500, #0BA5EC);
                                        filter: drop-shadow(0px 2px 4px rgba(16, 24, 40, 0.06)) drop-shadow(0px 4px 8px rgba(16, 24, 40, 0.10));
                                        width: 12px;
                                        height: 12px;
                                        display: flex;
                                        border-radius: 100%;
                                        flex-shrink: 0;
                                    }
                                }
                                .dropdown-menu{
                                    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
                                    margin: 0;
                                    border: 0;                                    
                                    padding: 12px;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 10px;
                                    align-self: stretch;
                                    border-radius: 8px;
                                    width: 204px;
                                    &.show{
                                        display: flex;
                                    }
                                    .select-colors{
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 10px;
                                        .dropdown-item{
                                            display: flex;
                                            padding: 5px;
                                            align-items: center;
                                            gap: 8px;
                                            justify-content: center;
                                            width: 28px;
                                            height: 28px;
                                            border-radius: 6px;
                                            border: 1px solid transparent;
                                            background: #fff !important;
                                            cursor: pointer;
                                            transition: 0.3s all ease;
                                            &:hover{
                                                border: 1px solid var(--primary-500, #2970FF);
                                            }
                                            &.selected-color{
                                                border: 1px solid var(--primary-500, #2970FF);
                                            }
                                            span{
                                                width: 12px;
                                                height: 12px;
                                                border-radius: 6px;
                                                border: 1px solid var(--primary-500, #2970FF);
                                                flex-shrink: 0;
                                            }
                                        }
                                    }
                                }
                            }
                            .edit-title{
                                font-size: 10px;
                                color: #0BA5EC;
                                cursor: pointer;
                            }
                            .check-item{
                                display: none;
                                width: 20px;
                                height: 20px;
                                align-items: center;
                                justify-content: center;
                                background: #0BA5EC;
                                border-radius: 100%;
                                color: #fff;
                                font-size: 12px;
                                cursor: pointer;
                            }
                        }
                    }
                    .added-check-item{
                        width: 100%;
                        display: flex;
                        padding: 14px;
                        align-items: center;
                        gap: 4px;
                        align-self: stretch;
                        border-radius: 10px;
                        background: var(--kore-grey-kore-white, #FFF);
                        transition: 0.3s all ease;
                        border: 1px solid transparent;
                        cursor: pointer;
                        &.opened-step{
                            border: 1px solid var(--primary-400, #528BFF);
                        }
                        &:hover{
                            .drag-item{
                                visibility: visible;
                                opacity: 1;
                            }
                            .delete-item{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                        .drag-item{
                            cursor: grab;
                            flex-shrink: 0;
                            font-size: 10px;
                            width: 16px;
                            height: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            visibility: hidden;
                            transition: opacity .25s ease-in-out;
                            opacity: 0;
                            color: #2B75E4;
                        }
                        .content-info{
                            width: 100%;
                            .title{
                                color: var(--gray-900, #101828);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                margin-bottom: 4px;
                            }
                            .desc-text{
                                color: var(--gray-500, #667085);
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .tags-info{
                                display: flex;
                                flex-wrap: wrap;
                                gap: 6px;
                                margin-top: 4px;
                                .tag_name{
                                    border-radius: 16px;
                                    background: var(--success-50, #ECFDF3);
                                    display: flex;
                                    padding: 2px 10px 2px 8px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 4px;
                                    color: var(--success-700, #027A48);
                                    text-align: center;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    min-height: 24px;
                                    i{
                                        font-size: 12px
                                    }
                                }
                            }
                        }
                        .delete-item{
                            @extend .drag-item;
                            font-size: 12px;
                            cursor: pointer;
                            color: #DD3646;
                            visibility: hidden;
                            transition: opacity .25s ease-in-out;
                            opacity: 0;
                        }
                    }
                    .new-step-add{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        transition: 0.3s all ease;
                        -webkit-animation-name: slideOutDown;
                        animation-name: slideOutDown;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        &:hover{
                            .drag-item{
                                display: flex;
                            }
                            .delete-item{
                                display: flex;
                            }
                            
                            input{
                                padding-left: 30px;
                                padding-right: 30px;
                            }
                        }
                        .drag-item{
                            position: absolute;
                            left: 12px;
                            cursor: grab;
                            flex-shrink: 0;
                            font-size: 10px;
                            width: 16px;
                            height: 16px;
                            align-items: center;
                            justify-content: center;
                            color: #2B75E4;
                            display: none;
                        }
                        input{
                            padding: 12px 14px;
                            align-self: stretch;
                            width: 100%;
                            height: 46px;
                            border-radius: 10px;
                            background: var(--kore-grey-kore-white, #FFF);
                            border: 1px solid transparent;                            
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            transition: 0.6s all ease;
                            color: var(--gray-900, #101828);
                            &::placeholder{
                                color: var(--gray-400, #98A2B3);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                            }
                            &:focus{
                                border: 1px solid var(--primary-400, #528BFF);
                                box-shadow: 0px 0px 0px 4px #E1E1FE;
                            }
                        }
                        .delete-item{
                            position: absolute;
                            right: 12px;
                            font-size: 12px;
                            cursor: pointer;
                            color: #DD3646;
                            flex-shrink: 0;
                            width: 16px;
                            height: 16px;
                            display: none;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .add-step{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button{
                            display: flex;
                            padding: 6px 0px;
                            justify-content: center;
                            align-items: center;
                            gap: 6px;
                            border: 0;
                            background: transparent;
                            color: var(--primary-500-main, #2B75E4);
                            text-align: center;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            cursor: pointer;
                        }
                    }
                }
                .add-stage-block{
                    opacity: 0.5;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 4px;
                    .line-block{
                        width: 100%;
                        background: #B2CCFF;
                        height: 1px;
                    }
                    button{
                        display: flex;
                        padding: 6px 0px;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        border: 0;
                        background: transparent;
                        color: var(--primary-500-main, #2B75E4);
                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        cursor: pointer;
                        flex-shrink: 0;
                    }
                }
                .add-stage-block:hover{
                    opacity: unset !important;
                }
            }
        }
    }
}






::ng-deep .more-dropdown-tags{
    background: rgb(255, 255, 255);
    box-shadow: rgba(16, 24, 40, 0.08) 0px 12px 16px -4px, rgba(16, 24, 40, 0.03) 0px 4px 6px -2px;
    border-radius: 8px;
    margin: 0px;
    border: 0px;
    padding: 4px;
    li{
        padding: 10px !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #101828;
        display: flex;
        align-items: center;
        cursor: pointer;
        span{
            color: var(--primary-500-main, #2B75E4);
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }
        &:hover{
            background: #F9FAFB;
        }
        &:focus{
            background: #F9FAFB !important;
            color: #101828 !important;
        }
        &:active{
            background: #F9FAFB !important;
            color: #101828 !important;
        }
    }
}



@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}