<div class="checklist-creation-wrapper-container">
  <div class="heading-actions-block">
    <div class="left-content">
      <div class="arrow-back" (click)="closeCheckListScreen()">
        <i class="icon-coaching--left-arrow"></i>
      </div>
      <div class="border-divider"></div>
      <div class="kr-sg-input-text">
        <!-- [formControl]="name" -->
        <input type="text" maxlength="100" placeholder="new playbook" class="input-text"
          [(ngModel)]="currentCheckList.name" disabled />
      </div>
    </div>
    <div class="middle-content">
      <div class="tags-info" *ngIf="currentCheckList.tags?.length">
        <span class="tag-name">{{currentCheckList.tags[0].name}}</span>
        <div class="kr-sg-dropdowns" ngbDropdown container="body" *ngIf="currentCheckList.tags?.length > 1">
          <div class="dropdown dropdown-open">
            <button class="dropdown-toggle dropdown-input before-none"
              ngbDropdownToggle>+{{currentCheckList.tags?.length - 1}} More
            </button>
            <ul class="dropdown-menu content-menu more-dropdown-tags" ngbDropdownMenu>
              <ng-container *ngFor="let tag of currentCheckList.tags.slice(1, currentCheckList.tags.length)">
                <li ngbDropdownItem class="p-0">
                  <span class="mx-w-100">{{tag.name}}</span>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="channels-info" *ngIf="currentCheckList.channels?.length > 0">
        <span class="title">Channels</span>
        <button class="speak-chat-icon" *ngIf="currentCheckList.channels?.indexOf('voice') >=0">
            <i class="icon-sa-welcome-voice" ngbTooltip ="voice"></i>
        </button>
        <button class="speak-chat-icon" *ngIf="currentCheckList.channels?.indexOf('chat') >= 0">
            <i class="icon-sa-message"  ngbTooltip ="chat"></i>
        </button>
      </div>
      

    </div>
    <!-- <i class="icon-sa-settings"></i> -->
    <!-- <button class="kr-sg-button-secondary-two btn_lg">Publish</button> -->
    
    <!-- <div class="btn-actions">
      <button class="settings-actions kr-sg-button-secondary" (click)="openSettings()">
        Settings
      </button>
      <button class="kr-sg-button-primary btn_lg" (click)="closeCheckListScreen()">Done</button>
    </div> -->

    <div class="btn-actions">
      <button class="settings-actions" (click)="openSettings()">
          <i class="icon-sa-settings"></i>
      </button>
      <button class="kr-sg-button-secondary btn_lg" (click)="closeCheckListScreen()">Cancel</button>
      <!-- <button class="kr-sg-button-secondary-two btn_lg">Publish</button> -->
      <button class="kr-sg-button-primary btn_lg" (click)="closeCheckListScreen()">Done</button>
  </div>

  </div>
  <div class="checklist-body-wrapper">
    <div class="check-list-data">
      <perfect-scrollbar>
        <div class="content-info-wrapper">
          <ng-container *ngFor="let item of stages; let i = index">
            <div class="list-datachecked" [ngStyle]="{ background: item.color }">
              <div class="check-list-title-block" [ngClass]="{ 'edit-mode-title': item.edit || item.isNew }">
                <div class="title">{{ item.name }}</div>
                <div class="kr-sg-checkbox">
                  <input id="checkbox-42" class="checkbox-custom" type="checkbox">
                  <label for="checkbox-42" class="checkbox-custom-label">Set as close stage</label>
                </div>    
                <input type="text" [(ngModel)]="item.runTimeName" (keyup.enter)="saveStage(item)" class="add-title-input" placeholder="New group" />
                <div class="hover-actions">
                  <!-- <div class="choose-bg-color-dropdown" ngbDropdown>
                    <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>
                      <span></span>
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <div class="select-colors">
                        <ng-container *ngFor="let color of checklistConst | keyvalue">
                          <li ngbDropdownItem [ngClass]="{
                              'selected-color': color.value === item.color
                            }" (click)="
                              item.color = color.value; colorUpdate(item)
                            ">
                            <span [ngStyle]="{ border: '1px solid ' + color.key }"></span>
                          </li>
                        </ng-container>
                      </div>
                    </ul>
                  </div> -->
                  <div class="edit-title" *ngIf="!item.isDefault">
                    <i class="icon-sa-welcome-edit" (click)="editStage(item)"></i>
                  </div>
                  <div class="delete-item" *ngIf="!item.isDefault" (click)="deleteStage(i);$event.stopPropagation()">
                    <i class="icon-sa-welcome-delete"></i>
                  </div>
                  <div class="check-item" (click)="saveStage(item)" [ngClass]="{'disabled': !item.runTimeName}">
                    <i class="icon-coaching--check"></i>
                  </div>
                </div>
              </div>
              <div class="example-list" cdkDropList (cdkDropListDropped)="drop($event, i)">
                <div class="example-box"  *ngFor="let step of item.steps; let si = index" cdkDrag>
                <!-- <ng-container > -->
                  <div class="added-check-item" (click)="openEditStep(item, step, i, si)">
                    <div class="drag-item" cdkDragHandle>
                      <i class="icon-coaching--move1"></i>
                    </div>
                    <div class="content-info">
                      <div class="title">{{ step.name }}</div>
                      <div class="desc-text">{{ step.description }}</div>
                      <div class="tags-info">
                        <div class="tag_name" *ngIf="step?.isAdherenceActive">
                          <i class="icon-coaching--adherence-set"></i>
                          <span>{{step.adherence?.type | titlecase}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="delete-item" (click)="deleteStep(i, si, step, item);$event.stopPropagation()">
                      <i class="icon-sa-welcome-delete"></i>
                    </div>
                  </div>
                <!-- </ng-container> -->
                </div>
              </div>
              <!-- </div> -->
              <ng-container *ngIf="item.newStep">
                <div class="new-step-add">
                  <div class="drag-item">
                    <i class="icon-coaching--move1"></i>
                  </div>
                  <input type="text" placeholder="New Step" />
                  <div class="delete-item">
                    <i class="icon-sa-welcome-delete"></i>
                  </div>
                </div>
              </ng-container>
              <div class="add-step">
                <button [disabled]="!item.name" [ngClass]="{'disabled': !item.name}"
                  (click)="item.newStep = true; stepCreate(item, i)">
                  <i class="icon-coaching--plus"></i>
                  <span>Add Step</span>
                </button>
              </div>
            </div>

            <div class="add-stage-block">
              <!-- <div class="line-block"></div> -->
              <!-- <button (click)="addStages(i)">
                <i class="icon-coaching--plus"></i>
                <span>Add Stage</span>
              </button> -->
              <div></div>
            </div>
            
          </ng-container>
          <ng-container *ngIf="stages?.length === 0">
            <div class="add-stage-block">
              <div class="line-block"></div>
              <button (click)="addStages(i)">
                <i class="icon-coaching--plus"></i>
                <span>Add Stage</span>
              </button>
              <div class="line-block"></div>
            </div>
          </ng-container>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
<app-slider-component id="checklistCreate" #checklistCreateSlider="app-slider">
  <app-create-checklist *ngIf="isCheckListOpen" [createOrUpdate]="isCheckListCreateOrUpdate"
    [checkListForm]="checkListForm" [checkListType]="checkListType" (closeE)="close()"
    (saveEvent)="saveCheckList($event)" (closeChecklist)="dismisCheckList($event)" [currentCheckList]="currentCheckList"
    [allTagList]="allTagList">
  </app-create-checklist>
</app-slider-component>
<app-slider-component id="stepCreate" #stepCreateSlider="app-slider">
  <app-step-create *ngIf="isStepOpen" [stepForm]="stepForm" (closeE)="closeStep($event)" (saveStep)="saveStep($event)"
    [createOrUpdateStep]="createOrUpdateStep" (updateStep)="updateStep($event)">
  </app-step-create>
</app-slider-component>