<div class="incommingTabContent" [class.processing]="removingPhonenumber" *ngIf="!loading" [@fadeInAnimation]>
    <div class="helpInfo" *ngIf="!isConfigured">
        <div class="infoImg"><img src="assets/icons/deployment-icons/Info.svg" class="info"></div>
        <div class="infoText">{{'SETTINGS.INSETUP_REQUIRED' | translate}}</div>
    </div>
    <div class="incomingDiv">
        <div class="incomingImg"><img src="assets/icons/deployment-icons/incoming-call.svg" class="incoming-call"></div>
        <div class="incomingDetails">
            <p class="headTitle">{{'SETTINGS.INCOMING_CALLS' | translate}}</p>
            <p class="desc">{{'SETTINGS.IC_DESC' | translate}}</p>
        </div>
    </div>
    <div class="sliderTabs" [class.disabled]="workflowService.appState === 'published'">
        <div class="sliderTab mr-10" [class.active-tab]="incomingSetup.type === 'phoneNumber' && isConfigured" [class.disabled]="workflowService.onPremise" (click)="openPhSlider()">
            <p class="iconHead"><img src="assets/icons/deployment-icons/number-pad.svg" class="number-pad">{{'SETTINGS.CALL_PHONE_NUMBER' | translate}} <span class="selected-number">{{incomingSetup.phoneNumberConfigDetails.phoneNumber}}</span></p>
            <p class="sliderDesc">{{'SETTINGS.CPN_DESC' | translate}} </p>
            <img src="assets/icons/deployment-icons/edit-black.svg" class="edit-tab">
        </div>
        <div class="sliderTab" [class.active-tab]="incomingSetup.type === 'IVR' && isConfigured" (click)="removePhoneNumber()">
            <p class="iconHead"><img src="assets/icons/deployment-icons/voice-id.svg" class="voice-id"> {{'SETTINGS.TRANSFER_FROM_IVR' | translate}} <span class="selected-number">{{incomingSetup.sipDomainConfigDetails.didNumber.length ? ': ' +  incomingSetup.sipDomainConfigDetails.sipURI: ''}}</span></p>
            <p class="sliderDesc"> {{'SETTINGS.TFI_DESC' | translate}}</p>
            <img src="assets/icons/deployment-icons/edit-black.svg" class="edit-tab">
        </div>
    </div>  
</div> 

<div class="please-wait-all" *ngIf="loading" [@fadeInAnimation] [@fadeInOutAnimation]>
    <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
    <span class="please-wait-message">{{'NOTIFY.PLEASE_WAIT' | translate}}</span>
</div>


<!-- <app-slider-component id="incomingPhNumber" #incomingPhNumberSlider='app-slider'>
    <app-phone-number *ngIf="showIncomingPhNumberSlider" [selectedPhonenumber]="incomingSetup.phoneNumberConfigDetails" (closed)="closePhSlider($event)"></app-phone-number>
</app-slider-component> -->

<app-slider-component id="incomingIVR" #incomingIVRSlider='app-slider'>
    <app-ivr *ngIf="showIncomingIVRSlider" [model]="ivrData" (closed)="closeIVRSlider($event)" [incomingSetup]="incomingSetup"></app-ivr>
</app-slider-component>