@import './../../../scss/variables/variables.scss';


.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px 20px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;                
            }
            img{
                cursor: pointer;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);            
    }  
        
    .body-sec-data{
        padding: 30px 70px;
        .type-skill-name-block{  
            position: relative;              
            background: $whiteColor;
            box-shadow: 0px 0px 6px rgba(168, 200, 221, 0.3);
            padding: 22px 20px;                
            .kr-sg-dropdowns{
                .dropdown-open {
                    .dropdown-input{
                        &::before{
                            display: none !important;
                        }
                    }
                }
                .kr-sg-input-inline-search{
                    .search-with-dropdown{
                        position: absolute;
                        border: 0;
                    }
                    input{
                        height: 34px;
                        padding-left: 10px;
                        padding-right: 30px;                        
                    }
                    .search-icon{
                        top: 10px;
                        width: auto;
                        height: auto;
                        left: auto;
                        right: 8px;
                    }
                }                            
                ul{     
                    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.12);        
                    li{
                        position: relative;                                                                                                      
                    }
                }
                perfect-scrollbar{
                    max-height: 280px;
                    .adjust-scroll-height{
                        max-height: 280px;
                    }
                }
            }  
        }
        .language-support-table-data{
            .table-header-sec{                
                padding: 10px 0;
                margin: 0;           
                .header-title{
                    color: $primaryFontColor;
                    letter-spacing: 0.714286px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 14px;
                }
            }
            .table-body-sec{
                padding: 15px 0;
                margin: 0 0 5px 0;
                align-items: center;
                background: $whiteColor;
                box-shadow: 0px 0px 6px rgb(168 200 221 / 30%);
                min-height: 80px;
                &:last-child{
                    margin: 0 !important;
                }
                .language-data{
                    display: flex;
                    align-items: center;
                    .kr-sg-checkbox {
                        .checkbox-custom {
                            + .checkbox-custom-label{
                                &::before{
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }
                    .language-names{
                        padding-left: 6px;
                        .l-name{
                            color: $primaryFontColor;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            margin-bottom: 4px;
                        }                
                    }
                }
                .profiency_level{
                    display: flex;
                    align-items: center;            
                    .delete-profiency{
                        position: absolute;
                        right: 20px;
                        top: 7px;
                        cursor: pointer;
                    }
                    .level-type{
                        text-align: center;
                        display: flex;
                        align-items: center;
                        position: relative;
                        cursor: pointer;
                        background: $bg-secondary-color;
                        border-radius: 2px;
                        padding: 8px 10px;
                        color: $primaryFontColor;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        margin-right: 10px;
                        cursor: pointer;
                        &.disabled_{
                            opacity: 0.3;
                            pointer-events: none;
                        }
                        img{
                            margin-left: 10px;
                            width: 14px;
                            height: 10px;
                            &.tik-white{
                                display: none;
                            }
                            &.tik-blue{
                                visibility: hidden;
                            }
                        }                
                        &:hover{
                            img{
                                &.tik-white{
                                    display: none;
                                }
                                &.tik-blue{
                                    display: block;
                                    visibility: visible;
                                }
                            } 
                        }
                        &.active-type{                    
                            background: $primaryActionColor;
                            color: $whiteColor;    
                            img{
                                &.tik-blue{
                                    display: none;
                                }
                                &.tik-white{
                                    display: block;
                                }
                            }    
                            &:hover{
                                img{
                                    &.tik-blue{
                                        display: none;
                                    }
                                    &.tik-white{
                                        display: block;
                                    }
                                } 
                            }        
                        }               
                    }
                }
            }
        }   
    }

    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
}        