<div class="slider-sec-data">
    <form #newHoursOperationForm="ngForm">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img (click)="close()" src="assets/icons/agent-settings/arrow-back.svg">
                <div class="main-title">{{"AGENTS.LANGUAGE" | translate}}</div>
            </div>
            <div class="close-link col-4 p-0"><img src="assets/images/close.svg" (click)="close()"></div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="body-sec-data">
                <div class="language-support-table-data">
                    <div class="col-12 row table-header-sec">
                        <div class="col-4 header-title">{{"AGENTS.LANGUAGE" | translate}}</div>
                        <div class="col-8 header-title">{{"AGENTSETTINGS.ACCESS_TO" | translate}}</div>
                    </div>                                                      
                    <div class="col-12 row table-body-sec" *ngFor="let selectedLang of selectedLanguageList; let i=index">
                        <div class="col-4 language-data">
                            <div class="kr-sg-checkbox m-0 p-0">
                                <input [id]="'checkbox-'+i" class="checkbox-custom" type="checkbox" [name]="'checkbox-'+i" [(ngModel)]="selectedLang.isActive">
                                <label [for]="'checkbox-'+i" class="checkbox-custom-label"></label>
                            </div>
                            <div class="language-names">
                                <div class="l-name">{{selectedLang?.name}}</div>                                            
                            </div>
                        </div>
                        <div class="col-8 profiency_level">
                            <div class="level-type" [ngClass]="{'active-type':selectedLang.accessLevel.agent, 'disabled_': !selectedLang.isActive}" (click)="selectedLang.accessLevel.agent = !selectedLang.accessLevel.agent">{{"SKILLS.AGENT" | translate}}
                                <img class="tik-blue" src="assets/icons/agent-settings/tik-blue.svg">
                                <img class="tik-white" src="assets/icons/agent-settings/tik-white.svg">
                            </div>
                            <div class="level-type" [ngClass]="{'active-type':selectedLang.accessLevel.callAutomation, 'disabled_': !selectedLang.isActive}" (click)="selectedLang.accessLevel.callAutomation = !selectedLang.accessLevel.callAutomation">{{"AGENTSETTINGS.CALL_AUTOMATION" | translate}}
                                <img class="tik-blue" src="assets/icons/agent-settings/tik-blue.svg">
                                <img class="tik-white" src="assets/icons/agent-settings/tik-white.svg">
                            </div>
                            <div class="level-type" [ngClass]="{'active-type':selectedLang.accessLevel.chatAutomation, 'disabled_': !selectedLang.isActive}" (click)="selectedLang.accessLevel.chatAutomation = !selectedLang.accessLevel.chatAutomation">{{"AGENTSETTINGS.CHAT_AUTOMATION" | translate}}
                                <img class="tik-blue" src="assets/icons/agent-settings/tik-blue.svg">
                                <img class="tik-white" src="assets/icons/agent-settings/tik-white.svg">
                            </div>   
                            <div class="delete-profiency" *hasPermission="['LANGUAGE_SETTINGS_FULL']">
                                <img (click)="deleteLang(selectedLang, i)" src="assets/icons/settings/delete.svg">
                            </div>                                     
                        </div>                                                                 
                    </div>
                </div>

                <div class="type-skill-name-block">
                    <div class="kr-sg-dropdowns col-6 p-0">                                       
                        <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                            <button class="dropdown-toggle dropdown-input search-with-dropdown" data-bs-toggle="dropdown">{{selectedLanguage}}</button>    
                            <input type="text" #langSearchTerm (keyup.enter)="onEnter($event.target.value); langSearchTerm.value = selectedLanguage;" (input)="langSearchTerm.value = $event.target.value" value="{{selectedLanguage}}" (focus)="showLangSearchDropdown = true" class="input-search dropdown-toggle dropdown-input" autocomplete="chrome-off" [placeholder]="'AGENTSETTINGS.SEARCH_LANG_PLACEHOLDER' | translate">                                                                                                       
                            <ul class="dropdown-menu content-menu" [class.show]="showLangSearchDropdown">
                                <perfect-scrollbar class="country-code-perfect-scroll">
                                    <ng-container *ngIf="languagesList && languagesList.length; else langElseBlock">
                                        <li (click)="onLanguageSelect(language); langSearchTerm.value = selectedLanguage;" *ngFor="let language of languagesList | filter: [ langSearchTerm.value, 'name']"><a>{{language?.name}}</a></li>
                                    </ng-container>
                                    <ng-template #langElseBlock>
                                        <li><a>{{"AGENTSETTINGS.NO_LANGUAGES" | translate }}</a></li>
                                    </ng-template>
                                </perfect-scrollbar>
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
        <div class="footer-sec" *hasPermission="['LANGUAGE_SETTINGS_FULL']">
            <button (click)="saveLanguages()" [disabled]="disableSave()" class="kr-sg-button-primary btn_lg" type="submit">{{"BUTTONS.SAVE" | translate}} </button>
        </div>
    </form>

</div>
