<div class="slider-sec-data">
    <form #newAgentForm="ngForm" [ngClass]="{'submitted' : submitted}">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img src="assets/icons/agent/new-agent.svg">
                <div class="main-title">{{modalTitle}}
                    <span *ngIf="selectedAgentGrp?.name" class="small-text">| {{selectedAgentGrp?.name}} </span>
                    <span class="small-text" *ngIf="!selectedAgentGrp?.name">| {{"NEW.AGENT.NO_GROUP" | translate}}</span>
                </div>
            </div>
            <ng-container *hasPermission="['admin']">
                <div *ngIf="isEditMode && ( (this.currentAccUser === agent.emailId) && selectedAgent?.role == 'manager') ? false : true" (click)="deleteAgent()" class="delete-agent">
                    <img src="assets/icons/settings/delete.svg">{{ "AGENTS.DELETE_AGENT" | translate }}
                 </div>
            </ng-container>
            <div class="close-link col-4 p-0"><img src="assets/images/close.svg"  (click)="close(false)"></div>
        </div>
        <perfect-scrollbar class="scroll-content">

            <div class="add-new-agent-container">
                <ul class="nav nav-tabs" role="tablist">
                    <li><div class="tab-name active" data-toggle="tab" href="#agentprofile"><img src="assets/icons/agent/agent-blue.svg" class="call-inactive"><img src="assets/icons/agent/agent-blue.svg" class="call-active">{{ "AGENTS.AGENT_PROFILE" | translate}}</div></li>
                    <li><div class="tab-name" data-toggle="tab" href="#chat"><img src="assets/icons/comment-active.svg" class="chat-active"><img src="assets/icons/comment-inactive.svg" class="chat-inactive">{{"AGENTS.CHAT_SUPPORT" | translate}}</div></li>  
                    <li><div class="tab-name" data-toggle="tab" href="#voice"><img src="assets/icons/agent/voice.svg" class="call-inactive"><img src="assets/icons/agent/voice.svg" class="call-active">{{"AGENTS.VOICE_SUPPORT" | translate}}</div></li>       
                    <li><div class="tab-name" data-toggle="tab" href="#skill"><img src="assets/icons/agent/skill.svg" class="chat-active"><img src="assets/icons/agent/skill.svg" class="chat-inactive">{{"NAV.SKILLS" | translate}}</div></li>                            
                    <!-- <div *ngIf="isEditMode" class="delete-agent" (click)="deleteAgent()"><img src="assets/icons/settings/delete.svg">{{"AGENTS.DELETE_AGENT" | translate}}</div> -->
                </ul>            
                <div class="tab-content">
                    <div id="agentprofile" class="tab-pane fade show active">
                        <div class="agent-profile-data col-12 row m-0">
                            <div class="profile-upload-sec">
                                <div class="uploaded-profile-picture">
                                    <img *ngIf="profileImg" [src]="profileImg ? profileImg : 'assets/icons/agent/no-user.svg'">
                                    <img *ngIf="!profileImg" [src]="agent?.profImage !== 'no-avatar' ? agent?.profImage : 'assets/icons/agent/no-user.svg'">
                                </div>
                                <div class="shadow-background">
                                    <div class="image-upload">
                                        <label for="file-input">
                                            <img src="assets/icons/agent/edit-white.svg">
                                        </label>                                
                                        <input id="file-input" type="file" name="agentProfileUpload" #agentProfileUpload (change)="onProfileChange(agentProfileUpload.files[0])"/>
                                        <img src="assets/icons/agent/delete-white.svg" (click)="deleteImg()" class="delete-user-icon">
                                    </div> 
                                </div>
                                                               
                            </div>
                            <div class="right-sec row col-12 m-0">
                                <div class="agent-data-inputs row col-12 p-0">
                                    <div class="kr-sg-input-text col-6 pl-0">
                                        <div class="label-text">{{"COMMON.FIRST_NAME" | translate}}</div>
                                        <input type="text" [placeholder]="'PLACEHOLDERS.ENTER_FIRST_NAME' | translate" [(ngModel)]="agent.firstName" name="firstName" #firstName="ngModel" required class="input-text">
                                        <div class="error-message" *ngIf="firstName?.invalid && firstName?.touched">
                                            {{ "PLACEHOLDERS.PLS_ENTER_FIRST_NAME" | translate }}
                                        </div>
                                    </div>
                                    <div class="kr-sg-input-text col-6 pr-0">
                                        <div class="label-text">{{"COMMON.LAST_NAME" | translate}}</div>
                                        <input type="text" [placeholder]="'PLACEHOLDERS.ENTER_LAST_NAME' | translate" [(ngModel)]="agent.lastName" name="lastName" #lastName="ngModel" required class="input-text">
                                        <div class="error-message" *ngIf="lastName?.invalid && lastName?.touched">
                                            {{ "PLACEHOLDERS.PLS_ENTER_LAST_NAME" | translate }}
                                        </div>
                                    </div>                               
                                </div>
    
                                <div class="agent-data-inputs col-12 row p-0">
                                    <div class="kr-sg-input-text col-6 pl-0">
                                        <!-- <div class=""> -->
                                            <div class="label-text">{{"COMMON.NICK_NAME" | translate}}</div>
                                            <input type="text" [placeholder]="'PLACEHOLDERS.ENTER_NICK_NAME' | translate" [(ngModel)]="agent.nickName" name="nickName" class="input-text">
                                        <!-- </div> -->
                                    </div>

                                    <div class="kr-sg-dropdowns col-6 pr-0">
                                        <div class="label-text">{{"AGENTS.ROLE" | translate}}</div>
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input" [ngClass]="{'error' : (submitted && !agent?.roleId)}" data-toggle="dropdown" [disabled]="(selectedAgentGrp?.isDefault && selectedAgent?.role == 'manager')">{{selectedRole || "COMMON.CHOOSE_OPTION" | translate}}</button>                                            
                                            <ul class="dropdown-menu content-menu">
                                                <perfect-scrollbar class="country-code-perfect-scroll">
                                                    <li *ngFor="let role of roles" (click)="onRoleSelect(role)"><a>{{role?.role}}</a></li>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="agent-data-inputs col-12 row p-0">
                                    <div class="kr-sg-input-text col-6 pl-0">
                                        <div class="label-text">{{"COMMON.PHONE_NUMBER" | translate}}</div>
                                        <input type="text" [placeholder]="'PLACEHOLDERS.ENTER_PHONE_NUMBER' | translate" [(ngModel)]="agent.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" minlength="10" maxlength="14" required (keypress)="isNumber($event)" class="input-text">
                                        <div class="error-message" *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
                                            {{ "PLACEHOLDERS.PLS_ENTER_VALID_PHONENUM" | translate }}
                                        </div>
                                    </div>
                                    <div class="kr-sg-input-text col-6 pr-0">
                                        <div class="label-text">{{"COMMON.EMAIL_ID" | translate}}</div>
                                        <input type="email" [disabled]="isEditMode" [placeholder]="'PLACEHOLDERS.ENTER_EMAIL' | translate" [(ngModel)]="agent.emailId" name="emailId" #emailId="ngModel" email required class="input-text">
                                        <div class="error-message" *ngIf="emailId?.invalid && emailId?.touched">
                                            {{ "PLACEHOLDERS.PLS_ENTER_VALID_EMAIlID" | translate }}
                                        </div>
                                    </div>
                                </div>
    
                                <div class="agent-data-inputs col-12 row p-0">                                
    
                                    <div class="kr-sg-dropdowns col-6 pl-0">
                                        <div class="label-text">{{"AGENTS.GROUP" | translate}}</div>
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input" [ngClass]="{'error' : (submitted && !agent?.agentGroupId)}" data-toggle="dropdown">{{selectedGroup || "COMMON.CHOOSE_OPTION" | translate}}</button>                                            
                                            <ul class="dropdown-menu content-menu">
                                                <perfect-scrollbar class="country-code-perfect-scroll">
                                                    <li *ngFor="let agentGP of agentGroups" (click)="onGroupSelect(agentGP)"><a>{{agentGP?.name}}</a></li>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>
                                    </div>
    
                                    <div class="kr-sg-dropdowns col-6 pr-0">
                                        <div class="label-text">{{"AGENTS.HOURS_OPERATION" | translate}}</div>
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input" [ngClass]="{'error' : (submitted && !agent?.hoursOfOperationId)}" data-toggle="dropdown">{{selectedHoursOperation || "COMMON.CHOOSE_OPTION" | translate}}</button>                                            
                                            <ul class="dropdown-menu content-menu">
                                                <perfect-scrollbar class="country-code-perfect-scroll">
                                                    <li *ngFor="let hourOperation of hoursOperationList" (click)="onHoursOperationSelect(hourOperation)"><a>{{hourOperation?.name}}</a></li>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="agent-afinity d-flex align-items-center mt-3">
                            <div class="agent-afinity-title mr-3">{{"AGENTS.AFFINITY" | translate}}</div>
                            <label class="kr-sg-toggle">                                       
                                <input type="checkbox" [(ngModel)]="agent.agentAffinity" name="agentAffinity" checked>
                                <div class="slider"></div>
                            </label>
                        </div>
                        <div class="info-text-enable">{{"AGENTS.AFFINITY_DESC" | translate}} </div>
                       
                    </div>
                    <div id="chat" class="tab-pane fade">
                        <div class="chat-agent-container">

                            <div class="d-flex chat-support-enable-disable">
                                <div class="label-text mb-0 mr-4">{{"AGENTS.CHAT_SUPPORT" | translate}} </div>
                                <label class="kr-sg-toggle">                                       
                                    <input type="checkbox" [(ngModel)]="agent.canSupportChat" (change)="onChatSupportChange()" name="canSupportChat" checked>
                                    <div class="slider"></div>
                                </label>
                            </div>
            
                            <div class="skill-points-sec">
                                <div class="label-text">{{"AGENTS.MAX_CHATS" | translate}}</div>
                                <div class="row col-6 p-0 m-0 d-flex">
                                    <div class="kr-sg-input-text">                        
                                        <input type="number" min="1" max="100" [(ngModel)]="agent.maxChatSupport" name="maxChatSupport" class="input-text">                                
                                    </div>
                                    <!-- <div class="skill-points-range"> -->
                                        <div class="skill_range_slider">
                                            <div class="rang-number-title">1</div>
                                            <div class="skill-points-range">
                                                <mat-slider min="1" max="100" step="1" [(ngModel)]="agent.maxChatSupport" name="maxChatSupport" class="mat-slider-skills"></mat-slider>
                                            </div>
                                            <div class="rang-number-title">100</div>
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <div class="info-skill-text col-12 pl-0 pr-2">{{"AGENTS.MAX_CHATS_DESC" | translate}}</div>
                            </div>
            
            
                            <div class="language-support-table-data">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="title">{{"AGENTS.LANGUAGE_SUPPORT" | translate}}</div>
                                    <div class="lang-info">{{"AGENTS.LANGUAGE_SUPPORT_DESC" | translate}} <a [routerLink]="['/config/languages']">{{"NAV.SETTINGS" | translate}} > {{"AGENTS.LANGUAGE" | translate}}</a></div>
                                </div>
                                <div class="col-12 row table-header-sec">
                                    <div class="col-6 header-title">{{"AGENTS.LANGUAGE" | translate}}</div>
                                    <div class="col-6 header-title">{{"SKILLS.PROFICIENCY_LEVEL" | translate}}</div>
                                </div>
                                <div class="col-12 row table-body-sec" *ngFor="let language of languagesList; let i=index">
                                    <div class="col-6 language-data">
                                        <div class="kr-sg-checkbox m-0 p-0">
                                            <input [id]="'checkbox-'+i" [name]="'checkbox-'+i" class="checkbox-custom" type="checkbox" [(ngModel)]="language.isActive">
                                            <label [for]="'checkbox-'+i" class="checkbox-custom-label"></label>
                                        </div>
                                        <div class="language-names">
                                            <div class="l-name">{{language?.label}}</div>
                                            <div class="l-code">{{language?.language | uppercase}}</div>
                                        </div>
                                    </div>
                                    <div class="col-6 profiency_level">
                                        <div class="level-type novoice" [ngClass]="{'active-type': language['profiencyLevel']['novice'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language,'novice')">{{"SKILLS.NOVICE" | translate}}</div>
                                        <div class="level-type average" [ngClass]="{'active-type': language['profiencyLevel']['average'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language,'average')">{{"SKILLS.AVERAGE" | translate}}</div>
                                        <div class="level-type good" [ngClass]="{'active-type': language['profiencyLevel']['good'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language,'good')">{{"SKILLS.GOOD" | translate}}</div>
                                        <div class="level-type expert" [ngClass]="{'active-type': language['profiencyLevel']['expert'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language,'expert')">{{"SKILLS.EXPERT" | translate}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="voice" class="tab-pane fade">
                        <div class="voice-agent-container">
                            <div class="d-flex chat-support-enable-disable">
                                <div class="label-text mb-0 mr-4">{{"AGENTS.VOICE_SUPPORT" | translate}}</div>
                                <label class="kr-sg-toggle">                                       
                                    <input type="checkbox" [(ngModel)]="agent.canSupportVoice" (change)="onVoiceSupportChange()" name="canSupportVoice" checked>
                                    <div class="slider"></div>
                                </label>
                            </div>

                            <div class="language-support-table-data">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="title">{{"AGENTS.LANGUAGE_SUPPORT" | translate}}</div>
                                    <div class="lang-info">{{"AGENTS.LANGUAGE_SUPPORT_DESC" | translate}} <a [routerLink]="['/config/languages']">{{"NAV.SETTINGS" | translate}} > {{"AGENTS.LANGUAGE" | translate}}</a></div>
                                </div>
                                <div class="col-12 row table-header-sec">
                                    <div class="col-6 header-title">{{"AGENTS.LANGUAGE" | translate}}</div>
                                    <div class="col-6 header-title">{{"SKILLS.PROFICIENCY_LEVEL" | translate}}</div>
                                </div>
                                <div class="col-12 row table-body-sec" *ngFor="let language of voiceLanguagesList; let i=index">
                                    <div class="col-6 language-data">
                                        <div class="kr-sg-checkbox m-0 p-0">
                                            <input [id]="'voice-checkbox-2'+i" [name]="'voice-checkbox-2'+i" class="checkbox-custom" type="checkbox" [(ngModel)]="language.isActive">
                                            <label [for]="'voice-checkbox-2'+i" class="checkbox-custom-label"></label>
                                        </div>
                                        <div class="language-names">
                                            <div class="l-name">{{language?.label}}</div>
                                            <div class="l-code">{{language?.language | uppercase}}</div>
                                        </div>
                                    </div>
                                    <div class="col-6 profiency_level">
                                        <div class="level-type novoice" [ngClass]="{'active-type': language['profiencyLevel']['novice'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language, 'novice')">{{"SKILLS.NOVICE" | translate}}</div>
                                        <div class="level-type average" [ngClass]="{'active-type': language['profiencyLevel']['average'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language, 'average')">{{"SKILLS.AVERAGE" | translate}}</div>
                                        <div class="level-type good" [ngClass]="{'active-type': language['profiencyLevel']['good'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language, 'good')">{{"SKILLS.GOOD" | translate}}</div>
                                        <div class="level-type expert" [ngClass]="{'active-type': language['profiencyLevel']['expert'], 'disabled_': !language.isActive}" (click)="profiencyLevelChanged(language, 'expert')">{{"SKILLS.EXPERT" | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    </div>   
                    <div id="skill" class="tab-pane fade">
                        <div class="skill-agent-container">
                            <div class="language-support-table-data">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="title">{{"NAV.SKILLS" | translate}}</div>
                                    <div class="lang-info">{{"AGENTS.SKILL_ROUTE" | translate}}<a routerLink="/config/skills">{{"NAV.SKILLS" | translate}}</a></div>
                                </div>
                                <div class="col-12 row table-header-sec">
                                    <div class="col-3 header-title">{{"SKILLS.SKILL" | translate}}</div>
                                    <div class="col-3 header-title">{{"AGENTS.GROUP" | translate}}</div>
                                    <div class="col-6 header-title">{{"SKILLS.PROFICIENCY_LEVEL" | translate}}</div>
                                </div>
                                <div *ngFor="let skill of addedSkills" class="col-12 row table-body-sec">
                                    <div class="col-3 language-data" [ngStyle]="{'color': skill?.skillGroupColor}">{{skill?.name}}</div>
                                    <div class="col-3 skill-name" [ngStyle]="{'color': skill?.skillGroupColor}">{{skill?.skillGroupName}}</div>
                                    <div class="col-6 profiency_level">
                                        <div class="level-type novoice" [ngClass]="{'active-type': skill?.proficiencyLevel == 'novice'}" (click)="skillProfiencyLevelChanged(skill,'novice')">{{"SKILLS.NOVICE" | translate}}</div>
                                        <div class="level-type average" [ngClass]="{'active-type': skill?.proficiencyLevel == 'average'}" (click)="skillProfiencyLevelChanged(skill,'average')">{{"SKILLS.AVERAGE" | translate}}</div>
                                        <div class="level-type good" [ngClass]="{'active-type': skill?.proficiencyLevel == 'good'}" (click)="skillProfiencyLevelChanged(skill,'good')">{{"SKILLS.GOOD" | translate}}</div>
                                        <div class="level-type expert" [ngClass]="{'active-type': skill?.proficiencyLevel == 'expert'}" (click)="skillProfiencyLevelChanged(skill,'expert')">{{"SKILLS.EXPERT" | translate}}</div>
                                        <div class="delete-profiency">
                                            <img (click)="deleteSkill(skill)" src="assets/icons/settings/delete.svg">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="type-skill-name-block">
                                    <div class="kr-sg-dropdowns col-6 p-0">                                       
                                        <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                                            <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown">{{selectedSkill}}</button>    
                                            <input type="text" #skillSearchTerm (keyup.enter)="onEnter($event.target.value); skillSearchTerm.value = selectedSkill" (input)="skillSearchTerm.value = $event.target.value" value="{{selectedSkill}}" (focus)="showSkillSearchDropdown = true" class="input-search dropdown-toggle dropdown-input" autocomplete="chrome-off" [placeholder]="'AGENTS.TYPE_SKILL_PLACEHOLDER' | translate">                                                                                                       
                                            <ul class="dropdown-menu content-menu" [class.show]="showSkillSearchDropdown">
                                                <perfect-scrollbar class="country-code-perfect-scroll">
                                                    <ng-container *ngIf="skillsList && skillsList.length; else skillsElseBlock">
                                                        <li (click)="onClickSkill(skill); skillSearchTerm.value = selectedSkill;" *ngFor="let skill of skillsList | filter: [ skillSearchTerm.value, 'name']"><a>{{skill.name}}</a></li>
                                                    </ng-container>
                                                    <ng-template #skillsElseBlock>
                                                        <li><a>{{"AGENTS.NO_SKILLS" | translate}}</a></li>
                                                    </ng-template>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>                        
                                    </div>
                                </div>
                            </div>
                        </div>          
                    </div>          
                </div>
            </div>
        </perfect-scrollbar>
        <div class="footer-sec" *hasPermission="['AGENT_FULL']">
            <button class="kr-sg-button-primary btn_lg" type="submit" (click)="saveNewAgent(newAgentForm?.invalid)">{{"BUTTONS.SAVE" | translate}}</button>
        </div>
    </form>
</div>