
<ng-container *ngFor="let article of articlesList | slice : 0 : viewCount;">
  <div class="faq-suggestions-wrapper" [ngClass]="{'grayout-msgs-node' : article?.send}">
    <div class="faq-s-header">
        <div class="titles-info-heading">
            <h1 class="text-truncate" *ngIf="!article.link && article.title">{{article.title}}</h1>
            <h1 class="text-truncate" *ngIf="article.link && article.title"> <a class="moreText" role="link" [href]="article.link" target="_blank" >{{article.title}}</a></h1>
            <div class="sent-msg-text" *ngIf="article.send">{{ 'SENT'  | translate }}</div>

        </div>
        <div class="faq-actions" *ngIf="!hideActionButtons && article?.content" [ngClass]="{'faq-actions-top' : !article?.title}">
            <ng-container>
                <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.COPY, article, projConstants.ARTICLE)" *ngIf="!hideCopyButton">
                    <i class="krIocnsFont-copy"></i>
                </button>
                <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.SEND, article , projConstants.ARTICLE)" *ngIf="!hideSendButton">{{ 'SEND'  | translate }}</button>
            </ng-container>
            <!-- <ng-container *ngIf="article.send">
                <button class="solidbtn" aria-label="button">{{ 'SENT'  | translate }}</button>
            </ng-container> -->
        </div>
    </div>
    <div class="faq-body-content">
        <div class="data-faq-paragraph">            
            <div class="text-info-more-data-link">
                <!-- removeTagFromString -->
                <p [ngClass]="{'show-full-text' : !article.showMoreButton}" [innerHTML]="article?.content | safeHtml" #articleContent></p>
                <div class="more-links-actions">
                    <a class="moreText" role="link" *ngIf="articleContent.scrollHeight > 36">
                        <span class="more-text" *ngIf="article?.showMoreButton" (click)="toggleShowMoreLess(article)">{{'MORE_TEXT' | translate}}</span>
                        <span class="less-text" *ngIf="!article?.showMoreButton" (click)="toggleShowMoreLess(article)">{{'LESS_TEXT' | translate}}</span>
                    </a>
                    <p *ngIf="articleContent.scrollHeight > 36 && article.link">|</p>
                    <a class="moreText" role="link" [href]="article.link" target="_blank" *ngIf="article.link && !article.title">{{'VIEW_FULL_ARTICLE' | translate}}</a>
                </div>
            </div>                       
            <!-- <div class="btn-more-solid">
                <a class="btn_link" aria-label="button" [href]="article.link" target="_blank">{{'VIEW_FULL_ARTICLE' | translate}}</a>
            </div> -->
        </div>
    </div>
  </div>
</ng-container>
<a class="moreText-bottom" *ngIf="articlesList?.length > 2">
    <span class="more-text" (click)="viewMoreClick()" *ngIf="!moreClick">{{'SHOW_MORE_ARTICLE' | translate}}</span>
    <span class="less-text" (click)="viewLessClick()" *ngIf="moreClick">{{'SHOW_LESS_ARTICLE' | translate}}</span>
</a>
