
.faq-suggestions-wrapper{
    width: 100%;
    padding: 8px;
    min-height: 30px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .faq-s-header{
        display: flex;
        align-items: center;
        gap: 10px;
        h1{
            color: var(--gray-modern-900, #121926);
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            margin: 0;
            width: 100%;
        }
        .faq-actions{
            flex-shrink: 0;
            gap: 5px;
            display: flex;
            align-items: center;
            .solidbtn{
                position: relative;
                border-radius: 4px;
                border: 1px solid var(--neutral-200, #E5E5E5);
                background: var(--generic-white, #FFF);
                padding: 2px 8px;
                min-height: 24px;
                color: var(--neutral-800, #262626);
                text-align: center;
                font-size: 11px;
                font-weight: 500;
                line-height: 16px;
                cursor: pointer;
            }
        }
    }
    .faq-body-content{
        display: flex;
        align-items: flex-end;
        gap: 10px;
        .data-faq-paragraph{
            &.collapse{
                display: block !important;
                height: auto !important;
                overflow: inherit !important;
                transition: none !important;
                &:not(.show){
                    p{
                        display: block;
                    }
                }
            }
            p{
                color: var(--gray-modern-600, #4B5565);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        .moreText{
            color: var(--primary-500, #2970FF);
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-decoration: none;
            cursor: pointer;
            .less-text{
                display: none;
            }
            .more-text{
                display: block;
            }
            &.collapsed{
                .less-text{
                    display: block;
                }
                .more-text{
                    display: none;
                }
            }
        }
    }
}