
<ng-container *ngFor="let article of articlesList | slice : 0 : viewCount;">
  <div class="faq-suggestions-wrapper">
    <div class="faq-s-header">
        <div class="titles-info-heading">
            <h1 class="text-truncate">{{article.title}}</h1>
        </div>
        <div class="faq-actions">
            <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.COPY, article, projConstants.ARTICLE)">
                <i class="krIocnsFont-copy"></i>
            </button>
            <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.SEND, article , projConstants.ARTICLE)">{{ 'SEND'  | translate }}</button>
        </div>
    </div>
    <div class="faq-body-content">
        <div class="data-faq-paragraph">            
            <p [ngClass]="{'show-full-text' : !article.showMoreButton}" [innerHTML]="article?.content | removeTagFromString | replaceTextWithTag : article.userInput" #articleContent></p>
            
            <div class="btn-more-solid">
                <a class="btn_link" aria-label="button"
                    [href]="article.link" target="_blank">View Full Article</a>
            </div>
           
        </div>
        <a class="moreText" role="button" aria-expanded="false" *ngIf="articleContent.scrollHeight > 36">
            <span class="more-text" *ngIf="article?.showMoreButton" (click)="toggleShowMoreLess(article)">More</span>
            <span class="less-text" *ngIf="!article?.showMoreButton" (click)="toggleShowMoreLess(article)">Less</span>
        </a>
    </div>
  </div>
</ng-container>
<a class="moreText" *ngIf="articlesList?.length > 2">
    <span class="more-text" (click)="viewMoreClick()" *ngIf="!moreClick">View More</span>
    <span class="less-text" (click)="viewLessClick()" *ngIf="moreClick">View Less</span>
</a>
