
<div class="widgets-settinggs-wrapper" [ngClass]="{'agent-assist-settings-wrapper-isunified' : isUnifiedPlatform}">
    <div class="header-data">
        <div class="title">
            <p>AgentAssist Settings</p>
            <i class="icon-sa-info"></i>
        </div>
        <div class="desc-text">Define widgets accessibility to Agents</div>
    </div>
    <div class="body-widget-data">
        <div class="toggle-info-data m-0">
            <label class="kr-sg-toggle toggle-enabled-disabled">
                <input type="checkbox" [(ngModel)]="agentAssistSettings.agentAssistWidgetEnabled">
                <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
            </label>
            <div class="content-data-toggle">
                <h1>AgentAssist Widget</h1>
                <p>If enabled, agents will be able to access the AgentAssist widget when having conversation with customer</p>
            </div>
        </div>
        <div class="widgets-info-toglles">
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox" [(ngModel)]="agentAssistSettings.isProactiveEnabled">
                    <div class="slider">

                    </div>
                </label>
                <div class="content-data-toggle">
                    <h1>Proactive Mode</h1>
                    <p>When disabled, the transcript and automatic/proactive intent suggestion features will not be available. However, agents can still use greetings, 'Ask AgentAssist' feature and MyBot to directly run automations.</p>
                </div>
            </div>
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox" [(ngModel)]="agentAssistSettings.isAgentCoachingEnabled">
                    <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
                </label>
                <div class="content-data-toggle">
                    <h1>Agent Coaching</h1>
                    <p>When disabled, the real-time coaching features will not be available.</p>
                </div>
            </div>
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox"  [(ngModel)]="agentAssistSettings.isAgentResponseEnabled">
                    <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
                </label>
                <div class="content-data-toggle">
                    <h1>Send Button for Agent Assist Responses</h1>
                    <p>When disabled, the send button for AgentAssist Responses will not be available.</p>
                </div>
            </div>
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox" [(ngModel)]="agentAssistSettings.isAgentPlaybookEnabled">
                    <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
                </label>
                <div class="content-data-toggle">
                    <h1>Agent Playbook</h1>
                    <p>When disabled, the step by step playbook guide and welcome messages will not be available. </p>
                </div>
            </div>
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox" [(ngModel)]="agentAssistSettings.isSearchAssistEnabled">
                    <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
                </label>
                <div class="content-data-toggle">
                    <h1>SearchAssist</h1>
                    <p>When disabled, intelligent, contextual, and personalised search experience across your web and mobile channels will not be available.</p>
                </div>
            </div>
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox"  [(ngModel)]="agentAssistSettings.isWidgetLandingEnabled.isEnabled">
                    <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
                </label>
                <div class="content-data-toggle">
                    <h1>Widget Landing Tab for Voice Channel</h1>
                    <p>When disabled, agents will land on playbook/assist tab page by default when widget is launched.</p>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <input id="checkbox-1" type="checkbox" (click)="selectedOption('voice'); $event.stopPropagation();" [checked]="this.agentAssistSettings.isWidgetLandingEnabled.voice.isEnabled">
                        <div class="label-check text-truncate" for="checkbox-1">
                            <span>Voice</span>
                        </div>
                    </div>
                    <div class="voice-channel-drp" [ngClass]="!agentAssistSettings.isWidgetLandingEnabled.voice.isEnabled ? 'disableDropdown' : ''">
                        <div class="label-text">Choose your preferred page you want to set as Landing page</div>
                        <div class="kr-sg-dropdowns" ngbDropdown>
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Transcript</button>
                                <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                    <li ngbDropdownItem class="selected">
                                        <a>Transcript</a>
                                    </li>
                                    <li ngbDropdownItem>
                                        <a>Transcript</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div>
                    <div>
                        <input id="checkbox-1" type="checkbox" (click)="selectedOption('chat'); $event.stopPropagation();" [checked]="this.agentAssistSettings.isWidgetLandingEnabled.chat.isEnabled">
                        <div class="label-check text-truncate" for="checkbox-1">
                            <span>Chat</span>
                        </div>
                    </div>
                    <div class="chat-channel-drp" [ngClass]="!agentAssistSettings.isWidgetLandingEnabled.chat.isEnabled ? 'disableDropdown' : ''">
                        <div class="label-text">Choose your preferred page you want to set as Landing page</div>
                        <div class="kr-sg-dropdowns" ngbDropdown>
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Transcript</button>
                                <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                    <li ngbDropdownItem class="selected">
                                        <a>Transcript</a>
                                    </li>
                                    <li ngbDropdownItem>
                                        <a>Transcript</a>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            
            <div class="toggle-info-data">
                <label class="kr-sg-toggle toggle-enabled-disabled">
                    <input type="checkbox" [(ngModel)]="agentAssistSettings.isCustomisedLogoEnabled.isEnabled">
                    <div class="slider">
                                <span class="enabled"></span>
                                <span class="disabled"></span>
                              </div>
                </label>
                <div class="content-data-toggle">
                    <h1>Customize Logo</h1>
                    <p>When disabled, AgentAssist and Kore.ai Logo will be visible by default</p>
                </div>
            </div>
            <div class="customize-logo-data">
                <div class="logo-h">Logo File</div>
                <div class="upload-logo-block">
                    <input type="file" (dropped)="handleFileDrop($event)"  (change)="addFiles(fileInput.files)" #fileInput>
                    <div class="icon_file_block">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <path d="M7.16663 13.3333L10.5 10M10.5 10L13.8333 13.3333M10.5 10V17.5M17.1666 13.9524C18.1845 13.1117 18.8333 11.8399 18.8333 10.4167C18.8333 7.88536 16.7813 5.83333 14.25 5.83333C14.0679 5.83333 13.8975 5.73833 13.8051 5.58145C12.7183 3.73736 10.712 2.5 8.41663 2.5C4.96485 2.5 2.16663 5.29822 2.16663 8.75C2.16663 10.4718 2.86283 12.0309 3.98908 13.1613" stroke="#475467" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <p>Click to upload or drag and drop</p>
                    <span>SVG, PNG (max. 800x400px)</span>
                </div>
                <div class="progress" *ngIf="progress">
                    <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
                </div>
                <div *ngIf="this.agentAssistSettings.isCustomisedLogoEnabled.fileName !== ''">
                    <!-- {{ fileList | json }} -->
                    <img [src]="this.agentAssistSettings.isCustomisedLogoEnabled.fileName !== '' ? 'this.agentAssistSettings.isCustomisedLogoEnabled.fileName' : ''" alt="" style="height: 100%; width: 40%;">
                  </div>
            </div>
        </div>
        <div class="save-cancel-btns">
            <button class="kr-sg-button-secondary-two btn_md" [disabled]= "disableButtons" (click)="cancleAgentAssistSettings()">{{'BUTTONS.CANCEL' | translate}}</button>
            <button class="kr-sg-button-primary btn_md" [disabled]= "disableButtons" (click)="saveAgentAssistSettings()">{{'BUTTONS.SAVE' | translate}}</button>
        </div>
    </div>
    
</div>