<div class="slider-sec-data">
    <form>
        <div class="header-sec d-flex m-0">
            <div class="lef-sec col-8 p-0">
                <div class="main-title">New Welcome Message</div>
            </div>
            <div class="close-link col-4 p-0">
                <img src="assets/images/close.svg" (click)="closeSlider()">
            </div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="body-sec-data"> 
                <div class="kr-sg-input-text">
                    <div class="label-text">Title</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">
                </div>
                <div class="response-data-chat-voice">
                    <div class="heading-toggles">
                        <div class="title">Response for Chats</div>
                        <label class="kr-sg-toggle">
                            <input type="checkbox" checked>
                            <div class="slider"></div>
                        </label>
                    </div>
                    <div class="mesage-wrapper-data">
                        <div class="m-title">
                            <span>Chat Message</span>
                            <i class="icon-sa-help"></i>
                        </div>
                        <div class="message-chat-voice" contenteditable="true"></div>
                    </div>
                </div>
                <div class="response-data-chat-voice">
                    <div class="heading-toggles">
                        <div class="title">Response for Voice</div>
                        <label class="kr-sg-toggle">
                            <input type="checkbox" checked>
                            <div class="slider"></div>
                        </label>
                    </div>
                    <div class="mesage-wrapper-data">
                        <div class="m-title">
                            <span>Voice Message</span>
                            <i class="icon-sa-help"></i>
                        </div>
                        <div class="message-chat-voice" contenteditable="true"></div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
        <div class="footer-sec">
            <button class="kr-sg-button-secondary-two btn_lg" type="submit" (click)="closeSlider()">Cancel</button>
            <button class="kr-sg-button-primary btn_lg" type="submit">Save</button>
        </div>
    </form>
</div>