.overlay-box{
    bottom:80%; display:block
}
.overlay-box-libraray{
    top:70px; display:block
}
.filter-list {
    list-style: none inside;
    width: 30%;  
    text-align: left;
    padding: 0px;
  }
  .filter-list li {
    padding: 0.5em 0;
    text-align: left;
  }