<input (focus)="showList()" (blur)="hideList()" type="text" [ngClass]="isNotLibraryTab? 'suggestion-input':'input-text'" [id]="isNotLibraryTab?'agentSearch':'librarySearch'"
    placeholder="Ask AgentAssist" (keyup.enter)="getSearchResults($event);showOverlay = false" [(ngModel)]="searchText"
    (ngModelChange)="onSearch($event)" />

<div class="overlay-suggestions fixed-overlay" [ngClass]="isNotLibraryTab? 'overlay-box':'overlay-box-libraray'" id="overLayAutoSearchDiv" *ngIf="showOverlay && dataSet.length > 0 && isVisible">
    <div class="suggestion-content" id="overLayAutoSearch">
        <perfect-scrollbar class="overlaysearch-scroll-bar-typehead" #overlaytypeaheadps id="overlayTypeaheadSearchScroll">
        <ul class="filter-list">
            <li style="cursor: pointer;" *ngFor="let item of dataSet; index as i;" (click)="setValue(item)">
                {{ item }}
            </li>
        </ul>
    </perfect-scrollbar>
    </div>
</div>