<div class="automation-perforamce-wrapper">
    <div echarts [options]="chartOption" class="chart-container"></div>
    <div class="legend-wrapper">
        <div class="legends-info">
            <div class="legend-name">
                <span class="bg"></span>
                <span class="lname">Successfully Completed</span>
            </div>
            <div class="value-text">7,000 | 70%</div>
        </div>
        <div class="legends-info">
            <div class="legend-name">
                <span class="bg terminated"></span>
                <span class="lname">Terminated</span>
            </div>
            <div class="value-text">2,500 | 25%</div>
        </div>
        <div class="legends-info">
            <div class="legend-name">
                <span class="bg error"></span>
                <span class="lname">Error</span>
            </div>
            <div class="value-text">500 | 5%</div>
        </div>
        <div class="legends-info">
            <div class="legend-name">
                <span class="bg other"></span>
                <span class="lname">Other</span>
            </div>
            <div class="value-text">500 | 5%</div>
        </div>
    </div>
</div>
