@import './../../../scss/variables/variables.scss';
.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);
        .body-sec-data{
            padding: 15px 70px;
            .group-radiobutton{
                .heading-title{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: $primaryFontColor;
                    margin-bottom: 12px;
                }
                .info-radio-sec{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #333333;
                    margin-bottom: 15px;
                }
                .kr-sg-radiobutton{
                    padding-right:20px;
                }
            }
            .info-data-radio-buttons{
                margin: 18px 0;
                .choose-phone-number{
                    margin: 0;
                    padding: 0;
                    align-items: center;
                    .kr-sg-dropdowns{
                        padding: 0;
                        .dropdown-open {
                            .content-menu {
                                li {
                                    a{
                                        span{
                                            padding-left: 8px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .not-yet-purchased{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #2498AD;
                        position: relative;
                        top: 7px;
                        display: inline-flex;
                        align-items: center;
                        padding: 0 40px;
                        cursor: pointer;
                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
            .hours-operation-section {
                .heading-title{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: $primaryFontColor;
                    margin-bottom: 10px;
                }
                .hours-override-dp-dw {
                    background: #EFF0F1;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 7px 10px;
                    margin-bottom: 12px;
                    .title{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #202124;
                    }
                    .dropdown-open {
                        .content-menu {
                            li {
                                a{
                                    span{
                                        padding-left: 8px;
                                    }
                                }
                            }
                        }
                    }
                    .override-hours-of-operation-btn {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #009DAB;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        img{
                            margin-right: 10px;
                        }
                    }
                }
                .override-note {
                    font-family: Inter;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #64717C;
                }
            }
            .chat-data-content{
                width: 52%;
                background: $utteraneHovercolor;
                border-radius: 8px;
                padding: 25px 25px 20px 25px;
                .kr-sg-checkbox{
                    margin-bottom:6px;
                    .checkbox-custom {
                        + .checkbox-custom-label{
                            display: flex;
                            align-items: center;
                            margin: 0;
                            &::before{
                                margin: 0;
                            }
                            img{
                                margin: 0 7px;
                            }
                        }
                    }
                }
            }
            .phone-number-scroll{
                max-height: 250px;
            }
        }
    }
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
    .label-text{
        color: $primaryFontColor;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }
}

.mat-chip {
    background: $primaryHoverColor;
    border-radius: 4px;
    margin: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 28px;
    &.chip-error {
        color: #ff001f;
        background: rgba(255, 0, 31, 0.1);
        > .mat-icon {
            color: #ff001f !important;
        }
    }
}
.error-label {
    color: #ff001f;
    font-size: 12px;
}
.mat-standard-chip .mat-chip-remove.mat-icon {
    color: #091E42;
    opacity: 1;
}

:host ::ng-deep .example-chip-list {
    width: 100%;
    .mat-form-field-outline{
        display: none !important;
    }
    .mat-form-field-wrapper{
        padding: 0;
        .mat-form-field-flex{
            border: 0;
            margin: 0;
            padding: 0;
            .mat-form-field-infix{
                margin: 0;
                padding: 0;
                border: 0;
                .mat-chip-list{
                    .mat-chip-list-wrapper{
                        border-radius: 3px;
                        border: solid 1px $borderColor;        
                        margin: 0;
                        font-family: 'inter' !important;
                        .mat-input-element{
                            margin: 0;
                            border: 0;
                            height: 32px;
                            padding-left: 8px;
                        }
                        .mat-chip{
                            border-radius: 4px;
                            background-color: $borderColor;
                            padding: 0px 9px;
                            margin: 3px 0px 3px 3px;
                            min-height: 26px;
                            &:hover{
                                &::after{
                                    opacity: 0.09;
                                }
                            }
                            .mat-val{
                                color: #202124;
                                font-size: 12px;
                                font-weight: 500;
                            }
                            .mat-icon{
                                width: auto;
                                height: auto;
                                opacity: 0.8;
                                line-height: normal;
                                font-size: 0px;
                                img{
                                    width: 11px;
                                    height: 11px;
                                    vertical-align: middle;
                                    position: relative;
                                    top: 0px;
                                    left: 2px;
                                }
                            }
                        }                        
                    }                        
                }
            }
        }                        
    }
    .mat-form-field-label-wrapper{
        padding: 0;
        height: 32px;                            
        top: 2px;
        .mat-form-field-label{
            margin: 0;
            top: 6px;
            left: 10px;
            color: $descFontColor !important;
        }
    }
    .mat-form-field-subscript-wrapper{
        margin: 0;
        top: 0;
    }
    .mat-form-field-underline{
        display: none;
    }
}

mat-form-field {
    width: 100%;
  }