<div class="restart-experience-wrpaaer">
    <div class="restart-experience-canvas-wrapper">
        <button class="btn_link">
            <i class="krIocnsFont-close-md"></i>
        </button>
        <h1>Restart</h1>
        <div class="form-check sm">
            <input class="form-check-input" type="radio" id="startover" name="staroverradio" checked>
            <label class="form-check-label" for="startover">Start over</label>
        </div>
        <div class="form-check sm">
            <input class="form-check-input" type="radio" id="restart" name="staroverradio">
            <label class="form-check-label" for="restart">Restart with captured inputs</label>
        </div>
        <ng-container [ngTemplateOutlet]="entityMessageRestart"></ng-container>
        <ng-container [ngTemplateOutlet]="entityMessageRestart"></ng-container>
        <div class="btn-actions">
            <button class="_btn primaryBtn" (click)="restart()">Restart</button>
            <button class="_btn solidBtn">Cancel</button>
        </div>
    </div>  
</div>


<!-- Entity Message -->
<ng-template #entityMessageRestart>
    <!-- error-no-reponse class add it when error-->
    <div class="entity-mesage-data">
        <div class="input-block-entity">
            <p>PizzaBase: </p>
            <input type="text" aria-label="Input" value="Multigrain">
            <div class="border-outline"></div>
            <div class="actions-inputs">                
                <button class="remove-input" aria-label="Button">
                    <i class="krIocnsFont-keyboard"></i>
                </button>
                <button class="remove-input" aria-label="Button">
                    <i class="krIocnsFont-close"></i>
                </button>
                <button class="check-input" aria-label="button">
                    <i class="krIocnsFont-check"></i>
                </button>
                <button class="success-check-input" aria-label="button">
                    <i class="krIocnsFont-check-circle"></i>
                </button>
                <button class="wrong-res-info" aria-label="button">
                    <i class="krIocnsFont-warning-solid"></i>
                    <span>3</span>
                </button>
            </div>
        </div>
        <p class="info-entity-text">Awaiting Response  |  Type to override</p>
    </div>
</ng-template>