<div class="restart-experience-wrpaaer">
    <div class="restart-experience-canvas-wrapper">
        <button class="btn_link" (click)="cancel()">
            <i class="krIocnsFont-close-md"></i>
        </button>
        <h1>{{'RESTART' | translate}}</h1>
        <div class="form-check sm">
            <input class="form-check-input" type="radio" id="startover" name="staroverradio" [checked]="restartCheck == projConstants.STARTOVER" (change)="changeRestartType(projConstants.STARTOVER)">
            <label class="form-check-label" for="startover">{{'START_OVER' | translate}}</label>
        </div>
        <div class="form-check sm">
            <input class="form-check-input" type="radio" id="restart" name="staroverradio" [checked]="restartCheck == projConstants.RESTART_INPUTS" (change)="changeRestartType(projConstants.RESTART_INPUTS)">
            <label class="form-check-label" for="restart">{{'RESTART_CAPTURE' | translate}}</label>
        </div>
        <ng-container *ngIf="restartCheck == projConstants.RESTART_INPUTS">
            <div class="entity-mesage-data" *ngFor="let automation of entityList; let i = index">
                <ng-container [ngTemplateOutlet]="entityMessageRestart"  [ngTemplateOutletContext]="{automationData: automation}"></ng-container>
            </div>
        </ng-container>
        <div class="btn-actions">
            <button class="_btn primaryBtn" (click)="restart()">{{'RESTART' | translate}}</button>
            <button class="_btn solidBtn" (click)="cancel()">{{'CANCEL' | translate}}</button>
        </div>
    </div>  
</div>


<!-- Entity Message -->
<ng-template #entityMessageRestart let-automation="automationData">
    <div class="input-block-entity">
        <p>{{automation.entityName}} : </p>
        <input type="text" aria-label="Input" [(ngModel)]="automation.entityValue" (focus)="focusOutClick(automation, true)" (focusout)="focusOutClick(automation, false)">
        <div class="border-outline"></div>
        <div class="actions-inputs">                
            <button class="remove-input" aria-label="Button" *ngIf="automation.entityValue && !automation.toggleOverride">
                <i class="krIocnsFont-keyboard"></i>
            </button>
            <ng-container *ngIf="automation.toggleOverride">
                <button class="remove-input" aria-label="Button" (click)="removeEntityvalue(automation)">
                   <i class="krIocnsFont-close"></i>
               </button>
               <button class="check-input" [ngClass]="{'disabled-msg' : !automation.entityValue}" aria-label="button" (click)="focusOutClick(automation, false)"> 
                   <i class="krIocnsFont-check"></i>
               </button>
            </ng-container>
        </div>
    </div>
    <p class="info-entity-text">{{'OVERRIDE' | translate}}</p>
</ng-template>