
<div class="agent-aspects-wrapper">
    <div [hidden]="(viewType == VIEWTYPELIST.EXHAUSTIVE_VIEW) || (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div #wordCloud class="echart-wordCloudContainer" [ngClass]="{'echart-wordCloudContainer-hide' : (viewType == VIEWTYPELIST.EXHAUSTIVE_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)}"></div>
    </div>
    
    
    <ng-container *ngIf="(viewType == VIEWTYPELIST.PARTIAL_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div class="cards-data-boards agent-feedback-cards">
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">{{"DASHBOARD.AGENT_ASPECT_TOTAL_SEARCH_REQ" | translate}}</span>
                        <div class="value-data negtive">
                            <i [ngClass]="agentAspectData.totalSearchReq.increment ? 'icon-ast_sortup' : 'icon-ast_sortdown' "></i>
                            <span>{{agentAspectData.totalSearchReq.percent}}%</span>
                        </div>
                    </div>
                    <div class="count-heading">{{agentAspectData.totalSearchReq.count}}</div>
                </div>
            </div>
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">{{"DASHBOARD.AGENT_ASPECT_SEARCH_RESULTS_USED" | translate}}</span>
                        <div class="value-data">
                            <i [ngClass]="agentAspectData.searchResultsUsed.increment ? 'icon-ast_sortup' : 'icon-ast_sortdown' "></i>
                            <span>{{agentAspectData.searchResultsUsed.percent}}%</span>
                        </div>
                    </div>
                    <div class="count-heading">{{agentAspectData.searchResultsUsed.count}}%</div>
                </div>
            </div>
        </div>
        <div class="table-agent-feedback d-none">
            <div class="table-header row">
                <div class="title col-6">{{"DASHBOARD.AGENT_ASPECT_SEARCH_KEYWORD_COLUMN" | translate}}</div>
                <div class="title col-6 text-right">{{"DASHBOARD.AGENT_ASPECT_TOTAL_SEARCHES_COLUMN" | translate}}</div>
            </div>
            <ng-container>
                <div class="table-body-feedback row" *ngFor="let obj of agentAspectTableData">
                    <div class="col-6 title">{{obj.intentName}}</div>
                    <div class="col-6 title text-right f_w_600">{{obj.percent}}% ({{obj.count}})</div>
                </div>
            </ng-container>
        </div>
        <div class="empty-title">Not enough data available</div>
    </ng-container>
    
    
    
    <ng-container *ngIf="(viewType == VIEWTYPELIST.EXHAUSTIVE_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div class="cards-data-boards agent-feedback-cards">
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">{{"DASHBOARD.AGENT_ASPECT_TOTAL_SEARCH_REQ" | translate}}</span>
                        <div class="value-data negtive">
                            <i [ngClass]="agentAspectData.totalSearchReq.increment ? 'icon-ast_sortup' : 'icon-ast_sortdown' "></i>
                            <span>{{agentAspectData.totalSearchReq.percent}}%</span>
                        </div>
                    </div>
                    <div class="count-heading">{{agentAspectData.totalSearchReq.count}}</div>
                </div>
            </div>
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">{{"DASHBOARD.AGENT_ASPECT_SEARCH_RESULTS_USED" | translate}}</span>
                        <div class="value-data">
                            <i [ngClass]="agentAspectData.searchResultsUsed.increment ? 'icon-ast_sortup' : 'icon-ast_sortdown' "></i>
                            <span>{{agentAspectData.searchResultsUsed.percent}}%</span>
                        </div>
                    </div>
                    <div class="count-heading">{{agentAspectData.searchResultsUsed.count}}%</div>
                </div>
            </div>
        </div>
        <div class="table-agent-feedback">
            <div class="table-header row">
                <div class="title col-6">{{"DASHBOARD.AGENT_ASPECT_VIEWALL_KEYWORD_COLUMN" | translate}}</div>
                <div class="title col-6 text-right">{{"DASHBOARD.AGENT_ASPECT_VIEWALL_COUNT_COLUMN" | translate}} | {{"DASHBOARD.AGENT_ASPECT_VIEWALL_TOTAL_PERCENT_COLUMN" | translate}}</div>
            </div>
            <ng-container>
                <div class="table-body-feedback row" *ngFor="let obj of agentAspectTableData">
                    <div class="col-6 title">{{obj.intentName}}</div>
                    <div class="col-6 title text-right f_w_500">{{obj.count}} | {{obj.percent}}%</div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    
    <div [hidden]="(viewType == VIEWTYPELIST.PARTIAL_VIEW) || (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div #wordCloudExhaustive [ngClass]="(viewType == VIEWTYPELIST.PARTIAL_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE) ? 'echart-wordCloudContainer-hide' : 'echart-wordCloudContainer'"></div>
    </div>
</div>




