
<div class="agent-aspects-wrapper">
    <div [hidden]="(viewType == VIEWTYPELIST.EXHAUSTIVE_VIEW) || (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div #wordCloud class="echart-wordCloudContainer" [ngClass]="{'echart-wordCloudContainer-hide' : (viewType == VIEWTYPELIST.EXHAUSTIVE_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)}"></div>
    </div>
    
    
    <ng-container *ngIf="(viewType == VIEWTYPELIST.PARTIAL_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div class="cards-data-boards agent-feedback-cards">
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">Total Search Requests</span>
                        <div class="value-data negtive">
                            <i class="icon-ast_sortdown"></i>
                            <span>2.3%</span>
                        </div>
                    </div>
                    <div class="count-heading">2,345K</div>
                </div>
            </div>
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">Search Results Used</span>
                        <div class="value-data">
                            <i class="icon-ast_sortup"></i>
                            <span>2.3%</span>
                        </div>
                    </div>
                    <div class="count-heading">23%</div>
                </div>
            </div>
        </div>
        <div class="table-agent-feedback">
            <div class="table-header row">
                <div class="title col-6">SEARCH KEYWORD</div>
                <div class="title col-6 text-right">TOTAL SEARCHES</div>
            </div>
            <ng-container>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_600">50% (1320)</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Cancel Flight</div>
                    <div class="col-6 title text-right f_w_600">30% (1000)</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Reschedule Flight</div>
                    <div class="col-6 title text-right f_w_600">20% (700)</div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    
    
    
    <ng-container *ngIf="(viewType == VIEWTYPELIST.EXHAUSTIVE_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div class="cards-data-boards agent-feedback-cards">
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">Total Search Requests</span>
                        <div class="value-data negtive">
                            <i class="icon-ast_sortdown"></i>
                            <span>2.3%</span>
                        </div>
                    </div>
                    <div class="count-heading">2,345K</div>
                </div>
            </div>
            <div class="card-sec max_width_50">
                <div class="inner-data-sec">
                    <div class="title-text-info">
                        <span class="heading-text">Search Results Used</span>
                        <div class="value-data">
                            <i class="icon-ast_sortup"></i>
                            <span>2.3%</span>
                        </div>
                    </div>
                    <div class="count-heading">23%</div>
                </div>
            </div>
        </div>
        <div class="table-agent-feedback">
            <div class="table-header row">
                <div class="title col-6">KEYWORDS</div>
                <div class="title col-6 text-right">COUNT | % OF TOTAL</div>
            </div>
            <ng-container>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                </div>
                <div class="table-body-feedback row">
                    <div class="col-6 title">Book Flight</div>
                    <div class="col-6 title text-right f_w_500">2646 | 32%</div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    
    <div [hidden]="(viewType == VIEWTYPELIST.PARTIAL_VIEW) || (dashboardService.agentAspectView == VIEWTYPELIST.TABLE)">
        <div #wordCloudExhaustive [ngClass]="(viewType == VIEWTYPELIST.PARTIAL_VIEW) && (dashboardService.agentAspectView == VIEWTYPELIST.TABLE) ? 'echart-wordCloudContainer-hide' : 'echart-wordCloudContainer'"></div>
    </div>
</div>




