
.faq-suggestions-wrapper{
    width: 100%;
    padding: 0px 8px;
    min-height: 30px;
    margin: 0px 0 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    &:hover{
        .faq-actions{
            display: flex;
            &.faq-actions-top{
                top : 0px;
            }
        }
    }
    .solidbtn{
        position: relative;
        border-radius: 4px;
        border: 1px solid var(--themeBorderColor);
        background: var(--themeBgWhiteColor);
        padding: 2px 8px;
        min-height: 24px;
        color: var(--primaryTextColor);
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        cursor: pointer;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        i{
            font-size: 12px;
        }
    }
    .faq-actions{
        flex-shrink: 0;
        gap: 5px;
        display: none;
        align-items: center;
        position: absolute;
        right: 0;
        top: auto;
        background: var(--themeBgWhiteColor);
        z-index: 2;
        &.sent-cliked-msg{
            display: flex !important;
            position: relative !important;
        }        
    }
    .faq-s-header{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        .titles-info-heading{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 4px;
            overflow: hidden;
            h1{
                color: var(--primaryTextColor);
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                margin: 0;
            }
            span{
                color: var(--secondaryTextColor);
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
            }
            .sent-msg-text{
                color: var(--themeColor);
                font-size: 12px;
                font-weight: 400;
                flex-shrink: 0;
                line-height: 20px;
                margin: 0 0 0 auto;
            }
        }
    }
    .faq-body-content{
        display: flex;
        flex-direction: column;
        // gap: 10px;
        position: relative;
        transition: 0.2s all ease;
        &:hover{
            .faq-actions{
                display: flex;
            }
        }
        .faq-actions{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            display: none;
        }
        .data-faq-paragraph{
            .text-info-more-data-link{
                position: relative;
                .text-info-more-data-block{
                    position: relative;
                }
            }
            p{
                color: var(--primaryTextColorTwo);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                &.show-full-text{
                    display: block;
                }
                .snippet-list-style{
                    position: relative;
                    padding-left: 12px;
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: #000;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .souces-names-wrapper{
                display: flex;
                align-items: flex-start;
                gap: 3px;
                margin-top: 10px;
                h1{
                    color: var(--Gray-300, #D0D5DD);
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 18px;
                    text-align: left;
                    flex-shrink: 0;
                }
                .source-names{
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;
                    overflow: hidden;
                    flex-wrap: wrap;
                    .source-tag{
                        display: flex;
                        padding: 2px 8px;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        border-radius: 16px;
                        background: var(--Gray-100, #F2F4F7);
                        transition: 0.2s all ease;
                        min-width: 47%;
                        flex : 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        &:hover{
                            span{
                                color: var(--Gray-modern-700, #364152);
                            }
                            a{
                                color: var(--Gray-modern-700, #364152);
                                text-decoration-line: underline;
                            }
                        }
                        span{
                            display: flex;
                            width: 14px;
                            height: 14px;
                            padding: 0;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            border-radius: 16px;
                            background: var(--Gray-50, #F9FAFB);
                            color: var(--Gray-700, #344054);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                        a{
                            overflow: hidden;
                            color: var(--Gray-modern-500, #697586);
                            text-align: center;
                            text-overflow: ellipsis;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        .more-links-actions{
            position: absolute;
            bottom: 0;
            right: 0;
            background: var(--themeBgWhiteColor);
            z-index: 2;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 2px;
            padding-left: 10px;
            .moreText{
                color: var(--themeTextColor);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-decoration: none;
                cursor: pointer;
            }
            p{
                color: var(--themeTextColor);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }
    .close-expand{
        color: var(--warning-500-main, #F59E0B);
        line-height: normal;
        text-align: inherit;
        padding: 5px 0;
    }
    .btn-more-solid{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 8px;
    }
}
.moreText-bottom{
    color: var(--themeTextColor);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}
::ng-deep [dir="rtl"]{
    .faq-suggestions-wrapper {
        .faq-body-content {
            .faq-actions{
                right: auto !important;
                left: 0 !important;
            }
        }
    }
}

::ng-deep .faq-suggestions-wrapper {
    .faq-s-header {
        .titles-info-heading{
            app-loader{
                position: relative;
                .loader-progress-individual{
                    position: relative !important;
                }
            }
        }
    }
}
