
.faq-suggestions-wrapper{
    width: 100%;
    padding: 0px 8px;
    min-height: 30px;
    margin: 0px 0 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    &:hover{
        .faq-actions{
            display: flex;
        }
    }
    .solidbtn{
        position: relative;
        border-radius: 4px;
        border: 1px solid var(--neutral-200, #E5E5E5);
        background: var(--generic-white, #FFF);
        padding: 2px 8px;
        min-height: 24px;
        color: var(--neutral-800, #262626);
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        cursor: pointer;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        i{
            font-size: 12px;
        }
    }
    .faq-actions{
        flex-shrink: 0;
        gap: 5px;
        display: none;
        align-items: center;
        position: absolute;
        right: 0;
        top: auto;
        background: #fff;
        z-index: 2;
        &.sent-cliked-msg{
            display: flex !important;
            position: relative !important;
        }
        .sent-msg-text{
            color: var(--primary-500-main, #2B75E4);
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .faq-s-header{
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        .titles-info-heading{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 4px;
            overflow: hidden;
            h1{
                color: var(--gray-modern-900, #121926);
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                margin: 0;
            }
            span{
                color: var(--gray-modern-500, #697586);
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
            }
        }
    }
    .faq-body-content{
        display: flex;
        flex-direction: column;
        // gap: 10px;
        position: relative;
        transition: 0.2s all ease;
        &:hover{
            .faq-actions{
                display: flex;
            }
        }
        .faq-actions{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            display: none;
        }
        .data-faq-paragraph{
            .text-info-more-data-link{
                position: relative;
            }
            p{
                color: var(--gray-modern-600, #4B5565);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                &.show-full-text{
                    display: block;
                }
            }
        }
        .more-links-actions{
            position: absolute;
            bottom: 0;
            right: 0;
            background: #FFF;
            z-index: 2;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 2px;
            padding-left: 10px;
            .moreText{
                color: var(--primary-500, #2970FF);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-decoration: none;
                cursor: pointer;
            }
            p{
                color: var(--primary-500, #2970FF);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }
    .close-expand{
        color: var(--warning-500-main, #F59E0B);
        line-height: normal;
        text-align: inherit;
        padding: 5px 0;
    }
    .btn-more-solid{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 8px;
    }
}
.moreText-bottom{
    color: var(--primary-500, #2970FF);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}
::ng-deep [dir="rtl"]{
    .faq-suggestions-wrapper {
        .faq-body-content {
            .faq-actions{
                right: auto !important;
                left: 0 !important;
            }
        }
    }
}

::ng-deep .faq-suggestions-wrapper {
    .faq-s-header {
        .titles-info-heading{
            app-loader{
                position: relative;
                .loader-progress-individual{
                    position: relative !important;
                }
            }
        }
    }
}