

<ng-container *ngFor="let faq of searchedFAQList | slice : 0 : viewCount;let i=index">
<div class="faq-suggestions-wrapper" [ngClass]="{'grayout-msgs-node' : faq.answer[0]?.send}">
    <div class="faq-s-header">
        <div class="titles-info-heading">
            <h1 class="text-truncate">{{faq.displayName ? faq.displayName : faq.question}}</h1>
            <span *ngIf="faq.answer && faq.answer.length > 1 && ((!faq.seeMoreWrapper && faq.answerRender) || (faq.toggle && !faq.answerRender && !faq.seeMoreWrapper))">1/{{faq.answer.length}}</span>
            <span *ngIf="faq.childBotName">({{faq.childBotName}})</span>
            <i class="krIocnsFont-chevron-down" *ngIf="!faq.answerRender && !faq.toggle" (click)="getFaqAnswerAndtoggle(faq)"></i>
            <i class="krIocnsFont-chevron-up" *ngIf="!faq.answerRender && faq.toggle" (click)="getFaqAnswerAndtoggle(faq)"></i>
            <div class="sent-msg-text" *ngIf="faq.answer[0]?.send">{{ 'SENT'  | translate }} </div>
            <app-loader *ngIf="faq.showSpinner" [type]="projConstants.INDIVIDUAL_LOADER"></app-loader>
        </div>

        <div class="faq-actions" *ngIf="!faq.seeMoreWrapper && faq.answer && faq.answer?.length > 0 && !hideActionButtons">
            <ng-container>
                <button class="solidbtn" (click)="handleSendCopyButton(projConstants.COPY, faq.answer[0], projConstants.FAQ, faq.sourceMsgId)" *ngIf="!hideCopyButton">
                    <i class="krIocnsFont-copy"></i>
                </button>
                <button class="solidbtn" (click)="handleSendCopyButton(projConstants.SEND, faq.answer[0], projConstants.FAQ, faq.sourceMsgId)" *ngIf="!hideSendButton">{{ 'SEND'  | translate }}</button>
            </ng-container>
            <!-- <ng-container *ngIf="faq.answer[0]?.send">
                <button class="solidbtn">{{ 'SENT'  | translate }}</button>
            </ng-container> -->
        </div>
    </div>

    <ng-container *ngIf="faq.answer && faq.answer.length > 0 && ((faq.toggle && !faq.answerRender) || faq.answerRender)">
        <div class="faq-body-content" *ngFor="let ansObj of faq.answer | slice : 0 : faq.answerCount;let ii = index">
            <div class="faq-actions"  *ngIf="!hideActionButtons && (ii != 0 || (ii == 0 && faq.seeMoreWrapper))">
                <ng-container>
                    <button class="solidbtn" (click)="handleSendCopyButton(projConstants.COPY, ansObj, projConstants.FAQ, faq.sourceMsgId)" *ngIf="!hideCopyButton">
                        <i class="krIocnsFont-copy"></i>
                    </button>
                    <button class="solidbtn" (click)="handleSendCopyButton(projConstants.SEND, ansObj, projConstants.FAQ, faq.sourceMsgId)" *ngIf="!hideSendButton">{{'SEND' | translate}}</button>
                </ng-container>
                <!-- <ng-container *ngIf="ansObj['send']">
                    <button class="solidbtn">{{ 'SENT'  | translate }}</button>
                </ng-container> -->
            </div>
            <div class="data-faq-paragraph">   
                <div class="text-info-more-data-link">         
                    <p #faqcontent [ngClass]="{'show-full-text' : !ansObj['showMoreButton']}"  [innerHtml]="rootService.handleEmptyLine(ansObj['ans']) | safeHtml"></p>     
                    <div class="more-links-actions">
                        <a class="moreText">
                            <!-- <span class="more-text" (click)="toggleShowMoreLess(faq)" *ngIf="faq.showMoreButton && faq.answer.length > 1 && ((faq.answer && faq.toggle && !faq.answerRender) || (faq.answer && faq.answerRender))">Expand / </span> -->
                            <span class="more-text" (click)="toggleShowMoreLess(ansObj)" *ngIf="faqcontent.scrollHeight > 36 && ansObj['showMoreButton'] && (faq.answer.length == 1 || faq.seeMoreWrapper)" >{{'MORE_TEXT' | translate}}</span>
                            <span class="less-text" (click)="toggleShowMoreLess(ansObj)" *ngIf="faqcontent.scrollHeight > 36 && !ansObj['showMoreButton']">{{'LESS_TEXT' | translate}}</span>
                        </a>
                    </div>
                    
                    
                </div>                         
            </div>
        </div>
        <button class="close-expand btn_link" (click)="toggleExpandAndClose(faq)" *ngIf="faq?.answer?.length > 1 && !faq.seeMoreWrapper">{{'EXPAND_MORE' | translate}}</button>
        <button class="close-expand btn_link" (click)="toggleExpandAndClose(faq)" *ngIf="faq?.answer?.length > 1 && faq.seeMoreWrapper">{{'CLOSE_TEXT' | translate}}</button>
    </ng-container>
</div>
</ng-container>
<a class="moreText-bottom" *ngIf="searchedFAQList?.length > 2">
    <span class="more-text" (click)="viewMoreClick()" *ngIf="!moreClick">{{'SHOW_MORE_FAQ' | translate}}</span>
    <span class="less-text" (click)="viewLessClick()" *ngIf="moreClick">{{'SHOW_LESS_FAQ' | translate}}</span>
</a>
