<div class="date-channels-container">
    <div class="left-title">Dashboard</div>
    <div class="right-sec-actions">
        <div class="custom_date_picker_sec date-sec-info ngx-daterangepicker-action" (click)="openPicker()">
            <i class="icon-ast_calendar"></i>
            <i class="icon-sa-calendar ngx-daterangepicker-action" (click)="openPicker()"></i>
            <input type="text"  
                ngxDaterangepickerMd                    
                [showCustomRangeLabel]="true"
                [timePicker]="false"
                [alwaysShowCalendars]="true"
                [keepCalendarOpeningWithRange]="true"
                [ranges]="ranges"
                [showRangeLabelOnInput]="true"
                [linkedCalendars]="true"
                showCancel="true"
                [locale]="{format: 'DD/MM/YYYY hh:mm', displayFormat: 'MM/DD/YYYY hh:mm A'}"
                [isInvalidDate]="isInvalidDate"
                [(ngModel)]="selected"
                class="input-date-custom"
                [locale] = "calendarLocale" (datesUpdated)="onDatesUpdated($event)"/>
        </div>
        <div class="kr-sg-dropdowns channels-drpdowns" ngbDropdown placement="bottom-right">
            <div class="dropdown-open">
                <button type="button" class="dropdown-toggle before-none dropdown-input" id="repdropdown" ngbDropdownToggle>
                    <i class="icon-ast_channels"></i>
                    <span class="title-text">{{channelObject[this.selectedChannel]}}</span>
                    <span class="count-channels">2</span>
                </button>
                <ul class="content-menu" aria-labelledby="repdropdown" ngbDropdownMenu>
                    <perfect-scrollbar>
                        <div class="scroll-data mx-h-280">
                            <li ngbDropdownItem class="channel-name m_b_2" *ngFor="let channel of channelObject | keyvalue" (click)="changeChannel(channel.key)">
                                <a [ngClass]="selectedChannel == channel.key ? 'selected' : ''">{{channel.value}}</a>
                            </li>
                            <!-- <li ngbDropdownItem class="channel-name m_b_2">
                                <a>Whatsapp</a>
                            </li>
                            <li ngbDropdownItem class="channel-name m_b_2">
                                <a>Slack</a>
                            </li> -->
                        </div>
                    </perfect-scrollbar>
                </ul>
            </div>
        </div>
        <div class="export-btn" (click)="export()">
            <i class="icon-ast_export"></i>
            <span>Export</span>
        </div>
    </div>
</div>