

.date-channels-container{
    display: flex;
    align-items: center;
    .left-title{
        width: 100%;
        padding-right: 20px;
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
        color: #202124;
    }
    .right-sec-actions{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-end;
        .kr-sg-dropdowns {
            width: auto;
            margin-left: 12px;
            &.channels-drpdowns{
                .dropdown-open {
                    .dropdown-input{
                        border: 1px solid #D1D5DB;
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 5px 18px;
                        .icon-ast_channels{
                            margin-right: 7px;
                        }
                        .icon-sa-conv-mybot {
                          margin-right: 7px;
                        }
                        .title-text{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            color: #121314;
                        }
                        .count-channels{
                            min-width: 20px;
                            height: 20px;
                            background: #FEE0D7;
                            border-radius: 100%;
                            font-weight: 700;
                            font-size: 13px;
                            line-height: 36px;
                            color: #C8512D;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 6px;
                        }
                    }
                }
                .content-menu{
                    min-width: 200px;
                    box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
                    border-radius: 4px;
                    .scroll-data{
                        padding: 6px;
                    }
                }
            }
        }
        .export-btn{
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 6px;
            border: 1px solid #D1D5DB;
            background: #FFFFFF;
            padding: 4px 18px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #374151;
            cursor: pointer;
            height: 34px;
            display: flex;
            align-items: center;
            margin-left: 12px;
            i{
                margin-right: 7px;
                font-size: 13px;
            }
        }
    }
}