
.agent-widget-wrapper-data{
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background: var(--gray-100, #F2F4F7);
    // width: 466px;
    margin: 0 auto;
    header{
        flex-shrink: 0;
    }
    section{
        flex: 1 1 auto;
        overflow: auto;
        height: 100%;
    }
    footer{
        flex-shrink: 0;
    }
}

.hints-wrapper-fixed{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 72px;
    padding: 10px 16px;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    app-hints{
        width: 100%;
        // max-width: 420px;
    }
}

.nudges-wrapper-fixed{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 40px;
    padding: 10px 16px;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    app-hints{
        width: auto;
        // max-width: 420px;
    }
}


@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
