<div class="interputions-botttom-info">
    <div class="interputions-canvas-wrapper">
        <button class="btn_link" (click)="interruptClick(false)">
            <i class="krIocnsFont-close-md"></i>
        </button>
        <h1>Interruption Occured</h1>
        <p>Identified intent <span>{{currentDialog}}</span>. Running this would terminate your existing conversation.</p>
        <!-- <h2>“I am so sorry but it looks like I have to get to someplace urgently. Would it be possible to cancel the order I just placed?”</h2> -->
        <button class="_btn primaryBtn w-100" (click)="interruptClick(true)">Accept and Run</button>
        <button class="_btn secondaryBtn w-100" (click)="interruptClick(false, true)">Run Later</button>
        <button class="_btn solidBtn w-100" (click)="interruptClick(false)">Cancel</button>
    </div>  
</div>