


.interputions-botttom-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    .interputions-canvas-wrapper{
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
        padding: 16px;
        .btn_link{
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: var(--secondaryTextColor);
            right: 8px;
            top: 8px;
            z-index: 1;
        }
        h1{
            color: var(--gray-900, #101828);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0 0 2px 0;
        }
        p{
            color: var(--secondaryTextColor);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 0 4px 0;
            span{
                color: var(--themeTextColor);
            }
        }
        h2{
            border-radius: 10px;
            background: var(--backgroundColorFormFocus);
            padding: 6px 10px;
            color: var(--primaryTextColor);
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }
        ._btn{
            margin-top: 8px;
        }
    }
}

::ng-deep [dir="rtl"]{
    .interputions-botttom-info {
        .interputions-canvas-wrapper {
            .btn_link{
                right: auto !important;
                left: 8px;
            }
        }
    }
}
