<div class="search-assist-wrapper">
    <perfect-scrollbar>
        <div class="scroll-data">
            <div class="header-title">SearchAssist</div>
            <div class="info-intelegent">
                <div class="img-block">
                    <img src="assets/images/info-searchassist.svg">
                </div>
                <div class="content-sec">
                    <div class="title">Provide intelligent, contextual, and personalized search experience in every interaction across your web and mobile channels.</div>
                    <a class="know-more" href="#" target="_blank">Know More</a>
                </div>
            </div>
            <div class="label_heading">Client Information</div>
            <div class="action-box-data">
                <div class="row row-data">
                    <div class="col-6 column-data">
                        <div class="kr-sg-input-text">
                            <div class="label-text">Domain URL <i class="icon-sa-help"></i></div>
                            <input type="text" placeholder="Enter Domain URL" class="input-text">
                        </div>
                    </div>
                    <div class="col-6 column-data">
                        <div class="kr-sg-input-text">
                            <div class="label-text">Stream ID <i class="icon-sa-help"></i></div>
                            <input type="text" placeholder="Enter Stream ID" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="row row-data border-0">
                    <div class="col-6 column-data">
                        <div class="kr-sg-input-text">
                            <div class="label-text">Client ID <i class="icon-sa-help"></i></div>
                            <input type="text" placeholder="Enter Client URL" class="input-text">
                        </div>
                    </div>
                    <div class="col-6 column-data">
                        <div class="kr-sg-input-text">
                            <div class="label-text">Client Secret <i class="icon-sa-help"></i></div>
                            <input type="text" placeholder="Enter Client Secret" class="input-text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-save">
                <button class="kr-sg-button-secondary btn_lg">Edit</button>
                <button class="kr-sg-button-primary btn_lg">Save</button>
            </div>
        </div>
    </perfect-scrollbar>
</div>