

.search-assist-wrapper{
    height: calc(100vh - 59px);
    .kr-sg-toggle input:checked + .slider{
        background-color: #1b92d8;
    }   
    .box-data-title{
        border: 1px solid #E3E8EF;
        border-radius: 4px;
        padding: 17px 24px;
        position: relative;
        padding-right: 75px;
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        margin-bottom: 30px;
        .title-text{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }
        .desc-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #697586;
        }
        .kr-sg-toggle{
            position: absolute;
            right: 20px;
            top: auto;
        }
    }
    .scroll-data{
        padding: 40px;
        width: 880px;
        .goto-link{
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #2B75E4;
            cursor: pointer;
            height: 34px;
            padding: 0 10px;
            float: right;
            span{
                padding-right: 10px;
            }
        }
    }
    .header-title{
        font-size: 26px;
        font-weight: bold;
        color: #202124;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .info-text-succes-fail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .label_heading{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #171717;
            margin-bottom: 5px;
        }
        .connected-title{
            display: flex;
            align-items: center;
            .icon_connected{
                display: flex;
                width: 16px;
                height: 16px;
                background: #15803D;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                font-size: 7px;
                color: #fff;
                flex-shrink: 0;
                margin-right: 7px;
            }
            .text-title{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #121926;
            }
        }
        .fail-case{
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #B91C1C;
            span{
                padding-left: 8px;
            }
        }
    }
    .banner-success{
        background: #F0FDF4;
        border: 1px solid #BBF7D0;
        border-radius: 6px;
        padding: 12px 20px;
        display: flex;
        align-items: flex-start;
        position: relative;
        margin-bottom: 30px;
        .icon_check{
            width: 16px;
            height: 16px;
            background: #15803D;
            border-radius: 100%;
            flex-shrink: 0;
            font-size: 7px;
            color: #fff;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 13px;
            top: 2px;
        }
        .content-sec{
            .title{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #166534;
                margin-bottom: 2px;
            }
            .text-link{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #166534;
                text-decoration-line: underline;
                cursor: pointer;
            }
        }
        .close-banner{
            position: absolute;
            right: 12px;
            top: 19px;
            cursor: pointer;
            color: #22C55E;
        }
    }
    .fail-banner{
        display: flex;
        align-items: center;
        background: #FEF2F2;
        border: 1px solid #FECACA;
        border-radius: 6px;
        padding: 11px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #991B1B;
        margin-bottom: 30px;
        span{
            width: 100%;
            padding-left: 10px;
        }
        .close-banner{
            cursor: pointer;
        }
    }
    .action-box-data{
        margin: 15px 0;
        background: #FAFAFA;
        border-radius: 4px;
        padding: 0px 20px;
        width: 800px;
        .row-data{
            margin: 0;
            border-bottom: 1px solid #E5E5E5;
            .column-data{
                padding: 20px 10px;
                .label-text{
                    margin-bottom: 4px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #171717;
                    i{
                        font-size: 14px;
                        color: #A3A3A3;
                        margin-left: 2px;
                        cursor: pointer;
                        position: relative;
                        top: 1px;
                    }
                    sup {
                        font-size: 100% !important;
                        top : -0.4rem !important;
                    }
                }
                .eye-copy{
                    position: absolute;
                    right: 12px;
                    display: flex;
                    align-items: center;
                    top: 30px;
                    .eye{
                        padding-right: 10px;
                        border-right: 1px solid #697586;
                        cursor: pointer;
                    }
                    .copy-btn{
                        padding-left: 10px;
                        cursor: pointer;
                    }
                }
            }
            .p-r-72{
                padding-right: 72px;
            }
        }
    }
    .edit-save{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 20px;
        .goto-link{
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #2B75E4;
            cursor: pointer;
            height: 34px;
            padding: 0 10px;
            span{
                padding-right: 10px;
            }
        }
        button{
            margin-left: 15px;
        }
    }
}

.help_hint_data{
    border-radius: 4px;
    background: var(--warning-50, #FFFBEB);
    box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.10), 0px 4px 6px -1px rgba(16, 24, 40, 0.10);
    display: flex;
    padding: 8px 20px;
    margin-bottom: 10px;
    position: relative;
    gap: 10px;
    z-index: 99;
    .bulb-icon{
    flex-shrink: 0;
    color: #F59E0B;
    }
    .hint-content{
    color: var(--secondary-600, #B97818);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    span{
    font-weight: 500;
    text-decoration-line: underline;
    cursor: pointer;
    }
    }
}