<div class="dlete-rule-common-dialg">
    <div class="close-rule-modal" (click)="discardChanges(false)">
        <i class="icon-sa-close"></i>
    </div>
    <div class="content-data">
        <div class="delete-icon">
            <i class="icon-sa-welcome-delete"></i>
        </div>
        <div class="info-titles">
            <div class="title">{{"COMMON.DISCARD_CHANGES" | translate}}</div>
            <div class="desc-text">{{"COACHING_CONFORMATION_DESC_TEXT | translate"}}?</div>
        </div>
    </div>
    <div class="btn-actions-footer">
        <button class="kr-sg-button-danger btn_lg" (click)="discardChanges(true)">{{"BUTTONS.DISCARD" |translate}}</button>
        <button class="kr-sg-button-secondary btn_lg" (click)="discardChanges(false)">{{"BUTTONS.CANCEL"}}</button>
    </div>
</div>