<div class="dlete-rule-common-dialg">
    <div class="close-rule-modal" (click)="discardChanges(false)">
        <i class="icon-sa-close"></i>
    </div>
    <div class="content-data">
        <div class="delete-icon">
            <i class="icon-sa-welcome-delete"></i>
        </div>
        <div class="info-titles">
            <div class="title">Discard Changes</div>
            <div class="desc-text">Changes will not be saved. Do you want to proceed?</div>
        </div>
    </div>
    <div class="btn-actions-footer">
        <button class="kr-sg-button-secondary btn_lg" (click)="discardChanges(true)">Discard</button>
        <button class="kr-sg-button-danger btn_lg" (click)="discardChanges(false)">Cancel</button>
    </div>
</div>