
<div class="slider-sec-data">
    <form [formGroup]="inviteForm">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img (click)="closeSlider()" src="assets/icons/agent-settings/arrow-back.svg">
                <div class="main-title">{{"USER.MANAGE.INVITE_NEWUSER" | translate}}</div>
            </div>
            <div class="close-link col-4 p-0"><img src="assets/images/close.svg" (click)="closeSlider()"></div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="body-sec-data">           
                <div class="title-invite-user">{{"NEWUSER.INVITE_USER" | translate}}</div>
                <div class="kr-sg-checkbox p-0 m-0">
                    <input id="checkbox-12w" class="checkbox-custom" type="checkbox" (change)="toggleBulkInvite($event)">
                    <label for="checkbox-12w" class="checkbox-custom-label">{{"NEWUSER.INVITE_BULK" | translate}}</label>
                </div> 
                <div [hidden]="showBulk" class="enter-email-desc">{{"NEWUSER.EMAIL_ADDRESS_INVITE" | translate}}</div>
                <div [hidden]="showBulk" class="input-block-data" formArrayName="email">
                    <div class="label-text">{{"NEWUSER.EMAIL_ID" | translate}}</div>
                    <div class="text-input-block" *ngFor="let email of emails; let i=index">
                        <div class="kr-sg-input-text">                    
                            <input type="text" [formControlName]='i' class="input-text">                    
                        </div>
                        <div class="clear-input">
                            <img src="assets/icons/agent-settings/clear.svg">{{"NEWUSER.CLEAR" | translate}}
                        </div>
                    </div>   
                </div>
                <div class="bulik-invite-data" *ngIf="showBulk">
                    <ul>
                        <li>1. {{"NEW_USER.CREATE_SAVE_TEXT_FILE_SPECIFIC_FORMAT" | translate}}</li>
                        <li>2. {{"NEW_USER.UPLOAD_TEXT_FILE_PREPARED" | translate}}</li>
                    </ul>
                    <div class="file-upload-btn">
                        <label for="file_upload" class="custom_file_upload">
                            <img src="assets/icons/agent-settings/file-upload.svg">{{"NEW_USER.CUSTOM_UPLOAD" | translate}}
                        </label>
                        <input id="file_upload" type="file"/>
                    </div>
                </div>
    
            </div>
        </perfect-scrollbar>
        <div class="footer-sec">
            <button class="kr-sg-button-primary btn_lg" [disabled]="inviteForm.invalid" type="submit">{{"NEW_USER.SEND_INVITATION" | translate}}</button>
        </div>
    </form>
</div>
