@import './../../../../scss/variables/variables.scss';


.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px 20px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;                
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 136px);            
    } 
    .body-sec-data{
        padding: 30px 70px;       
        .label-text {
            font-weight: 500;
            font-size: 12px !important;
            line-height: 15px;
            margin-bottom: 8px !important;
        }    
        .title-invite-user{
            color: $primaryFontColor;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 28px;
        }   
        .enter-email-desc{
            color: $primaryFontColor;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            margin: 10px 0 30px 0;
        }
        .input-block-data{
            .text-input-block{
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;
                .kr-sg-input-text{
                    width: 380px;
                }
                .clear-input{
                    color: $warningColor;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    margin-left: 20px;
                    cursor: pointer;
                    img{
                        margin: 0 11px;
                    }
                }
            }
        }    
        .bulik-invite-data{
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{
                    color: $primaryFontColor;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 8px;
                }
            }
            .file-upload-btn{
                margin: 20px 0;
                .custom_file_upload{
                    background: $whiteColor;
                    border: 1px solid $borderColor;
                    box-sizing: border-box;
                    border-radius: 4px;
                    margin: 0;
                    padding: 6px 20px;
                    display: inline-flex;
                    align-items: center;
                    color: $primaryFontColor;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    cursor: pointer;
                    img{
                        margin-right: 12px;
                    }
                }
                input{
                    display: none;
                }
            }
        }    
    }
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
}