
<ng-container *ngFor="let file of filesList | slice : 0 : viewCount;">
    <div class="faq-suggestions-wrapper" [ngClass]="{'grayout-msgs-node' : file?.send}">
      <div class="faq-s-header">
          <div class="titles-info-heading">
              <h1 class="text-truncate" *ngIf="!file.link && file.title">{{file.title}}</h1>
              <h1 class="text-truncate" *ngIf="file.link && file.title"> <a class="moreText" role="link" (click)="openurlInBrowser(file.link)">{{file.title}}</a></h1>
              <div class="sent-msg-text" *ngIf="file.send">{{(file.send === 'send' ?  'SENT' : 'COPIED') | translate }}</div>
  
          </div>
          <div class="faq-actions" *ngIf="!hideActionButtons && file?.content && !file.internalFlag" [ngClass]="{'faq-actions-top' : !file?.title}">
              <ng-container>
                  <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.COPY, file, projConstants.ARTICLE)" *ngIf="!hideCopyButton">
                      <i class="krIocnsFont-copy"></i>
                  </button>
                  <button class="solidbtn" aria-label="button" (click)="handleSendCopyButton(projConstants.SEND, file , projConstants.ARTICLE)" *ngIf="!hideSendButton">{{ 'SEND'  | translate }}</button>
              </ng-container>
          </div>
      </div>
      <div class="faq-body-content">
          <div class="data-faq-paragraph">            
              <div class="text-info-more-data-link">
                  <p [ngClass]="{'show-full-text' : !file.showMoreButton}" [innerHTML]="file?.content | safeHtml" #articleContent></p>
                  <div class="more-links-actions">
                      <a class="moreText" role="link" *ngIf="articleContent.scrollHeight > 36">
                          <span class="more-text" *ngIf="file?.showMoreButton" (click)="toggleShowMoreLess(file)">{{'MORE_TEXT' | translate}}</span>
                          <span class="less-text" *ngIf="!file?.showMoreButton" (click)="toggleShowMoreLess(file)">{{'LESS_TEXT' | translate}}</span>
                      </a>
                      <p *ngIf="articleContent.scrollHeight > 36 && file.link">|</p>
                      <a class="moreText" role="link" (click)="openurlInBrowser(file.link)" *ngIf="file.link && !file.title">{{'VIEW_FULL_FILE' | translate}}</a>
                  </div>
              </div>                       
          </div>
      </div>
    </div>
  </ng-container>
  <a class="moreText-bottom" *ngIf="filesList?.length > 2">
      <span class="more-text" (click)="viewMoreClick()" *ngIf="!moreClick">{{'SHOW_MORE_FILES' | translate}}</span>
      <span class="less-text" (click)="viewLessClick()" *ngIf="moreClick">{{'SHOW_LESS_FILES' | translate}}</span>
  </a>
  