<div class="step-addherence-block" [formGroup]="adherenceForm">
    <div class="adherence-left-block">
        <perfect-scrollbar>
            <div class="scroll-data">
                <div class="toggle-block" *ngIf="!isChecklist">
                    <label class="kr-sg-toggle">
                        <input type="checkbox" formControlName="isAdherenceActive" (change)="isActive($event)">
                        <div class="slider"></div>
                    </label>
                    <div class="content-block">
                        <div class="title">Check Agent’s Adherence</div>
                        <div class="desc-text">Check for agent’s compliance with this step dynamically using Utterances, Dialogs or Context Variables.  </div>
                    </div>
                </div>
                <div [formGroup]="onlyAdhreForm" class="utt-radio-block" [ngClass]="{'disabled': !adherenceForm?.value?.isAdherenceActive && !isChecklist}">
                    <div class="radio-block-content" [ngClass]="{'active-check': onlyAdhreForm?.value?.type === 'utterance'}">
                        <div class="kr-sg-radiobutton">
                            <input formControlName="type" [checked]="onlyAdhreForm?.value?.type === 'utterance'" value="utterance" id="radio-1au" name="type" class="radio-custom" type="radio" (change)="changeRadio('utterance')">
                            <label for="radio-1au" class="radio-custom-label">
                                <div class="title">By Agent’s Utterance</div>
                                <div class="desc-text">Listen for specific utterances by the agent to mark as completed</div>
                            </label>
                        </div>
                        <div class="radio-checked-content" [ngClass]="{'disabled': onlyAdhreForm?.value?.type !== 'utterance', 'd-none': onlyAdhreForm?.value?.type !== 'utterance'}">
                            <div class="utterances-add-manually-block">
                                <!-- <div class="add-rule-block">
                                    <div class="label-text">Utterances</div>
                                    <input type="text" placeholder="Some utterance entered here" class="input-text">
                                    <div class="input-desc">Type an utterance that the customer might say...</div>
                                </div> -->
                                <div class="add-utterences-drp">
                                    <div class="label-text">Utterances</div>
                                    <div class="dropdown-adherence" ngbDropdown #utteranceDropdown="ngbDropdown">
                                        <input [formControl]="searchKey" type="text" class="drp-input-search"  ngbDropdownToggle>
                                        <div class="text_info">Type an utterance that the customer might say...</div>
                                        <ul class="dropdown_menu-wrapper" ngbDropdownMenu id="utteranceDropdownMenu">
                                            <div class="body-dropdown">
                                                <ng-container *ngIf="loaded; else loading">
                                                    <div class="searchedutt" *ngIf="searchKey.value">
                                
                                                      <div class="check-list kr-sg-checkbox">
                                                        <input id="checkbox-all" class="checkbox-custom" type="checkbox" [checked]="selectAll" (change)="selectAllSearchUttereances($event)">
                                                        <label for="checkbox-all" class="checkbox-custom-label">{{"PLACEHOLDERS.SELECT_ALL" | translate}}</label>
                                                      </div>
                                
                                                        <div class="check-list kr-sg-checkbox">
                                                            <input id="checkbox-11" [checked]="customUtt" (change)="customUttChange($event.target.checked)" class="checkbox-custom" type="checkbox">
                                                            <label for="checkbox-11" class="checkbox-custom-label">{{searchKey.value}}</label>
                                                        </div>
                                                    </div>
                                                    <ng-container>
                                                    <div class="found-details-info" *ngIf="searchKey.value?.length > 0 && clS.metaForUtternace?.integration">
                                                        <div class="found-ai-count">
                                                            <i class="icon-coaching--ai"></i>
                                                            <span>Found {{openAiUtteranceArray?.length}}</span>
                                                        </div>
                                                        <div class="found-desc">Similar utterances with the same meaning</div>
                                                        <perfect-scrollbar>
                                                            <div class="found-items-scroll">
                                                                <ng-container *ngFor="let utter of openAiUtteranceArray;let i = index">
                                                                    <div class="item-data-found" >
                                                                        <div class="kr-sg-checkbox">
                                                                            <input id="'checkbox-'+ {{i}}" class="checkbox-custom" type="checkbox" [checked]="utter.enabled" (click)="changeUtterActiveStatus(utter)">
                                                                            <label for="'checkbox-'+ {{i}}" class="checkbox-custom-label">{{utter.sentence}}</label>
                                                                        </div>
                                                                        <!-- <div class="percentage-colr">
                                                                            <span class="percentage">12%</span>
                                                                            <span class="bgcolor"></span>
                                                                        </div> -->
                                                                    </div>
                                                                </ng-container>
                                                                <!-- <div class="ai-working-loader">
                                                                    <div class="loader-round"></div>
                                                                </div> -->
                                                            </div>
                                                        </perfect-scrollbar>
                                                    </div>
                                                </ng-container>
                                                </ng-container>
                                                <ng-template #loading>
                                                    <ng-container>
                                                        <div class="ai-itassist-wrapper">
                                                            <div class="label-heading"><i class="icon-coaching--ai"></i> Assistant</div>
                                                            <div class="no-data-loader">
                                                                <div class="sk-fading-circle">
                                                                    <div class="sk-circle1 sk-circle"></div>
                                                                    <div class="sk-circle2 sk-circle"></div>
                                                                    <div class="sk-circle3 sk-circle"></div>
                                                                    <div class="sk-circle4 sk-circle"></div>
                                                                    <div class="sk-circle5 sk-circle"></div>
                                                                    <div class="sk-circle6 sk-circle"></div>
                                                                    <div class="sk-circle7 sk-circle"></div>
                                                                    <div class="sk-circle8 sk-circle"></div>
                                                                    <div class="sk-circle9 sk-circle"></div>
                                                                    <div class="sk-circle10 sk-circle"></div>
                                                                    <div class="sk-circle11 sk-circle"></div>
                                                                    <div class="sk-circle12 sk-circle"></div>
                                                                </div>
                                                                <div class="thinking-text">Working...</div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-template>
                                            </div>
                                            <div class="footer-add">
                                                <button class="kr-sg-button-secondary btn_lg" (click)="clearAIsuggestions(utteranceDropdown)">Clear</button>
                                                <button class="kr-sg-button-primary btn_lg" (click)="saveUtterances();clearAIsuggestions(utteranceDropdown)" [disabled]="addButtonClick">Add</button>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <!-- *ngIf="!(selectedUtterancesArray.length && selectedNewUtterances.length); else data" -->
                                <div class="no-utt-found" *ngIf="!(selectedUtterancesArray.length || adherenceForm?.value?.adherence?.addUtterances?.length); else data">No utterances saved</div>
                                <ng-template #data>
                                    <div class="saved-utt-block">
                                        <div class="saved-header">Saved Utterances</div>
                                        
                                        <!-- <div class="percentage-colr">
                                            <span class="bgcolor"></span>
                                            <span class="percentage">12%</span>
                                        </div> -->
                                        <!-- <ng-container>
                                            <div class="saved-utt-text-block">
                                                <div class="saved-title">Some utterance entered here</div>
                                                <div class="delete-saved-utt">
                                                    <i class="icon-sa-welcome-delete"></i>
                                                </div>
                                            </div>
                                        </ng-container> -->
                                        <!-- <i class="icon-sa-copy" [ngbTooltip]="utter.copied ? utter.copied : 'copy'"
                                            (click)="copy(utter?.utterance, iDx, selectedNewUtterances);">
                                        </i> -->
                                        <!-- <i class="icon-sa-copy" [ngbTooltip]="utter.copied ? utter.copied : 'copy'"
                                            (click)="copy(utter?.utterance, iD, selectedUtterancesArray);">
                                        </i> -->


                                        <ng-container *ngFor="let utter of selectedUtterancesArray; let iD = index">
                                            <div class="saved-utt-text-block">
                                                <div class="saved-title" [title]="utter?.utterance">{{utter?.utterance}}</div>
                                                <div class="delete-saved-utt">
                                                    <i class="icon-sa-welcome-delete" (click)="deleteUtternce(utter, iD)"></i>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngFor="let utter of (this.adherenceForm?.value?.adherence?.addUtterances); let iD = index">
                                            <div class="saved-utt-text-block">
                                                <div class="saved-title" [title]="utter?.utterance">{{utter?.utterance}}</div>
                                                <div class="delete-saved-utt">
                                                    <i class="icon-sa-welcome-delete" (click)="deleteUtternceNew(utter, iD)"></i>
                                                </div>
                                            </div>
                                        </ng-container>

                                        <!-- <ng-container *ngFor="let utter of selectedUtterancesArray; let iD = index">
                                            <div class="saved-utt-body-sec">
                                                <div class="saved-title-utt" [title]="utter?.utterance">{{utter?.utterance}}</div>
                                                <div class="delete-saved-utt">
                                                    <i class="icon-sa-welcome-delete" (click)="deleteUtternce(utter, iD)"></i>
                                                </div>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngFor="let utter of selectedNewUtterances;let iDx = index">
                                            <div class="saved-utt-body-sec">
                                                <div class="saved-title-utt" [title]="utter?.utterance">{{utter?.utterance}}</div>
                                                <div class="delete-saved-utt">
                                                    <i class="icon-sa-welcome-delete" (click)="deleteUtternceNew(utter?.utterance, iDx)"></i>
                                                </div>
                                            </div>
                                        </ng-container> -->
                                        
                                    </div>
                                 </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="radio-block-content" [ngClass]="{'active-check': onlyAdhreForm?.value?.type === 'dialog'}">
                        <div class="kr-sg-radiobutton">
                            <input [checked]="onlyAdhreForm?.value?.type === 'dialog'" formControlName="type" value="dialog" id="radio-1cd" name="type" class="radio-custom" type="radio" (change)="changeRadio('dialog')">
                            <label for="radio-1cd" class="radio-custom-label">
                                <div class="title">By Dialog Execution</div>
                                <div class="desc-text">Watch for a dialog execution run by the agent</div>
                            </label>
                        </div>
                        <div class="radio-checked-content" [ngClass]="{'disabled': onlyAdhreForm?.value?.type !== 'dialog', 'd-none': onlyAdhreForm?.value?.type !== 'dialog'}">
                            <div class="label-text">Bot</div>
                            <ng-container *ngIf="!isSm;">
                                <div class="kr-sg-dropdowns m-b-10" placement="bottom">
                                    <div class="dropdown dropdown-open">
                                        <button disabled class="disabled dropdown-toggle dropdown-input">{{currentBot.name}}</button>
                                    </div>
                                </div>
                                <ng-container *ngIf="currentBot.type === 'universalbot'">
                                    <div class="kr-sg-dropdowns m-b-10" ngbDropdown placement="bottom">
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>{{ standardBotsOj[onlyAdhreForm.value?.botId] ? standardBotsOj[onlyAdhreForm.value?.botId] : 'Select Option'}}</button>
                                            <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                                <perfect-scrollbar class="mx-h-200">
                                                    <li ngbDropdownItem class="p-0" *ngFor="let bot of standardBots" (click)="selectBot(bot, true)">
                                                        <a>{{bot.botName}}</a>
                                                    </li>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                                <ng-container *ngIf="isSm">
                                    <div class="kr-sg-dropdowns m-b-10" ngbDropdown placement="bottom">
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>{{ standardBotsOj[onlyAdhreForm.value?.botId] ? standardBotsOj[onlyAdhreForm.value?.botId] : 'Select Option'}}</button>
                                            <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                                <perfect-scrollbar class="mx-h-200">
                                                    <li ngbDropdownItem class="p-0" *ngFor="let bot of standardBots" (click)="selectSMBot(bot, true)">
                                                        <a>{{bot.name}}</a>
                                                    </li>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="kr-sg-dropdowns m-b-10" ngbDropdown placement="bottom">
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>{{ childBotsObj[onlyAdhreForm.value?.lBId] ? childBotsObj[onlyAdhreForm.value?.lBId] : 'Select Option'}}</button>
                                            <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                                <perfect-scrollbar class="mx-h-200">
                                                    <li ngbDropdownItem class="p-0" *ngFor="let bot of childBots" (click)="selectBot(bot, true)">
                                                        <a>{{bot.name}}</a>
                                                    </li>
                                                </perfect-scrollbar>
                                            </ul>
                                        </div>
                                    </div>

                                </ng-container>
                            <div class="label-text">Automation</div>
                            <div class="kr-sg-dropdowns m-b-30" ngbDropdown placement="bottom">
                                <div class="dropdown dropdown-open">
                                    <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>{{ useCases[onlyAdhreForm.value?.taskId] ? useCases[onlyAdhreForm.value?.taskId] : 'Select Option'}}</button>
                                    <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                        <perfect-scrollbar class="mx-h-200">
                                            <li ngbDropdownItem class="p-0" *ngFor="let uc of useCases | keyvalue" (click)="selectUc(uc)">
                                                <a>{{uc.value}}</a>
                                            </li>
                                        </perfect-scrollbar>
                                    </ul>
                                </div>
                            </div>
                            <div class="label-text">Wait for Dialog Execution for...</div>
                            <div class="kr-sg-dropdowns m-b-30" ngbDropdown placement="bottom">
                                <div class="dropdown dropdown-open">
                                    <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>{{executeState[onlyAdhreForm.value?.when] ? executeState[onlyAdhreForm.value?.when] : 'Select Option'}}</button>
                                    <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                        <perfect-scrollbar class="mx-h-200">
                                            <li ngbDropdownItem class="p-0" *ngFor="let ec of executeState | keyvalue" (click)="dialogExec(ec)">
                                                <a>{{ec.value}}</a>
                                            </li>
                                        </perfect-scrollbar>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="two-column-layout m-b-10">
                                <div class="kr-sg-dropdowns" ngbDropdown placement="bottom">
                                    <div class="dropdown dropdown-open">
                                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Features & Upsales</button>
                                        <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                            <perfect-scrollbar class="mx-h-200">
                                                <li ngbDropdownItem class="p-0">
                                                    <a>Sequential</a>
                                                </li>
                                                <li ngbDropdownItem class="p-0">
                                                    <a>Random</a>
                                                </li>
                                            </perfect-scrollbar>
                                        </ul>
                                    </div>
                                </div>
                                <div class="kr-sg-input-text">
                                    <input type="text" placeholder="Placeholder text" class="input-text">
                                </div>
                            </div> -->
                            <!-- <div class="info-text-dilog">If adherence checker does not detect the selected automation being run by the agent in the next 3 minutes, this step will be marked incomplete.</div> -->
                        </div>
                    </div>
                    <div class="radio-block-content disabled" [ngClass]="{'active-check': onlyAdhreForm?.value?.type === 'variable'}">
                        <div class="kr-sg-radiobutton">
                            <input [checked]="onlyAdhreForm?.value?.type === 'variable'" formControlName="type" value="variable" id="radio-1cv" name="type" class="radio-custom" type="radio" (change)="changeRadio('utterance')">
                            <label for="radio-1cv" class="radio-custom-label">
                                <div class="title">By Variable Change</div>
                                <div class="desc-text">Watch for a context variable change</div>
                            </label>
                        </div>
                        <div class="radio-checked-content d-none">
                            <div class="kr-sg-input-text m-b-10">
                                <input type="text" placeholder="Placeholder text" class="input-text">
                            </div>
                            <div class="two-column-layout m-b-35">
                                <div class="kr-sg-dropdowns" ngbDropdown placement="bottom">
                                    <div class="dropdown dropdown-open">
                                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Features & Upsales</button>
                                        <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                            <perfect-scrollbar class="mx-h-200">
                                                <li ngbDropdownItem class="p-0">
                                                    <a>Sequential</a>
                                                </li>
                                                <li ngbDropdownItem class="p-0">
                                                    <a>Random</a>
                                                </li>
                                            </perfect-scrollbar>
                                        </ul>
                                    </div>
                                </div>
                                <div class="kr-sg-input-text">
                                    <input type="text" placeholder="Placeholder text" class="input-text">
                                </div>
                            </div>
                            <div class="label-text">Wait for Dialog Execution for...</div>
                            <div class="two-column-layout m-b-10">
                                <div class="kr-sg-dropdowns" ngbDropdown placement="bottom">
                                    <div class="dropdown dropdown-open">
                                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Features & Upsales</button>
                                        <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                            <perfect-scrollbar class="mx-h-200">
                                                <li ngbDropdownItem class="p-0">
                                                    <a>Sequential</a>
                                                </li>
                                                <li ngbDropdownItem class="p-0">
                                                    <a>Random</a>
                                                </li>
                                            </perfect-scrollbar>
                                        </ul>
                                    </div>
                                </div>
                                <div class="kr-sg-input-text">
                                    <input type="text" placeholder="Placeholder text" class="input-text">
                                </div>
                            </div>
                            <div class="info-text-dilog">If adherence checker does not detect the selected automation being run by the agent in the next 3 minutes, this step will be marked incomplete.</div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="utterance-right-block d-none">
        <div class="empty-search">
            <div class="img-block-empty">
                <img src="assets/icons/empty-search-add.svg">
            </div>
            <p>No conversation history found.</p>
        </div>
    </div>
</div>
