

.flow-creation-wrapper-container{
    display: inline-block;
    width: 100%;
    height: 100vh;
    .heading-actions-block{
        background: #FFFFFF;
        border-bottom: 1px solid #F0F1F2;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        height: 60px;
        .left-content{
            flex-shrink: 0;
            display: flex;
            align-items: center;
            .arrow-back{
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-right: 30px;
                cursor: pointer;
                i{
                    transform: rotate(90deg);
                }
            }
            .kr-sg-input-text{
                width: 320px;
            }
        }
        .middle-content{
            width: 100%;
            text-align: center;
            padding: 0 15px;
        }
        .btn-actions{
            flex-shrink: 0;
            display: flex;
            button{
                margin-left: 12px;
                &:first-child{
                    margin: 0;
                }
            }
        }
    }
    .flow-wrapper-body-scroll{
        height: calc(100% - 61px);
        .inner-scroll-data-flows{
            padding: 20px 80px 20px 200px;
            .block-data-triggers{
                display: inline-block;
                width: 100%;
                margin-bottom: 32px;
                .triggers-icon-block{
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    .indication-icon{
                        background: #FFFFFF;
                        border: 1px solid #EAECF0;
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                        border-radius: 8px;
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #101828;
                        font-size: 18px;
                        flex-shrink: 0;
                        margin-right: 12px;
                    }
                    .title{
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #667085;
                    }
                }
                .content-data-triggers{
                    padding-left: 52px;
                    display: inline-block;
                    width: 100%;
                    .add-triggers{
                        display: flex;
                        align-items: flex-start;
                        .add-triggers-btn{
                            padding: 3px 12px 3px 10px;
                            background: #F9FAFB;
                            border-radius: 16px;
                            border: 1px solid transparent;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #344054;
                            outline: 0;
                            // margin-top: 12px;
                            cursor: pointer;
                            &.trigger-btn-active{
                                border: 1px solid #2970FF;
                                background: #EFF8FF;
                                color: #175CD3;
                            }
                        }
                        .line-indicator{
                            width: 34px;
                            flex-shrink: 0;
                            border-top: 1px solid #2970FF;
                            margin-top: 15px;
                        }
                        .choose-triggers-block{
                            background: #EFF4FF;
                            border: 1px solid #2970FF;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                            border-radius: 10px;
                            padding: 10px;
                            .heading-title{
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 17px;
                                color: #2970FF;
                                margin-bottom: 14px;
                            }
                            .choose-t-block-bg{
                                background: #FFFFFF;
                                border-radius: 10px;
                                .title-with-icon{
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 15px;
                                    display: flex;
                                    align-items: center;
                                    padding: 12px 14px 0px 14px;
                                    color: #9DA1A6;
                                    i{
                                        flex-shrink: 0;
                                        margin-right: 5px;
                                        font-size: 20px;
                                    }
                                }
                                .choose-t-block{
                                    padding: 10px;
                                    display: flex;
                                    flex-wrap: wrap;
                                    max-width: 544px;
                                    .inner-card-choose{
                                        padding: 4px;
                                        width: 50%;
                                        .content-choose-triggers{
                                            background: #F7F9FA;
                                            border: 1px solid #98A2B3;
                                            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                                            border-radius: 8px;
                                            padding: 11px 14px;
                                            display: flex;
                                            align-items: flex-start;
                                            min-height: 66px;
                                            cursor: pointer;
                                            .icon_blk{
                                                width: 21px;
                                                height: 21px;
                                                flex-shrink: 0;
                                                font-size: 21px;
                                                opacity: 0.4;
                                                margin-right: 10px;
                                            }
                                            .info-data-content{
                                                width: 100%;
                                                .title-choose{
                                                    font-weight: 500;
                                                    font-size: 14px;
                                                    line-height: 20px;
                                                    color: #121314;
                                                }
                                                .desc-text{
                                                    font-weight: 400;
                                                    font-size: 12px;
                                                    line-height: 18px;
                                                    color: #5F6368;
                                                    margin-bottom: 4px;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.pre-built-triggers{
                                    margin-top: 5px;
                                    .choose-t-block{
                                        .inner-card-choose{
                                            padding: 4px 0;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}