
<form [formGroup]="ruleForm" (keydown.enter)="$event.preventDefault()">
<div class="flow-creation-wrapper-container">
    <div class="heading-actions-block">
        <div class="left-content">
            <div class="arrow-back" (click)="closeRuleScreen()">
                <i class="icon-sa-arrow-down"></i>
            </div>
            <div class="kr-sg-input-text">
                <input type="text" placeholder="new coaching rule" class="input-text" formControlName="name">
            </div>
        </div>
        <div class="middle-content">
            <div class="utt-name">{{groupDetails?.name}} /</div>
            <div class="dropdown-adherence" ngbDropdown placement="bottom-center" #ruleSelection="ngbDropdown">
                <button class="dropdown-toggle btn-toggle" ngbDropdownToggle><i class="icon-sa-arrow-down"></i></button>
                <ul class="dropdown_menu-wrapper" ngbDropdownMenu id="ruleSelectionMenu">
                    <perfect-scrollbar class="mx-h-300">
                        <li ngbDropdownItem class="list-item-li" *ngFor="let rule of groupDetails?.rules" (click)="changeRule(rule)">
                            <span class="title">{{rule.name}}</span>
                        </li>
                    </perfect-scrollbar>
                    <!-- <div class="variable-value-input with-check-icon">
                        <div class="input-variable-sec">
                            <div class="label-text">Rule Description</div>
                            <div class="kr-sg-input-text">
                                <span class="info-tip" tooltipClass="tooltip-global-styles" ngbTooltip="Tooltip info">
                                    <i class="icon-sa-help"></i>
                                </span>
                                <input formControlName="description" type="text" placeholder="Placeholder text" class="input-text">
                            </div>
                            <div class="count-char">6/42</div>
                        </div>
                        <div class="check-icon-block">
                            <i class="icon-sa-conv-check"></i>
                        </div>
                    </div> -->
                </ul>
            </div>
        </div>
        <div class="btn-actions">
            <button class="kr-sg-button-secondary btn_lg" (click)="closeRuleScreen()">Cancel</button>
            <button class="kr-sg-button-secondary-two btn_lg">Publish</button>
            <button class="kr-sg-button-primary btn_lg" [disabled]="ruleForm.invalid" (click)="saveRule()">Save</button>
        </div>
    </div>

    <div class="flow-wrapper-body-scroll">
        <perfect-scrollbar>
            <div class="inner-scroll-data-flows">
                <div class="block-data-triggers">
                    <div class="triggers-icon-block">
                        <div class="indication-icon">
                            <i class="icon-coaching--when"></i>
                        </div>
                        <div class="title">When...</div>
                    </div>
                    <div class="content-data-triggers" cdkDropList (cdkDropListDropped)="drop($event)">
                        <ng-container *ngFor="let triggertype of ruleForm.controls['triggers']['controls']; let i = index">
                            <div cdkDrag class="example-box">
                                <div class="drag-content" cdkDragHandle>
                                    <i class="icon-coaching--move1"></i>
                                </div>
                                <app-utterance [createOrEdit]="createOrEdit" class="comp" [form]="triggertype" *ngIf="triggertype?.controls?.type?.value == coachingCnst.UTTERANCE" [index]="i+1" [length]="ruleForm.controls['triggers']['controls']?.length" (deleteTrigger)="deleteTrigger($event)"></app-utterance>
                                <app-speech-analysis class="comp" [form]="triggertype" *ngIf="triggertype?.controls?.type?.value == coachingCnst.SPEECH_ANALYSIS" [index]="i+1" [length]="ruleForm.controls['triggers']['controls']?.length" (deleteTrigger)="deleteTrigger($event)"></app-speech-analysis>
                                <app-variable [form]="triggertype" class="comp" *ngIf="triggertype?.controls?.type?.value == coachingCnst.VARIABLE" [index]="i+1" [length]="ruleForm.controls['triggers']['controls']?.length" (deleteTrigger)="deleteTrigger($event)"></app-variable>
                                <app-dialog [form]="triggertype" class="comp" *ngIf="triggertype?.controls?.type?.value == coachingCnst.DIALOG" [index]="i+1" [length]="ruleForm.controls['triggers']['controls']?.length" (deleteTrigger)="deleteTrigger($event)"></app-dialog>
                            </div>
                        </ng-container>
                        <!-- <ng-container *ngIf="triggerClick">
                            <ng-container *ngTemplateOutlet="addTriggerTemplate;"></ng-container> 
                        </ng-container> -->
                        <!-- <div class="add-triggers" *ngIf="!triggerClick">
                            <button class="add-triggers-btn" (click)="addTriggerClick()"> + Add a trigger</button>
                        </div> -->
                        <div class="add-trgigger-dropdown" ngbDropdown placement="right-top">
                            <button class="add-triggers-btn" ngbDropdownToggle> + Add a trigger</button>
                            <div class="drop-add-trigger" ngbDropdownMenu>
                                <ng-container *ngTemplateOutlet="addTriggerTemplate;"></ng-container> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-data-triggers">
                    <div class="triggers-icon-block">
                        <div class="indication-icon">
                            <i class="icon-coaching--thendo"></i>
                        </div>
                        <div class="title">Then do...</div>
                    </div>
                    <div class="content-data-triggers">
                        <ng-container *ngFor="let actionType of ruleForm.controls['actions']['controls']; let i = index">
                            <div class="example-box">
                                <!-- <div class="drag-content" cdkDragHandle>
                                    <i class="icon-sa-elipse"></i>
                                </div> -->
                                <app-nudge-agent class="comp" [form]="actionType" *ngIf="actionType?.controls?.type?.value == coachingCnst.NUDGE_AGENT" [index]="i+1" [length]="ruleForm.controls['actions']['controls']?.length"></app-nudge-agent>
                                <app-hint-agent class="comp" [form]="actionType" *ngIf="actionType?.controls?.type?.value == coachingCnst.HINT_AGENT" [index]="i+1" [length]="ruleForm.controls['actions']['controls']?.length"></app-hint-agent>
                                <!-- <app-variable [form]="actionType" class="comp" *ngIf="actionType?.controls?.type?.value == coachingCnst.VARIABLE" [index]="i+1" [length]="ruleForm.controls['actions']['controls']?.length"></app-variable>
                                <app-dialog [form]="actionType" class="comp" *ngIf="actionType?.controls?.type?.value == coachingCnst.DIALOG" [index]="i+1" [length]="ruleForm.controls['actions']['controls']?.length"></app-dialog> -->
                            </div>
                        </ng-container>
                        <div class="add-trgigger-dropdown" ngbDropdown placement="right-top">
                            <button class="add-triggers-btn" ngbDropdownToggle> + Add an action</button>
                            <div class="drop-add-trigger" ngbDropdownMenu>
                                <ng-container *ngTemplateOutlet="addActionTemplate;"></ng-container> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-data-triggers">
                    <div class="triggers-icon-block">
                        <div class="indication-icon">
                            <i class="icon-coaching-assign-this"></i>
                        </div>
                        <div class="title">Assign this to...</div>
                    </div>
                    <div class="content-data-triggers">
                        <div class="add-trgigger-dropdown" ngbDropdown placement="right-top">
                            <button class="add-triggers-btn" ngbDropdownToggle> + Add a trigger</button>
                            <div class="drop-add-trigger" ngbDropdownMenu>
                                <ng-container *ngTemplateOutlet="addTriggerTemplate;"></ng-container> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>
</form>



<!-- COmmon trigger template -->
<ng-template #addTriggerTemplate>
    <div class="add-triggers">
        <!-- trigger-btn-active -->
        <!-- <button class="add-triggers-btn trigger-btn-active">+ Add a trigger</button> -->
        <div class="line-indicator"></div>
        <div class="choose-triggers-block">
            <div class="heading-title">Choose a Trigger</div>
            <div class="choose-t-block-bg">
                <div class="choose-t-block">
                    <ng-container *ngFor="let trigger of allTriggers">
                        <div class="inner-card-choose" [ngClass]="{'disableTrigger' : trigger.disable}">
                            <div class="content-choose-triggers" ngbDropdownItem (click)="selectTriggerClick(trigger.type)">
                                <div class="icon_blk">
                                    <i class="{{trigger.icon}}"></i>
                                </div>
                                <div class="info-data-content">
                                    <div class="title-choose">{{trigger.title}}</div>
                                    <div class="desc-text">{{trigger.desc}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="choose-t-block-bg pre-built-triggers">
                <div class="title-with-icon">
                    <i class="icon-sa-chat"></i>
                    <span>Pre Build Triggers</span>
                </div>
                <perfect-scrollbar class="mx-h-300">
                    <div class="choose-t-block">
                        <div class="inner-card-choose">
                            <div class="content-choose-triggers" ngbDropdownItem>
                                <div class="icon_blk">
                                    <i class="icon-sa-chat"></i>
                                </div>
                                <div class="info-data-content">
                                    <div class="title-choose">Pricing Objection</div>
                                    <div class="desc-text">Utterance Trigger / By Customer</div>
                                    <div class="desc-text">“Example utterance sentence that can go here and will trunk after this point</div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-card-choose">
                            <div class="content-choose-triggers" ngbDropdownItem>
                                <div class="icon_blk">
                                    <i class="icon-sa-chat"></i>
                                </div>
                                <div class="info-data-content">
                                    <div class="title-choose">Escalation to Manager</div>
                                    <div class="desc-text">Utterance Trigger / By Customer</div>
                                    <div class="desc-text">“Example utterance sentence that can go here and will trunk after this point</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div> -->
        </div>
    </div>
</ng-template> 

<ng-template #addActionTemplate>
    <div class="add-triggers">
        <!-- trigger-btn-active -->
        <!-- <button class="add-triggers-btn trigger-btn-active">+ Add a trigger</button> -->
        <div class="line-indicator"></div>
        <div class="choose-triggers-block">
            <div class="heading-title">Choose an Action</div>
            <div class="choose-t-block-bg">
                <div class="choose-t-block">
                    <ng-container *ngFor="let action of allActions">
                        <div class="inner-card-choose">
                            <div class="content-choose-triggers" ngbDropdownItem (click)="selectActionClick(action.type)">
                                <div class="icon_blk">
                                    <i class="{{action.icon}}"></i>
                                </div>
                                <div class="info-data-content">
                                    <div class="title-choose">{{action.title}}</div>
                                    <div class="desc-text">{{action.desc}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-template> 
