.overlay-box{
    bottom:46px; 
    display:block
}
.overlay-box-libraray{
    top:88px; 
    display:block;
    .suggestion-content{
      top: 0px;
      bottom: auto;
    }
}
.filter-list {
    list-style: none inside;
    width: 100%;  
    text-align: left;
    padding: 0px;
  }
  .filter-list li {
    padding: 0.5em 0;
    text-align: left;
  }