<div class="assist-wrapper" id="accordion">
    <div class="card-assist">
        <div class="assist-header">
            <div class="assist-header-content">
                <div class="left-title-info">
                    <div class="text-dropdown-info">
                        <h1>My Bot</h1>
                        <span class="dialogs-number" *ngIf="interruptDialogList?.length">{{interruptDialogList?.length}}</span>
                    
                    
                        <div ngbDropdown class="dropdown" #interruptDropdown="ngbDropdown" *ngIf="interruptDialogList?.length">
                            <button type="button" id="playbookDrp" ngbDropdownToggle>
                                <i class="krIocnsFont-chevron-down arrow-icon"></i>
                            </button>
                            <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                                <div class="heading-text-scripts">INTERUPTED DIALOG TASK</div>
                                <div class="dialog-task-wrapper" *ngFor="let dialog of interruptDialogList; let i = index">
                                    <div class="title-paragraph">
                                        <p>{{dialog.name}}</p>
                                    </div>
                                    <div class="dialog-actions">
                                        <button class="primary-btn"
                                            (click)="dialogueRunClick(dialog, i, true);interruptDropdown.close()">RUN</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="bottom-titles">
                        <p *ngIf="dialogName">{{dialogName}}</p>
                        <span *ngIf="dialogName && currentRunningStep">Step: <b>{{currentRunningStep}}</b></span>
                    </div>
                </div>
                <div class="actions-assist-header">
                    <button class="solid-action" aria-label="button" [ngClass]="{'disabled-msg' : !dialogName}" (click)="handlePopupEvent({status : true, type : projConstants.LISTVIEW})">
                        <i class="krIocnsFont-list"></i>
                    </button>
                    <button class="solid-action" aria-label="button" [ngClass]="{'disabled-msg' : !dialogName}" (click)="restartClickEvent()">
                        <i class="krIocnsFont-refresh"></i>
                    </button>
                    <button class="solid-action stop-assist" aria-label="button" (click)="terminateDialog()" [ngClass]="{'disabled-msg' : !dialogName}">
                        <span></span>
                    </button>
                    <button class="solid-action minimize-btn" aria-label="button" (click)="minMaxButtonClick()">
                        <i class="krIocnsFont-minimize" *ngIf="maxButton"></i>
                        <i class="krIocnsFont-maximize" *ngIf="!maxButton"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse-tab" #collapseTab>
          <div class="card-body">
                <div class="card_body_acc_content kore-chat-window">          
                    <ng-container *ngFor="let res of mybotResponseArray; let i = index">
                        <ng-container *ngIf="res.type == renderResponseType.SMALLTALK">
                            <app-smalltalk [smallTalkData]="res" [agentassistArrayIndex]="i"
                                [agentassistResponseArrayLength]="mybotResponseArray.length"
                                ></app-smalltalk>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.AUTOMATION">
                            <app-dialog [automationData]="res" [agentassistArrayIndex]="i"
                                [agentassistResponseArrayLength]="mybotResponseArray.length"></app-dialog>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.FEEDBACK">
                            <app-feedback [feedbackData]="res" (updateFeedbackProperties)="updateFeedbackProperties($event,i)"
                                [agentassistArrayIndex]="i" [agentassistResponseArrayLength]="mybotResponseArray.length">
                            </app-feedback>
                        </ng-container>
                    </ng-container>
                    <ng-container [ngTemplateOutlet]="listingTriggers" *ngIf="!mybotResponseArray.length"></ng-container>                    

                </div>
          </div>
        </div>
    </div>
</div>

<ng-template #terminateCanvas let-offcanvas>
    <ng-container *ngIf="terminateClick">
        <app-terminate (handlePopupEvent)="handlePopupEvent($event)"></app-terminate>
    </ng-container>
    <ng-container *ngIf="showInterruptPopup">
        <app-interrupt (handlePopupEvent)="handlePopupEvent($event)" [currentDialog]="dialogName"></app-interrupt>
    </ng-container>
    <ng-container *ngIf="showListView">
        <app-listview [assistResponseArray]="mybotResponseArray"  (handlePopupEvent)="handlePopupEvent($event)"></app-listview>
    </ng-container>
</ng-template>

<!-- Templates -->
<ng-template #listingTriggers>
    <div class="empty-listing-triggers disabled-msg">
        <h1>No active MyBot tasks presently</h1>
        <p>To start a task on mybot, go to the search tab and select the "Run with agent inputs" option for your desired task.</p>
    </div>
</ng-template>

<!-- Entity Message -->
<ng-template #entityMessage>
    <!-- error-no-reponse class add it when error-->
    <div class="entity-mesage-data">
        <div class="input-block-entity">
            <p>PizzaBase: </p>
            <input type="text" aria-label="Input">
            <div class="border-outline"></div>
            <div class="actions-inputs">
                <button class="remove-input" aria-label="Button">
                    <i class="krIocnsFont-close"></i>
                </button>
                <button class="check-input" aria-label="button">
                    <i class="krIocnsFont-check"></i>
                </button>
                <button class="success-check-input" aria-label="button">
                    <i class="krIocnsFont-check-circle"></i>
                </button>
                <button class="wrong-res-info" aria-label="button">
                    <i class="krIocnsFont-warning-solid"></i>
                    <span>3</span>
                </button>
            </div>
        </div>
        <p class="info-entity-text">Awaiting Response  |  Type to override</p>
    </div>
</ng-template>

<ng-template #feedback>
    <app-feedback></app-feedback>
</ng-template>


