<div class="assist-wrapper" id="accordion">
    <div class="card-assist">
        <div class="assist-header">
            <div class="assist-header-content">
                <div class="left-title-info">
                    <div class="text-dropdown-info">
                        <h1>{{'MY_BOT' | translate}}</h1>
                        <span class="dialogs-number" *ngIf="interruptDialogList?.length">{{interruptDialogList?.length}}</span>
                    
                    
                        <div ngbDropdown class="dropdown" #interruptDropdown="ngbDropdown" container="body" *ngIf="interruptDialogList?.length">
                            <button type="button" id="playbookDrp" ngbDropdownToggle>
                                <i class="krIocnsFont-chevron-down arrow-icon"></i>
                            </button>
                            <div ngbDropdownMenu class="playbook-dropdown-content" aria-labelledby="playbookDrp">
                                <div class="heading-text-scripts">{{'INTERRUPT_DIALOG' | translate}}</div>
                                <div class="dialog-task-wrapper" *ngFor="let dialog of interruptDialogList; let i = index">
                                    <div class="title-paragraph">
                                        <p>{{dialog.name}}</p>
                                    </div>
                                    <div class="dialog-actions">
                                        <button class="primary-btn"
                                            (click)="dialogueRunClick(dialog, i, true);interruptDropdown.close()">{{'RUN' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="bottom-titles">
                        <p *ngIf="dialogName">{{dialogName}}</p>
                        <span *ngIf="dialogName && currentRunningStep">{{'STEP' | translate}}: <b>{{currentRunningStep}}</b></span>
                    </div>
                </div>
                <div class="actions-assist-header">
                    <button class="solid-action" aria-label="button" [disabled]="!dialogName" (click)="handlePopupEvent({status : true, type : projConstants.LISTVIEW})" *ngIf="rootService?.showListView">
                        <i class="krIocnsFont-list"></i>
                    </button>
                    <button class="solid-action" aria-label="button" [disabled]="!dialogName" (click)="restartClickEvent()" *ngIf="rootService?.showRestart">
                        <i class="krIocnsFont-refresh"></i>
                    </button>
                    <button class="solid-action stop-assist" aria-label="button" (click)="terminateDialog()" [disabled]="!dialogName">
                        <span></span>
                    </button>
                    <button class="solid-action minimize-btn" aria-label="button" (click)="minMaxButtonClick()"
                    [title]="maxButton ? ('MINIMIZE' | translate) : ('MAXIMIZE' | translate)">
                        <i class="krIocnsFont-minimize" *ngIf="maxButton"></i>
                        <i class="krIocnsFont-maximize" *ngIf="!maxButton"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse-tab" #collapseTab>
          <div class="card-body">
                <div class="card_body_acc_content kore-chat-window">     
                    <app-loader [type]="projConstants.WIDGET_LOADER" *ngIf="showSpinner"></app-loader>     
                    <ng-container *ngFor="let res of mybotResponseArray; let i = index; trackBy:assistRespType;">
                        <ng-container *ngIf="res.type == renderResponseType.SMALLTALK">
                            <app-smalltalk [smallTalkData]="res" [agentassistArrayIndex]="i+1"
                                [agentassistResponseArray]="mybotResponseArray"
                                ></app-smalltalk>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.AUTOMATION">
                            <app-dialog [automationData]="res" [agentassistArrayIndex]="i+1"
                                [agentassistResponseArray]="mybotResponseArray"></app-dialog>
                        </ng-container>
                        <ng-container *ngIf="res.type == renderResponseType.FEEDBACK">
                            <app-feedback [feedbackData]="res" (updateFeedbackProperties)="updateFeedbackProperties($event,i)"
                                [agentassistArrayIndex]="i+1" [agentassistResponseArray]="mybotResponseArray"
                                [ngClass]="{'componentSlideUPAnimation' : (mybotResponseArray.length == i+1), 'grayout-msgs-node' : res.oldFeedback}">
                            </app-feedback>
                        </ng-container>
                    </ng-container>
                    <ng-container [ngTemplateOutlet]="listingTriggers" *ngIf="!mybotResponseArray.length"></ng-container>                    

                </div>
          </div>
        </div>
    </div>
</div>

<ng-template #terminateCanvas let-offcanvas>
    <ng-container *ngIf="terminateClick && dialogName">
        <app-terminate (handlePopupEvent)="handlePopupEvent($event)"></app-terminate>
    </ng-container>
    <ng-container *ngIf="showInterruptPopup && dialogName">
        <app-interrupt (handlePopupEvent)="handlePopupEvent($event)" [currentDialog]="dialogName"></app-interrupt>
    </ng-container>
    <ng-container *ngIf="showListView && dialogName">
        <app-listview [entityList]="listViewEntityList"  (handlePopupEvent)="handlePopupEvent($event)"></app-listview>
    </ng-container>
    <ng-container *ngIf="showRestart && dialogName">
        <app-restart [assistResponseArray]="mybotResponseArray"  (handlePopupEvent)="handlePopupEvent($event)"></app-restart>
    </ng-container>
</ng-template>

<!-- Templates -->
<ng-template #listingTriggers>
    <div class="empty-listing-triggers disabled-msg">
        <h1>{{'MYBOT_TRIGGET_LISTEN' | translate}}</h1>
        <p>{{'MYBOT_EMTPY_MSG' | translate}}</p>
    </div>
</ng-template>

<ng-template #feedback>
    <app-feedback></app-feedback>
</ng-template>


