<div class="call-details-agent">
  <div class="call-details-header">
    <div class='profile'>
      <img src="assets/images/userProfile.svg" alt="">
    </div>
    <div class="phone">
      <img src="assets/images/phone.png" alt="">
      <span class="number">{{userData.conversationInfo.userDetails.phoneNumber}}</span>
    </div>
  </div>
  <div class="call-details-section">
    <div class="call-row">
      <span class="call-left">
        <div class="ft">{{"CALL_DETAILS.USERID" | translate}}</div>
      </span>
      <span class="call-right">
        <div class="ft">{{userData.conversationInfo.userId}}</div>
      </span>
    </div>
    <div class="call-row">
      <span class="call-left">
        <div class="ft">{{"CALL_DETAILS.CALLID" | translate}}</div>
      </span>
      <span class="call-right">
        <div class="ft">
          {{userData.conversationInfo.callId}}
        </div>
      </span>
    </div>

    <div class="call-row">
      <span class="call-left">
        <div class="ft">{{"CALL_DETAILS.LAST_INTERACTION" | translate}}</div>
        <!-- <div class="sd">2 days ago</div> -->
      </span>
      <span class="call-right">
        <!-- <div class="ft">27-09-2020</div>
        <div class="sd">11:21:34 PM</div> -->
        -
      </span>
    </div>
    <div class="call-row">
      <span class="call-left">
        <div class="ft">{{"CALL_DETAILS.TOTAL_CONVS" | translate}}</div>
        <div class="sd">(in last 30days)</div>
      </span>
      <span class="call-right">
        <div class="ft">
          <!-- 7 times -->
          -
        </div>
      </span>
    </div>
    <div class="call-row">
      <span class="call-left">
        <div class="ft">{{"CALL_DETAILS.USER_META_TAGS" | translate}}</div>
        <div class="sd">{{"CALL_DETAILS.TOTAL" | translate}} : {{userMetaTags.length}}</div>
      </span>
      <span class="call-right">
        <div *ngFor="let tags of userMetaTags | slice:0:userMetaTagsEndCount; let i=index">
          <span class="key">{{tags.tagName}} : </span>
          <span class="val">{{tags.tagValue}}</span>
        </div>
        <div class="more" *ngIf="userMetaTags.length - userMetaTagsEndCount > 0" (click)="openUserMetaTagsSlider()">
          + {{userMetaTags.length - userMetaTagsEndCount}} {{"DEFAULTS.MORE" | translate}}
        </div>
      </span>
    </div>
    <div class="call-row">
      <span class="call-left">
        <div class="ft">{{"CALL_DETAILS.SESSION_META_TAGS" | translate}}</div>
        <div class="sd">{{"CALL_DETAILS.TOTAL" | translate}}: {{sessionMetaTags.length}}</div>
      </span>
      <span class="call-right">
        <div *ngFor="let tags of sessionMetaTags | slice:0:sessionMetaTagsEndCount; let i=index">
          <span class="key">{{tags.tagName}} : </span>
          <span class="val">{{tags.tagValue}}</span>
        </div>
        <div class="more" *ngIf="sessionMetaTags.length - sessionMetaTagsEndCount > 0" (click)="openSessionMetaTagsSlider()">
          + {{sessionMetaTags.length - sessionMetaTagsEndCount}} {{"DEFAULTS.MORE" | translate}}
        </div>
      </span>
    </div>    
  </div>
</div>
<app-slider-component id="userMetaTagsListSlider">
  <app-meta-tagss [metaTagsData]="userMetaTags" [heading]="userMetaTagsHead" (closeSlid)="closeUserMetaTagsSlider()"></app-meta-tagss>
</app-slider-component>
<app-slider-component id="sessionMetaTagsListSlider">
  <app-meta-tagss [metaTagsData]="sessionMetaTags" [heading]="sessionMetaTagsHead" (closeSlid)="closeSessionMetaTagsSlider()"></app-meta-tagss>
</app-slider-component>