
<ng-container *ngFor="let snippet of searchedSnippetList | slice : 0 : viewCount;let i = index">
  <div class="faq-suggestions-wrapper">
    <div class="faq-s-header">
      <div class="titles-info-heading">
        <h1 class="text-truncate">{{snippet.title}}</h1>
      </div>
      <button class="solidbtn" *ngIf="snippet.page_url">
        <a [href]="snippet.page_url" target="_blank">{{'KNOW_MORE' | translate}}</a>
      </button>
      <div class="faq-actions" *ngIf="!hideActionButtons">
        <ng-container *ngIf="!snippet.send">
          <button class="solidbtn" (click)="handleSendCopyButton(projConstants.COPY, snippet , projConstants.SNIPPET)">
            <i class="krIocnsFont-copy"></i>
          </button>
          <button class="solidbtn" (click)="handleSendCopyButton(projConstants.SEND, snippet , projConstants.SNIPPET)" *ngIf="!hideSendButton">{{ 'SEND'  | translate }}</button>
        </ng-container>
        <ng-container *ngIf="snippet.send">
          <button class="solidbtn">{{ 'SENT'  | translate }}</button>
        </ng-container>
      </div>
    </div>
    <div class="faq-body-content">
      <div class="data-faq-paragraph">     
        <div class="text-info-more-data-link">
          <p [ngClass]="{'show-full-text' : !snippet.showMoreButton}" #snippetContent>{{snippet.content}}</p>
          <a class="moreText" role="button" aria-expanded="false" *ngIf="snippetContent.scrollHeight > 36">
            <span class="more-text" *ngIf="snippet?.showMoreButton" (click)="toggleShowMoreLess(snippet)">...{{'MORE_TEXT' | translate}}</span>
            <span class="less-text" *ngIf="!snippet?.showMoreButton" (click)="toggleShowMoreLess(snippet)">{{'LESS_TEXT' | translate}}</span>
          </a>
        </div>              
      </div>
    </div>
  </div>
</ng-container>
<a class="moreText-bottom" *ngIf="searchedSnippetList?.length > 2">
  <span class="more-text" (click)="viewMoreClick()" *ngIf="!moreClick">{{'SHOW_MORE_SNIPPET' | translate}}</span>
  <span class="less-text" (click)="viewLessClick()" *ngIf="moreClick">{{'SHOW_LESS_SNIPPET' | translate}}</span>
</a>
