<app-slider-component id="channel-slider" #slider="app-slider">
    <div class="slider-sec-data">
        <div class="header-sec row m-0">
            <div class="lef-sec col-8 p-0">
                <img [src]="hostUrl + agentDetails?.iconPath" class="iconDefault">
            </div>
            <div class="close-link col-4 p-0"><img [src]="assets.close"  (click)="closeS()"></div>
        </div>
        <perfect-scrollbar class="scroll-content">
            <div class="outging-v-agent-transfer">
                <ul class="nav nav-tabs" role="tablist">
                    <li>
                        <div class="tab-name active" data-toggle="tab" href="#config">
                            <img [src]="assets.settingsGray" class="gray-settings">
                            <img [src]="assets.settingsGreen" class="green-settings">{{"SETTINGS.CONFIGURATION" | translate}}
                        </div>
                    </li>
                    <li>
                        <div class="tab-name" data-toggle="tab" href="#inst">
                            <img [src]="assets.workspacesGray" class="inst-gray">
                            <img [src]="assets.workspacesGreen" class="inst-green"> {{"SETTINGS.INSTRUCTIONS" | translate}}
                        </div>
                    </li>                               
                </ul> 
                <div class="tab-content"> 
                    <div id="config" class="tab-pane fade show active">
                        <form [formGroup]="agentForm" style="border: none !important;">
                            <div *ngFor="let field of selectedAgent.fields; let i = index" [ngSwitch]="field.fieldType">
                                <div class="kr-sg-input-text-area mb-2 pb-1 position-relative" *ngSwitchCase="'textarea'">
                                    <div class="label-text m-0">{{field.displayName}}</div>
                                    <textarea [placeholder]="field.placeholder" class="input-text" [formControlName]="field.name" [readOnly]="field.isEditable === false ? true: false"></textarea>
                                    <div class="error-msg" *ngIf="agentForm.get(field.name).touched && agentForm.get(field.name).invalid">
                                        <span *ngIf="agentForm.get(field.name).errors.required">
                                            {{"SETTINGS.IS_REQUIRED" | translate : ({labelText: field.displayName}) }}
                                        </span>
                                        <span *ngIf="agentForm.get(field.name).errors.minLength">
                                            {{ "SETTINGS.SHD_CONT_MIN" | translate : ({'label1': field.displayName, 'label2': field.minLength}) }}
                                        </span>
                                        <span *ngIf="agentForm.get(field.name).errors.maxLength">
                                            {{ "SETTINGS.IS_EXCEEDED" | translate : ({'varA': field.displayName }) }} {{field.maxLength}} {{"SETTINGS.CHARACTERS" | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="group-radiobutton" *ngSwitchCase="'radio'">
                                    <div class="heading-title">{{field.displayName}}</div>
                                    <div class="kr-sg-radiobutton d-block" *ngFor="let item of field.listofvalues; let i = index">
                                        <input id="{{'radio' + field.name + i}}" [name]="field.name" class="radio-custom" type="radio" [formControlName]="field.name" [value]="item.key" [checked]="updateCheckedStatus(field.name, item.key)">
                                        <label for="{{'radio' + field.name + i}}" class="radio-custom-label font-weight-normal">{{item.label}}</label>
                                    </div>
                                </div>
    
                                <div *ngSwitchCase="'staticlist'">
                                    <div class="label_text">{{field.displayName}}</div>
                                    <mat-form-field class="custom-mat-select">
                                        <mat-label>{{"LIVE_CHAT_AGENT.CHOOSE_OPTION" | translate}}</mat-label>
                                        <mat-select disableOptionCentering="true" [formControlName]="field.name" style="border: none !important;" [disabled]="field.isEditable === false ? true: false">
                                            <mat-option [value]="item.key" *ngFor="let item of field.listofvalues"> {{item.label}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="error-msg-dropdown" *ngIf="agentForm.get(field.name).touched && agentForm.get(field.name).invalid">
                                        <span *ngIf="agentForm.get(field.name).errors.required">
                                            {{"SETTINGS.IS_REQUIRED" | translate : ({labelText: field.displayName}) }}
                                        </span>
                                    </div>
                                </div>
    
                                <div *ngSwitchCase="'dynamiclist'">
                                    <div class="label_text">{{field.displayName}}</div>
                                    <mat-form-field class="custom-mat-select">
                                        <mat-label>{{"LIVE_CHAT_AGENT.CHOOSE_OPTION" | translate}}</mat-label>
                                        <mat-select disableOptionCentering="true" [formControlName]="field.name" style="border: none !important;" [disabled]="field.isEditable === false ? true: false" (selectionChange)="onSdkAppChange(field.name)">
                                            <mat-option [value]="item.clientId" *ngFor="let item of sdkApps"> {{item.appName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="error-msg-dropdown" *ngIf="agentForm.get(field.name).touched && agentForm.get(field.name).invalid">
                                        <span *ngIf="agentForm.get(field.name).errors.required">
                                            {{"SETTINGS.IS_REQUIRED" | translate : ({labelText: field.displayName}) }}
                                        </span>
                                    </div>
                                </div>
    
                                <div class="kr-sg-input-text mb-2 pb-1 position-relative" *ngSwitchDefault>
                                    <div class="label-text">{{field.displayName}}  <span *ngIf="field.showCopy">{{"LIVE_CHAT_AGENT.COPY" | translate}}</span></div>
                                    <input [type]="(field.dataType === 'number'? 'number': (field.dataType === 'password' ? 'password':'text'))" [placeholder]="field.placeholder" class="input-text" [formControlName]="field.name" autocomplete="off" [readOnly]="field.isEditable === false ? true: false">
                                    <div class="error-msg" *ngIf="agentForm.get(field.name).touched && agentForm.get(field.name).invalid">
                                        <span *ngIf="agentForm.get(field.name).errors.required">
                                            {{"SETTINGS.IS_REQUIRED" | translate : ({labelText: field.displayName}) }}
                                        </span>
                                        <span *ngIf="agentForm.get(field.name).errors.minLength">
                                            {{ "SETTINGS.SHD_CONT_MIN" | translate : ({'label1': field.displayName, 'label2': field.minLength}) }}
                                        </span>
                                        <span *ngIf="agentForm.get(field.name).errors.maxLength">
                                            {{ "SETTINGS.IS_EXCEEDED" | translate : ({'varA': field.displayName }) }} {{field.maxLength}} {{"SETTINGS.CHARACTERS" | translate}}
                                        </span>
                                        <span *ngIf="agentForm.get(field.name).errors.email">{{"LIVE_CHAT_AGENT.ENTER_VALID_EMAIL" | translate}}</span>
                                        <span *ngIf="agentForm.get(field.name).errors.pattern">{{"LIVE_CHAT_AGENT.ENTER_VALID_URL" | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-app" *ngIf="selectedAgent.key === 'custom' && agentForm.get('sdkClientId').value && selectedSdkApp">
                                <div class="kr-sg-input-text mb-2 pb-1 position-relative">
                                    <div class="label-text">{{"LIVE_CHAT_AGENT.BOT_NAME" | translate}} <span [cdkCopyToClipboard]="selectedSdkApp.appName" (click)="botName.select();">{{"LIVE_CHAT_AGENT.COPY" | translate}}</span></div>
                                    <input type="text" class="input-text" readOnly #botName [value]="selectedSdkApp.appName">
                                </div>
                                <div class="kr-sg-input-text mb-2 pb-1 position-relative">
                                    <div class="label-text">{{"LIVE_CHAT_AGENT.BOT_ID" | translate}} <span [cdkCopyToClipboard]="(this.selectedSdkApp.bots && this.selectedSdkApp.bots[0] && this.selectedSdkApp.bots[0]._id)" (click)="botId.select();">{{"LIVE_CHAT_AGENT.COPY" | translate}}</span></div>
                                    <input type="text" class="input-text" readOnly #botId [value]="(this.selectedSdkApp.bots && this.selectedSdkApp.bots[0] && this.selectedSdkApp.bots[0]._id)"> 
                                </div>
                                <div class="kr-sg-input-text mb-2 pb-1 position-relative">
                                    <div class="label-text">{{"LIVE_CHAT_AGENT.CLIENT_ID" | translate}} <span [cdkCopyToClipboard]="selectedSdkApp.clientId" (click)="clientId.select();">{{"LIVE_CHAT_AGENT.COPY" | translate}}</span></div>
                                    <input type="text" class="input-text" readOnly #clientId [value]="selectedSdkApp.clientId">
                                </div>
                                <div class="kr-sg-input-text mb-2 pb-1 position-relative">
                                    <div class="label-text">{{"LIVE_CHAT_AGENT.CLIENT_SECRET" | translate}} 
                                        <span [hidden]="!isView" (click)="clientSecretDisp.select();" [cdkCopyToClipboard]="selectedSdkApp.clientSecret">{{"LIVE_CHAT_AGENT.COPY" | translate}}</span>
                                        <span [ngClass]="{'mr-2': isView}" [hidden]="isView" (click)="isView = !isView">{{"LIVE_CHAT_AGENT.VIEW" | translate}}</span>
                                        <span [ngClass]="{'mr-2': isView}" [hidden]="!isView" (click)="isView = !isView">{{"LIVE_CHAT_AGENT.HIDE" | translate}}</span>
                                    </div>
                                    <input type="password" class="input-text" [hidden]="isView" readOnly #clientSecret [value]="selectedSdkApp.clientSecret">
                                    <input type="text" class="input-text" [hidden]="!isView" readOnly #clientSecretDisp [value]="selectedSdkApp.clientSecret">
                                </div>
                            </div>
                        </form>
                    </div>        
                    <div id="inst" class="tab-pane fade incommingTabContent">
                        <ng-container *ngFor="let item of instructions">
                            <ng-container *ngIf="item">
                                <div class="label-text font-weight-bold">{{item.title}}</div>
                                <div class="desc-info-text" [innerHTML]="item.instruction"></div>
                                <div class="code" *ngIf="item.code">
                                    <pre [innerHTML]="item.code"></pre>
                                  </div>
                                <div class="mb-3 mt-3 text-center" *ngFor="let img of item.image">
                                    <img [src]="img" width="95%">
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>                 
                </div>
            </div>
        </perfect-scrollbar>
        <div class="footer-sec" *ngIf="workflowService.appState !== 'published'">
            <button class="kr-sg-button-primary btn_lg mr-2" [disabled]="agentForm.invalid" (click)="save()" type="submit">{{"SETTINGS.DONE" | translate}}</button>
        </div>
    </div>
</app-slider-component>