<div class="usecases-main-header">
    <div class="heading">
        {{'EXP_FLOWS' | translate}}
    </div>
    <div class="selections" *ngIf="!usecaseService.isAddUsecase">
        <div class="dropdown">
            <button *ngIf="currentTab != 'exp'" class="smart-primary-btn" [disabled]="workflowService.appState == 'published'" type="button" data-bs-toggle="dropdown">
                <img src="assets/icons/add.svg" class="addPlus">{{ "USECASES.NEW_UC" | translate }}
            </button>
            <button *ngIf="currentTab === 'exp'" class="smart-primary-btn" type="button" (click)="createNewFlow()">
                <img src="assets/icons/add.svg" class="addPlus">{{ "USECASES.NEW_FLOW" | translate }}
            </button>
            <div class="dropdown-menu add-usecase">
                <div class="dropdown-selection" *ngFor="let usecase of newUseCases; let i=index" (click)='addUsecase(usecase)'>
                    <div class="icon">
                        <img [src]="usecase.imgSrc" alt="{{usecase.title}}">
                    </div>
                    <div class="usecase-desc">
                        <div class="title">{{usecase.title}}</div>
                        <div class="desc">{{usecase.desc}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>