<form [formGroup]="ruleForm">
    <div class="modal-wrapper-coaching">
        <div class="header-wrapper">
            <div class="title-heading">New Rule {{ruleForm.controls?.tags.value | json}}</div>
            <div class="close-modal" (click)="closeRule()">
                <i class="icon-sa-close"></i>
            </div>
        </div>
        <div class="body-wrapper">
            <div class="kr-sg-input-text m-b-15">
                <div class="label-text">Add Name</div>
                <input type="text" placeholder="Placeholder text" class="input-text" formControlName="name">
            </div>
            <div class="kr-sg-input-text-area m-b-15">
                <div class="label-text">Description</div>
                <textarea placeholder="Rule Purpose" class="input-text" formControlName="description"></textarea>
            </div>

            <!-- <div class="kr-sg-dropdowns m-b-15" ngbDropdown>
                <div class="label-text">Tags</div>
                <div class="editable-div" contenteditable="true" ngbDropdownToggle placeholder="Select">
                    <div class="chip-name">
                        <span>Pricing</span>
                        <i class="icon-sa-close"></i>
                    </div>
                </div>
                <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                    <div class="kr-sg-checkbox">
                        <input id="checkbox1" class="checkbox-custom" type="checkbox">
                        <label for="checkbox1" class="checkbox-custom-label">
                            <span>General</span>
                        </label>
                    </div>
                    <div class="kr-sg-checkbox">
                        <input id="checkbox11" class="checkbox-custom" type="checkbox">
                        <label for="checkbox11" class="checkbox-custom-label">
                            <span>General</span>
                        </label>
                    </div>
                </ul>
            </div> -->


              <mat-form-field class="example-chip-list">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let fruit of tags" [selectable]="true"
                           [removable]="true" (removed)="remove(fruit.name)">
                    {{fruit.name}}
                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New fruit..."
                         #tagInput
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="false"
                         (matChipInputTokenEnd)="add($event)" 
                         [matAutocomplete]="auto"
                         [formControl]="tagControl"
                          #trigger="matAutocompleteTrigger" >
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let fruit of filteredTagsDisplay;let i = index" (click)="selectedOption({target:{checked : ruleForm.controls?.tags.value.indexOf(fruit) >=0 ? false : true}}, fruit);$event.stopPropagation();trigger.openPanel()">
                        <input id="checkbox-{{i}}" type="checkbox" (click)="selectedOption($event,fruit);trigger.openPanel();$event.stopPropagation();" [value]="fruit"
                        [checked]="ruleForm.controls?.tags.value.indexOf(fruit) >= 0">
                        <span for="checkbox-{{i}}">{{fruit}}</span>
                    </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              


            <div class="channels-tags">
                <div class="label-text">Channels</div>
                <div class="channels-check">
                    <div class="check-item" *ngFor="let item of coachingCnst.channelList; let i = index">
                        <input id="checkbox-{{i}}" type="checkbox" (click)="channelSelection($event,item)" [checked]="item == ruleForm.controls?.channels?.controls[i]?.value">
                        <span for="checkbox-{{i}}">{{coachingCnst[item]}}</span>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="footer-wrapper">
            <button class="kr-sg-button-secondary-two btn_lg" (click)="closeRule()">Cancel</button>
            <button class="kr-sg-button-primary btn_lg" (click)="submitForm()">Apply</button>
        </div>
    </div>
</form>