ACCOUNT_SID=AC1fe2fc44be2f2fc38f83d5ba689f71a7
AUTH_TOKEN=979aaec50ca2a8d3539499626c7f0095
clientId=cs-de10176f-088f-5089-93ff-881ff69d913b
clientSecret=0+fXxrlWeO1HCWIeV7bW9VBxoYsJKEI763FGfo+L5lw=
aud=https://idproxy.kore.com/authorize
isAnonymous=false
agentassistURL=https://uat-agentassist.kore.ai
botId=st-ca73879a-83dc-56cc-9e5b-d9c97fadaf87
