@import './../../../scss/variables/variables.scss';
.invite-dialog {
    padding: 30px;
    height: 312px;
    overflow: hidden;
    .label {
        font-size: 12px;
        font-weight: 500;
    }
    .mat-chip {
        background: $primaryHoverColor;
        border-radius: 4px;
        margin: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
        min-height: 28px;
        &.chip-error {
            color: #ff001f;
            background: rgba(255, 0, 31, 0.1);
            > .mat-icon {
                color: #ff001f !important;
            }
        }
    }
    .error-label {
        color: #ff001f;
        font-size: 12px;
    }
    .mat-standard-chip .mat-chip-remove.mat-icon {
        color: #091E42;
        opacity: 1;
    }
}




:host ::ng-deep .example-chip-list {
    width: 100%;
    .mat-form-field-outline{
        display: none !important;
    }
    .mat-form-field-wrapper{
        padding: 0;
        .mat-form-field-flex{
            border: 0;
            margin: 0;
            padding: 0;
            .mat-form-field-infix{
                margin: 0;
                padding: 0;
                border: 0;
                .mat-chip-list{
                    .mat-chip-list-wrapper{
                        border-radius: 3px;
                        border: solid 1px $borderColor;        
                        margin: 0;
                        font-family: 'inter' !important;
                        .mat-input-element{
                            margin: 0;
                            border: 0;
                            height: 32px;
                            padding-left: 8px;
                        }
                        .mat-chip{
                            border-radius: 4px;
                            background-color: $borderColor;
                            padding: 0px 9px;
                            margin: 3px 0px 3px 3px;
                            min-height: 26px;
                            &:hover{
                                &::after{
                                    opacity: 0.09;
                                }
                            }
                            .mat-val{
                                color: $descFontColor;
                                font-size: 12px;
                                font-weight: bold;
                            }
                            .mat-icon{
                                width: auto;
                                height: auto;
                                opacity: 0.8;
                                font-size: 0px;
                                img{
                                    width: 11px;
                                    height: 11px;
                                    vertical-align: middle;
                                    position: relative;
                                    top: 0px;
                                    left: 2px;
                                }
                            }
                        }                        
                    }                        
                }
            }
        }                        
    }
    .mat-form-field-label-wrapper{
        padding: 0;
        height: 32px;                            
        top: 2px;
        .mat-form-field-label{
            margin: 0;
            top: 6px;
            left: 10px;
            color: $descFontColor !important;
        }
    }
    .mat-form-field-subscript-wrapper{
        margin: 0;
        top: 0;
    }
    .mat-form-field-underline{
        display: none;
    }
}

.bots-scroll{
    max-height: 300px;
}