<meta name="viewport" content="width=device-width, user-scalable=no">

<div *ngIf="!loading && !isFullScreen">
    <app-header></app-header>
    <div [ngClass]="showIframe ? '':'d-none'">
        <ng-container>
            <iframe [src]="iFrameUrl | safe" frameborder="0" id="botStoreIframe" style="height: calc(100vh - 60px)" width="100%"></iframe>
        </ng-container>
    </div>
    <app-content class="container-fluid p-0" [hidden]="showIframe"></app-content>
</div>

<div class="loaderContainer" *ngIf="loading && !isFullScreen">
    <img src="assets/images/logoIcon.png" class="loaderLogoImage" >
</div>

<div *ngIf="isFullScreen" [ngClass]="showIframe ? 'd-none':''">
    <app-content></app-content>
</div>