
@import './../../scss/variables/variables.scss';

.internal-chat-container {
  .internal-chat-window {
    max-height: calc(100vh - 90px);
    background-color: #fff;
    display: none;
    z-index: 99999;
    position: fixed;
    &.show{
      display: block;
      position: fixed;
      bottom: 10px;
      right: 15px;
      width: 364px;
      height: 100%;
      box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
      border-radius: 2px;
      padding: 0px;
    }
    .static-header-text-icons{
      display: flex;
      align-items: center;
      background: #FFFFFF;
      box-shadow: inset 0px -1px 0px #e4e5e7;
      padding: 14px 14px;
      justify-content: space-between;
      min-height: 50px;
      .main-heading{
        font-weight: bold;
        font-size: 14px;
        color: #000000;
        line-height: 17px;
      }
      .actions-close-minimize{
        display: flex;
        align-items: center;
        i{
          color: #202124;
        }
        .icon-sa-minus{
          font-size: 1px;
          margin-left: 15px;
          display: inline-block;
          padding: 2px;
          cursor: pointer;
        }
        .icon-sa-close{
          margin-left: 28px;
          display: inline-block;
          font-size: 12px;
          padding: 2px;
          cursor: pointer;
        }
      }
    }
    .tabs-header-data{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F5F8FA;
      border-bottom: 1px solid #E5E8EC;
      min-height: 50px;
      padding: 0 15px;
      .tab-name{
        padding: 14px 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #202124;
        min-height: 49px;
        position: relative;
        top: 1px;
        cursor: pointer;
        &.active-tab-name{
          border-bottom: 2px solid #009DAB;
        }
      }
      &.back-btn-sec{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .back-with-title{
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 12px 0;
          .icon-sa-arrow-left{
            color: #202124;
            font-size: 14px;
          }
          .title-back{
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            padding-left: 12px;
          }
        }
      }
    }

    .chat-container-app{
      height: calc(100% - 100px);
      &.if-notabs{
        height: calc(100% - 50px);
      }
      .select-chat-call-sec{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 62px;
        .info-text{
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #727D86;
          font-style: italic;
        }
        .call-chat-data{
          display: flex;
          align-items: center;
          text-align: center;
          margin: 30px 0;
          justify-content: space-between;
          min-width: 160px;
          .call_chat{
            cursor: pointer;
            .img-block{
                img{

                }
            }
            .c-m-title{
                color: $secondaryFontColor;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
            }
          }
        }
      }
      .call-phone-number-flow{
        padding: 15px 15px;
        .title{
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          margin-bottom: 16px;
        }
        .phone-nmuber-box{
          background: #FFFFFF;
          border: 1px solid #E9EFF4;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 10px 12px;
          display: flex;
          align-items: center;
          min-height: 48px;
          margin-top: 8px;
          cursor: pointer;
          img{
            width: 20px;
            height: 20px;
          }
          .number-phone{
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
            padding-left: 10px;
          }
        }
      }
      .call-flow-number-{
        background: #FFFFFF;
        border: 1px solid #E5E8EC;
        box-sizing: border-box;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.05);
        border-radius: 0px;
        padding: 10px 15px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 66px;
        .phone-number-sec{
          .number-p{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #202124;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          .dialing-title{
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #202124;
            cursor: pointer;
          }
        }
        .chat-btn{
          line-height: normal;
          padding: 5px;
          cursor: pointer;
          position: relative;
          i{
            color: #202124;
            font-size: 14px;
          }
          .count-msg{
            background: #DD3646;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 42px;
            position: absolute;
            width: 16px;
            height: 16px;
            font-weight: 600;
            font-size: 8px;
            line-height: 10px;
            color: #FFFFFF;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -4px;
            right: -5px;
          }
        }
      }
      .contact-flow-tab-sec{
        padding: 20px 15px;
        .info-desc{
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          margin-bottom: 15px;
        }
        .contact-flow-data{
          display: flex;
          align-items: center;
          background: #FFFFFF;
          border: 1px solid #E9EFF4;
          box-sizing: border-box;
          border-radius: 4px;
          min-height: 48px;
          padding: 10px;
          width: 100%;
          margin-bottom: 12px;
          cursor: pointer;
          .left-title{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #202124;
            width: 65%;
            padding-right: 10px;
          }
          .date-time{
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #202124;
            text-align: right;
            width: 35%;
          }
        }
      }
      .all-flow-tab-sec{
        padding: 20px 15px;
        .info-desc{
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          margin-bottom: 15px;
        }
        .contact-flow-data{
          background: #FFFFFF;
          border: 1px solid #E9EFF4;
          box-sizing: border-box;
          border-radius: 4px;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #202124;
          padding: 10px 10px;
          min-height: 50px;
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          cursor: pointer;
        }
      }
      .keypad-numbers-data{
        padding: 30px 0 30px 0px;
        position: relative;
        .numbers{
          text-align: center;
          color: $primaryFontColor;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 0px;
          padding: 0 25px;
          border: 0;
          outline: 0 !important;
          width: 100%;
      }
        .keypad-num{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 30px 30px 60px 30px;
            width: 276px;
            margin: 0 auto;
            .num{
              background: $borderColor;
              width: 52px;
              height: 52px;
              border-radius: 100%;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: $primaryFontColor;
              font-weight: normal;
              font-size: 24px;
              line-height: 29px;
              margin: 10px;
              cursor: pointer;
            }
        }
        .bottom-actions{
          display: flex;
          align-items: center;
          text-align: center;
          margin: 0 35px;
          justify-content: center;
          .speaker-icon{
            width: 52px;
            height: 52px;
            background: #F5F8FA;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 24px;
            cursor: pointer;
          }
          img{
            cursor: pointer;
          }
        }
      } 
      .scroll-kepad-data-call{
        height: calc(100vh - 206px);
      }
    }
    .kore-chat-window{
      height: calc(100% - 25px);
      max-height: calc(100% - 20px);
      top: 0;
    }
    .closeIcon{
      position: absolute;
      right: 15px;
      top: 20px;
      z-index: 99999;
      cursor: pointer
    }
  }
}