<div class="dynamic-checklist-data">
    <ng-container *ngIf="true">
        <div class="search-data-input">
            <div class="kr-sg-input-inline-search">
                <input type="text" placeholder="Search" class="input-search">
                <i class="icon-sa-conv-search search-icon"></i>
            </div>
        </div>
        <div class="table-wrapper-checklist-scroll">
            <perfect-scrollbar>
                <div class="inner-content-data">
                    <div class="content-scroll-data-checklist">
                        <div class="shadow-freeze w-20"></div>
                        <div class="header-table-checklist">
                            <div class="titles-data w-20">
                                <div class="title-header">name</div>
                            </div>
                            <div class="titles-data w-12">Actions</div>
                            <div class="titles-data w-15">Description</div>
                            <div class="titles-data w-14">Triggers for</div>
                            <div class="titles-data w-14">Triggers BY</div>
                            <div class="titles-data w-15">Last UPDATED</div>
                            <div class="titles-data w-10">Enable</div>
                        </div>
                        <ng-container>
                            <div class="body-data-table-wrapper-coaching">
                                <div class="coaching-rule w-20">Main Checklist</div>
                                <div class="actions-info w-12">
                                    <button class="edit-btn">
                                        <i class="icon-sa-welcome-edit"></i>
                                    </button>
                                    <button class="delete-btn">
                                        <i class="icon-sa-welcome-delete"></i>
                                    </button>
                                </div>
                                <div class="title-text w-15">Main checklist for All Agent</div>
                                <div class="title-text w-14">All Agents</div>
                                <div class="title-text w-14">Utterance</div>
                                <div class="title-text w-15">1st Mar, 2023 AT 09:15PM</div>
                                <div class="last-updated-toggle w-10">
                                    <label class="kr-sg-toggle">
                                        <input type="checkbox">
                                        <div class="slider"></div>
                                    </label>               
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </ng-container>   
    <ng-container *ngIf="false">
        <div class="empty-coaching-wrapper">
            <div class="empty-content">
                <div class="img-block">
                    <img src="assets/images/coaching/empty-checklist.svg">
                </div>
                <div class="empty-title">Create your first guided checklist</div>
                <div class="desc-text">Checklists allow agents to follow a guided path to success. <br/>Get started by creating your <span>first checklist</span></div>
            </div>
        </div>
    </ng-container>
</div>