

@import './../../../scss/variables/variables.scss';

@mixin table-body-coaching-mixin {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E7EB;
    min-height: 53px;
    position: relative;
    background: #FFFFFF;
    &:nth-child(odd){
        background: #F9FAFB;
    }
    .cheklist{
        display: flex;
        justify-content: space-between;
        z-index: 2;
        padding: 5px 15px;
        color: var(--neutral-700, #404040);
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .voice-msg-icons{
            // position: absolute;
            display: flex;
            align-items: center;
            // top: 6px;
            // right: 15px;
            color: #28A745;
            gap: 5px;
            font-size: 14px;
            i{
                cursor: pointer;
            }
        }
        .title{
            color: var(--neutral-700, #404040);
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0.5px;
            // text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: max-content;
        }
    }
    .title-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #404040;
        position: relative;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .actions-info{
        padding: 0 10px;
        display: flex;
        align-items: center;
        .edit-btn{
            width: 36px;
            height: 36px;
            background: #FFFFFF;
            border: 1px solid #E5E7EB;
            border-radius: 6px;
            outline: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #404040;
            cursor: pointer;
        }
        .delete-btn{
            @extend .edit-btn;
            margin-left: 10px;
            color: #EF4444;
            border: 1px solid #FCA5A5;
        }
    }
    .last-updated-toggle{
        text-align: left;
        padding: 0 10px;
    }
}

.dynamic-checklist-data{
    .search-data-input{
        text-align: right;
        padding: 0 40px;
        width: 100%;
        display: inline-block;
        margin-bottom: 12px;
        .kr-sg-input-inline-search{
            width: 246px;
            margin: 0 0 0 auto;
            input{
                padding: 10px;
                padding-left: 30px;
                height: 34px;
                border-radius: 4px;
                border: solid 1px #BDC1C6;
                background-color: #ffffff;
                outline: none;                
                color: #202124;
                font-size: 14px;
            }
            .search-icon{
                color: #A3A3A3;
            }
        }
    }
    .table-wrapper-checklist-scroll{
        height: calc(100vh - 206px);
        .inner-content-data{
            padding: 0 40px 20px 40px;  
            .content-scroll-data-checklist {
                padding: 0;
                display: inline-block;
                width: 100%;
                position: relative;
                .shadow-freeze {
                  position: absolute;
                  width: 35%;
                  height: 100%;
                  left: 0px;
                  box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.1);
                  z-index: 1;
                }
                .header-table-checklist {
                  margin: 0;
                  align-items: center;
                  padding: 8px 0;
                  min-height: 36px;
                  background: #FFFFFF;
                  border-bottom: 1px solid #E5E7EB;
                  position: relative;
                  display: flex;
                  .titles-data {
                    padding: 0 10px;
                    color: var(--neutral-700, #404040);
                    font-size: 11px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;
                    z-index: 2;
                    .title-header {
                      padding-left: 0px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    .sort-header {
                        cursor: pointer;
                    }
                  }
                }
                .body-data-table-wrapper-cl{
                    @include table-body-coaching-mixin; 
                }
            }          
        }
    } 
    .empty-coaching-wrapper{
        height: calc(100vh - 160px);
        display: flex;
        align-items: center;
        justify-content: center;
        .empty-content{
            width: 524px;
            margin: 0 auto;
            text-align: center;
            padding: 0 20px;
            .empty-title{
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #171717;
                margin-bottom: 5px;
                margin-top: -20px;
            }
            .desc-text{
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #7D89B0;
                margin-bottom: 0px;
                span{
                    color: #2B75E4;
                    cursor: pointer;
                }
            }
        }
    }  
    &.dynamic-checklist-data-isunified{
        .search-data-input{
            position: fixed;
            right: 290px;
            width: 220px;
            top: 93px;
            margin: 0;
            padding: 0;
            .kr-sg-input-inline-search{
                width: 100%;
                input{
                    height: 40px;
                    border: 1px solid var(--gray-300, #D0D5DD);
                }
            }
        }
        .table-wrapper-checklist-scroll{
            height: calc(100vh - 157px);
            .inner-content-data {
                padding: 24px;
                padding: 0 24px;
                .content-scroll-data-checklist {
                    border-radius: 8px;
                    background: var(--base-white, #FFF);
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
                    .header-table-checklist{
                        border: 1px solid var(--gray-200, #EAECF0);
                        background: var(--gray-50, #F9FAFB);
                        border-radius: 8px 8px 0px 0px;
                        height: 44px;
                        .titles-data{
                            color: var(--gray-500, var(--primary-colors-gray-500, #667085));
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 18px;
                            text-transform: capitalize;
                        }
                    }
                    .shadow-freeze{
                        display: none;
                    }
                    .body-data-table-wrapper-cl{
                        border: 1px solid transparent;
                        border-bottom: 1px solid var(--gray-200, #EAECF0);
                        background: #FFFFFF !important;
                        min-height: 64px;
                        &:last-child{
                            border-radius: 0px 0px 8px 8px;
                        }
                        .title-text{
                            color: var(--gray-500, var(--primary-colors-gray-500, #667085));
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                        }
                        .cheklist{
                            .title{
                                color: var(--gray-900, #101828);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                            }
                            .desc-text{
                                color: var(--gray-500, var(--primary-colors-gray-500, #667085));
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .voice-msg-icons{
                                color: #667085;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    } 
}
.init-loading{
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    z-index: 1;
    height: calc(100vh - 190px);
}