<perfect-scrollbar class="sidebar-fixed">
	<div>
		<div class="kr-sg-dropdowns regular-user-bots-dropdown" ngbDropdown [placement]="'bottom-left'">
			<div class="dropdown dropdown-open">
				<button class="dropdown-toggle dropdown-input" ngbDropdownToggle>
					<i class="icon-sa-arrow-down"></i>
					<ng-container *ngIf="currentBt">
						<div class="bot-icon">
							<img [src]="currentBt?.icon">
						</div>
						<div class="bot-name text-truncate" [innerHTML]="currentBt?.name" [title]="currentBt?.name"></div>
					</ng-container>
				</button>
				<ul class="dropdown-menu content-menu regular-user-bots" ngbDropdownMenu>
					<div class="user-bots-details">
						<div class="kr-sg-input-search">                               
						<input type="text" placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}" class="input-search" [(ngModel)]="searchBt">
							<img src="assets/icons/search_gray.svg" class="search-icon">
						</div>
						<perfect-scrollbar class="bots-scroll">
							<div class="bot-name-icon"  (click)="navigatetoBotBuilder(bt)" *ngFor="let bt of bots | filter: [ searchBt, 'name']" >
								<div class="bot-icon">
									<img [src]="bt.icon">
								</div>
								<div class="bot-name text-truncate" [title]="bt.name">{{bt.name}}</div>
							</div>
						</perfect-scrollbar>
						<!-- <div class="kr-sg-dropdowns add-a-bot-inside-dropdown" ngbDropdown [placement]="'top-left'">
							<div class="dropdown dropdown-open">
								<button class="dropdown-toggle dropdown-input" ngbDropdownToggle>
									<div class="new-bot-btn"><img src="assets/icons/add-blue.svg">Add a bot</div>
								</button>
								<ul class="dropdown-menu content-menu" ngbDropdownMenu>
									<div class="bot-select-source" (click)="newBot('selectBot')">
										<div class="img-block">
											<img src="assets/icons/use-case/attachbot1.svg">
										</div>
										<div class="content-data">
											<div class="title">Attach a bot from library</div>
											<div class="desc-text">Use a bot you already created on bot platform</div>
										</div>
									</div>
									<div class="bot-select-source" (click)="choosePreBot()">
										<div class="img-block">
											<img src="assets/icons/use-case/attachbot2.svg">
										</div>
										<div class="content-data">
											<div class="title">Choose a template bot</div>
											<div class="desc-text">Choose a template from our store</div>
										</div>
									</div>
									<div class="bot-select-source" (click)="newBot('createNew')">
										<div class="img-block">
											<img src="assets/icons/use-case/attachbot3.svg">
										</div>
										<div class="content-data">
											<div class="title">Create a bot from scratch</div>
											<div class="desc-text">Design your own bot from scratch.</div>
										</div>
									</div>
								</ul>
							</div>
						</div> -->
					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="list-group list-group-flush">
		<!-- Build menu starts here-->
		<!-- Default summary menu for build menu starts here -->
		<div class="group-links" (click)="toggleMenu('summary')">
			<div class="group-heading">{{"BTMENU_BUILD" | translate}}</div>
			<div class="link-router"   (click)="performBTNavigation('build', 'summary')">
				<i class="btx-summary" [ngClass]="{'active' : active.summary}"></i>
				<span class="bt-link-name" [ngClass]="{'active' : active.summary}">
					{{'BTMENU_SUMMARY' | translate}}
				</span>
			</div>
		</div>
		<!-- Default summary menu for build menu ends here -->

		<!-- Conversational Skills starts here -->
		<div class="group-links" (click)="toggleMenu('conversationalskills')">
			<div class="link-router">
				<i class="btx-conversationalSkills"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.conversationalskills || active.storyboard || active.dialogtask || active.knowledgegraph || active.alerttask || active.smalltalk}">
					{{'BTMENU_CONVSKILLS' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.conversationalskills, 'btx-carrot-up':!collapsableMenus.conversationalskills}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.conversationalskills">
			<div class="group-links" (click)="performBTNavigation('build', 'storyboard')">
				<div class="link-router submenu" (click)="markActive('storyboard')">
					<i class="btx-storyboard" [ngClass]="{'active' : active.storyboard}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.storyboard}">
						{{'BTMENU_STORYBOARD' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'dialogtask')">
				<div class="link-router submenu">
					<i class="btx-dialog-task" [ngClass]="{'active' : active.dialogtask}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.dialogtask}">
						{{'BTMENU_DIALOG_TASK' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'knowledgegraph')" >
				<div class="link-router submenu">
					<i class="btx-help" [ngClass]="{'active' : active.knowledgegraph}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.knowledgegraph}">
						{{'BTMENU_KNOWLEDGE_GRAPH' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'alerttask')">
				<div class="link-router submenu">
					<i class="btx-alert-task" [ngClass]="{'active' : active.alerttask}"></i>
					<span class="bt-link-name"  [ngClass]="{'active' : active.alerttask}">
						{{'BTMENU_ALERT_TASK' | translate}}
					</span>
				</div>
			</div>
			<!-- <div class="group-links" (click)="performBTNavigation('build', 'actiontask')">
				<div class="link-router submenu">
					<i class="btx-alert-task" [ngClass]="{'active' : active.actiontask}"></i>
					<span class="bt-link-name"  [ngClass]="{'active' : active.actiontask}">
						{{'BTMENU_ACTION_TASK' | translate}}
					</span>
				</div>
			</div> -->
			<div class="group-links" (click)="performBTNavigation('build', 'smalltalk')">
				<div class="link-router submenu">
					<i class="btx-small-talk" [ngClass]="{'active' : active.smalltalk}"></i>
					<span class="bt-link-name"  [ngClass]="{'active' : active.smalltalk}">
						{{'BTMENU_SMALLTALK' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Conversational Skills ends here -->

		<!-- Digital Skills Starts here -->
		<div class="group-links" (click)="toggleMenu('digitalskills')">
			<div class="link-router">
				<i class="btx-left-menu-digitalSkills"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.digitalskills || active.digitalforms || active.digitalviews}">
					{{'BTMENU_DIGITAL_SKILLS' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.digitalskills, 'btx-carrot-up':!collapsableMenus.digitalskills}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.digitalskills">
			<div class="group-links" (click)="performBTNavigation('build', 'digitalforms')">
				<div class="link-router submenu" (click)="markActive('digitalforms')">
					<i class="btx-left-menu-form" [ngClass]="{'active' : active.digitalforms}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.digitalforms}">
						{{'BTMENU_DIGITAL_FORMS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'digitalviews')">
				<div class="link-router submenu" (click)="markActive('digitalviews')">
					<i class="btx-left-menu-views" [ngClass]="{'active' : active.digitalviews}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.digitalviews}">
						{{'BTMENU_DIGITAL_VIEWS' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Digital Skills Ends here -->

		<!-- Natural Language Starts here -->
		<div class="group-links" (click)="toggleMenu('naturallanguage')">
			<div class="link-router">
				<i class="btx-left-menu-training"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.naturallanguage || active.training || active.thresholds || active.nlsettings}">
					{{'BTMENU_NATURAL_LANGUAGE' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.naturallanguage, 'btx-carrot-up':!collapsableMenus.naturallanguage}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.naturallanguage">
			<div class="group-links" (click)="performBTNavigation('build', 'training')">
				<div class="link-router submenu" (click)="markActive('training')">
					<i class="btx-testing" [ngClass]="{'active' : active.training}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.training}">
						{{'BTMENU_TRAINING' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'thresholds')">
				<div class="link-router submenu">
					<i class="btx-range-slider" [ngClass]="{'active' : active.thresholds}"></i>
					<span class="bt-link-name"  [ngClass]="{'active' : active.thresholds}">
						{{'BTMENU_THRESHOLD' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'nlsettings')">
				<div class="link-router submenu">
					<i class="btx-settings" [ngClass]="{'active' : active.nlsettings}"></i>
					<span class="bt-link-name"  [ngClass]="{'active' : active.nlsettings}">
						{{'BTMENU_NLSETTINGS' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Natural Language ends here -->
		<!-- Intelligence menu Starts here -->
		<div class="group-links" (click)="toggleMenu('intelligence')">
			<div class="link-router">
				<i class="btx-left-menu-intelligence"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.intelligence || active.defaultdialog || active.events || 
				 active.manageinterruptions || active.amendentity || active.multiintentdetection ||
				 active.sentimentmanagement || active.standardresponses || active.ignorewords}">
					{{'BTMENU_INTELLIGENCE' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.intelligence, 'btx-carrot-up':!collapsableMenus.intelligence}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.intelligence">
			<div class="group-links" (click)="performBTNavigation('build', 'defaultdialog')">
				<div class="link-router submenu" (click)="markActive('defaultdialog')">
					<i class="btx-default-dialog" [ngClass]="{'active' : active.defaultdialog}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.defaultdialog}">
						{{'BTMENU_DEFAULT_DIALOG' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'events')">
				<div class="link-router submenu" (click)="markActive('events')">
					<i class="btx-calendar" [ngClass]="{'active' : active.events}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.events}">
						{{'BTMENU_EVENTS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'manageinterruptions')">
				<div class="link-router submenu" (click)="markActive('manageinterruptions')">
					<i class="btx-interuptions" [ngClass]="{'active' : active.manageinterruptions}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.manageinterruptions}">
						{{'BTMENU_MANAGE_INTERRUPTIONS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'amendentity')">
				<div class="link-router submenu" (click)="markActive('amendentity')">
					<i class="btx-amend-edit" [ngClass]="{'active' : active.amendentity}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.amendentity}">
						{{'BTMENU_AMEND_ENTITY' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'multiintentdetection')">
				<div class="link-router submenu" (click)="markActive('multiintentdetection')">
					<i class="btx-multi-intent" [ngClass]="{'active' : active.multiintentdetection}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.multiintentdetection}">
						{{'BTMENU_MULTI_INTENT_DETECTION' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'sentimentmanagement')">
				<div class="link-router submenu" (click)="markActive('sentimentmanagement')">
					<i class="btx-sentiment" [ngClass]="{'active' : active.sentimentmanagement}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.sentimentmanagement}">
						{{'BTMENU_SENTIMENT_MANAGEMENT' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'standardresponses')">
				<div class="link-router submenu" (click)="markActive('standardresponses')">
					<i class="btx-standard-response" [ngClass]="{'active' : active.standardresponses}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.standardresponses}">
						{{'BTMENU_STANDARD_RESPONSES' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'ignorewords')">
				<div class="link-router submenu" (click)="markActive('ignorewords')">
					<i class="btx-ignore-words" [ngClass]="{'active' : active.ignorewords}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.ignorewords}">
						{{'BTMENU_IGNORE_WORDS' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Intelligence menu Ends here -->
		<!-- Testing menu Starts here -->
		<div class="group-links" (click)="toggleMenu('testing')">
			<div class="link-router">
				<i class="btx-left-menu-botTesting"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.testing || active.utterancetesting || active.batchtesting || active.conversationtesting}">
					{{'BTMENU_TESTING' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.testing, 'btx-carrot-up':!collapsableMenus.testing}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.testing">
			<div class="group-links" (click)="performBTNavigation('build', 'utterancetesting')">
				<div class="link-router submenu" (click)="markActive('utterancetesting')">
					<i class="btx-testing" [ngClass]="{'active' : active.utterancetesting}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.utterancetesting}">
						{{'BTMENU_UTTERANCE_TESTING' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'batchtesting')">
				<div class="link-router submenu" (click)="markActive('batchtesting')">
					<i class="btx-left-menu-botTesting" [ngClass]="{'active' : active.batchtesting}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.batchtesting}">
						{{'BTMENU_BATCH_TESTING' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'conversationtesting')">
				<div class="link-router submenu" (click)="markActive('conversationtesting')">
					<i class="btx-left-menu-views" [ngClass]="{'active' : active.conversationtesting}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.conversationtesting}">
						{{'BTMENU_CONVERSATION_TESTING' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Testing menu Ends here -->
		<!-- Configurations menu Starts here -->
		<div class="group-links" (click)="toggleMenu('configurations')">
			<div class="link-router">
				<i class="btx-left-menu-configurations"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.configurations || active.generalsettings || active.languages || active.piisettings ||
			          active.botfunctions || active.authprofiles || active.managesessions || active.envvariables || active.contentvariables}">
					{{'BTMENU_CONFIGURATIONS' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.configurations, 'btx-carrot-up':!collapsableMenus.configurations}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.configurations">
			<div class="group-links" (click)="performBTNavigation('build', 'generalsettings')">
				<div class="link-router submenu" (click)="markActive('generalsettings')">
					<i class="btx-settings" [ngClass]="{'active' : active.generalsettings}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.generalsettings}">
						{{'BTMENU_GENERAL_SETTINGS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'languages')">
				<div class="link-router submenu" (click)="markActive('languages')">
					<i class="btx-language-management" [ngClass]="{'active' : active.languages}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.languages}">
						{{'BTMENU_LANGUAGES' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'piisettings')">
				<div class="link-router submenu" (click)="markActive('piisettings')">
					<i class="btx-lock" [ngClass]="{'active' : active.piisettings}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.piisettings}">
						{{'BTMENU_PII_SETTINGS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'botfunctions')">
				<div class="link-router submenu" (click)="markActive('botfunctions')">
					<i class="btx-bot-functions" [ngClass]="{'active' : active.botfunctions}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.botfunctions}">
						{{'BTMENU_BOT_FUNCTIONS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'authprofiles')">
				<div class="link-router submenu" (click)="markActive('authprofiles')">
					<i class="btx-authorization-profiles" [ngClass]="{'active' : active.authprofiles}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.authprofiles}">
						{{'BTMENU_AUTH_PROFILES' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'managesessions')">
				<div class="link-router submenu" (click)="markActive('managesessions')">
					<i class="btx-time" [ngClass]="{'active' : active.managesessions}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.managesessions}">
						{{'BTMENU_MANAGE_SESSIONS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'envvariables')">
				<div class="link-router submenu" (click)="markActive('envvariables')">
					<i class="btx-global-variable" [ngClass]="{'active' : active.envvariables}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.envvariables}">
						{{'BTMENU_EVN_VARIABLES' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('build', 'contentvariables')">
				<div class="link-router submenu" (click)="markActive('contentvariables')">
					<i class="btx-content-variables" [ngClass]="{'active' : active.contentvariables}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.contentvariables}">
						{{'BTMENU_CONTENT_VARIABLES' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Configurations menu Ends here -->

		<!-- Build menu ends here-->

		<!-- Deploy menu starts here-->
		<div class="group-links">
			<div class="group-heading">{{"BTMENU_DEPLOY" | translate}}</div>
			<div class="link-router"  (click)="performBTNavigation('deploy', 'channels')" >
				<i class="btx-channels" [ngClass]="{'active' : active.channels}"></i>
				<span class="bt-link-name" [ngClass]="{'active' : active.channels}">
					{{'BTMENU_CHANNELS' | translate}}
				</span>
			</div>
		</div>

		<div class="group-links" (click)="performBTNavigation('deploy', 'publish')">
			<div class="link-router">
				<i class="btx-left-menu-publish" [ngClass]="{'active' : active.publish}"></i>
				<span class="bt-link-name"  [ngClass]="{'active' : active.publish}">
					{{'BTMENU_PUBLISH' | translate}}
				</span>
			</div>
		</div>

		<!-- Integrations menu Starts here -->
		<div class="group-links" (click)="toggleMenu('integrations')">
			<div class="link-router">
				<i class="btx-left-menu-apiExtensions"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.integrations || active.agenttransfer || active.botkit || active.webmobilesdk ||
			      active.manageapps || active.apiscopes}">
					{{'BTMENU_INTEGRATIONS' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.integrations, 'btx-carrot-up':!collapsableMenus.integrations}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.integrations">
			<div class="group-links" (click)="performBTNavigation('deploy', 'agenttransfer')">
				<div class="link-router submenu" (click)="markActive('agenttransfer')">
					<i class="btx-agent-transfer" [ngClass]="{'active' : active.agenttransfer}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.agenttransfer}">
						{{'BTMENU_AGENT_TRANSFER' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('deploy', 'botkit')">
				<div class="link-router submenu" (click)="markActive('botkit')">
					<i class="btx-botKit" [ngClass]="{'active' : active.botkit}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.botkit}">
						{{'BTMENU_BOTKIT' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('deploy', 'webmobilesdk')">
				<div class="link-router submenu" (click)="markActive('webmobilesdk')">
					<i class="btx-api-extensions" [ngClass]="{'active' : active.webmobilesdk}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.webmobilesdk}">
						{{'BTMENU_WEB_MOBILE_SDK' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('deploy', 'manageapps')">
				<div class="link-router submenu" (click)="markActive('manageapps')">
					<i class="btx-apk" [ngClass]="{'active' : active.manageapps}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.manageapps}">
						{{'BTMENU_MANAGE_APPS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('deploy', 'apiscopes')">
				<div class="link-router submenu" (click)="markActive('apiscopes')">
					<i class="btx-api-scopes" [ngClass]="{'active' : active.apiscopes}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.apiscopes}">
						{{'BTMENU_API_SCOPES' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Integrations menu Ends here -->
		<!-- Bot Management menu Starts here -->
		<div class="group-links" (click)="toggleMenu('botmanagement')">
			<div class="link-router">
				<i class="btx-left-menu-botManagement"></i>
				<span class="bt-link-name" [ngClass]="{'bold' : !collapsableMenus.botmanagement || active.botversions || active.importexport || active.deletebot}">
					{{'BTMENU_BOT_MANAGEMENT' | translate}}
				</span>
				<span class="btx-carrot" [ngClass]="{'btx-carrot-down':collapsableMenus.botmanagement, 'btx-carrot-up':!collapsableMenus.botmanagement}"></span>
			</div>
		</div>
		<ng-container *ngIf="!collapsableMenus.botmanagement">
			<div class="group-links" (click)="performBTNavigation('deploy', 'botversions')">
				<div class="link-router submenu" (click)="markActive('botversions')">
					<i class="btx-bot-version" [ngClass]="{'active' : active.botversions}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.botversions}">
						{{'BTMENU_BOT_VERSIONS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('deploy', 'importexport')">
				<div class="link-router submenu" (click)="markActive('importexport')">
					<i class="btx-impExp" [ngClass]="{'active' : active.importexport}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.importexport}">
						{{'BTMENU_IMPORT_EXPORT' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('deploy', 'deletebot')">
				<div class="link-router submenu" (click)="markActive('deletebot')">
					<i class="btx-delete-1" [ngClass]="{'active' : active.deletebot}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.deletebot}">
						{{'BTMENU_DELETE_BOT' | translate}}
					</span>
				</div>
			</div>
		</ng-container>
		<!-- Bot Management menu Ends here -->
		<div class="group-links" (click)="performBTNavigation('deploy', 'changelogs')">
			<div class="link-router">
				<i class="btx-left-menu-changeLogs" [ngClass]="{'active' : active.changelogs}"></i>
				<span class="bt-link-name"  [ngClass]="{'active' : active.changelogs}">
					{{'BTMENU_CHANGELOGS' | translate}}
				</span>
			</div>
		</div>
		<!-- Deploy menu ends here-->
		<!-- Analyze menu Starts here -->
		<div class="group-links" (click)="toggleMenu('analyze')">
			<div class="group-heading">{{"BTMENU_ANALYZE" | translate}}</div>
		</div>
		
			<div class="group-links" (click)="performBTNavigation('analyze', 'usagemetrics')">
				<div class="link-router" (click)="markActive('usagemetrics')">
					<i class="btx-channels" [ngClass]="{'active' : active.usagemetrics}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.usagemetrics}">
						{{'BTMENU_USAGE_METRICS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('analyze', 'containmentmetrics')">
				<div class="link-router" (click)="markActive('containmentmetrics')">
					<i class="btx-left-menu-apiExtensions" [ngClass]="{'active' : active.containmentmetrics}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.containmentmetrics}">
						{{'BTMENU_CONTAINMENT_METRICS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('analyze', 'nlpmetrics')">
				<div class="link-router" (click)="markActive('nlpmetrics')">
					<i class="btx-left-menu-botManagement" [ngClass]="{'active' : active.nlpmetrics}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.nlpmetrics}">
						{{'BTMENU_NLP_METRICS' | translate}}
					</span>
				</div>
			</div>
			<div class="group-links" (click)="performBTNavigation('analyze', 'conversationalflows')">
				<div class="link-router" (click)="markActive('conversationalflows')">
					<i class="btx-left-menu-changeLogs" [ngClass]="{'active' : active.conversationalflows}"></i>
					<span class="bt-link-name" [ngClass]="{'active' : active.conversationalflows}">
						{{'BTMENU_CONVERSATIONAL_FLOWS' | translate}}
					</span>
				</div>
			</div>
		
		<!-- Analyze menu Ends here -->

	</div>

</perfect-scrollbar>

