<div class="agent-body-data-container" id="agentAutoContainer">
    <div class="dynamic-block-content" id="myBotAutomationBlock" #mybotautomation>
        <div id="agentTab-custSentimentAnalysis" class="customer-feeling-text">
        </div>
        <div class="scroll-bottom-show-btn hide">
            <button class="scroll-bottom-btn">
                <i class="ast-carrotup"></i>
                <span>Scroll to bottom</span>
            </button>
        </div>
        <div class="empty-data-no-agents hide" id="noAutoRunning">
            <div class="title">No Agent automations are in running state.</div>
            <div class="desc-text">Use "Run with Agent Inputs" to execute.</div>
        </div>
    </div>
</div>