<div class="dynamic-block-content" id="dynamicBlock">
    <div class="show-history-block hide" id="history-details-btn">
        <button id="showHistory" class="ghost-btn">Show history</button>
    </div>
    <div class="show-back-recommendation-block hide">
        <button id="backToRecommendation" class="ghost-btn">
            <span class="back-icon">
                <i class="ast-carrotup"></i>
            </span>
            Back to recommendation
        </button>
    </div>

    <div id="userTab-custSentimentAnalysis" class="customer-feeling-text">
    </div>

    <div class="scroll-bottom-show-btn hide">
        <button class="scroll-bottom-btn">
            <i class="ast-carrotup"></i>
            <span>Scroll to bottom</span>
        </button>
    </div>
    
    <div class="empty-data-no-agents">
        <div class="title">No Agent automations are in running state.</div>
        <div class="desc-text">Use "Run with Agent Inputs" to execute.</div>
    </div>
</div>