<div class="dynamic-block-content" id="dynamicBlock">
    <!-- <div class="welcome-msg collapse-acc-data before-none" id="smallTalk-ua-09cceae1-f446-4422-98a8-493ed12f7618">
        <div class="steps-run-data">
            <div class="icon_block">
                <i class="ast-agent"></i>
            </div>
            <div class="run-info-content">
            
            
        <div class="title">Customer has waited for an agent for few seconds.<br>Here are some appropriate opening lines.</div>
           <div class="agent-utt">
            <div class="title-data" id="displayData-ua-09cceae1-f446-4422-98a8-493ed12f7618">Hello user. How can I help you today?</div>
            <div class="action-links">
                <button class="send-run-btn" id="sendMsg" >Send</button>
                <div class="copy-btn">
                    <i class="ast-copy"></i>
                </div>
            </div>
        </div>
            <div class="agent-utt">
                <div class="title-data" id="displayData-ua-09cceae1-f446-4422-98a8-493ed12f7618">Hello user. Sorry for the long wait. How can I help you today?</div>
                <div class="action-links">
                    <button class="send-run-btn" id="sendMsg">Send</button>
                    <div class="copy-btn">
                        <i class="ast-copy"></i>
                    </div>
                </div>
            </div>
            <div class="agent-utt">
                <div class="title-data" id="displayData-ua-09cceae1-f446-4422-98a8-493ed12f7618">Hi there. I apologize for your wait. How can I help you today?</div>
                <div class="action-links">
                    <button class="send-run-btn" id="sendMsg" >Send</button>
                    <div class="copy-btn">
                        <i class="ast-copy"></i>
                    </div>
                </div>
            </div></div>
        </div>
    </div> -->
    <div class="show-history-block hide" id="history-details-btn">
        <button id="showHistory" class="ghost-btn">Show history</button>
    </div>
    <div class="show-back-recommendation-block hide">
        <button id="backToRecommendation" class="ghost-btn">
            <span class="back-icon">
                <i class="ast-carrotup"></i>
            </span>
            Back to recommendation
        </button>
    </div>

    <div id="userTab-custSentimentAnalysis" class="customer-feeling-text">
    </div>

    <div class="scroll-bottom-show-btn hide">
        <button class="scroll-bottom-btn">
            <i class="ast-carrotup"></i>
            <span>Scroll to bottom</span>
        </button>
    </div>
    
    <div class="empty-data-no-agents">
        <div class="title">No Agent automations are in running state.</div>
        <div class="desc-text">Use "Run with Agent Inputs" to execute.</div>
    </div>
</div>