

<ng-container *ngIf="!searchedDialogList.length">
    <ng-container *ngFor="let dialogue of menuResponse | keyvalue;let i = index">
        <div class="dialog-task-wrapper">
            <div class="title-paragraph">
                <p>{{dialogue?.value['name']}}</p>
                <!-- <span>(buy_bot)</span> -->
            </div>
            <div class="dialog-actions">
                <button class="primary-btn" (click)="dialogueRunClick(dialogue.value,projConstants.ASSIST)">RUN</button>
                <div ngbDropdown class="elipse-ngbdropdown">
                    <button type="button" id="elipseDrp" ngbDropdownToggle>
                        <i class="krIocnsFont-outlined"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="elipseDrp">
                        <button ngbDropdownItem aria-disabled="true"
                            (click)="dialogueRunClick(dialogue.value,projConstants.MYBOT)">Run with Agent’s input</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="searchedDialogList.length">
    <ng-container *ngFor="let dialog of searchedDialogList;let i = index">
        <div class="dialog-task-wrapper">
            <div class="title-paragraph">
                <p>{{dialog.name}}</p>
                <span *ngIf="dialog.childBotName">({{dialog.childBotName}})</span>
            </div>
            <div class="dialog-actions">
                <button class="primary-btn" (click)="dialogueRunClick(dialog,projConstants.ASSIST)">RUN</button>
                <div ngbDropdown class="elipse-ngbdropdown">
                    <button type="button" id="elipseDrp" ngbDropdownToggle>
                        <i class="krIocnsFont-outlined"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="elipseDrp">
                        <button ngbDropdownItem aria-disabled="true"
                            (click)="dialogueRunClick(dialog,projConstants.MYBOT)">Run with Agent’s input</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>


<!-- <ng-container [ngTemplateOutlet]="dialogSuggestion"></ng-container> -->

<!-- Dialogs Suggestion -->
<ng-template #dialogSuggestion>
    <div class="dialog-suggestion-wrapper">
        <div class="top-section">
            <div class="svg_img">
                <img src="assets/images/icons/dialog.svg" alt="Image">
            </div>
            <p>Dialog :</p>
            <span [ngbTooltip]="tipContent">i will like to...</span>
            <div class="dialog-count">4</div>
        </div>
        <app-dialog></app-dialog>
        <div class="btn-more-solid">
            <button class="btn_link" aria-label="button">Not what you are looking for</button>
        </div>
    </div>
</ng-template>

<ng-template #tipContent>
    <div class="tipcontent-dialog-suggestion">
        <p>intent identified :</p>
        <span>i will like to order pizza</span>
    </div>
</ng-template>

