
<ng-container *ngIf="!searchedDialogList.length">
    <ng-container *ngFor="let dialogue of menuResponse | keyvalue;let i = index">
        <div class="dialog-task-wrapper">
            <p>{{dialogue?.value['intentName']}}</p>
            <div class="dialog-actions">
                <button class="primary-btn" (click)="dialogueRunClick(dialogue,projConstants.ASSIST)">RUN</button>
                <div ngbDropdown class="elipse-ngbdropdown">
                    <button type="button" id="elipseDrp" ngbDropdownToggle>
                        <i class="krIocnsFont-outlined"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="elipseDrp">
                        <button ngbDropdownItem aria-disabled="true" (click)="dialogueRunClick(dialogue,projConstants.MYBOT)">Run with Agent’s input</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="searchedDialogList.length">
    <ng-container *ngFor="let dialog of searchedDialogList;let i = index">
        <div class="dialog-task-wrapper">
            <p>{{dialog.name}}</p>
            <div class="dialog-actions">
                <button class="primary-btn" (click)="dialogueRunClick(dialog,projConstants.ASSIST)">RUN</button>
                <div ngbDropdown class="elipse-ngbdropdown">
                    <button type="button" id="elipseDrp" ngbDropdownToggle>
                        <i class="krIocnsFont-outlined"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="elipseDrp">
                        <button ngbDropdownItem aria-disabled="true" (click)="dialogueRunClick(dialog,projConstants.MYBOT)">Run with Agent’s input</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

