
.btn-more-solid{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dialog-suggestion-wrapper{
    border-radius: 0px 10px 10px 10px;
    background: var(--themebgColorVariation-1);
    padding: 8px;
    margin-bottom: 6px;
    .top-section{
        display: flex;
        align-items: center;
        gap: 4px;
        min-height: 28px;
        .svg_img{
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            color: var(--primaryTextColorTwo);
            font-size: 11px;
            font-weight: 600;
            line-height: 16px;
            margin: 0;
            flex-shrink: 0;
        }
        span{
            color: var(--secondaryTextColor);
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .dialog-count{
            border-radius: 16px;
            background: var(--backgroundColorFormFocus);
            display: flex;
            padding: 2px 8px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            color: var(--primary-700, #004EEB);
            font-size: 10px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}
.dialogSuggestions{
    .moreText{
        color: var(--themeTextColor);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        cursor: pointer;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        // .less-text{
        //     display: none;
        // }
        // .more-text{
        //     display: block;
        // }
    }
}