@import './../../../scss/variables/variables.scss';


.slider-sec-data{
    .header-sec{
        background: $whiteColor;
        box-shadow: 0px 4px 4px rgba(168, 200, 221, 0.25);
        border-radius: 4px 0px 0px 4px;
        padding: 25px 20px 20px 20px;
        align-items: center;
        margin-bottom: 6px !important;
        .lef-sec{
            display: flex;
            align-items: center;
            .main-title{
                color: $primaryFontColor;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                margin-left: 20px;
            }
        }
        .close-link{
            text-align: right;
            img{
                cursor: pointer;
                padding: 7px;
                border-radius: 100px;
                transition: 0.2s all ease-in;
                &:hover{
                    background: $hoverImgcolor;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 142px);            
    }   
    .outging-v-agent-transfer{
        .label-text{
            color: $primaryFontColor;
            margin-bottom: 4px;
            font-size: 12px !important;
            font-weight: 500;            
        }
        .desc-info-text {
            font-size: 14px;
        }
        .nav-tabs{
            margin: 0 70px;
            box-shadow: none;
            border-bottom: 1px solid $borderTabs;
            padding: 19px 0;
            line-height: normal;
            padding-left: 0;
            li{
                margin-right: 32px;
                .tab-name{                       
                    font-weight: 600;
                    font-size: 12px;
                    text-transform: capitalize;
                    line-height: 15px;
                    padding: 0 10px;
                    position: relative;
                    cursor: pointer;                                       
                    img{
                        margin-right: 10px;                            
                    } 
                    .green-settings{
                        display: none;
                    }  
                    .inst-green{
                        display: none;
                    }                 
                    &.active{
                        // color: $primaryActionColor;
                        color: $primaryActionColor;
                        &::before{
                            content: "";
                            position: absolute;
                            background: $primaryActionColor;
                            height: 2px;
                            width: 100%;
                            bottom: -20px;
                            left: 0;
                        }   
                        .green-settings{
                            display: inline-block;
                        }  
                        .inst-green{
                            display: inline-block;
                        }  
                        .gray-settings{
                            display: none;
                        }    
                        .inst-gray{
                            display: none;
                        }            
                    }
                }
            }
        }
        .tab-content{
            padding: 30px 70px;
            .steps-heading{
                color: $primaryFontColor;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 10px;
            }
            .step-info{
                color: $primaryFontColor;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
            }
            .img-block{
                text-align: center;
                margin:30px 0;
            }
            .text{
                &.m-tb {
                    margin: 10px 0;
                    .label_text{
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                }
            }               
        }
        .additional-context {
            border: 1px solid $primaryActionColor;
            border-radius: 8px;
            padding: 18px;
            margin: 18px 0;
            .add-head {
                display: flex;
                justify-content: space-between; 
                margin-bottom: 12px;
                .label_text{
                    color: $primaryFontColor;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }
                .add_header{
                    color: $primaryActionColor;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    cursor: pointer;
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
        .user-interface {
            border: 1px solid $primaryActionColor;
            border-radius: 8px;
            padding: 18px;
            background: $primaryBackgroundColor;           
            .user-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 14px;
                .toggle-switch{                     
                    .text-label{
                        color: $primaryFontColor;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        padding-right: 10px;
                    }            
                    .kr-sg-toggle{
                        &.large{
                            width: 40px;
                            height: 20px;
                            .slider{
                                &::before{
                                    left: 3px;
                                }
                            }
                            input{
                                &:checked{
                                    + .slider  {
                                        background-color: $primaryActionColor;
                                        border: 1px solid $primaryActionColor;
                                        &::before {
                                            transform: translateX(18px);
                                            background-color: $whiteColor;
                                        }
                                    }
                                }
                            }
                        }
                        .slider{
                            border: 1px solid $borderColor;
                            background-color: $whiteColor;
                            &::before{
                                background-color: $borderColor;
                            }
                        }                  
                    }                    
                }
                .warning{
                    color: $secondaryFontColor;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    img{
                        margin-right: 8px;
                    }
                }
            }
        }
        .context-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            &.disabled-context-list{
                .kr-sg-input-text{
                    pointer-events: none;
                    input{
                        background: $bg-secondary-color;
                        border-radius: 4px;
                        border: 0;
                    }
                }  
                .delete-context-gray{
                    pointer-events: none;
                    display: block;
                }
                .delete-context-red{
                    display: none;
                }
            }
            .kr-sg-checkbox {
                padding-right: 0px;
                padding-top: 0px;
                margin: 0;
            }
            .kr-sg-input-text {
                margin-right: 13px;                
            }
            .delete-context-gray {
                cursor: pointer;
                display: none;
            }
            .delete-context-red{
                cursor: pointer;
                display: block;
            }
        }
    } 
    .footer-sec{
        padding: 8px 70px;
        background: $whiteColor;
        border-top: 0.5px solid transparent;
        box-shadow: 0px -4px 4px rgba(168, 200, 221, 0.25);        
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;  
        margin-top: 4px;
    }
}