.transcript-history-scroll-bottom {
  .conversation-title {
    color: #2D2F33;;
    font-size: 12px;
    font: Inter;
    font-size: 12px;
    Line-height: 18px;

  }
  .conversation-timestamp {
    color: #777A80;
    font-size: 12px;
    font: Inter;
    font-size: 12px;
    line-height: 18px;

  }
}
