@font-face {
  font-family: 'krIocnsFont';
  src:  url('fonts/krIocnsFont.eot?sw0g9g');
  src:  url('fonts/krIocnsFont.eot?sw0g9g#iefix') format('embedded-opentype'),
    url('fonts/krIocnsFont.ttf?sw0g9g') format('truetype'),
    url('fonts/krIocnsFont.woff?sw0g9g') format('woff'),
    url('fonts/krIocnsFont.svg?sw0g9g#krIocnsFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="krIocnsFont-"], [class*=" krIocnsFont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'krIocnsFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.krIocnsFont-copy:before {
  content: "\e910";
}
.krIocnsFont-outlined:before {
  content: "\e90f";
}
.krIocnsFont-list:before {
  content: "\e90a";
}
.krIocnsFont-refresh:before {
  content: "\e90b";
}
.krIocnsFont-chevron-down:before {
  content: "\e90c";
}
.krIocnsFont-maximize:before {
  content: "\e90d";
}
.krIocnsFont-minimize:before {
  content: "\e90e";
}
.krIocnsFont-light-bulb:before {
  content: "\e909";
}
.krIocnsFont-link-external-02:before {
  content: "\e900";
}
.krIocnsFont-search-md:before {
  content: "\e901";
}
.krIocnsFont-my-bot:before {
  content: "\e902";
}
.krIocnsFont-settings:before {
  content: "\e903";
}
.krIocnsFont-assist:before {
  content: "\e904";
}
.krIocnsFont-chevron-left:before {
  content: "\e905";
}
.krIocnsFont-chevron-right:before {
  content: "\e906";
}
.krIocnsFont-transcript:before {
  content: "\e907";
}
.krIocnsFont-image-01:before {
  content: "\e908";
}
