
<div class="coaching-group-create-slide">
    <div class="header-sec">
        <div class="title" *ngIf="this.type == coachingConst.CREATE">New Coaching Group</div>
        <div class="title" *ngIf="this.type == coachingConst.EDIT">Update Coaching Group</div>
        <div class="close-slider" (click)="closeGroup()">
            <i class="icon-sa-close"></i>
        </div>
    </div>
  
        <div class="body-sec-coaching">
            <perfect-scrollbar>
                <div class="inner-scroll">
                    <form [formGroup]="createGroupForm" >
                    <div class="kr-sg-input-text m-b-20">
                        <div class="label-text">Name</div>
                        <input type="text" placeholder="Enter Name" class="input-text" formControlName = "name">
                    </div>
                    <div class="kr-sg-input-text-area">
                        <div class="label-text">Description</div>
                        <textarea placeholder="Enter Description" class="input-text" formControlName = "description"></textarea>

                        <!-- <input type="text" placeholder="Placeholder text" class="input-text" formControlName = "description"> -->
                    </div>
                    </form>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="footer-sec">
            <div class="left-btns">
                <button class="kr-sg-button-danger btn_md" (click)="openDeleteGroup()" *ngIf="type == coachingConst.EDIT">
                    <i class="icon-sa-welcome-delete"></i>
                </button>
            </div>
            <div class="right-btns">
                <button class="kr-sg-button-secondary-two btn_md" (click)="closeGroup()">Cancel</button>
                <button class="kr-sg-button-primary btn_md" type="submit" [disabled]="!createGroupForm?.valid || createGroupForm.pristine" (click)="onSubmit()">Save</button>
            </div>
        </div>
</div>

